mat-form-field {
  width: 100%;
}

input.mat-input-element {
  height: 50px;
  border-radius: 22px !important;
}

.edit-pension-case-input {
  padding: 9px;
  max-width: 265px;
  width: 265px;
  box-sizing: border-box;
  padding: 0px;
}

mat-error {
  text-align: center;
}

.search-icon {
  position: absolute;
  right: 16px;
  top: 7px;
  color: #33BFE6;
}

.search-icon:hover {
  cursor: pointer
}

.placeholder{
  position: relative;
  right: -26px;
  top: 14px;
  height: 42px;
}

.redSLA {
  color: #fff;
  background: red;
}

.greenSLA {
  color: #fff;
  background: green;
}

.amberSLA {
  background: #FF6B00;
  color: #fff;
}
