.balance {
    font-weight: bold;
    font-size: small;
    font-family: Arial, 'Oswald', sans-serif;
}

.container {
    box-shadow: none;
    border: 1px solid grey;
    margin-left: 20px;
    font-family: Arial, 'Oswald', sans-serif;
    margin-top: 0px;
}

.mat-card {
    box-shadow: none;
    font-family: Arial, 'Oswald', sans-serif;
    padding: 1px !important;
}

.mat-header-row {
    background-color: #0071BC;
}
.altRowTable tr:nth-child(even){
    background: lightgray
  }

.table-label {
    font-weight: 500;
    font-family: Arial, 'Oswald', sans-serif;
}

table {
    width: 100%;
}

th {
    text-align: left;
}

.container:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mat-expansion-panel-header {
    background-color: rgb(247, 147, 30);
    height: 29px;
    font-family: Arial, 'Oswald', sans-serif;
}

.mat-expansion-panel-header:hover {
    background-color: rgb(247, 147, 30) !important;
}

.mat-expansion-panel-body {
    padding: 0 24px !important;
    overflow: hidden !important;
}

.mat-card.scrollable-content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

h3 {
    font-size: 16pt;
    font-weight: 350;
    margin: 0;
    color: #00BCE7;
    font-family: Arial, 'Oswald', sans-serif;
}

.mat-column-documentNumber {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 15% !important;
    width: 15% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-createdBy {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-modifiedBy {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.balance{
  height: 32px !important;padding-top: 8px !important;
  display: flex;
  justify-content: right;
}


