.icn {
    cursor: pointer;
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
    color: #00BCE7 !important;
    transition: width 1s, height 1s, transform 1s;
}

.icn:hover {
    -webkit-transform: rotate(180deg);
    /* Safari */
    transform: rotate(180deg);
}

.material-icons:hover {
    color: rgb(131, 131, 131);
}

.material-icons.inValid {
    color: pink;
}

.material-icons.valid {
    color: green;
}

.amber {
    color: rgb(224, 140, 13) !important;
}

.pointer {
    cursor: pointer;
}

.right {
    float: right;
}