.elementBox {
    height: 40px;
    border-radius: 5px !important;
}

.placeholder {
    position: relative;
    right: -15px;
    top: 10px;
    height: 42px;
}

.inputSize {
    margin-left: 10px !important;
}

.controlSize {
    width: 20% !important;
}

.search-icon {
    position: absolute;
    right: 16px;
    color: #33BFE6;
}


mat-form-field {
    width: 100%;
}

.material-icons:hover {
    -webkit-transform: rotate(180deg);
    /* Safari */
    transform: rotate(180deg);
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
    /* Safari */
    transition: width 1s, height 1s, transform 1s;
}

.material-icons.add {
    color: black;
    padding-top: -5px;
}