.vertical-group {
    display: flex; 
    flex-direction: column;
}

td {
    height: 32px;
}

.notice, .focus-notice {
    font-size: small;
}

.notice {
    color: lightgray;
}

.focus-notice {
    color: black;
}

.policy-number {
    min-width: 200px !important;
}

.error-row {
    max-height: 16px !important;
    font-size: small;
}