<mat-card>
  <mat-card-header>
    <mat-card-title class="wizard-font card-title grey">
      <h1 style="padding: 0;">Additional Information</h1>
    </mat-card-title>
  </mat-card-header>

  
  <mat-card-content style="margin-left: 10px;">
    <div style="margin-top: 20px;">
      <section>
        <section>
          <mat-label class="mat-label mat-form-field">Parent Policy</mat-label>
          <mat-label class="mat-label mat-form-field-right"><b>{{parentPolicy}}</b></mat-label>
        </section>
        <section>  
          <mat-label class="mat-label mat-form-field">Broker</mat-label>
          <mat-label class="mat-label mat-form-field-right"><b>{{broker}}</b></mat-label>
        </section>
        <section>  
          <mat-label class="mat-label mat-form-field">Scheme</mat-label>
          <mat-label class="mat-label mat-form-field-right"><b>{{scheme}}</b></mat-label>
        </section>
        <section>  
          <mat-label class="mat-label mat-form-field">Relationship</mat-label>
          <mat-label class="mat-label mat-form-field-right"><b>{{relationship}}</b></mat-label>
        </section>
        <section>  
          <mat-label class="mat-label mat-form-field">Premium</mat-label>
          <mat-label class="mat-label mat-form-field-right"><b>{{currPremium}}</b></mat-label>
        </section>
        <section>  
          <mat-label class="mat-label mat-form-field">Annual Premium</mat-label>
          <mat-label class="mat-label mat-form-field-right"><b>{{annualPremium}}</b></mat-label>
        </section>
        <section>  
          <mat-label class="mat-label mat-form-field">Benefit Name</mat-label>
          <mat-label class="mat-label mat-form-field-right"><b>{{benefit}}</b></mat-label>
        </section>
        <section>  
          <mat-label class="mat-label mat-form-field">Cover Amount</mat-label>
          <mat-label class="mat-label mat-form-field-right"><b>{{benefitAmount}}</b></mat-label>
        </section>
      
      </section>
    </div>
    <br />
    <br />
    <div class="form-group-button mat-form-button">
      <button (click)='onNoClick()' type="button" class="button float-button">Close</button>
    </div>
  </mat-card-content>
</mat-card>
