.search-icon {
  margin-top: 13px !important;
}

.search {
  width: 100% !important;
}

.div_main {
  display: flex;
  flex-direction: column;
  width: 100%;

}

section {
  width: 100%;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

section {
  margin-bottom: 15px;
}

.linkDetails {
  margin-right: 15px;
}

.noTransactions {
  color: red;
}

.transactionSection {
  display: flex;
  align-items: left;
  flex-direction: column;
}

.datePickers {
  display: flex;
  flex-direction: row;
}

.endDate {
  margin-left: 15px;
}

.mat-radio-group{
  display:flex ;
  align-items: left;
}

.link-edit{ cursor: pointer;}

.boldText{ font-weight: bold;}

.grid-inputs {
  display: grid;
  grid-template-columns: 15% auto;
  justify-content: start;
  gap: 20px;
  width: 100%;
}

h4{
  margin-block-start: 0.33em;
  margin-block-end: 0.33em;
}
.error-message{
  font-style: italic;
  color: red;
}
.file-name{
  border-radius: 8px;
  border: 2px solid lightgray;
  padding: 5px;
  margin:10px 0 10px;
  background-color: lightgray;
  width: fit-content;
}