.grouprisk-content {
  padding-top: 12px;
  padding-bottom: 12px;
}

.pad-bottom {
  margin-bottom: 20px;
}

.load-progress {
  min-height: 100px !important;
}

.mat-column-memberType, .mat-column-vopdStatus, .mat-column-vopdProcessStatus {
  max-width: 150px !important; 
}

.mat-column-idNumber {
  max-width: 130px !important; 
}

.mat-column-dateOfBirth, .mat-column-dateVerified {
  max-width: 100px !important; 
}

.mat-column-age {
  max-width: 80px !important;
}