.input-width-comment {
  height: 30px !important;
  border-radius: 22px !important;
  width: 300px;
}

.input-width-adjustedInterestAmount {
  height: 30px !important;
  border-radius: 22px !important;
  width: 150px;
}

.edited-cell {
  color: blue !important;
  font-weight: bold;
}

.excluded {
  text-decoration: line-through !important;
  color: gray !important;
}

.deleted {
  color: gray !important;
  background-color: lightgray !important;
  font-style: italic !important;
}

.invalid {
  background-color: lightcoral !important;
}

.targeted {
  font-weight: bold;
}

.mat-column-comment {
  min-width: 310px;
  max-width: 310px;
}

.mat-column-adjustedInterestAmount {
  min-width: 160px;
  max-width: 160px;
}

.info {
  color: blue;
}