.warning {
    color: rgb(252, 171, 65);;
}

.tableWidth{
    width: 95%;
    margin-bottom: 20px;
}

.mat-row {
    padding: 10px 10px 10px 10;
    height: auto;
  }
  
.mat-cell {
    padding: 10px 10px 10px 10;
    height: auto;
  }