  #content {
    max-width: 100%;
    height: auto;
    margin: 5px;
    display: flex;
  }

  .divs {
    width: 50%;
    max-height: 300px;
    padding: 5px
  }

  .altRowTable tr:nth-child(even) {
    background: lightgray
  }

  table{
    overflow-y:scroll;
    max-height: 300px;
    display:block;
 }

 td{
  padding-left: 20px;
  padding-right: 20px;
 }
