body {
    width: 100%;
    background-image: url(/assets/images/LandingPageoption_3.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Oswald', sans-serif;
}

.header-container {
    text-align: center;
    margin-bottom: 37px;
}

.login-button {
    background-color: #11455D !important;
    width: 92%;
    padding: 8%;
    margin-left: 4%;
    margin-top: 7%;
    font-size: 135%;
}

.visibility-icon {
    cursor: pointer;
    position: absolute;
    right: 9px;
    font-size: 24px;
}

.mat-form-field {
    width: 100%;
    font-size: 17px;
}

.image-container img {
    position: fixed;
    bottom: 75px;
    right: 75px;
    height: 88px;
    width: 184px;
}

.content-container {
    width: 21%;
    border: 12px solid #F2F6F8;
    margin: 159px;
    height: 424px;
    margin-top: 139px;
    padding: 31px;
    background-color: #FFFFFF;
    position: fixed;
}

.content-container p {
    padding-left: 20px;
    font-size: 14px;
}

.logo-container {
    width: 50%;
    padding-top: 50px;
    padding-left: 50px;
}

.form-container {
    padding-left: 20px;
    font-size: 18px;
}

.form-container p {
    font-size: 18px;
    color: darkgrey;
}

.image-container-mobile {
    display: none;
}

.forgetPassword {
    float: right;
    font-size: 10px;
    margin-top: -20px;
    text-decoration-line: underline;
    color: #919091;
}

@media only screen and (max-width: 1024px) {
    .content-container {
        width: 53%;
        border: 12px solid #F2F6F8;
        margin: 159px;
        height: 422px;
        padding: 31px;
        background-color: #FFFFFF;
    }
    .image-container-mobile {
        display: inline-table
    }
    .mat-form-field {
        width: 100%;
        font-size: 23px;
    }
    label {
        font-size: 28px;
    }
    .forgetPassword {
        font-size: 22px;
    }
}

@media only screen and (max-width:375px) {
    .content-container {
        width: 65%;
        border: 12px solid #F2F6F8;
        margin: 95px;
        height: 500px;
        margin-top: 405px;
        padding: 38px;
        background-color: #FFFFFF;
    }
}

@media only screen and (max-width:640px) {
    .content-container {
        width: 65%;
        border: 12px solid #F2F6F8;
        margin: 95px;
        height: 500px;
        margin-top: 15px;
        padding: 38px;
        background-color: #FFFFFF;
    }
}