<body>
    <div class="content-container">
        <div class="header-container">
            <h1 style="font-weight: lighter;">LOG INTO YOUR ACCOUNT</h1>
        </div>
        <form [formGroup]="forgotPasswordForm" class="forgotPassword-form"  novalidate>
            <div>
                <label class="form-label first-label mandatory-field">Email</label>
                <mat-form-field>
                    <input matInput id="email" name="email" formControlName="email" required>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
                        Please enter a <strong>valid</strong> email address.
                    </mat-error>
                </mat-form-field>
                
            </div>

        </form>
        <button [disabled]="forgotPasswordForm.disabled" class="button float-button login-button"
                (click)="forgetPassword()"  type="submit"><span style="position:relative;top:-13px;">FORGOT PASSWORD</span></button>
    </div>
    <div class="image-container">
        <img src="/assets/images/rmalogo.png" alt="" />
    </div>
</body>