table {
  width: 100%;
}

.scrollTable {
  overflow-y: auto;
  max-height: 650px;
  font-size: small;
}

.altRowTable tr:nth-child(even) {
  background: #DEE3EB;
}

.altRowTable td {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.altRowTable th {
  background-color: #7DC0DA !important;
  color: #0a0a0a;
  padding-top: 5px;
  padding-bottom: 5px;
}

.left {
  text-align: left !important;
  padding-left: 20px !important;
}

.left-no-pad {
  text-align: left !important;
  padding-left: -25px !important;
}