<mat-card>
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-content>
      <br><br>  
    <mat-card>
      <mat-card-content>
        <preauth-claim-view  *ngIf="preAuthClaimDetails" #ClaimDetailsMainPreAuth [preAuthClaimDetail]="preAuthClaimDetails"></preauth-claim-view>      
        <div>
          <div class="grid">
            <div *ngIf="preAuthClaimDetails">
              <span class="title">Claim Event</span>
              <span class="value">{{ preAuthClaimDetails.eventDate | date: 'dd-MMM-yyyy h:mm a'}} </span>
            </div>
          </div>
    
          <div *ngIf="eventDateInjuryDateNotEqual" class="warning">
            Event date and Injury dates should be the same
          </div>
        </div>
      </mat-card-content>
    </mat-card> 
    <br><br>
      <div [hidden]="!isLoading  && preAuthClaimDetails">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        Loading...
      </div>
      <mat-expansion-panel expanded="true" *ngIf="chronicAuthDetails">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ preAuthTypeText }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <hr>
        <preauth-hcp-view #HealthcareProviderMainPreAuth [authDetails]="mainPreAuthorisation" [healthCareProvider]="hcpMainAuth$ | async" 
        [preAuthClaimDetails]="preAuthClaimDetails$">
        </preauth-hcp-view>
        <br /><br />
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              PreAuth ICD10 Codes
            </mat-panel-title>
          </mat-expansion-panel-header>
          <preauth-icd10-edit #MainPreAuthICD10Codes [preAuthId]="preAuthId" [isHospitalAuth]="false"></preauth-icd10-edit>
        </mat-expansion-panel>
        <br/><br/>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              PreAuthorisation Breakdown
            </mat-panel-title>
          </mat-expansion-panel-header>
          <preauth-breakdown #mainPreAuthBreakdown [preAuthId]="preAuthId" authControlMode="true"
          authType="Chronic" [personEventId]="personEventId"></preauth-breakdown>
        </mat-expansion-panel>
        <preauth-review #preauthReviewComponentHospital [authDetails]="chronicAuthDetails"></preauth-review>
        <br><br>
      </mat-expansion-panel>
      
       
    <div *ngIf="preAuth$ | async as auth">

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Chronic Medication Form Details</mat-panel-title>
        </mat-expansion-panel-header>
        <hr>
        <chronic-form-details [chronicMedicationForms]="auth?.chronicMedicationForms"  
                              [chronicMedicationFormRenewals]="auth?.chronicMedicationFormRenewals">
        </chronic-form-details>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Chronic Document Details</mat-panel-title>
        </mat-expansion-panel-header>
        <hr>
        <div *ngIf="documentTypeFilter.length > 0">
          <document-uploader [documentSet]="documentSet" 
          [systemName]="documentSystemName" 
          [documentTypeFilter]="documentTypeFilter"
          [forceRequiredDocumentTypeFilter]="documentTypeFilter"  
          [keyName]="'claimId'"  
          [keyValue]="auth?.preAuthId"  [canDelete]="true"></document-uploader>
      </div>
      </mat-expansion-panel>
    </div>

    <div *ngIf="preAuth$ | async as auth">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>PreAuth Activity</mat-panel-title>
        </mat-expansion-panel-header>
        <hr>
        <preauth-activity [auth]="auth?.preAuthActivities"></preauth-activity>
      </mat-expansion-panel>
    </div>      
    </mat-card-content>
  </mat-card>
