.search-icon {
  position: absolute;
  top: 15px;
  left: -34px;
}

.mat-toggle-datepicker {
  left: -25px;
  top: 5px;
}

.info-icon {
  margin-top: -11px;
}

.left-margin {
  margin-left: 9px;
}

.border {
  width: 100%;
  border-style: dashed;
  border-color: lightgray;
  border-width: 2px;
  text-align: center;
  height: 50px;
  padding-top: 20px;
}