mat-form-field {
  width: 80%;
}

mat-error {
  text-align: center;
}

.placeholder{
  position: relative;
  right: -26px;
  top: 14px;
  height: 42px;
}

.mat-form-field-appearance-legacy .mat-form-field-label{
  height: 42px;
}

.mat-focused .placeholder {
  visibility:hidden
}

.datepicker{width: 22%; margin-top: 10px;}

mat-cell > span.truncate-text {
  text-overflow: ellipsis; 
  overflow: hidden; 
  white-space: nowrap;
}

.mat-column-claimReferenceNumber {
  flex: 0 0 10%;
}

.cursorPointer {
  cursor: pointer;
}

.matCard {
  margin: 15px 30px 15px 30px;
}

.matCardContent {
  margin-left: 10px;
}