<app-medicare-search-menus></app-medicare-search-menus>
<div class="folder">
  <div class="page-header">
    <h1>Find a Clinical Update</h1>
  </div>
  <br>
  <div class="search">
    <mat-form-field>
      <div>
        <label class="mat-label other-label mandatory-field">Search by Preauth number or Claim number</label>
        <input matInput id="filter" name="filter" #filter [formControl]="searchControl" (change)="search()" />
      </div>
    </mat-form-field>
      <button type="button" (click)="search()" title="Search by PreAuth number or Claim number"
            class="button float-button submit-button import-button"><i class="material-icons">search</i></button>
      <button type="button" title="Search by personEventId, or username"
        class="button float-button submit-button import-button" (click)="newHospitalVisit()"><i
          class="material-icons">add</i> Clinical Update</button>
  </div>
  <div [hidden]="!isLoading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    Loading...
  </div>  
  <mat-card *ngIf="clinicalUpdateSearchDataSource.loading$ | async">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <label class="mat-label other-label"><i>loading...please wait</i></label>
</mat-card>
  <br>
  <mat-table #table [dataSource]="clinicalUpdateSearchDataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="preAuthNumber">
      <mat-header-cell *matHeaderCellDef> PreAuth Number </mat-header-cell>
      <mat-cell *matCellDef="let clinicalUpdate" matTooltip="{{clinicalUpdate.preAuthNumber}}">
        <span class="truncate-text"> {{ clinicalUpdate.preAuthNumber}} </span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="diagnosis">
      <mat-header-cell *matHeaderCellDef> Diagnosis </mat-header-cell>
      <mat-cell *matCellDef="let clinicalUpdate" matTooltip="{{clinicalUpdate.diagnosis}}">
        <span class="truncate-text"> {{ clinicalUpdate.diagnosis}} </span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="medication">
      <mat-header-cell *matHeaderCellDef> Medication </mat-header-cell>
      <mat-cell *matCellDef="let clinicalUpdate">
        <span class="truncate-text"> {{ clinicalUpdate.medication}} </span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="comments">
      <mat-header-cell *matHeaderCellDef> Comments </mat-header-cell>
      <mat-cell *matCellDef="let clinicalUpdate">
        <span class="truncate-text"> {{ clinicalUpdate.comments}} </span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="visitCompletionDate">
      <mat-header-cell *matHeaderCellDef> Visit Completion Date </mat-header-cell>
      <mat-cell *matCellDef="let clinicalUpdate">
        <span class="truncate-text"> {{ clinicalUpdate.visitCompletionDate}} </span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dischargeDate">
      <mat-header-cell *matHeaderCellDef> Discharge Date </mat-header-cell>
      <mat-cell *matCellDef="let clinicalUpdate">
        <span class="truncate-text"> {{ clinicalUpdate.dischargeDate}} </span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="subsequentCare">
      <mat-header-cell *matHeaderCellDef> Subsequent Care </mat-header-cell>
      <mat-cell *matCellDef="let clinicalUpdate">
        <span class="truncate-text"> {{ clinicalUpdate.subsequentCare}} </span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="updateSequenceNo">
      <mat-header-cell *matHeaderCellDef> Update Sequence No </mat-header-cell>
      <mat-cell *matCellDef="let clinicalUpdate">
        <span class="truncate-text"> {{ clinicalUpdate.updateSequenceNo}} </span>
      </mat-cell>
    </ng-container>    

    <ng-container matColumnDef="Status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let clinicalUpdate">
        <span class="truncate-text">{{ getClinicalUpdateStatus(clinicalUpdate.clinicalUpdateStatus) }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="clinicalUpdateId">
      <mat-header-cell *matHeaderCellDef> View Report </mat-header-cell>
      <mat-cell *matCellDef="let clinicalUpdate">
        <a role="button" class="link-edit" (click)="viewHospitalVisitReport(clinicalUpdate.clinicalUpdateId, clinicalUpdate.preAuthId)">view</a>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="reviewHospitalVisitReport">
      <mat-header-cell *matHeaderCellDef> Review </mat-header-cell>
      <mat-cell *matCellDef="let clinicalUpdate">
        <a role="button" class="link-edit" (click)="reviewHospitalVisitReport(clinicalUpdate.clinicalUpdateId, clinicalUpdate.preAuthId)"
          *ngIf="showReview(clinicalUpdate.clinicalUpdateStatus)">Review</a>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="editHospitalVisitReport">
      <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
      <mat-cell *matCellDef="let clinicalUpdate">
        <a role="button" class="link-edit" (click)="editHospitalVisitReport(clinicalUpdate.clinicalUpdateId)"
          *ngIf="showEdit(clinicalUpdate.clinicalUpdateStatus)">edit</a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator [length]="paginator.length" [pageIndex]="0" [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>

</div>
