<div class="page-header"></div>
<div class="wizard-main-content">
  <mat-card class="wizard-mat-card-content">
    <mat-card-content class="mat-card-content">
      <div>
        <form [formGroup]="form" class="mat-container details-form" novalidate>
          <section [hidden]="!showIntemediaries || !isWizard">
            <mat-form-field class="mat-form-field">
              <label class="mat-label other-label">Representative</label>
              <input matInput formControlName="representativeName">
            </mat-form-field>
            <mat-form-field class="mat-form-field-right">
              <label class="mat-label other-label">Brokerage</label>
              <input matInput formControlName="brokerageName">
            </mat-form-field>
          </section>
          <section [hidden]="!isChangeMembersCase">
            <mat-form-field class="mat-form-field">
              <label class="mat-label other-label">Main Member</label>
              <input matInput formControlName="mainMemberName">
            </mat-form-field>
            <mat-form-field class="mat-form-field-right">
              <label class="mat-label other-label">Identification Number</label>
              <input matInput formControlName="idNumber">
            </mat-form-field>
          </section>
          <section [hidden]="!hasJuristicRepresentative">
            <mat-form-field class="mat-form-field">
              <label class="mat-label other-label">Juristic Representative</label>
              <input matInput formControlName="juristiceRepresentative">
            </mat-form-field>
          </section>
          <section [hidden]="!showIntemediaries || !isWizard">
            <mat-form-field class="mat-form-field">
              <label class="mat-label other-label">Insurer</label>
              <mat-select name="insurer" id="insurer" #title formControlName="insurerId">
                <mat-option *ngFor="let insurer of insurers" [value]="insurer.id">{{insurer.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-progress-bar *ngIf="loadingInsurers" mode="indeterminate"></mat-progress-bar>
          </section>
        </form>
      </div>
      <div *ngIf="documentSetId !== 0">
        <div>
          <policy-documents [documentSetId]="documentSetId" [keyName]="'CaseCode'" [keyValue]="docKey">
          </policy-documents>
        </div>
        <h2>Broker Portal Documents</h2>
        <div>
          <policy-documents [documentSetId]="documentSetId" [keyName]="'PolicyId'" [keyValue]="policyId">
          </policy-documents>
        </div>

        <h2>Other Documents</h2>
        <div *ngIf="showPolicyDocuments">
          <policy-documents [documentSetId]="individualPolicyDocsDocSetId " [keyName]="'CaseCode'" [keyValue]="docKey">
          </policy-documents>
        </div>
        <div *ngIf="showGroupPolicyDocuments">
          <policy-documents [documentSetId]="groupPolicyDocsDocSetId " [keyName]="'CaseCode'" [keyValue]="docKey">
          </policy-documents>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>