<div>
  <br/>
  <mat-card>
    <mat-card-content>
      <h1 class="Arabic"><span class="material-icons lightBlue icon">account_circle</span>&nbsp; User Address Details
      </h1>
      <br />
      <form [formGroup]="form" class="mat-container details-form" novalidate>
        <section>
          <mat-form-field class="mat-form-field">
            <label class="mat-label other-label mandatory-field">Address Type</label>
            <input matInput maxlength="13" formControlName="addressType" />
          </mat-form-field>
          <mat-form-field class="mat-form-field-right">
            <label class="mat-label other-label">Address Line 1</label>
            <input matInput formControlName="addr1">
          </mat-form-field>
        </section>
        <section>
          <mat-form-field class="mat-form-field">
            <label class="mat-label other-label">Address Line 2 </label>
            <input matInput formControlName="addr2">
          </mat-form-field>

          <mat-form-field class="mat-form-field-right">
            <label class="mat-label other-label">Address Line 3 </label>
            <input matInput formControlName="addr3">
          </mat-form-field>
        </section>
        <section>
          <mat-form-field class="mat-form-field">
            <label class="mat-label other-label">Postal Code </label>
            <input matInput formControlName="postalCode">
          </mat-form-field>
          <mat-form-field class="mat-form-field-right">
            <label class="mat-label other-label mandatory-field">City</label>
            <input matInput formControlName="city">
          </mat-form-field>
        </section>
        <section>
          <mat-form-field class="mat-form-field">
            <label class="mat-label other-label">Province </label>
            <input matInput formControlName="province">
          </mat-form-field>
          <mat-form-field class="mat-form-field-right">
            <label class="mat-label other-label">Country </label>
            <input matInput formControlName="country">
          </mat-form-field>
        </section>
      </form>
    </mat-card-content>
  </mat-card>
  <br />
  <br />
</div>