mat-form-field {
    width: 100%;
}

input.mat-input-element {
    height: 50px;
    border-radius: 22px !important;
}

mat-error {
    text-align: center;
}
.placeholder{
    position: relative;
    right: -26px;
    top: 14px;
    height: 42px;
}

.mat-form-field-appearance-legacy .mat-form-field-label{
height: 42px;
}
.mat-focused .placeholder {
visibility:hidden
}
.search-icon {
    position: absolute;
    right: 16px;
    top: 7px;
    color: #33BFE6;
}

.search-icon:hover {
    cursor: pointer
}