mat-form-field {
    width: 100%;
}

input.mat-input-element {
    height: 50px;
    border-radius: 22px !important;
}

mat-error {
    text-align: center;
}

.search-icon {
    position: absolute;
    right: 16px;
    top: 7px;
    color: #33BFE6;
}

.search-icon:hover {
    cursor: pointer
}