<mat-card style="margin: 15px 30px 15px 30px">
    <mat-card-header>
        <mat-card-title class="wizard-font card-title grey">
            <!-- <h1 style="padding: 0;">Find a Discount Type</h1> -->
        </mat-card-title>
        <mat-card-subtitle>
            <!-- <span class="grey site-font"><i>Search for a discount type to begin.</i></span> -->
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content style="margin-left: 10px;">

        <form [formGroup]="form" class="mat-container" novalidate>

            <!--Query-->

            <mat-form-field>
                <input matInput maxlength="50" formControlName="query" name="query" width="300" minLength="3" matTooltip="Search by name, code, or description" matTooltipShowDelay="1000">
                <mat-icon class="search-icon" (click)="search()" matSuffix>search</mat-icon>
                <mat-error *ngIf="form.get('query').hasError('required')">
                    Please enter a search term.
                </mat-error>
                <mat-error *ngIf="form.get('query').hasError('minlength')">
                    Please enter a search term longer than <strong>3 characters</strong>
                </mat-error>
                <button style=" visibility: hidden;" class="button submit-button" (click)="search()" matTooltip="Search by name, code, or description" matTooltipShowDelay="1000">Search</button>
            </mat-form-field>
        </form>

        <div *ngIf="dataSource.isLoading">
            <mat-progress-bar mode="indeterminate" [ngClass]="{ 'loading-main-double-menu-progress': doubleMenu, 'loading-main-single-menu-progress': !doubleMenu }"></mat-progress-bar>
            <p class="site-font grey">Searching...</p>
        </div>

        <div [hidden]="dataSource.data.length === 0 || dataSource.isLoading">
            <mat-table #table [dataSource]="dataSource" matSort>

                <!-- Name -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                </ng-container>

                <!-- Code -->
                <ng-container matColumnDef="code">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Code </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.code}} </mat-cell>
                </ng-container>

                <!-- Description -->
                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
                </ng-container>

                <!-- Modified By -->
                <ng-container matColumnDef="modifiedBy">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Added/Modified By </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.modifiedBy}} </mat-cell>
                </ng-container>

                <!-- Modified By -->
                <ng-container matColumnDef="modifiedDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Added/Modified Date </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.modifiedDate | date: 'yyyy/MM/dd'}} </mat-cell>
                </ng-container>

                <!-- Active -->
                <ng-container matColumnDef="isActive">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span *ngIf="row.isActive">Active</span>
                        <span *ngIf="!row.isActive">InActive</span>
                    </mat-cell>
                </ng-container>

                <!-- Actions -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Actions</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span *ngIf="row.canEdit"><a role="button" class="link-edit" (click)="onSelect(row)">View / Edit</a></span>
                        <span *ngIf="!row.canEdit"><a role="button" class="link-edit" (click)="onSelect(row)">View</a></span>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>

            <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
        </div>

        <div [hidden]="dataSource.isLoading || dataSource.filteredData.length > 0 || dataSource.data.length > 0 || !currentQuery || currentQuery == ''" class="no-search-results-add-button">
            <div class="site-font grey">
                <p class="grey">Your search - <strong>{{currentQuery}}</strong> - did not match any products.</p>
                <span>Suggestions: </span>
                <ul>
                    <li>Make sure that all words are spelled correctly.</li>
                    <li>Try different keywords.</li>
                    <li>Try more general keywords.</li>
                    <li>Try fewer keywords.</li>
                </ul>
            </div>
        </div>

    </mat-card-content>
</mat-card>