<label>How would you like the period to roll?<br /><br />
  <mat-radio-group>
    <mat-radio-button style="margin-bottom: 10px;" value="single" (change)="toggle($event.value)">
      <span class="material-icons">playlist_play</span> Close the current period and open the next period. Only one period will be open
    </mat-radio-button><br />
    <mat-radio-button style="margin-bottom: 10px;" value="concurrent" (change)="toggle($event.value)">
      <span class="material-icons">playlist_add</span> Keep the current period and open the next period. Both periods will run concurrently
    </mat-radio-button>
  </mat-radio-group>


  <div class="form-group-button mat-form-button">
    <div class="form-buttons">
      <button (click)="submit()" class="button float-button submit-button">Submit</button>
      <button (click)="cancel()" class="button float-button submit-button">Cancel</button>
    </div>
  </div>
