.table-container {
  margin: 72px 0px 0px 131px;
  padding: 25px;
  border: 10px solid #fff;
  width: 74.33%;
}

.table-container-div {
overflow-x: auto;
width: auto;
}

.table-div {
width: 300%;
}

.mat-container {
  background-color: #F1F1F3;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px 0px 37px 6px;
}


.mat-table {
  display: contents !important;
}

.mat-option {
  background: #fff !important;
}

.mat-header-row {
  background-color: #fff;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-form-field-placeholder-wrapper {
  position: absolute !important;
  left: 13px !important;
}

button {
  color: #fff !important;
  border-radius: 0;
  margin-left: 7px;
}

.inner-container {
  background-color: #fff;
  padding: 19px;
}

.picker-toggle {
  white-space: nowrap;
  flex: none;
  position: relative;
  top: 15px;
}

.filter-option {
  margin-top: 83px;
}

.search-icon {
  position:absolute;
  top: 15px;
  right: 2px;
}

.mat-icon {
  margin-top: 45px;
}

.mat-menu-panel {
  margin-top: -45px !important;
}

.mat-menu-item {
  background: 0 0;
  color: rgba(0, 0, 0, .87) !important;
}

.mat-menu-item[disabled] {
  cursor: default !important;
}

.mat-menu-item[disabled],
.mat-menu-item[disabled]::after {
  color: rgba(0, 0, 0, .38) !important;
}

mat-form-field {
  width: 25%;
}

.form {
  display: flex;
  margin-left: 10px !important;
}

form {
  width: 50%;
}

.mat-icon.mat-cell.cdk-column-actions.mat-column-actions.ng-star-inserted {
  padding: 0px !important
}

.mat-icon {
  margin: 0px !important
}

.table-date-column-width {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 4% !important;
  width: 4% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-createdDate {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 7% !important;
  width: 7% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-accountNo {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-reference {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 6% !important;
    width: 6% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-actions {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 2% !important;
    width: 2% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-footer-cell {
  font-weight: bold;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 5px;
  display: inline !important;
}

