
mat-form-field {
    width: 100%;
}

mat-error {
    text-align: center;
}

.placeholder {
    position: relative;
    right: -26px;
    top: 14px;
    height: 42px;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
    height: 42px;
}

.mat-focused .placeholder {
    visibility: hidden
}

.clear {
    clear: both;
}
