.clear-both {
    clear: both;
}

.heading {
    text-align: center;
}

.inline {
    display: inline;
}

.grid {
    display: flex;
}

.grid>div {
    display: flex;
    flex-basis: 100%;
    flex: 1;
    min-width: 33%;
}

.grid>div>.mat-form-field {
    font-weight: 700;
    min-width: 10px;
    width: 85%;
}

.grid>div>.value {
    margin-left: 10px;
}

.mat-stepper-horizontal {
    margin-top: 8px;
}

.mat-mdc-form-field {
    margin-top: 16px;
}

::ng-deep .mat-horizontal-stepper-header-container {
    position: relative !important;
}