<div>
    <app-medicare-search-menus></app-medicare-search-menus>
</div>
<div *ngIf="isLoading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <span *ngIf="isLoading" class="site-font grey" style="margin-top: 15px;"><i>Processing, please
            wait...</i></span>
</div>
<br />
<a mat-flat-button (click)="onNavigateBack()">
    <mat-icon>arrow_back</mat-icon>
    Back
</a>
<h2 class="heading"> {{title}} </h2>
<br /><br />
<div class="clear-both" *ngIf="!isLoading">

    <mat-horizontal-stepper [linear]="isLinear" #stepper>

        <mat-step [stepControl]="pensionerInterTransferPatientDetailsFormGroup">
            <form [formGroup]="pensionerInterTransferPatientDetailsFormGroup">
                <ng-template matStepLabel>Inter Transfer Patient Details</ng-template>

                <h5>Inter Transfer Patient Details</h5>



                <section class="clear-both">
                    <div class="field-container">

                        <mat-form-field class="mat-form-field">
                            <label class="other-label mandatory-field">Reason For Referral</label>
                            <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5"
                                id="reasonForReferral" formControlName="reasonForReferral" class="mat-input-element"
                                maxlength="1000"></textarea>
                        </mat-form-field>

                    </div>
                </section>

                <section class="clear-both">
                    <div class="grid">
                        <div>
                            <mat-form-field class="mat-form-field">
                                <label class="mat-label other-label">Referring PMP Region</label>
                                    <mat-select name="referringPMPRegion" id="referringPMPRegion"
                                    formControlName="referringPMPRegion">
                                    <mat-option *ngFor="let receivingPMPRegions of pmpRegions"
                                        [value]="receivingPMPRegions.id">
                                        {{receivingPMPRegions.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div>
                            <mat-form-field class="mat-form-field">
                                <label class="mat-label other-label">Referring PMCA</label>
                                <mat-select name="referringMCA" id="referringMCA" formControlName="referringMCA">
                                    <mat-option *ngFor="let referringMCAUsers of allMCAUsers"
                                        [value]="referringMCAUsers.id">
                                        {{referringMCAUsers.name}}
                                    </mat-option>

                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div>
                            <mat-form-field class="mat-form-field">
                                <label class="mat-label other-label">Referring PA</label>
                                <mat-select name="referringPA" id="referringPA" formControlName="referringPA">
                                    <mat-option *ngFor="let referringPAUsers of allPAUsers"
                                        [value]="referringPAUsers.id">
                                        {{referringPAUsers.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </section>



                <section class="clear-both">
                    <div class="grid">
                        <div>
                            <mat-form-field class="mat-form-field">
                                <label class="mat-label other-label">Receiving PMP Region</label>
                                <mat-select name="receivingPMPRegion" id="receivingPMPRegion"
                                    formControlName="receivingPMPRegion">
                                    <mat-option *ngFor="let receivingPMPRegions of pmpRegions"
                                        [value]="receivingPMPRegions.id">
                                        {{receivingPMPRegions.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div>
                            <mat-form-field class="mat-form-field">
                                <label class="mat-label other-label">Receiving PMCA</label>
                                <mat-select name="receivingMCA" id="receivingMCA" formControlName="receivingMCA">
                                    <mat-option *ngFor="let receivingMCAUsers of allMCAUsers"
                                        [value]="receivingMCAUsers.id">
                                        {{receivingMCAUsers.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div>
                            <mat-form-field class="mat-form-field">
                                <label class="mat-label other-label">Receiving PA</label>
                                <mat-select name="receivingPA" id="receivingPA" formControlName="receivingPA">
                                    <mat-option *ngFor="let receivingPAUsers of allPAUsers"
                                        [value]="receivingPAUsers.id">
                                        {{receivingPAUsers.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </section>

                <br>


                <section class="clear-both">
                    <div class="field-container">

                        <mat-form-field class="">
                            <label class="mat-label other-label">Date Of Transfer</label>
                            <input matInput formControlName="dateOfTransfer" id="dateOfTransfer" name="dateOfTransfer"
                                [matDatepicker]="dateOfTransfer">
                            <mat-datepicker-toggle matSuffix [for]="dateOfTransfer"></mat-datepicker-toggle>
                            <mat-datepicker touchUi="true" #dateOfTransfer></mat-datepicker>
                        </mat-form-field>

                    </div>
                    <div class="field-container-right">

                        <mat-form-field class="">
                            <label class="mat-label other-label">Date Of Visit</label>
                            <input matInput formControlName="dateOfVisit" id="dateOfVisit" name="dateOfVisit"
                                [matDatepicker]="dateOfVisit">
                            <mat-datepicker-toggle matSuffix [for]="dateOfVisit"></mat-datepicker-toggle>
                            <mat-datepicker touchUi="true" #dateOfVisit></mat-datepicker>
                        </mat-form-field>

                    </div>
                </section>

                <br>
                <section class="clear-both">
                    <div class="field-container">

                        <mat-form-field class="">
                            <label class="mat-label other-label">Expected Date Of Arrival</label>
                            <input matInput formControlName="expectedDateOfArrival" id="expectedDateOfArrival"
                                name="expectedDateOfArrival" [matDatepicker]="expectedDateOfArrival">
                            <mat-datepicker-toggle matSuffix [for]="expectedDateOfArrival"></mat-datepicker-toggle>
                            <mat-datepicker touchUi="true" #expectedDateOfArrival></mat-datepicker>
                        </mat-form-field>

                    </div>
                    <div class="field-container-right">

                        <mat-form-field class="">
                            <label class="mat-label other-label">Confirmed Date Of Arrival</label>
                            <input matInput formControlName="confirmedDateOfArrival" id="confirmedDateOfArrival"
                                name="confirmedDateOfArrival" [matDatepicker]="confirmedDateOfArrival">
                            <mat-datepicker-toggle matSuffix [for]="confirmedDateOfArrival"></mat-datepicker-toggle>
                            <mat-datepicker touchUi="true" #confirmedDateOfArrival></mat-datepicker>
                        </mat-form-field>

                    </div>
                </section>
                <br>       

                <section class="clear-both">
                    <div class="field-container">

                        <mat-form-field class="">
                            <label class="mat-label other-label">Passport Visa Renewal Date</label>
                            <input matInput formControlName="passportVisaRenewalDate" id="passportVisaRenewalDate"
                                name="passportVisaRenewalDate" [matDatepicker]="passportVisaRenewalDate">
                            <mat-datepicker-toggle matSuffix [for]="passportVisaRenewalDate"></mat-datepicker-toggle>
                            <mat-datepicker touchUi="true" #passportVisaRenewalDate></mat-datepicker>
                        </mat-form-field>

                    </div>
                    <div class="field-container-right">

                        <mat-form-field class="">
                            <label class="mat-label other-label">Date Of Referral</label>
                            <input matInput formControlName="dateOfReferral" id="dateOfReferral" name="dateOfReferral"
                                [matDatepicker]="dateOfReferral">
                            <mat-datepicker-toggle matSuffix [for]="dateOfReferral"></mat-datepicker-toggle>
                            <mat-datepicker touchUi="true" #dateOfReferral></mat-datepicker>
                        </mat-form-field>

                    </div>
                </section>

                  <section class="clear-both">
                    <div>
                        <mat-form-field class="mat-form-field">
                            <label class="other-label mandatory-field">Comments</label>
                            <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5"
                                id="comments" formControlName="comments" class="mat-input-element"
                                maxlength="1000"></textarea>
                        </mat-form-field>
                    </div>
                </section>

                <div>
                    <button mat-raised-button color="primary" matStepperNext>Next</button>
                </div>
                <br>
            </form>
        </mat-step>

        <mat-step [stepControl]="branchMCADetailsFormGroup">
            <ng-template matStepLabel>Handover Info </ng-template>

            <app-pensioner-transfer-handover-info [title]="title" [passedTransferHandoverInfo]="pmpRegionTransfer"
                [isReadOnly]="crudActionTypeEnum[crudActionType] == crudActionTypeEnum[5]" 
                [passedCrudActionType]="crudActionType" 
                (transferHandoverInfoEmit)="getHandoverInfo($event)"></app-pensioner-transfer-handover-info>
            
                <div class="clear">&nbsp;</div>
            <mat-tab-group animationDuration="500ms" *ngIf="handoverInfoEmited">
                <mat-tab label="Referrals" *ngIf="crudActionTypeEnum[crudActionType] != crudActionTypeEnum[1]">
                    <referral-view [targetModuleType]="targetModuleType" [referralItemType]="referralItemType"
                        [referralItemTypeReference]="referralItemTypeReference" [itemId]="pensionCaseId"></referral-view>
                </mat-tab>

                <mat-tab label="Notes">
                    <common-notes [moduleType]="moduleType" [noteItemType]="noteItemType" [itemId]="pensionCaseId"></common-notes>
                </mat-tab>
            </mat-tab-group>
            <div class="clear">&nbsp;</div>
            <div>
                <button mat-raised-button color="primary" matStepperPrevious>Back</button>&nbsp;
                <button mat-raised-button color="primary"
                    *ngIf="handoverInfoEmited && crudActionTypeEnum[crudActionType] != crudActionTypeEnum[5]"
                    matStepperNext>Next</button>
            </div><br />

        </mat-step>

        <mat-step *ngIf="crudActionTypeEnum[crudActionType] != crudActionTypeEnum[5]">
            <ng-template matStepLabel>Done</ng-template>
            <h5>You are now done, click submit to complete.</h5>
            <div class="form-group-button mat-form-button">
                <button mat-raised-button color="primary" matStepperPrevious>Back</button>&nbsp;
                <button mat-raised-button color="accent" (click)="submitInterRegionTransferForm()">Submit</button>&nbsp;
                <button mat-raised-button color="warn" (click)="stepper.reset()">Reset</button>&nbsp;
            </div>
            <br>
        </mat-step>

    </mat-horizontal-stepper>
</div>
