<!--<div [hidden]="isLoading" class="menu-container">
  <nav mat-tab-nav-bar>
    <a mat-tab-link (click)="loadMonthEndDates()"> Month End Dates </a>
    <a mat-tab-link (click)="loadMonthEndHistory()"> Month End History </a>
    <a mat-tab-link (click)="loadIRP5Generator()"> Generate IRP5 Document </a>
    <a mat-tab-link (click)="loadMonthEndPreChecks()"> Month End Pre-Checks </a>
  </nav>
  <div>
      <div *ngIf="loadedTab === null">
        <div style="margin-right: 15px;">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <span style="color: grey">Loading...</span>
      </div>
      <app-month-end-history (loadMonthEndDates)="loadMonthEndDates()" *ngIf="loadedTab === 'month-end-history'"></app-month-end-history>
      <app-month-end-dates *ngIf="loadedTab === 'month-end-dates'"></app-month-end-dates>
      <app-month-end-irp5 *ngIf="loadedTab === 'month-end-irp5'"></app-month-end-irp5>
      <app-month-end-pre-checks *ngIf="loadedTab === 'month-end-pre-checks'"></app-month-end-pre-checks>
  </div>
</div>-->
<div>
  <nav class="innertop-nav">
    &nbsp;&nbsp;&nbsp;<user-context-view></user-context-view>&nbsp;
    <button mat-button [routerLink]="['home']" class='Activebutton'>Home</button>
    <button mat-button [routerLink]="['month-end-history']" class='Activebutton'>History</button>
    <button mat-button [routerLink]="['month-end-irp5']" class='Activebutton'>IRP5</button>
  </nav>
  <div [hidden]="loadingMessage != null" class="container-padding">
    <router-outlet></router-outlet>
  </div>
</div>
