.mat-column-selected {
  max-width: 30px !important;
}
.mat-column-age {
  max-width: 6% !important;
}
.mat-column-benefitType, .mat-column-coverMemberType, .mat-column-code {
  max-width: 7% !important;
}
.mat-column-premium, .mat-column-benefitAmount {
  max-width: 7% !important;
  justify-content: flex-end;
}
