.field-section {
    display: flex;
    justify-content: space-between;
  }
  
  .field-container,
  .field-container-right,
  .field-container-left {
    flex: 1;
    margin-right: 10px;
  }
  
  .result-section {
    margin-top: 20px;
  }
  
  .upload-container button {
    min-width: max-content; 
    width: max-content;
    white-space: nowrap; 
  }