<form [formGroup]="form" class="mat-container" novalidate>
    <div class="mat-container">

        <section>

            <!--Affinity name-->
            <mat-form-field>
                <label class="mat-label other-label">Affinity Name</label>
                <input matInput maxlength="50" formControlName="name" name="name" unique-validator [table]="'Client'" [field]="'Name'" [currentValue]="currentName" [serviceType]="6">
                <mat-error *ngIf="form.get('name').hasError('required')">
                    Affinity Name is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="form.get('name').hasError('isTaken')">
                    This affinity name <strong>already exists</strong>
                </mat-error>
            </mat-form-field>

            <!--Description-->
            <mat-form-field class="mat-form-field-right">
                <label class="mat-label other-label">Description (optional)</label>
                <input matInput maxlength="50" formControlName="description" name="description">
            </mat-form-field>
        </section>

        <section>
            <!--Claim branch-->
            <!--<mat-form-field>
                <label class="mat-label other-label">Claim branch</label>
                <mat-select name="claimBranch" id="claimBranch" formControlName="claimBranch" [(value)]="claimBranchId">
                    <mat-option *ngFor="let claimBranch of claimBranches" [value]="claimBranch.id">{{claimBranch.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('claimBranch').hasError('required')">
                    Claim branch is <strong>required</strong>
                </mat-error>
            </mat-form-field>-->

            <!--Group-->
            <mat-form-field class="mat-form-field">
                <label class="mat-label other-label">Group</label>
                <mat-select name="group" id="group" formControlName="group" [(value)]="groupId">
                    <mat-option value=""></mat-option>
                    <mat-option *ngFor="let group of groups" [value]="group.id">{{group.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <!--Communication Method-->
            <mat-form-field class="mat-form-field-right">
                <label>Communication Method</label>
                <mat-select name="communicationType" id="communicationType" formControlName="communicationType" multiple>
                    <mat-option *ngFor="let communicationTypeitem of communicationTypeList" [value]="communicationTypeitem.id">{{communicationTypeitem.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </section>
    </div>
</form>