mat-form-field {
  width: 100%;
}

.removePaddingBottom {
  padding-bottom: 0px !important;
}

input.mat-input-element {
  height: 50px;
  border-radius: 22px !important;
}

mat-error {
  text-align: center;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  height: 42px;
}

.mat-focused .placeholder {
  visibility: hidden
}

.altRowTable tr:nth-child(even) {
  background: #DEE3EB
}

.border {
  width: 100%;
  border-style: dashed;
  border-color: lightgray;
  border-width: 2px;
  text-align: center;
  height: 50px;
  padding-top: 20px;
}

.placeholder {
  position: relative;
  right: -26px;
  top: 14px;
  height: 42px;
}

.mat-column-description {
  min-width: 600px !important;
  max-width: 600px !important;
}

.mat-column-selectMultiple {
  min-width: 80px !important;
  max-width: 80px !important;
}

.mat-column-selectSingle {
  min-width: 80px !important;
  max-width: 80px !important;
}

.inputWidth {
  height: 50px;
  border-radius: 22px !important;
  width: 585px !important;
}

.blue-text {
  color: blue;
}