.margine-space {
    margin-left: 15px;
}

.clear {
    clear: both;
}

.first-footer-row {
    font-weight: bold;
}

.mat-footer-cell {
    font-size: 12px !important;
}

.hidden {
    display: block;
    visibility: hidden;
    height: 0;
    width: 0;
}

.open-preauth-View {
    cursor: pointer;
    padding-left: 10px;
}

/*status warning message*/
.red-text-status-message {
    color: red;
}

.validation-errors {
    color: red;
}

.validation-errors:hover {
    cursor: pointer
}

.validation-pass {
    color: green;
}

.material-icons {
    color: #00BCE7;
}

.practive-status {
    font-size: 15px;
}

.mat-datepicker-toggle {
    position: absolute;
    margin-top: 13px;
    right: 0;
}

.controlSize {
    width: 30% !important;
}