<div>
  <!-- {{ clinicalView | async }} -->
  <preauth-breakdowns [breakdowns]="clinicalView?.preAuthorisationBreakdowns" [preAuthType]="auth?.preAuthType"></preauth-breakdowns>
  <div class="grid">
    <div>
      <span class="title">Health Care Provider</span>
      <span class="value"> </span>
    </div>

    <div>
      <span class="title">Practice Number</span>
      <span class="value"> </span>
    </div>
  </div>

  <div class="grid">
    <div>
      <span class="title">Authorised</span>
      <span class="value"> </span>
    </div>
  </div>

  <div class="grid">
    <div>
      <span class="title">Auth Date From</span>
      <span class="value">
      </span>
    </div>

    <div>
      <span class="title">Auth Date To</span>
      <span class="value"> </span>
    </div>
  </div>

  <div class="grid">
    <div>
      <span class="title">Medical Service PAC No</span>
      <span class="value"> </span>
    </div>

    <div >
      <span class="title">injury Date</span>
      <span class="value"></span>
    </div>
  </div>

  <div class="grid">
    <div>
      <span class="title">Pre-Auth ICD10</span>
    </div>

    <div>
      <span class="title">Treatment Baskets</span>
    </div>
  </div>

  <div class="grid">
    <div>
      <span class="title">Requested Amount</span>
      <span class="value"> </span>
    </div>

    <div>
      <span class="title">Authorised Amount</span>
      <span class="value">  </span>
    </div>
  </div>

  <div class="grid">
    <div>
      <span class="title">Requested Comments</span>
      <span class="value"> </span>
    </div>

    <div>
      <span class="title">Authorisation Comments</span>
      <span class="value"> </span>
    </div>
  </div>
</div>