<div>
  <mat-card style="margin: 15px 30px 15px 30px">
      <mat-card-content style="margin-left: 10px;">
          <div [hidden]="dataSource.isLoading">
              <div class="mat-container mat-elevation-z8" #TABLE>
                  <div class="mat-header">
                      <h1>Claim Recovery Transactions</h1><br />

                  </div>
                  <app-search-input (searchcriteria)="searchData($event)" [placeHolder]="placeHolder"></app-search-input>
                  <mat-table #table [dataSource]="dataSource" matSort>
                      <ng-container matColumnDef="PayeeDetails">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Payee Details</mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.onwerDetails}} </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="PaymentDate">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
                          <mat-cell *matCellDef="let row">  {{row.createdDate | date:'yyyy/MM/dd'}} </mat-cell>
                      </ng-container>
                    <ng-container matColumnDef="time">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Time</mat-header-cell>
                        <mat-cell *matCellDef="let row">  {{row.createdDate | date:'h:mm a'}} </mat-cell>
                    </ng-container>
                      <ng-container matColumnDef="PaymentType">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Payment Type</mat-header-cell>
                          <mat-cell *matCellDef="let row">  {{row.paymentTypeDesc}} </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="Reference">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Reference</mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.reference}} </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="Bank">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Bank</mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.bank}} </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="AccountDetails">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Account Details</mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.accountDetails}} </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="BankBranch">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Bank Branch</mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.bankBranch}} </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="Amount">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> {{amountLabel}} </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.amount | currency:'ZAR':'' | replace:',':' ' }} </mat-cell>
                      </ng-container>
                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>
                  <mat-paginator #paginator
                                 [pageIndex]="0"
                                 [pageSize]="10"
                                 [pageSizeOptions]="[5, 10, 25, 100]">
                  </mat-paginator>
              </div>
          </div>
      </mat-card-content>
  </mat-card>
</div>

<div *ngIf="dataSource.isLoading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <label class="mat-label other-label"><i>Loading Claims Recovery Detail...please wait</i></label>
</div>

<div>
  <table class="form-group row" style="    margin-left: 29px;">
      <button [disabled]="canExport==0" (click)="exporttoCSV()" class="button float-button">Export</button>
      <button type="button" (click)="clear()" class="button float-button">Back</button>
  </table>
</div>