table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .green {
    background-color: #98FB98;
  }

  .amber {
    background-color: #FFA500;
  }

  .pointer {cursor: pointer;}


  .clear_both{
    clear: both;
  }

  .inline_heading{
    display: inline; 
  }

  .grid-inputs {
    display: grid;
    grid-template-columns: 10% auto;
    justify-content: start;
    gap: 20px;
    width: 100%;
}

h4{
    margin-block-start: 0.33em;
    margin-block-end: 0.33em;
}
  
  
.small-button{
  width: 38px;
  height: 38px;
  min-width: 38px !important;
  padding: 0px !important;
  border-radius: 25px;
  background-color: green;
  color: #fff;
}

.refund-account-container{
  width:50% ;
}

.refund-amount {
  margin-right: 10px;
}