.cell-header{
    color: #fff !important;
    background-color: #7DC0DA;
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 500;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  .benefit-table-header{
    margin: 0 -14px 24px;
    padding: 0;
  }
  th, td {
    text-align: center;
    padding: 8px;
  }
  a:hover{
    cursor: pointer;
  }
  tr:nth-child(even){background-color: #dee3eb}


  .cell-header {
    color: #fff !important;
    background-color: #7DC0DA;
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 500
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #fff
  }

  th,
  td {
    text-align: center;
    padding: 8px
  }

  a:hover {
    cursor: pointer
  }

  tr:nth-child(even) {
    background-color: #dee3eb
  }

  .addRateError {
    color: red; 
    font-size:11px;
    margin-top: -24px
  }

  .field-extreme-right {
    margin-left: 16px;
  }
  .benefit-rate-table{
    padding: 0;
    margin: 0 0px 24px;
  }

  .premiumError {
    color: red; 
  }

  .benefitNameInvisible{
    display: none;
    visibility: hidden;
    height: 0;
    width: 0;
}

  .benefitNameVisible{
    display: block;
    visibility: visible;
    height: 0;
    width: 0;
    /* display: inline-flex; */
}