.clear-both{
    clear: both;
}
.search-icon {
        color: #33BFE6;
}

.clear-icon {
    position: absolute;
    right: 16px;
    top: 3px;
    color: #33BFE6;
}

.search-icon:hover {
    cursor: pointer
}

.search-filter {
    width: 100%;   
}
.search {
    border-radius: 22px !important;
    box-sizing: unset !important;
    vertical-align:middle;
}

mat-icon {
    margin-left: -10px;
}
.margin-right{ margin-right: 5px;}

.mat-footer-cell {
    font-weight: bold;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 1px;
    display: inline !important;
}