<div class="menu-bar">
  <span class="material-icons">
    receipt_long
  </span>
  Open Transactions
</div>
<div>
  <mat-card>
    <form [formGroup]="form">
      <section>
        <mat-form-field class="mat-form-field">
          <label class="mat-label other-label">Start Date</label>
          <input matInput [matDatepicker]="transactionStartDate" date="true" time="false"
            formControlName="transactionStartDate" readonly [max]="getEndDate()">
          <mat-datepicker-toggle matSuffix [for]="transactionStartDate"></mat-datepicker-toggle>
          <mat-datepicker #transactionStartDate touchUi="true">
          </mat-datepicker>
          <mat-error *ngIf="form.get('transactionStartDate').hasError('required')">
            Start Date <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="mat-form-field-right">
          <label class="mat-label other-label">End Date</label>
          <input matInput [matDatepicker]="transactionEndDate" date="true" time="false"
            formControlName="transactionEndDate" [min]="getStartDate()" readonly>
          <mat-datepicker-toggle matSuffix [for]="transactionEndDate"></mat-datepicker-toggle>
          <mat-datepicker #transactionEndDate touchUi="true"></mat-datepicker>
          <mat-error *ngIf="form.get('transactionEndDate').hasError('required')">
            End Date <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <div class="field-container">
          <mat-form-field>
            <label class="mat-label other-label">Transaction Type</label>
            <mat-select name="transactionType" id="transactionType" formControlName="transactionType"
              (selectionChange)="transactionTypeChanged($event)" [(ngModel)]="selectedTransactionType">
              <mat-option *ngFor="let transactionType of transactionTypes" [value]="transactionType.id">
                {{transactionType.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </section>
      <div class="clear-both">
        <button type="button" (click)="applyFilters()" class="button apply-filter margin-right" [disabled]="(isLoading$ | async)">Apply 
          Filters</button>
        <button type="button" (click)="reset()" class="button" [disabled]="(isLoading$ | async)">Refresh</button>
      </div><br /><br />
      <section [hidden]="!dataSource.data">
        <mat-form-field class="search-filter">
          <input matInput maxlength="50" name="filter" id="filter" #filter minLength="3"
            (keyup)="applyTextboxFiltering($event.target.value)" matTooltip="{{placeHolder}}" matTooltipShowDelay="1000"
            [disabled]="(isLoading$ | async)" class="search">
          <mat-icon class="search-icon" matSuffix>search</mat-icon>
        </mat-form-field>
      </section>
    </form>
  </mat-card>
  <br />
  <mat-card>
    <mat-card-content>
      <div *ngIf="(isLoading$ | async)">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        <label class="mat-label other-label"><i>loading...please wait</i></label>
      </div>
      <div *ngIf="dataSource.data && dataSource.data && dataSource.data.length === 0">
        <span class="grey site-font">No transactions found.</span> <br />
      </div>
      <div [hidden]="dataSource.data.length === 0" class="searchFilter">
        <mat-table #table [dataSource]="dataSource" matSort>
          <!-- Type  -->
          <ng-container matColumnDef="transactionType">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.transactionType}}</mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
          </ng-container>

          <!--Policy Number -->
          <ng-container matColumnDef="policyNumber">
            <mat-header-cell *matHeaderCellDef> Policy Number </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.policyNumber}} </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
          </ng-container>

          <!--Member Name -->
          <ng-container matColumnDef="documentNumber">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Document Number </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.documentNumber}} </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
          </ng-container>

          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
          </ng-container>

          <ng-container matColumnDef="documentDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Document Date </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.documentDate | date:'yyyy/MM/dd'}}
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
          </ng-container>

          <!--Debit -->
          <ng-container matColumnDef="debitAmount">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Debit </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.debitAmount | currency:'':''}}
            </mat-cell>
            <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
          </ng-container>

          <!--Credit -->
          <ng-container matColumnDef="creditAmount">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Credit </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.creditAmount | currency:'':''}}
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
          </ng-container>

          <!--Balance -->
          <ng-container matColumnDef="balance">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Balance </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.balance | currency:'':''}}</mat-cell>
            <mat-footer-cell *matFooterCellDef> {{debtorNetBalance | currency:'':''}}</mat-footer-cell>
          </ng-container>

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let row" [matMenuTriggerFor]="menu">
              <span class="material-icons pointer right">more_vert</span>
              <mat-menu #menu="matMenu">
                <button mat-menu-item *ngFor="let menu of menus" (click)="onMenuItemClick(row, menu)"
                  disabled={{menu.disable}}>{{menu.title}}</button>
              </mat-menu>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
        </mat-table>
      </div>
      <div [hidden]="dataSource.data.length === 0">
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>