.element-row {
  cursor: pointer;
}

.element-row:hover {
  background-color: #e7b013;
}

.margine-space {
  margin-left: 15px;
}

.clear {
  clear: both;
}

.first-footer-row {
  font-weight: bold;
}

.mat-footer-cell {
  font-size: 12px !important;
}

/* for gid */

.grid {
  display: flex;
}

.grid>div {
  display: flex;
  flex-basis: 100%;
  flex: 1;
  min-width: 10px;
  margin-bottom: 5px;
}

.grid>div>.title {
  font-weight: 700;
  min-width: 10px;
  width: 220px;
}

.grid>div>.value {
  margin-left: 10px;
}

span.disabled {
  color: gray;
  cursor: not-allowed;
}

/*icons batch actions*/
mat-header-cell.mat-header-cell.cdk-column-viewSwitchInvoice.mat-column-viewSwitchInvoice.ng-star-inserted,
mat-header-cell.mat-header-cell.cdk-column-deleteInvoice.mat-column-deleteInvoice.ng-star-inserted,
mat-header-cell.mat-header-cell.cdk-column-mapToPersonEvent.mat-column-mapToPersonEvent.ng-star-inserted,
mat-header-cell.mat-header-cell.cdk-column-addBatchInvoice.mat-column-addBatchInvoice.ng-star-inserted {
  max-width: 15px;
}

mat-cell.mat-cell.cdk-column-deleteInvoice.mat-column-deleteInvoice.ng-star-inserted,
mat-cell.mat-cell.cdk-column-viewSwitchInvoice.mat-column-viewSwitchInvoice.ng-star-inserted,
mat-cell.mat-cell.cdk-column-mapToPersonEvent.mat-column-mapToPersonEvent.ng-star-inserted,
mat-cell.mat-cell.cdk-column-addBatchInvoice.mat-column-addBatchInvoice.ng-star-inserted {
  max-width: 15px;
  padding-left: 12px;
  padding-right: 12px;
}

.assign-to-user {
  margin-left: 0px;
}

.assign-to-user-form {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.highlightSelectedRecordColor {
  background-color: #04AA6D;
}

.red-text-important {
  color: red;
}