.import-icon {
    position: absolute;
    top: 15px;
    right: -10px;
    cursor: pointer;
}

.import-button:hover {
    color: #84BBD4;
}

.import-button {
    background-color: #51627c;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    width: 83px;
    height: 33px;
    color: white;
}

.import-data {
    position: sticky;
    right: 0px;
    top: 50px;
    cursor: pointer;
}

.panel-header {
    position: absolute;
    right: 0px;
    top: 0px;
}