.add-note-icon {
  cursor: pointer;
  padding-right: 10px;
  color: grey;
}
.link {
  color: #7DC0DA;
  cursor: pointer;
}
.mat-column-balance,
.mat-column-interest,
.mat-column-current,
.mat-column-balance30Days,
.mat-column-balance60Days,
.mat-column-balance90Days,
.mat-column-balance120Days,
.mat-column-balance120PlusDays {
  display: flex;
  justify-content: flex-end;
  max-width: 90px !important;
}
