.closeBtn{
    margin-left: 29px !important;
}

.button{
    margin-left: 30px;
}
// .margin{
//     margin-left: 15px;
// }

.report{
    width: 95% !important;
    height: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.title{
    color:#389cae !important;
}

.select{
    margin-left: 15px !important;
}

@media screen and (max-width: 1500px) {
    .button{
        margin-left: 15px !important;
    }
}


@media screen and (max-width: 600px) {

.title{
    color:#389cae !important;
    font-size: large !important; 
}

.button{
    width: 50% !important;
}

.other-label{
    font-size: small !important; 
}
}