.field-container {
    float: initial;
    display: contents;
    margin-left: 0px;
}

.altRowTable tr:nth-child(even){
  background: lightgray
}

.material-icons.lightGreen { color: rgb(47, 145, 47); }
.material-icons.lightAmber { color: rgb(247, 167, 71); }
.material-icons.lightRed{ color: rgb(253, 100, 100) }
.material-icons.lightBlue { color: rgb(94, 105, 255); }

.dead {
  color: rgb(253, 100, 100);
}

.summary-container {
    width: 53%;
    border: 1px solid;
    line-height: 1.6;
    margin-left: 0 !important;
    font-family: 'Oswald', sans-serif;
    padding-right: 10px;
}

.summary-container-deceased {
  width: 40%;
  border: 1px solid;
  line-height: 1.6;
  margin-left: 0 !important;
  font-family: 'Oswald', sans-serif;
  padding-right: 10px;
}

.top-selector-container {
    display: -webkit-box;
    /* display: flex; */
    width: 70%;
    font-family: 'Oswald', sans-serif;
    margin: 15px 30px 15px 30px;
}

.main-container {
    font-family: 'Oswald', sans-serif !important;
}

.content-container {
    overflow-x: auto;
    width: 95%;
    margin-left: 2%;
}

.label{
  color: blue;
 }


#policies {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#policies td, #policies th {
  border: 1px solid #ddd;
  padding: 8px;
}

#policies tr:nth-child(even){background-color: #f2f2f2;}

#policies tr:hover {background-color: #ddd;}

#policies th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #6495ED;
  color: white;
}