<div class="menu-bar">
  <span class="material-icons">
    settings
  </span>
  Update Registered Healthcare Provider User
</div>

<div *ngIf="currentUser && userHealthcareproviderMap && currentUser.email == userHealthcareproviderMap.userName">
  <label class="mat-label other-label info"> <span class="material-icons smaller">
      info
    </span> You cannot edit your own user</label>
</div>

<form [formGroup]="form" class="mat-container details-form" novalidate>
  <section>
    <mat-form-field class="mat-form-field">
      <label class="mat-label other-label">Status</label>
      <mat-select name="status" id="status" formControlName="status">
        <mat-option *ngFor="let status of userHealthCareProviderMapStatusEnum" [value]="status">
          {{formatText(status)}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('status').hasError('required')">
        Status is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </section>
</form>

<span *ngIf="(form.valid && !form.pristine)" class="mat-label other-label pointer" style="margin-left: 10px;"
  (click)="save()"><span class="material-icons" style="color: green;">check_circle</span></span>
<span *ngIf="!(form.valid && !form.pristine)" class="mat-label other-label pointer" style="margin-left: 10px;"><span
    class="material-icons" style="color: lightpink;">check_circle</span></span>
<span class="mat-label other-label pointer" (click)="close()"><span class="material-icons">cancel</span></span>