.time-picker {
	height: 430px;
	width: 280px;
	padding: 0px;
	font-size: 26px;
	align-items: center;
}

.time-picker-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.time-picker-wrapper .mat-calendar {
	height: 250px;
	width: 260px;
}

.time-picker-wrapper .picker {
	display: flex;
	align-items: center;
	margin: 15px auto;
	padding: 0;
}

.time-picker-wrapper .picker .hours, .time-picker-wrapper .picker .minutes {
	display: flex;
	flex-direction: column;
	width: 50px;
	align-items: center;
}

.time-picker-wrapper .picker .hours .input, .time-picker-wrapper .picker .minutes .input {
	height: 24px;
	width: 40px;
	font-size: 14px;
	text-align: center;
	padding: 0;
}

.time-picker-wrapper .picker .separator {
	margin: 5px;
}

.time-picker-wrapper .action {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	padding: 0;
	margin: 0;
}

.time-picker-wrapper .action .mat-raised-button {
	margin-right: 20px;
	width: 100px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

.invalid {
	border-color: red;
}