
input.mat-input-element {
    height: 50px;
    border-radius: 22px !important;
}

.mat-form-field {
    width: 97% !important;
}

mat-error {
    text-align: center;
}
.placeholder{
    position: relative;
    right: -26px;
    top: 14px;
    height: 42px;
}

.mat-form-field-appearance-legacy .mat-form-field-label{
height: 42px;
}

.mat-focused .placeholder {
visibility:hidden
}

.search-icon {
    position: absolute;
    right: 16px;
    top: 7px;
    color: #33BFE6;
    border-color: none !important;
    border: none !important;
}
.clear-icon {
    color: #e63333;
    size: 12px;
    border-color: none !important;
    border: none !important;
}

.clear-button{
    position: relative;
    border: none;
    top: -25px;
    border-radius: 50%;
    border-color: none !important;
    border: none !important;
}

.searchInput{
    width: 90% !important;
}


@media screen and (max-width: 900px) {

    .clear-button{
        position: relative;
        border: none;
        top: -25px;
        border-radius: 25%;
        border-color: none !important;
        border: none !important;
    }

    .searchInput{
        width: 90% !important;
    }
}

@media screen and (max-width: 600px) {

    .placeholder{
        position: relative;
        right: -26px;
        top: 14px;
        height: 42px;
        font-size: xx-small;
    }

    .searchInput{
        width: 77% !important;
    }
}
