p {
    color: #7DC0DA;
    padding: 2px
}

.div_scroll {
    margin: 4px, 4px;
    padding: 4px;
    width: 98%;
    height: 450px;
    overflow-x: hidden;
    overflow-y: auto;
}

mat-footer-cell {
    font-weight: bold;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

.amount-adjust, .total-commission-adjust {
    margin-right: 20px;
}

.action-adjust {
    margin-right: -8px;
}