.interestIndicatorOn{
   color: white;
   background-color: green;
   float: right;
   padding: 5px;
   border-radius: 5px;
   margin-left: 10px;
}
.interestIndicatorOff{
    color: white;
    background-color: red;
    float: right;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
 }