.margins {
    margin-top: 15px;
    margin-bottom: 15px;
}


.excluded {
    text-decoration: line-through !important;
    color: gray !important;
    background-color: lightgrey !important;
}

mat-icon:hover {
    -webkit-transform: rotate(180deg);
    /* Safari */
    transform: rotate(180deg);
}

table {
    width: 100%;
}

.scrollTable {
    overflow-y: auto;
    max-height: 300px;
    font-size: small;
}

.altRowTable tr:nth-child(even) {
    background: #DEE3EB;
}

.altRowTable td {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.altRowTable th {
    background-color: #7DC0DA !important;
    color: #0a0a0a;
    padding-top: 5px;
    padding-bottom: 5px;
}

.icn {
    cursor: pointer;
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
    /* Safari */
    transition: width 1s, height 1s, transform 1s;
}

.icn:hover {
    -webkit-transform: rotate(180deg);
    /* Safari */
    transform: rotate(180deg);
}

.green {
    background-color: lightgreen !important;
    color: black !important;
}

.red {
    background-color: lightpink !important;
    color: black !important;
}

.redfont {
    color: red !important;
}

.greenfont {
    color: green !important;
}