<mat-card *ngIf="isLoading$ | async">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <label class="mat-label other-label"><i>{{loadingMessage$ | async}}</i></label>
</mat-card>

<div *ngIf="!(isLoading$ | async) && !selectedQuoteDetail">
    <mat-card>
        <div class="scrollTable">
            <table class="altRowTable">
                <tr>
                    <th>Quote Number</th>
                    <th>Product</th>
                    <th>Product Option</th>
                    <th>Status</th>
                    <th>Total Premium</th>
                </tr>
                <tr [ngClass]="{'green': validateAllQuoteDetailsSupplied(), 'red': !validateAllQuoteDetailsSupplied()}">
                    <td>{{quote.quotationNumber}}</td>
                    <td>{{getProductName(quote.productId)}}</td>
                    <td>{{getProductOptionNames(quote)}}</td>
                    <td>{{getQuoteStatus(quote.quoteStatus)}}</td>
                    <td><b>{{quote.totalPremium ? formatMoney(quote.totalPremium.toFixed(2)) : 'N/A'}}</b></td>
                </tr>
            </table>
        </div>
    </mat-card>

    <mat-card>
        <div class="scrollTable">
            <table class="altRowTable table">
                <tr>
                    <th>Product Option</th>
                    <th>Category Insured</th>
                    <th>Rate %</th>
                    <th>Average Number of Employees</th>
                    <th>Total Employee Earnings</th>
                    <th>Split %</th>
                    <th *ngIf="isMining">Live In Allowance</th>
                    <th>Premium</th>
                    <th *ngIf="!isReadOnly">Action</th>
                </tr>
                <tr *ngFor="let quoteDetail of quote.quoteDetailsV2" [ngClass]="{'excluded': isExcluded(quoteDetail)}">
                    <td>{{getProductOptionName(quoteDetail)}}</td>
                    <td>{{getCategoryInsuredName(quoteDetail.categoryInsured)}}</td>
                    <td>{{quoteDetail.industryRate}}</td>
                    <td>{{quoteDetail.averageNumberOfEmployees}}</td>
                    <td>{{quoteDetail.averageEmployeeEarnings ?
                        formatMoney(quoteDetail.averageEmployeeEarnings.toFixed(2)) : 'N/A'}}</td>
                    <td>{{quoteDetail.parentChildSplitPercentage}}</td>
                    <td *ngIf="isMining">{{quoteDetail.liveInAllowance ? quoteDetail.liveInAllowance : 'N/A'}}</td>
                    <td>{{quoteDetail.premium ? formatMoney(quoteDetail.premium.toFixed(2)) : 'N/A'}}</td>
                    <td *ngIf="!isReadOnly">
                        <span *ngIf="!quoteDetail.isDeleted" class="material-icons pointer" matTooltip="edit"
                            (click)="quoteDetailSelected(quoteDetail)"
                            [ngClass]="{'greenfont pulse': quoteDetail.premium && quoteDetail.premium != 0, 'redfont pulse': !quoteDetail.premium || quoteDetail.premium == 0}">
                            settings
                        </span>
                        <a *ngIf="quoteDetail.isDeleted" role="button" class="link-edit pointer" matTooltip="include"
                            (click)="exclude(quoteDetail)">
                            <span class="material-icons pointer">
                                add_circle
                            </span></a>
                        <a *ngIf="!quoteDetail.isDeleted" role="button" class="link-edit pointer" matTooltip="exclude"
                            (click)="exclude(quoteDetail)">
                            <span class="material-icons pointer">
                                do_disturb_on
                            </span></a>
                    </td>
                </tr>
            </table>
        </div>
    </mat-card>
</div>
<div *ngIf="selectedQuoteDetail">
    <mat-card>
        <div class="menu-bar">
            <span class="material-icons">
                engineering
            </span>
            Quote Detail
            <span (click)="reset()" class="material-icons pointer right" matTooltip="cancel">
                close
            </span>
            <span *ngIf="form.valid && !form.pristine" (click)="save()" class="material-icons pointer right pulseGreen"
                matTooltip="save">
                save
            </span>
        </div>
        <form [formGroup]="form" class="mat-container details-form" novalidate>
            <section>
                <mat-form-field class="mat-form-field">
                    <label class="mat-label other-label">Product Option</label>
                    <input matInput formControlName="productOption" name="productOption" id="productOption" />
                </mat-form-field>
                <mat-form-field class="mat-form-field-right">
                    <label class="mat-label other-label">Category Insured</label>
                    <input matInput formControlName="categoryInsured" name="categoryInsured" id="categoryInsured" />
                </mat-form-field>
            </section>
            <section>
                <mat-form-field class="mat-form-field">
                    <label class="mat-label other-label">Rate</label>
                    <input DecimalNumber matInput formControlName="industryRate" name="industryRate" id="industryRate" />
                </mat-form-field>

                <mat-form-field *ngIf="isMining && selectedQuoteDetail.categoryInsured == unSkilled"
                    class="mat-form-field-right">
                    <label class="mat-label other-label">Number of Employees Receiving Live In
                        Allowance<i> (LIA: {{formatMoney(getLiveInAllowanceForCoverPeriod().toFixed(2))}})</i></label>
                    <input (input)="validate()" matInput NumberOnly formControlName="liveInAllowance"
                        name="liveInAllowance" id="liveInAllowance" />
                    <mat-error *ngIf="form.get('liveInAllowance').hasError('min')">
                        minimum allowable number of employees receiving LIA <strong>exceeded</strong> (minimum
                        allowable: 0)
                    </mat-error>
                    <mat-error *ngIf="form.get('liveInAllowance').hasError('max')">
                        maximum allowable number of employees receiving LIA <strong>exceeded</strong> (maximum
                        allowable: {{form.get('averageNumberOfEmployees').value ?
                        form.get('averageNumberOfEmployees').value : 0}})
                    </mat-error>
                </mat-form-field>
            </section>
            <section>
                <mat-form-field class="mat-form-field">
                    <label class="mat-label other-label">Average Number of Employees</label>
                    <input (input)="validate()" matInput NumberOnly formControlName="averageNumberOfEmployees"
                        name="averageNumberOfEmployees" id="averageNumberOfEmployees" />
                    <mat-error *ngIf="form.get('averageNumberOfEmployees').hasError('required')">
                        average number of employees is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="mat-form-field-right">
                    <label class="mat-label other-label">Total Employee Earnings</label>
                    <input (input)="validate()" matInput DecimalNumber formControlName="averageEmployeeEarnings"
                        name="averageEmployeeEarnings" id="averageEmployeeEarnings" />
                    <mat-error *ngIf="form.get('averageEmployeeEarnings').hasError('required')">
                        total employee earnings is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="form.get('averageEmployeeEarnings').hasError('min')">
                        minimum allowable earnigs per employee is too <strong>low</strong> (minimum allowable: {{configuredMaximum && minimumAllowableEarningsPerEmployee > 0 ? formatMoney(minimumAllowableEarningsPerEmployee.toFixed(2)) : 'not configured'}})
                    </mat-error>
                    <mat-error *ngIf="form.get('averageEmployeeEarnings').hasError('max')">
                        maximum allowable earnigs per employee <strong>exceeded</strong> (maximum allowable: {{configuredMaximum && maximumAllowableEarningsPerEmployee > 0 ? formatMoney(maximumAllowableEarningsPerEmployee.toFixed(2)) : 'not configured'}})
                    </mat-error>
                </mat-form-field>
            </section>
        </form>
    </mat-card>
</div>