a{
    cursor: pointer;
}

.highlightSelectedRecordColor{
    background-color: gray;
  }
  
  .element-row {
    cursor: pointer;
  }

  .border {
    width: 100%;
    border-style: dashed;
    border-color: lightgray;
    border-width: 2px;
    text-align: center;
    height: 50px;
    padding-top: 20px;
  }