<div class="wizard-main-content">
    <mat-card class="wizard-mat-card-content">
      <mat-card-content class="mat-card-content">
        <form [formGroup]="form" class="mat-container details-form" novalidate>
          
            <section>
                <mat-checkbox id="isOccurAtNormalWorkplace" name="isOccurAtNormalWorkplace" formControlName="isOccurAtNormalWorkplace" (change)="isOccurAtNormalWorkplace($event)">
                    <label class="mat-label other-label">Occured At Normal Workplace</label>
                </mat-checkbox><br/>
                <mat-checkbox id="isRoadAccident" name="isRoadAccident" formControlName="isRoadAccident" (change)="isRoadAccident($event)">
                    <label class="mat-label other-label">Road Accident</label>
                </mat-checkbox>
      
                  <mat-checkbox id="isOnBusinessTravel" name="isOnBusinessTravel" formControlName="isOnBusinessTravel" (change)="isOnBusinessTravel($event)">
                    <label class="mat-label other-label">Occured On Business Travel</label>
                </mat-checkbox><br/>
                <mat-checkbox id="isTrainingTravel" name="isTrainingTravel" formControlName="isTrainingTravel" (change)="isTrainingTravel($event)">
                    <label class="mat-label other-label">Occured On Training Travel</label>
                </mat-checkbox>
              </section>

              <section>
                  <mat-checkbox id="isTravelToFromWork" name="isTravelToFromWork" formControlName="isTravelToFromWork" (change)="isTravelToFromWork($event)">
                      <label class="mat-label other-label">Travelling From Work</label>
                  </mat-checkbox><br/>
                  <mat-checkbox id="isOnCallout" name="isOnCallout" formControlName="isOnCallout" (change)="isOnCallout($event)">
                      <label class="mat-label other-label">On Call Out</label>
                  </mat-checkbox>
        
                    <mat-checkbox id="isOnStandby" name="isOnStandby" formControlName="isOnStandby" (change)="isOnStandby($event)">
                      <label class="mat-label other-label">On Stand By</label>
                  </mat-checkbox><br/>
                  <mat-checkbox id="isPublicRoad" name="isPublicRoad" formControlName="isPublicRoad" (change)="isPublicRoad($event)">
                      <label class="mat-label other-label">Occured On Public Road</label>
                  </mat-checkbox>
                </section>

        <section>
            <mat-checkbox id="isPrivateRoad" name="isPrivateRoad" formControlName="isPrivateRoad" (change)="isPrivateRoad($event)">
                <label class="mat-label other-label">Occured On Private Road</label>
            </mat-checkbox><br/>
            <!-- <mat-checkbox id="isRoadAccident" name="isRoadAccident" formControlName="isRoadAccident" (change)="isRoadAccident($event)">
                <label class="mat-label other-label">On Call Out</label>
            </mat-checkbox> -->

            <mat-form-field class="mat-form-field-right">
                <label class="mat-label other-label ">Vehicle Make</label>
                <input matInput maxlength="50" id="vehicleMake" name="vehicleMake"
                  formControlName="vehicleMake" />
              </mat-form-field>
          </section>

          <section>
              <mat-form-field class="mat-form-field-right">
                  <label class="mat-label other-label ">Vehicle Registration</label>
                  <input matInput maxlength="50" id="vehicleRegNo" name="vehicleRegNo"
                    formControlName="vehicleRegNo" />
                </mat-form-field>

              <mat-form-field class="mat-form-field-right">
                  <label class="mat-label other-label ">Third Party Vehicle Make</label>
                  <input matInput maxlength="50" id="thirdPartyVehicleMake" name="thirdPartyVehicleMake"
                    formControlName="thirdPartyVehicleMake" />
                </mat-form-field>
          </section>

          <section>
              <mat-form-field class="mat-form-field-right">
                  <label class="mat-label other-label ">Third Party Vehicle Registration</label>
                  <input matInput maxlength="50" id="thirdPartyVahicleRegNo" name="thirdPartyVahicleRegNo"
                    formControlName="thirdPartyVahicleRegNo" />
                </mat-form-field>

              <mat-form-field class="mat-form-field-right">
                  <label class="mat-label other-label ">Police Reference</label>
                  <input matInput maxlength="50" id="policeReferenceNo" name="policeReferenceNo"
                    formControlName="policeReferenceNo" />
                </mat-form-field>
          </section>
  
          <section>
            <mat-form-field class="mat-form-field-right">
              <label class="mat-label other-label ">Police Station Name</label>
              <input matInput maxlength="50" id="policeStationName" name="policeStationName"
                formControlName="policeStationName" />
            </mat-form-field>

          </section>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  
  <style>
        
    .mat-datepicker-content-touch .mat-calendar {
      max-height: 312px !important;
      max-width: 250px !important;
    }
  
    .mat-datepicker { width: 375px !important; }
  
    .picker-toggle {
      margin: 15px 0px 20px -5px;
      position: absolute;
    }
  </style>