
.outstanding {
    color: rgb(218, 17, 17) !important;
}

.amber {
    color: rgb(224, 140, 13) !important;
}

.greenLabel{
    color: rgb(14, 165, 27) !important;
}

.neutral{
    color: rgb(0, 0, 0) !important;
}

.margin{
    width: 97%;
    margin-left: 10px;
}
