.pointer {
    cursor: pointer;
}

.right {
    float: right !important;
}

.addIcon {
    margin-right: 10px !important;
}

.pad {
    background-color: #DEE3EB !important;
}

.filterControl {
    width: 98%;
}

.pageWidth {
    width: 99%;
}

.controlSize {
    width: 48%;
}

.mat-datepicker-toggle {
    position: absolute;
    margin-top: 13px;
    right: 0;
}