<div class="menu-bar">
    <span class="material-icons">
        info
    </span>
    <span (click)="cancel()" class="material-icons pointer right" matTooltip="close">
        cancel
    </span>
</div>
<mat-card>
    <table>
        <tr class="ChildData">
            <td><b>IS Chart NO:</b> {{chartIsNo}}</td>
        </tr>
        <tr class="ChildData">
            <td><b>IS Chart Name:</b> {{chartIsName}}
            </td>
        </tr>
        <tr class="ChildData">
            <td><b>BS Chart NO:</b> {{chartBsNo}}</td>
        </tr>
        <tr class="ChildData">
            <td><b>BS Chart Name:</b> {{chartBsName}}
            </td>
        </tr>
        <tr class="ChildData">
            <td><b>Product:</b> {{level1}}</td>
        </tr>
        <tr class="ChildData">
            <td><b>Cost Center:</b> {{level2}}</td>
        </tr>
    </table>
</mat-card>