div.heading {
  font-size: larger;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-align: center;
  background-color: #005A7C;
  padding: 7px;
}

label.reportStatusAcceptedLabel{
  font-size: 14px;
  font-weight: bold;
  color: green;
}

label.reportStatusRejectedLabel{
  font-size: 14px;
  font-weight: bold;
  color: red;
}

label.reportStatusPendingLabel{
  font-size: 14px;
  font-weight: bold;
}

label.reportStatus{
  font-size: 14px;
}

span {
  display: inline-block; 
  vertical-align: middle;
}

div.alignRight {
  text-align: right;
}

div.auto {
  width: 100%; 
  margin: 0, auto;
}