<div class="page-header">
    <h1>Import Group Funeral Lives</h1>
</div>
<div>
    <p>
        <a class="link-edit list-pointer" (click)="downloadTemplate()">Download Template</a>
    </p>
</div>
<div style="padding-top: 15px;">
    <upload-control #uploadControl [label]="'Import Group Funeral Lives'" [acceptedTypes]="'.csv'" [isSingleInput]="true"></upload-control>
</div>

<div>
    <div class="form-buttons" (click)="save()">
        <button class="button float-button submit-button" [disabled]="disabled">Upload File</button>
    </div>

    <div (click)="back()" class="form-buttons submit-button">
        <button type="button" class="button float-button">Back</button>
    </div>
</div>