.form{
  height: 450px !important;
  background-color:  #F2F2F2;
}

.grey{
  left: -20 !important;
}

.mat-card {
  box-shadow: none;
  background-color: #F2F2F2;
  font-family: 'Oswald', sans-serif;
  min-height: 250px !important;
}