.acknowledgement-div{
  padding: 24px 0px 0px;
}

.ack-div-value{
  padding: 0px 24px;
}

.legal-common-dialog, .send-email-div-inside{
position: relative;
}

.ac-padding{
  padding: 18px !important;
}

.rbt-2{
  width: 30% !important;
  display: flex !important;
  align-items: center !important;
}

.send-email-action-btns{
  padding: 0px 18px !important
}

.height-auto{
  height: auto !important;
}

.email-chips-values{
  width: 100% !important; 
  margin: 0px 10px !important;
}

.document-details{
  padding-top: 16px;
}

.heading-text-space{
  margin-left: 5px;
}

.margin-left-text-0{
  margin-left: 0px !important;
}

.margin-left-text{
  margin-left: 15px !important;
}

.padding-left-text{
  padding-left: 12px !important;
}
.half-view{
  width: 100%;
}

.full-view{
  width: 100%;
}

.full-view-shrinked{
  width: 98%;
}

.table-row-data{
  border: none;
  padding: 8px 10px;
  font-size: 14px;
}

.ack-top-padding{
  margin-top: 25px;
}

.doc-pack-div{
  width: 55%;
  margin: 0px 2px
}

.time-picker{
  border: none !important;
  font-size: 16px !important;
}

.time-text{
  text-align: left;
}

.selected-item-2{
  display: block !important;
  float: left !important;
}

.meeting-title{
  padding-left: 4px;
}

.tab-active{
  background: #BDE3F6;
}

.tab-inactive{
  background: #FFF
}

.attendies-name {
  white-space: nowrap; 
  overflow-x: auto;
}

.attendies-table-details{
  padding: 8px 18px 48px;
}

.doc-pack-btns{
  padding-left: 8px;
}

.schedule-text-div{
  padding: 10px 0px;
}

.add-schedule-meeting{
  font-size: 15px;   
  border-bottom: 1px solid #b8b3b3; 
  padding-bottom: 7px;
}

.border-bottom-none{
  border-bottom:none !important;
}

.ack-add-description{
  width: 55%;
  margin: 0px 2px;
  visibility: hidden;
}

.sub-btn-right{
  padding: 20px 0px 0px 0px !important;
}

.cursor-pointer{
  cursor: pointer;
}

.no-padding{
  padding: 0px;
}

.shrink-field{
  width: 100% !important;
}

.transfer-field{
  width: 98% !important;
}

.align-text-left{
  text-align: left;
}

hr{
  border-top: 0.2px solid #D6D6D6;
}

.border-top-none{
  border-top: none !important;
}

p{
  font-family: Montserrat;
}

.heading-tab-btns{
  border-radius: 3px;
  background: #BDE3F6;color: #006586;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700; 
  pointer-events: none;
}

.height-meeting-table{
  max-height: 30vh !important;
  overflow-y: auto !important;
}

.meeting-table-padding{
  padding: 8px 0px 48px !important;
}

.flex-view{
  display: flex !important;
  width: 100%;
}

.view-three-fourth{
  width: 75%
}

.view-one-fourth{
  width: 25%;
}

.view-one-third{
  width: 33.33% !important;
}

.view-half{
  width: 49.3%;
}

.amount-input-field{
  margin-left: 4px !important;
}

.justify-right{
  justify-content: flex-end
}

.justify-center{
  justify-content: center
}

.email-text-1{
  padding: 4px 0px 0px 8px;
  border: 0px;
}

.email-text-2{
  padding: 4px 0px 0px 8px;
  border: 0px;
}

.common-form-dialog, .dialog-form-field{
  width: 100% !important;
  margin: 0px 10px !important;
}

.table-data-inside{
  border: none;
  padding: 18px 0px 18px 12px;
  font-size: 14px;
}



.invoice-table-height{
  max-height: 40vh;
  overflow-y: auto;
}

.invoice-table-heading-content{
  text-align: left;
  padding-left: 33px;
}

.que-text-div{
  width: 45%;
  margin: 0px 2px;
}

.inside-view{
  width: 100%;
  margin: 0px 2px;
}

.recovery-btn{
  padding: 8px 8px 18px 0px;
  border-bottom: 1px solid #EDEDED;
}
.spinner-view{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}

.upload-doc-lable{
  margin: 12px 0px 8px 4px;
}

.red-border {
  border-color: red;
}

.warning-text{
  color: red;
}

.LR-Border{
  margin: 0px 8px;
}

.on-enabled{
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
}

.on-disabled{
  opacity: 0.5;
  pointer-events: none;
  cursor: auto;
}

.acknowledged-tab{
  background: #33C601
}

.pending-tab{
  background:#F00
}

.radio-enabled{
  color: #006586
}

.radio-disabled{
  color: #000
}

.cursor-style{
  pointer-events: none;

}
.set-time input{
  pointer-events: none !important;

}
.inv-tab-heading-padding{
  padding-left: 15px;
}

.inv-tab-heading-act-padding{
  padding-left: 22px;
}

.select-action{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.select-mat-field{
border: none !important;
margin: 4px 0px 4px 0px !important;
}

h2{
  margin: 8px 0px;
}
.action-div{
  display: flex;
  padding: 54px 0px 16px 0px;
  justify-content: flex-end;
}

.font-weight-value{
  font-weight: 500;
}

.input-height{
  height: 36px;
}

.action-btn-right{
  justify-content: flex-end;
}

.action-div-padding{
  padding: 50px 0px 24px 0px;
}

.option-yes{
  padding-right: 16px;
}

.option-no{
  padding-left: 16px;
}

.ack-que{
  margin: 0;
  padding: 0px 0px 8px 0px;
  margin-top: 15px;
}

.form-field-validations-text{
  color: red;
  margin-left: 0 !important;
}

.cursor-auto{
  cursor: auto;
}

.padding-none{
  padding: 0px;
}
.margin-none{
  margin: 0 !important;
}
.input-field-data{
  cursor: pointer; 
  border: none !important;
}

.dn-btn{
  padding: 4px 0px
}

.file-name-tab-padding{
  padding-left: 33px !important;
}

.hidden-visibility{
  visibility: hidden;
}

.add-des-field{
  width: 48%;
  margin: 0px 2px;
}

.acknowledgement-div{
  padding: 0px 0px !important;
}

.div-radio{
  display: flex;
  margin: 15px 0px;
}

.message-box{
  display: flex;
  flex-direction: column;  
  width: 100%; 
}

.message-textarea{
  resize: none;
  border-radius: 5px;
  border: 1px solid #E4E4E4;
  outline: #E4E4E4;
  color: #000;
  font-family: Montserrat;
  padding: 8px;
  font-size: 16px;
  max-width: 100% !important;
}

.heading-text-div{
padding: 20px 2px 10px;
border-radius: 7px 7px 0px 0px;
border-bottom: 2px solid #ece8e8;
}

.heading-text{
  color: #006586;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.action-btns{
  color: #061E2F;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.34px;
  margin-right: 18px;
}

.margin-right{
  margin-right: 10px;
}
.margin-right-addNote{
  margin-right: 24px;
}
.action-submit{
  border-radius: 5px;
  background: linear-gradient(90deg, #008EB3 0%, #00BCE7 100%);
  color: #FFF;
  border: 0;
  width: 280px;
  height: 46px;
  display: flex;
  justify-content: center;
  letter-spacing: 2.52px;
}   

.action-btns span{
  border-bottom: 2px solid #EDEDED;
  padding-bottom: 4px;
}

.question-div{
  padding: 8px 0px 8px;
}

.question-div p{
  margin: 5px;
}

.action-icon{
  opacity: 0.8;
  padding-right: 8px;
}

mat-icon{
  cursor: pointer;
}

.document-value-text{
  padding-left: 12px;
  display: inline-block;
  width: 90%;
}

.current-document-list{   
  max-height: 25vh;
  overflow-y: auto;
}

.align-center{
  display: flex;
  align-items: center;
}

.center-align{
  display: flex;
  justify-content: center;
}

.radio-btn{
  display: flex;
  align-items: center;
  padding: 0px 35px 0px 0px;
}

.radio-btn input, label{
  cursor: pointer;
}

span, p, h2 , input, th, td{
  font-family: Montserrat;
}

.radio-btn-input{
  width: 18px;
  height: 18px;
  margin-left: 0;
}

.input-margin{
  margin: 0px 2px !important;
}

.arrow-fwd{
  width: 20%;
  height: 70px;
  display: flex;
  align-items: center; 
  padding-top: 18px;
  justify-content: center;
}

.arrow-fwd-2{
  height: 24px;
  width: 32px;
}

.meeting-content-padding{
  padding: 8px 18px 0x;
}


.status-update-mff{
  width: 100%;
}

.existing-docs{
  border: 1px solid #BEBEBE;
  background: #FFF;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 8px;
}

.pack-docuemnts-tab-btn{
  width: 48%;
  margin: 0px 5px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #346FE2;
  background: #FFF;
}

.pack-docuemnts-tab-btn span{
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
color: #061E2F;;
}

.table-documents {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.back-icon{
  color: #061E2F;
  font-size: 18px;
  height: 28px;
  width: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #EDEDED;
  padding: 4px;
  cursor: pointer;
}

.documents-folder{
  cursor: pointer;
}

.table-documents, .table-inside{
  width: 100%;
}

.table-inside{
border-collapse: collapse;
}

.table-inside .td-inside{
  border: none;
  padding: 18px 0px 18px 8px;
  font-size: 14px;
}

.no-border-content{
  border: none !important;
}
.no-border-content.invalid-input{
  border: none !important;
}

.th-inside{
  padding: 0px;
}

.heading-row, .th-inside{
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  padding: 23px 10px 8px;
  font-size: 13px;
}

.content-row{    
  background: #F8F7F7;
  border-top: 8px solid #FFF
}

.invoice-status{
  border-radius: 5px;
  padding: 4px 0px;
  color: #FFFF;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  padding: 8px 8px; 
}

.inv-status{
  width: 60%;
  text-align: center;
}

.add-payment-form{
  max-height: 55vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.upload-inv-btn{
  background: #FFF;
  border: none;
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
}
.upload-inv-btn span{
  color: #00597C;
  font-size: 13px;
  font-weight: 600;
  margin-left: 5px;
}

.button-active{
  border-radius: 3px;
  color: #006586;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700; 
  cursor: pointer;
}

.meeting-upload-doc{
  border: none !important;
}

.upload-icon{
  color: #00597C;
}

input, button{
  outline: none;
  cursor: pointer;
}

.doc-name-tab{
  border-radius: 5px;
  border: 1px solid #346FE2;
  background: #346FE2;
  color: #FFF !important;
  pointer-events: none;
}

.doc-name-option-tab{
  font-size: 14px;
  border-bottom: 1px solid #ABABAC;
  padding-bottom: 4px;
  margin: 0px 8px;
  font-weight: 600;
  cursor: pointer;
}

.checkbox-and-text{
  display: flex;
  align-items: center;
}

.checkbox-and-text .text-span{
  padding-left: 8px;
}

.date-picker-field{
  width: 100%;
}

.meeting-schedule-div{
  display: flex;
  margin: 16px 0px;
}

.meeting-schedule-div .scheduled-box{
  width: 33.33%;
  text-align: center;
  padding: 16px 0px;
  border: 1px solid #dddddd;
}

.td-inside-action span{
  padding-bottom: 3px;
  padding-right: 6px;
  }

  .progress-bar-container{
    height: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
}  

.invalid-input{
  border: 2px solid #f44336 !important;
}
.invalid-text{
color: red;
font-size: 16px;
margin-left: 0 !important;
}
.amount-input {
display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0 15px;
  border-radius: 4px;
}
.popup-label-text{
font-family: Montserrat; 
font-size: 16px;
font-weight: 500;
color: rgba(0, 0, 0, 1);
margin-left: 0;
}

.time-picker {
position: relative;
cursor: pointer;
}
.time-picker::-webkit-calendar-picker-indicator {
background-repeat: no-repeat;
display: inline-block;
fill: currentColor;
height: 24px;
width: 24px;
cursor: pointer;
}
.mat-chip-list-input{
font-size: 14px;
}

.legal-mat-chips{
padding-bottom: 8px;
}

.mat-chip-email-error{
color: red;
padding-top: 6px;
font-size: 14px;
}

.labelTextCss{
padding-right: 14px;
}

.file-upload-button {
background: transparent;
overflow: hidden;
position: relative;
border: 1px solid blue;
border-radius: 2px;
font-size: 16px;
display: flex;
flex-direction: column;
align-items: center;
cursor: pointer;
width: 15%;
padding: 0px;
}

.jd-2{
  border:none !important;
  display: block;
  float: left;
}

.zero-margin-top{
  margin-top: 5px !important;
  top: 0;
}

.border-none-data{
  border:none !important;
}

.sub-height{
  height: 48px;
}

.borderCss-2{
  width: 100%;
  margin-right: 15px;
}

.download-btn{
  padding: 4px 0px;
}

.file-upload-button ::after {
color: #000;
font-size: 1.5rem;
text-align: center;
}

.add-doc-message{
  text-align: center;
  padding-top: 5px;
  width: 70%;
}

.file-upload-button input[type="file"] {
left: 0;
opacity: 0;
position: absolute;
top: 0;
}

.legal-common-dialog ::-webkit-scrollbar {
width: 0.2em !important;
background-color: white !important;
}

.legal-common-dialog ::-webkit-scrollbar-thumb {
outline: 1px solid #006586 !important;
background: #006586 !important;
}

.no-data h2{
  color: #006586;
  text-align: center;
}

.acknowledgement-div h2{
  color: #006586;
}

.align-text-center{
  text-align: center;
}


.dropdown {
  max-height: 300px;
    overflow-y: auto;
    width: 49%;
    background-color: #ffffff;
    color: #333333;
    border-radius: 5px;
    border: 1px solid #BEBEBE !important;
    background-color: #e0e0e0;
  color: rgba(0, 0, 0, .87);
}

.option {
  border-bottom: 2.5px solid skyblue;
  color: #000;
  padding-bottom: 4px;
  padding: 5px;
  cursor: pointer;
}
.width-auto {
  width: auto
}

.width-border {
  width: auto !important;
  border: none !important
}
.ac-rt{
  padding: 0px 24px 24px 24px !important;
}

.selected-items {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px; 
  padding: 12px 0;
  
}
.selected-item {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
  background-color: #101010;
  color: #ffffff;
}

.selected-item span {
  margin-left: 5px;
  cursor: pointer;
}

.mat-form-field.has-selected-items .mat-form-field-wrapper {
  position: relative;
}

.mat-form-field.has-selected-items input {
  width: auto; 
}

.upload-heding{
  color: #006586;
}

.doc-file-name-width {
  width: 70%;
}

.margin-top-value{
  margin-top: 4px;
}

.upload-from-local-div{
  text-align: center;
  border-radius: 10px;
  border: 2px dashed #EDEDED;
  background: #F0F9FF;
  padding-top: 48px;
  width: 70%;
  margin-top: 24px
}

.upload-message{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.browser-file-tab{
  color: rgba(0, 0, 0, 0.70);
  font-size: 16px;
  font-weight: 700;
  padding-top: 12px;
  cursor: pointer;
}

h2, span{
  font-family: Montserrat;
}

.add-description-doc{
  display: flex;
  justify-content: center;
  margin-top: 18px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.spinner-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.spinner-enabled {
  pointer-events: auto;
  opacity: 1;
}
