.flex-parent-element {
  display: flex;
  width: 100%;
}

.flex-child-element {
  flex: 1;
  width: 25%;
  margin: 10px;
}

.altRowTable td {
  text-align: left !important;
  padding-left: 15px !important;
  height: 15px;
}

