mat-form-field {
  width: 100%;
}

input.mat-input-element {
  height: 50px;
  border-radius: 22px !important;
}

mat-error {
  text-align: center;
}

.placeholder{
  position: relative;
  right: -26px;
  top: 14px;
  height: 42px;
}

.mat-form-field-appearance-legacy .mat-form-field-label{
  height: 42px;
}

.mat-focused .placeholder {
  visibility:hidden
}

.search-icon {
  position: absolute;
  right: 16px;
  top: 7px;
  color: #33BFE6;
}

.search-icon:hover {
  cursor: pointer
}

h2 {
  color: #00bce7;
  font-size: 1.2em;
  font-weight: normal;
  margin: 0px;
}

.matCard {
  margin: 0 0 0 30px; 
  padding: 30px;
}

.matCardContent {
  margin-left: 10px;
}

.hidden {
  visibility: hidden;
}

.cursorPointer {
  cursor: pointer;
}