.upload-from-local-div{
    text-align: center;
    border-radius: 10px;
    border: 2px dashed #EDEDED;
    background: #F0F9FF;
    /* padding: 24px 0px; */
}

.upload-mssage{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.browser-file-tab{
    color: rgba(0, 0, 0, 0.70);
    font-size: 16px;
    font-weight: 700;
    padding-top: 12px;
    cursor: pointer;
}

h2, span{
    font-family: Montserrat;
}
