
.divAlign {
    margin-left: 10px !important;
    width: 38% !important;
}

.mainDiv{
    margin-left: 10px !important;
}

.material-icons.lightGreen { color: rgb(47, 145, 47); }
.material-icons.lightAmber { color: rgb(247, 167, 71); }
.material-icons.lightRed{ color: rgb(253, 100, 100) }
.material-icons.lightBlue { color: #00BCe7; }

.mat-dialog-content {
    display: block;
    padding: 0 24px !important;
    -webkit-overflow-scrolling: touch !important;
    -webkit-backface-visibility: hidden !important;
    backface-visibility: hidden !important;
    overflow-x: hidden !important;
}

.Arabic {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    /* background: #fff; */
    font-size: 16px/20px;
    font-weight: normal;
    color:#00BCe7;
    text-shadow: 0 0 0  #4E8BB7;
  }

  .ArabicSubTitle {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    /* background: #fff; */
    font-size: 8px/12px;
    font-weight: normal;
    color:#00BCe7;
    text-shadow: 0 0 0  #4E8BB7;
  }


.mat-radio-button{
    margin: 0 10px 0 0;
}

// .datepickerToggle{
//   position: absolute !important;
//   right: 0 !important;
//   top: 13px !important;
// }


.button {
    background-color: #51627c;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    width: 168px;
    height: 35px;
    color: white;
}

.icon {
    color: rgb(84, 90, 84);
    vertical-align: middle !important;
    font-size: 30px;
  }
