.mat-datepicker-content-touch .mat-calendar {
    max-width: 250px !important;
    max-height: 312px !important;
}

.mat-datepicker {
    width: 375px !important;
}

.picker-toggle {
    position: absolute;
    margin: 15px 0px 20px -5px;
}
#div1 {
    display: inline-block;
}

#div2 {
    display: inline-block;
}

#div3 {
    display: inline-block;
}