.content{
    margin-left: 10px !important; 
    margin-top: 0px !important;
}

.card{
}

.inputControl{
    width: 80% !important;
    white-space: normal;
}


@media screen and (max-width: 500px) {
    .inputControl{
        width: 80% !important;
        white-space: normal;
        font-size: x-small;
    }
}