.termsWizardinProgress {
    font-weight: bold;
    color: gray;
}

.searchFailed {
    color: orange;
    margin-top: 10px;
}

.searchResultsWidth {
    width: 100%;
    padding: 15px;
}

.smallRedFont {
    color: red;
}

.leftMargin {
    margin-left: 10px
}

.searchBgColor {
    background-color: #f2f2f2;
}

#table,
th,
td {
    background-color: #F7F7F7;
    ;
    color: #000;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
}

.labelParagraph {
    background-color: #F7F7F7;
    color: #000;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: bold;
}

.footerBold {
    font-weight: bold;
}

.errorMessage{margin-top: 10px; color: red; font-style: italic;}
.redCompliance {
    color: #fff;
    background: rgb(255, 105, 105);
 }
.greenCompliance {
  color: black;
  background: lightgreen;
}
.amberCompliance {
  background: #ffaa6d;
  color: #fff;
}
.notApplicableCompliance {
  background: white;
  color: black;
}
.loadingCompliance {
  background: white;
  color: black;
}
.errorMessage {
    margin-top: 10px;
    color: red;
    font-style: italic;
}

mat-panel-description.left-aligned {
    text-align: start;
    display: flex;
  }