.target-confirmation {
    padding-left: 16px;
    margin-bottom: 30px;
}
.note-text-control {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 200px
}
.second-checkbox {
    margin-left: 3px;
}
.mat-column-mobileNumber {
  max-width: 120px !important;
}
.mat-column-actions {
  min-width: 280px !important;
  max-width: 280px !important;
}
.disabled-link {
  color: lightgray;
}
