<div class="menu-bar">
  <span class="material-icons">history</span>
  Penalties
  <span *ngIf="hideForm" (click)="cancelDialog()" class="material-icons pointer right" matTooltip="close">
    close
  </span>

  <span *ngIf="!hideForm" (click)="cancelForm()" class="material-icons pointer right" matTooltip="cancel">
    cancel
  </span>

  <span *ngIf="!hideForm && form.valid && !form.pristine" (click)="add()" class="material-icons pointer right"
    matTooltip="confirm">
    save
  </span>

  <span (click)="showForm()" *ngIf="(!isReadOnly && isWizard) && hideForm" class="material-icons pointer right"
    matTooltip="add">add_circle</span>
</div>

<mat-card *ngIf="isLoading$ | async">
  <mat-progress-bar style="width: 300px;" mode="indeterminate"></mat-progress-bar>
  <label class="mat-label other-label"><i>loading...please wait</i></label>
</mat-card>

<mat-card *ngIf="!(isLoading$ | async)">
  <div
    *ngIf="((industryClassDeclarationConfig && industryClassDeclarationConfig.declarationPenaltyPercentages && industryClassDeclarationConfig.declarationPenaltyPercentages.length <= 0 && hideForm) || (!industryClassDeclarationConfig.declarationPenaltyPercentages && hideForm))">
    <i>No penalty configured...</i>
  </div>

  <div class="scrollTable"
    *ngIf="industryClassDeclarationConfig && industryClassDeclarationConfig.declarationPenaltyPercentages && industryClassDeclarationConfig.declarationPenaltyPercentages.length > 0 && hideForm">
    <table class="altRowTable table">
      <tr>
        <th>Penalty %</th>
        <th>Effective From</th>
        <th>Effective To</th>
        <th *ngIf="(!isReadOnly && isWizard)">Action</th>
      </tr>
      <tr *ngFor="let declarationPenaltyPercentage of industryClassDeclarationConfig.declarationPenaltyPercentages">
        <td>{{declarationPenaltyPercentage.penaltyPercentage ?
          formatMoney(declarationPenaltyPercentage.penaltyPercentage.toFixed(2)) :
          '0.00'}}</td>
        <td>{{declarationPenaltyPercentage.effectiveFrom | date:'yyyy/MM/dd'}}</td>
        <td *ngIf="declarationPenaltyPercentage.effectiveTo">{{declarationPenaltyPercentage.effectiveTo |
          date:'yyyy/MM/dd'}}</td>
        <td *ngIf="!declarationPenaltyPercentage.effectiveTo"><span class="green">Current</span></td>
        <td *ngIf="(!isReadOnly && isWizard)">
          <span><a role="button" class="link-edit" (click)="edit(declarationPenaltyPercentage)"><span
                class="material-icons pointer" matTooltip="Edit">settings</span></a></span>
          <span
            *ngIf="!declarationPenaltyPercentage.declarationPenaltyPercentageId || declarationPenaltyPercentage.declarationPenaltyPercentageId <= 0"><a
              role="button" class="link-edit" (click)="delete(declarationPenaltyPercentage)"><span
                class="material-icons pointer" matTooltip="Delete">delete</span></a></span>
        </td>
      </tr>
    </table>
  </div>

  <div *ngIf="!hideForm">
    <form [formGroup]="form" class="mat-container details-form" novalidate>
      <section>
        <mat-form-field class="mat-form-field">
          <label class="mat-label other-label mandatory">Penalty %</label>
          <input matInput NumberOnly formControlName="penaltyPercentage" name="penaltyPercentage"
            id="penaltyPercentage" />
          <mat-error *ngIf="form.get('penaltyPercentage').hasError('required')">
            penalty % <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </section>
      <section>
        <mat-form-field class="mat-form-field">
          <label class="mat-label other-label">Effective From</label>
          <input matInput formControlName="effectiveFrom" [matDatepicker]="effectiveFrom" [min]="minDate">
          <mat-datepicker-toggle matSuffix [for]="effectiveFrom">
          </mat-datepicker-toggle>
          <mat-datepicker touchUi="true" #effectiveFrom></mat-datepicker>
          <mat-error *ngIf="form.get('effectiveFrom').hasError('required')">
            effective from is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </section>
    </form>
  </div>
</mat-card>