.grid-container {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 33% 34% 33%;
}
.grid-email-item {
    border: 1px solid #005A7C;
    overflow: hidden;
    font-size: 50%;
}
.image-drop {
    border: 3px solid red !important;
    background-color: yellow !important;
}
.edit-container {
    display: grid;
    grid-gap: 4px;
    grid-template-columns:75% 25%;
}
.template-container {
  width: 100%;
}
.token-container {
  right: 25px;
  margin-top: -29px;
  position: fixed;
}
.delete-token {
  padding-top: 5px;
  opacity: 0.3;
}

.template-container img {
  background-repeat: no-repeat;
  background-image: url('/assets/images/drop_placeholder.png');
}
