.override-flex-direction {
    flex-direction: row !important;
}

.mg-b-15 {
    margin-bottom: 15px !important;
}

.mg-b-25 {
    margin-bottom: 25px !important;
}

.button-spacing {
    padding-left: 20px;
    padding-top: 5px;
}

.section-width {
    width: 50% !important;
}

#authorisedParty {
    margin-bottom: 0px !important;
}