  

  mat-dialog-container {
    display: block !important;
  }

  .mat-form-field-wrapper{
    padding-bottom: 0 !important;
  }

  input[placeholder="search"]{
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    margin-top: 4px !important;
    border-top: 1px solid lightgrey !important;
    border-bottom: 1px solid lightgrey !important;
    border-right: 0 !important;
    border-left: 0 !important;
    
  }

  mat-select{
    
    border-top: 1px solid lightgrey !important;
    border-bottom: 1px solid lightgrey !important;
    border-left: 0 !important;
    border-right: 0 !important;
  }
  .btn-disabled{
    opacity: 50%;
    cursor: not-allowed !important;
  }
/*----------------------------------------------------*/

.select-injury {
	float: left;
	width:15% !important;
	height: 100%;
}

.select-injury > mat-form-field {
	width: 100%;
}

.select-injury > mat-form-field > mat-select {
	width: 100%;
	margin: 0 !important;
}

/*----------------------------------------------------*/

.select-body-side {
	float: left;
	width:15% !important;
	height: 100%;
}

.select-body-side > form-field {
	width: 100%;
}

.select-body-side > form-field > mat-select {
	width: 100%;
	margin: 0 !important;
}

/*----------------------------------------------------*/

.add-filtered-icd10 {
	width:10%;
	height:auto;
	float:right;
	text-align: center;
}

.add-filtered-icd10 > i {
	color:#51627c;
	font-size:32px;
	cursor: pointer;
}

/*----------------------------------------------------*/

#icd10-card{
  padding-left:20px; padding-right:20px;height:100%;
}
#icd10-form-field{
  width:60%; float: left !important;
}
.div-drop-down {
  float: left; width:15% !important; height: 100%;
}
.div-drop-down.injury{
  width: 15% !important;
}
.div-drop-down.injury > mat-form-field {
  width: 100% !important;
}
.div-drop-down > mat-form-field > mat-select {
  width: 100% !important; margin: 0 !important;
}
#div-add-new-item {
  width:10%;height:auto;float:right;text-align: center;
}
#div-add-new-item > i {
  color:#51627c;font-size:32px; cursor: pointer;
}
.container-fluid .row:nth-child(1) {
  height:100%
}
.container-fluid .row:nth-child(2){
  height:auto;
}
.container-fluid .row:nth-child(2) > div {
  width:auto;height:auto;
}
.container-fluid .row:nth-child(2) > div > ul{
  list-style-type:none; padding: 0; margin: 0 !important; height: 100%;
}
.container-fluid .row:nth-child(2) > div > ul > li{
  height:40px !important;
}
.container-fluid .row:nth-child(2) > div > ul > li > div:nth-child(1){
  float: left;width:60%; height: 100%; padding-top: 5px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis !important;
}
.container-fluid .row:nth-child(2) > div > ul > li > div:nth-child(2){
  float: left;width:15%; height: 100%; padding-top: 5px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis !important;text-align: center;
}
.container-fluid .row:nth-child(2) > div > ul > li > div:nth-child(3){
  float: left;width:15%; height: 100%; padding-top: 5px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis !important;text-align: center;
}
.container-fluid .row:nth-child(2) > div > ul > li > div:nth-child(4){
  float: right; width:10%; height: 100%;padding-bottom:5px; text-align:center;
}
.container-fluid .row:nth-child(2) > div > ul > li > div:nth-child(4) > i{
  color:#51627c;font-size:32px; cursor: pointer;
}





























