form > div {
    width:auto;
    height:auto;
}
form > div > i {
    cursor: pointer
}

form > div > i.material-icons {
    color:#51627c;
    font-size:32px;
}

ul{
    list-style-type:none;
}

li{
    height:32px;
}

li > div:nth-child(1){
    float: left;
    width:80%;
    height: 100%;
    padding-bottom:5px;
}

dialog > mat-form-field {
    width: 100%;
}

dialog > mat-form-field > mat-select {
    width: 100%;
    margin: 0 !important;
}

.injury-div{
    float: left;
}
.clear{
    cursor: pointer;
}