
mat-icon:hover {
  -webkit-transform: rotate(180deg);
  /* Safari */
  transform: rotate(180deg);
  }
  
  .altRowTable tr:nth-child(even){
    background:  #7DC0DA;
    width: 100%;
  }
  
  th {
    padding: 10px;
    background-color: #7DC0DA;
    color: black ;
  }
  
  .table {
    width: 100%;
  }
  
  .asterisk {
    color: #ff0000;
  }

  .error {
    color: red;
  }