.search-icon {
  position: absolute;
  top: 15px;
  left: -34px;
  color:rgba(0,0,0,.38)
}

.mat-toggle-datepicker {
  left: -25px;
  top: 5px;
}

.form-header {
  text-transform: capitalize;
}

.top-section {
  padding-top: 24px;
}

.actions-container {

}
