.closeBtn{
    margin-left: 29px !important;
}


.margin{
    margin-left: 15px !important;
}

.report{
    width: 95% !important;
    height: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.title{
    color:#389cae !important;
}

@media screen and (max-width: 600px) {

    .title{
        color:#389cae !important;
        font-size: large !important; 
    }
    
    .button{
        width: 50% !important;
        margin-right: 25px !important;
    }
    
    .other-label{
        font-size: small !important; 
    }
    
    .mat-card-header{
        margin-right: 15px !important;
    }
 }