.mat-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  clear: both;
  border: none;
  padding: 10px 5px 0px 10px;
  margin-left: 0.5%;
}

.caseCode{
  margin-top: 5% !important;
}

.submit{
  float:left !important;
}

.btn{
  margin-left: 2% ;
}

.btnSubmit{
  margin-left: 1% ;
}

.docDiv{
  margin-left: 1%;
  width: 98%;
}

.permissionDiv{
  padding: 15px 0; 
  color: orange; 
  font-family: 'Oswald', sans-serif;
}