
.legal-table-content {
    display: flex;
    justify-content: center;
}

table,
.table-insie {
    width: 100%;
}

.mat-table-data {
    padding: 0px 16px 16px;
}

span {
    font-family: Montserrat;
}

.demo-section {
    margin: 0px 8px;
}

.user-profile-image {
    height: auto;
    max-width: 80%;
}

.top-icons {
    border: 1px solid #D6D6D6;
    padding: 1px;
    border-radius: 3px;
}

tr,
th,
td {
    text-align: left !important;
    border-bottom: none !important;
}

.legal-admin {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.legal-admin-inside{
    padding: 0px 16px;
    width: 95%
}

.type-class {
    margin: 0px 18px;
    padding: 8px 0px 0px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.type-class .type-class-item {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 20px;
}

.type-class .type-class-border {
    border-radius: 7px 7px 0px 0px;
}

th {
    color: #000 !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 1px solid #ddd !important;
    font-weight: bold;
    font-family: Montserrat;
    font-size: 14px !important;
}

tr {
    cursor: pointer;
    font-family: Montserrat;
    font-size: 13px;
    height: 42px;
}

th,
tr {
    background-color: #FFF !important;
}

td {
    background-color: #F7F7F7 !important;
    border-top: 8px solid #FFF !important;
    color: #000;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.39px;
    border-bottom: none;
    font-size: 13px !important;
    padding-top: 22px !important;
    padding-bottom: 22px !important;
}

.checkbox-select {
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.progress-bar{
    width: 95%;
}

hr{
    border-top: 0.2px solid #D6D6D6;
}

.search-input {
    outline: none !important;
    border: none !important;
    height: 36px;
    font-size: 16px !important;
    border: none;
    width: 95%;padding: 0px 8px
}

.search-input :focus-visible {
    outline: none !important;
}

.select-option {
    width: 100%;
    padding: 5px;
    background-color: #F2F2F2;
    border: none;
    cursor: pointer;
    outline: none !important;
}

.option-value {
    background-color: #FFF;
    padding: 12px;
}

.legal-manager-assign {
    height: 30px;
}

.ack-select {
    text-align: center;
    border: none;
    outline: none;
    background-color: #F7F7F7;
    cursor: pointer;
    width: 65%;
    padding: 8px 8px;
    border-radius: 4px;
    font-weight: 700;
}

.option-item span {
    color: rgba(14, 69, 106, 0.75);
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.status-block {
    border-radius: 5px;
    background-color: rgb(255, 0, 0);
    width: 100%;
    display: inline-block;
    padding: 8px;
    color: #FFF;
}

.table-insie {
    overflow-x: auto;
}

.select-text {
    padding-left: 8px;
}

.progress-bar-container{
    height: 30vh;
    display: flex;
    align-items: center;
}

.on-enabled{
    opacity: 1;
    pointer-events: auto;
}

.on-disabled{
    opacity: 0.5;
    pointer-events: none;
}

.legal-ad-view{
    padding: 8px 8px; 
    display: flex;
    border-bottom: 1px solid #F7F7F7;
}

.recovery-btn-div{
    padding: 8px 8px; 
    width: 80%
}

.recovery-btn{
    border-radius: 3px;
    background: #BDE3F6;color: #006586;
    font-family: Montserrat;
    font-size: 14px;font-weight: 700; pointer-events: none;
}

.view-tabs{
    padding: 0px 8px; 
    display: flex;
}

.legal-manager-table-div{
    padding: 0px 24px 16px;
    width: 95%
}

.tribunal-table-inside{
    width: 50%;
        border-radius: 3px;
        border: 1px solid #ddd;
        display: flex;
        align-items: center;
        padding: 0px 4px;
}

.legal-manager-table{
        padding: 0px 0px 16px;
       border-radius: 7px;
       border: 1px solid #D6D6D6;
}   

.tribunal-table{
    padding: 16px 16px;
    border-bottom: 1px solid #D6D6D6;
}