
*{
    font-family: Montserrat;
}
.example-spacer {
    flex: 1 1 auto;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .border-none-imp{
    border: none !important
  }

  .color-red{
    color: red;
  }
  .color-green{
    color: green;
  }

  .padding{
    padding: 15px 34px 0px
  }

  .width{
    width: 100%;
  }

  .width-padding{
    width: 20%; 
    padding: 10px;
  }

  .inline-flex{
    display: inline-flex;
  }
  
  .example-full-width {
    width: 100%;
  }
  .input{
    padding: 16px 34px 0px;
  }
  .createGroupContainer{
    position:relative;
    padding: 16px 15px 0px;
  }
  .headerBottomCss{
    padding: 8px 24px; 
    display: flex;
    border-bottom: 1px solid #F7F7F7;
  }
  .recovery-btn{
    padding: 8px 8px; 
    width: 100%;
  }
  .btnClassCss{
    border-radius: 3px;
    background: #BDE3F6;
    color: #006586;
    width: 93px;
    height: 40px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
     pointer-events: none;
  }
  .input-field{
    border: none !important;
    height: 48px;
    padding: 0px !important;
    margin: 0px !important;
  }
  .form-label-text{
    font-size: 16px;
font-weight: 500;
color: rgba(0, 0, 0, 1);
  }  
  .selectStyle{
    width: 200px;
  }

  .form-fields{
    padding: 15px 25px 0px
  }
.formFieldCss{
  display: flex; gap: 20px;
}
  .btn{
    background-color: #BDE3F6;
    font-size: 14px;
    font-weight: 700;
    width: auto !important;
    pointer-events: none;
  }

  .input-label{
    font-size: 14px;
    font-weight: 500;
  }
  .on-disabled{
    opacity: 0.3;
    pointer-events: none;
  }
 
  .on-enabled{
    opacity: 1;
    pointer-events: auto;
  }  

  .create-grp-btn{
    background-color: #BDE3F6;
    font-size: 14px;
    font-weight: 700;
  }

  .spinner-view{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    }

  .example-full-width{
    font-size: 16px;
    font-weight: 500;
  }

  .add-btn{
    margin-top: 14px;
  }

  .bottom-btn{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex: wrap;
  }

  #save-btn{
    width: auto !important;
    background-color: #00BCE7;
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding: 0px 64px
  }

  mat-hint{
    padding: 8px 4px;
  }

  #back-btn{
    width: auto !important;
    margin-right: 60px;
    font-size: 13px;
    font-weight: 700;
    border-color: #346FE2;
    padding: 0px 28px;
  }

  .select-options2{
    display: flex;
    flex-direction: row;
    gap: 30px; 
    margin-left: 20px;
    margin-top: 50px;
    width: 500px;
    height: 20px;
    flex: wrap;
  }

.side-select{
  display: flex;
  flex: wrap;
}
  