.mat-column-isSelected {
    max-width: 20px !important;
}

.select-all {
    padding-top: 10px !important;
    margin-left: 14px !important;
    margin-bottom: 7px !important;
}

.search-box {
    border-radius: 25px !important;
}

.search-icon {
    margin-right: 7px;
    cursor: pointer;
}