.top-nav {
    overflow: hidden;
    width: 60%;
    position: fixed;
    z-index: 1;
}

.top-nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.mat-icon {
    color: #fff;
    cursor: pointer;
    margin-top: 2px;
}

.spacertoolbar {
    flex: 1 1 auto;
}

.image-container img {
    position: fixed;
    height: 45px;
    width: 97px;
    margin-left: 2%;
    margin-top: 1%;
}

.top-search {
    width: 100%;
    margin-top: -4px !important;
    float: left;
    background-color: #F1F2F2;
    border: 1px solid #E6E7E8;
    padding-bottom: 5px;
}

.top-nav a:hover {
    background-color: transparent;
    color: black;
}

.top-nav a.active {
    background-color: #4CAF50;
    color: white;
}

.topbar-menu {
    background-image: url(/assets/images/last-viewd.jpg);
    margin-bottom: 112px !important;
    padding-top: 81px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0%;
}

.menubar mat-icon {
    font-size: 45px;
    margin-top: -13px;
    margin-right: 23px;
    float: right;
    margin-left: 1.1%;
}

ul {
    list-style-type: none;
    margin: 0;
    margin-left: 189px;
    padding: 0;
    background-color: transparent;
    font-family: 'Oswald', sans-serif !important;
}

li {
    float: left;
    margin-left: -21px;
}

li a {
    display: block;
    color: transparent;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background: transparent;
}

.mat-dialog-container {
    display: contents !important;
    overflow: initial !important;
    padding: 0px !important;
}

