
table{
  width: 100%;
}

td span{
  padding: 2px 0px;
  text-align: left;
  white-space: initial;
}

th{
  border-left: 0px !important;
  border-right: 0px !important;
  border-bottom: 1px solid #ddd !important;
}

tr{
  cursor: pointer; 
  font-size: 13px;
  height: 42px;
}

.authorised {
  color: red;
}

.hidden-col {
  display: none;
}