body {
    background-color: white;
    background: white;
    font-family: 'Oswald', sans-serif !important;
}

.main-container {
    font-family: 'Oswald', sans-serif !important;
}

.top-selector-container {
    display: -webkit-box;
    display: flex;
    width: 98.5%;
    font-family: 'Oswald', sans-serif;
    margin: 0px 0px 0px -18px;
}

.font{
    color: lightgray !important;
    font-weight: 100 !important;
}

.summary-container {
    width: 25%;
    border: 1px solid;
    border-color: lightgray;
    line-height: 1.6;
    margin-left: 0 !important;
    font-family: 'Oswald', sans-serif;
    padding-right: 10px;
}

.summary-container:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p {
    height: 21px !important;
    font-family: 'Oswald', sans-serif;
}

.notes-name {
    font-weight: 500;
}

.blue-header {
    background: #0071BC;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-weight: 100;
    margin-left: -16px;
    font-family: 'Oswald', sans-serif;
}

.mat-card-header-text {
    margin: 0 !important;
}

.text-container {
    display: flex;
}

.rules-value {
    width: 74%;
}

.rules-key {
    width: 26%;
}

.product-key {
    width: 34%;
}

.product-value {
    width: 66%;
}

.content-container {
    overflow-x: auto;
    width: 100%;
}

.mat-card {
    box-shadow: none;
    font-family: 'Oswald', sans-serif;
    padding: 14px !important;
}

.div-key {
    width: 49%;
    text-align: left;
}

.mat-card .mat-divider-horizontal {
    position: absolute;
    left: 16px;
    width: 90%;
}

.div-value {
    width: 49%;
    text-align: left;
}

@media screen and (max-width: 1024px) {
    .top-selector-container {
        display: block !important;
        width: 100%;
    }
    .summary-container {
        width: 80% !important;
        margin-left: 0px;
        padding: 23px;
        margin-bottom: 43px !important;
        display: inline-block;
    }
    .summary-container {
        margin-top: 43px;
    }
}

#brokers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #brokers td, #brokers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #brokers tr:nth-child(even){background-color: #f2f2f2;}
  
  #brokers tr:hover {background-color: #ddd;}
  
  #brokers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #00BCE7;
    color: white;
  }