table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.green {
  background-color: #98FB98;
}

.amber {
  background-color: #FFA500;
}

.pointer {cursor: pointer;}

.checkedCell{justify-content:center;display:flex !important;}
.labelParagraph {
  border: 2px solid #fff;
  background-color: #51627c;
  color: #fff;
  padding: 5px;
  font-size: 14px;
  text-align: center;
}