.form-table {
  width: 100%;
  font-size: 12px
}

.form-table tr:nth-child(even){
  background: #DEE3EB;
}

th, td {
  padding: 10px;
  width: 14%;
  box-sizing: border-box;
}

th {
  padding: 20px;
  background-color: #7DC0DA;
  color: #fff ;
}

.mat-form-field {
  width: 100%;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0px !important;
}

input {
  width: 100%;
  margin: 0px !important;
}

.link-edit {
  margin-right: 5px;
}

.date-picker-toggle {
  margin-top: -31px !important;
}
