table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.green {
  background-color: #98FB98;
}

.amber {
  background-color: #FFA500;
}

.search-icon {
  margin-top: 13px !important;
}

.redsmallfont {
  color: red;
  font-size: x-small;
}

.notAuthorized {
  color: red;
}

.authorized {
  color: green;
}

.highlight-selected {
  background-color: lightgreen;
}
.debtors-table{
  margin-top: 15px;
}
.transaction-table{
  font-size:x-small; 
  color: red;
}
.errorMessage{margin-top: 10px; color: red; font-style: italic;}
.margin_top{margin-top: 5px;}


.search {
  box-sizing: unset !important;
  border-radius: 22px !important;
  vertical-align:middle;
  height: 35px;
}

mat-icon {
  margin-left: -10px;
}