.highlight {
  --background-color: rgb(253, 253, 235);
  background: greenyellow !important;
}

.info {
  color: blue;
}

.margin-bottom {
  margin-bottom: 10px;
}

.mat-column-actions {
  flex: none !important;
  width: 185px !important;
}

.mat-column-personEventNumber {
  flex: none !important;
  width: 200px !important;
}
