table{
  width: 100%;
}
td.mat-cell, td.mat-footer-cell, th.mat-header-cell{
  padding-left: 24px;
}
.benefit-container {
  width: 100%;
  height: auto;
  overflow: auto;
}
input.mat-input-element {
  height: 30px;
  border-radius: 22px !important;
}
.search-icon {
  cursor: pointer;
  position: relative;
  color: #33BFE6;
  top: -10px;
  left: 4px;
}
.clear-icon {
  cursor: pointer;
  position: relative;
  color: #E63333;
  top: -10px;
  left: 4px;
}
.clear-button{
  position: relative;
  border: none;
  top: -16px;
  border-radius: 50%;
}
.placeholder{
  position: relative;
  right: -10px;
  top: 6px;
  height: 30px;
}