
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.icon-bg-add{
    background-color: aqua;
}
.error{
    color: red;
}

.mat-column-text {
  text-align:left; justify-content:left;word-wrap:normal; word-break: normal;
}

.mat-column-itemType {
  text-align:left; justify-content:left;word-wrap: break-word;
}
.mat-column-createdBy {
  text-align:left; justify-content:left;word-wrap: break-word;
}