.expansionTitle {
  font-size: medium;
  font-weight: bolder;
  margin-bottom: 20px;
  padding-top: 5px;
  color: Black;
  vertical-align: middle;
  width: auto;
}

.right {
  float:right;
}

.pointer {
  cursor: pointer;
}

.material-icons:hover {
  color: rgb(131, 131, 131);
}

.material-icons.inValid{
  color: pink;
}

.material-icons.valid{
  color: green;
}
