.img-card {
    max-width: 14%;
    display: inline-block;
    cursor: pointer;
}

.mat-card {
    overflow: hidden;
    box-shadow: none !important;
    border-radius: 0%;

}

.mat-dialog-container {
    display: contents !important;
    overflow: initial;
    padding: 0px !important;
}

.material-icons {
    position: absolute;
    right: 0%;
    color: black;
    cursor: pointer;
}

.heading {
    position: relative;
    top: 85%;
    z-index: 5;
    font-size: 24px;
    color: white;
    font-weight: 100;
}

span {
    font-weight: 400 !important;
}

.image-container {
    max-width: 100%;
    cursor: pointer;
}

    .image-container:hover {
        opacity: 0.5;
        filter: alpha(opacity=50);
    }

.mat-card-image:first-child {
    height: -webkit-fill-available;
}
span {
    position: absolute;
    top: 49%;
    left: 12%;
    color: #fff;
    font-family: 'Oswald', sans-serif;
}

/*dashboard design css*/
* {
    font-family: 'Oswald', sans-serif !important;
    margin-top: 0;
}
/*scroll bar*/
::-webkit-scrollbar {
    width: 6px;
    background: transparent;
}
::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: none;
}
::-webkit-scrollbar-thumb {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(122,153,217)), color-stop(0.72, rgb(73,125,189)), color-stop(0.86, rgb(28,58,148)));
    width: 10px;
}
    .body-content {
    background-color: #F2F2F2;
}
/*.........................button...................*/
.button-row button {
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    position: relative;
    padding: 14px;
    left: 31%;
    cursor: pointer;
    margin-left: 19px;
    width: 12%;
    color: white !important;
    margin-top: 2px;
    border: 0;
    border-radius: 8px;
    background-color: #0071BC;
}

.main-container{

}

.bottom-container {
    display: flex;
    padding: 0;
    width: 104%;
    background: #F1F2F2;
}
.top-container:after {
    content: "";
    display: table;
    clear: both;
}
.content {
    float: left;
    width: 22%;
    display: table-cell;
    margin-right: 39px;
    overflow-y: hidden;
    overflow-x: hidden;
    box-shadow: 2px 2px #BFBFBF;
    background-color: #fff;
}
.header-image {
    height: 153px;
    background-size: cover;
    margin-top: -34px;
    background-repeat-x: no-repeat;
}
