mat-form-field {
    width: 100%;
  }
  
  .items-heading-center {
    text-align: center;
  }
  
  .chips-align {
    flex: 1;
    display: flex;
    justify-content: center;
    text-align: center;
  }