.legal-colledtions{
    position: relative;
}

.legal-table-content{
    display: flex;
    justify-content: center;
}

.legal-manager-2{
    display: flex;
}

.filter-action-icon{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    padding: 0px 4px;
}

.filter-action-icon mat-icon{
    cursor: pointer;
}

.create-message-temp-tabs-fields{
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 16px;
}

.multi-agent-list-dropdown{
    width: 80%;
}

.attorney-label{
    width: 20%;
}

.attorney-name-input{
    width: 80%;
}


.legal-admin-content-div{
    padding: 0px 16px;
    width: 95%;
}
.tab-views{
    display: flex;
}
.legal-admin-inside{
    padding: 8px 8px; 
    display: flex;
    border-bottom: 1px solid #F7F7F7;
}

.align-text-left {
    text-align: left !important;
}

.collection-inside-btn{
    border-radius: 3px;
    background: #BDE3F6;color: #006586;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700; 
    pointer-events: none;
}


.legal-manager-2{
    padding: 16px 16px;
    border-bottom: 1px solid #D6D6D6;
}

.legal-manager-3{
    width: 50%;
    border-radius: 3px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    padding: 0px 8px
}

.flex-view{
    display: flex;
}

.legal-manager-table{
padding: 0px 0px 16px;
      border-radius: 7px;
      border: 1px solid #D6D6D6;
}

.admin-table-div{
    padding: 0px 24px 16px;
    width: 95%;
}

.notifi-icon{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recovery-btn{
    padding: 8px 8px; 
    width: 80%;
}


table, .table-insie{
    width: 100%;
}

.mat-table-data{
    padding: 0px 16px 16px;
}

span{
    font-family: Montserrat;
}

.demo-section{
    margin: 0px 8px;
}

.user-profile-image{
    height: auto;
    max-width: 80%;
}

.top-icons{
    border: 1px solid #D6D6D6;
    padding: 1px;
    border-radius: 3px;
}

tr, th, td{
    text-align: center !important;
}
.legal-admin{
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.type-class{
    margin: 0px 18px;
    padding: 8px 0px 0px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.type-class .type-class-item{
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 20px;
}

.type-class .type-class-border{
    border-radius: 7px 7px 0px 0px;
}

th{
    color: #000 !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 1px solid #ddd !important;
    font-weight: bold;
    font-family: Montserrat;
    font-size: 14px !important;
}

tr{
    cursor: pointer;
    font-family: Montserrat;
    font-size: 13px;
    height: 42px;
}

th, tr{
    background-color: #FFF !important;
}

td{
    background-color: #F7F7F7 !important;
    border-top: 8px solid #FFF !important;
    color: #000;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.39px;
    border-bottom: none;
    font-size: 13px;
    text-align: left !important;
    border-bottom-width: 0 !important;
    border-bottom-style: none !important;
    height: 48px;
}

.checkbox-select{
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.search-input{
    outline: none !important;
    border: none !important;
    height: 30px;font-size: 16px !important;
    width: 95%;
    padding-left: 8px;
    margin-top: 10px !important;
    margin-bottom: 2px !important;
}

.search-input :focus-visible{
    outline: none !important;
}

.select-option{
    width: 100%;
    padding: 5px;
    background-color: #F2F2F2;
    border: none;
    cursor: pointer;
    outline: none !important;
}

.option-value{
    background-color: #FFF;
    padding: 12px;
}

hr{
    border-top: 0.2px solid #D6D6D6;
}

.progress-bar{
    width: 95%;
}

.legal-manager-assign{
    height: 30px;
    bottom: 5px;
}

.border-none{
    border: none !important;
}

.on-enabled{
    opacity: 1;
    pointer-events: auto;
}

.on-disabled{
    opacity: 0.5;
    pointer-events: none;
}


.ack-select{
    text-align: center;
    border: none;
    outline: none;
    background-color: #F7F7F7;
    cursor: pointer;
    width: 65%;
    padding: 8px 8px;
    border-radius: 4px;
    font-weight: 700;
}

.option-item span{
    color: rgba(14, 69, 106, 0.75);
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.status-block{
    border-radius: 5px;
    background-color: rgb(255, 0, 0);
    width: 100%;
    display: inline-block;
    padding: 8px;
    color: #FFF;
}

.table-insie{
    overflow-x: auto;
}

.progress-bar-container{
    height: 50vh;
    display: flex;
    align-items: center;
}

.select-td{
    display: inline-flex;
}

.no-data-text{
    padding-top: 16px;
    color: rgb(91, 181, 208);
    text-align: center;
}

.view-three-fourth{
    width: 75%;
}

.spinner-view{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .table-data-head{
    padding-left: 0 !important;
  }
  
.tableHeaderSapn{
    white-space: normal;
    text-align: left !important;
}

.select-text{
    padding-left: 8px;
    text-align: left;
}
td span{
    font-size: 13px;
    font-weight: 500;
}

.filter-details-box{
    position: absolute;
    top: 90%;
    width: 70%;
    z-index: 999;
    right: 5%;
  }

  .pointer-cursor{
    cursor: pointer;
  }

  .filter-icon{
    cursor: pointer;
    margin-right: 14px;
  }

  .filter-details{
    position: relative;
    border: 1px solid #ddd;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 25px;
  }

  .box-close-icon{
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 5px;
  }

  .action-div-box {
    display: flex;
    justify-content: flex-end;
    padding: 18px 0px 4px 0px;
  }

  .select-action {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .action-submit {
    border-radius: 5px;
    background: linear-gradient(90deg, #008EB3 0%, #00BCE7 100%);
    color: #FFF;
    border: 0;
    font-size: 16px;
  }

  .btn-reset{
    margin-right: 16px;
  }