
*{
    font-family: Montserrat;
}
.example-spacer {
    flex: 1 1 auto;
  }
  .createTypeContainer{
    position:relative;
    padding: 16px 25px 0px;
  }
.headerBottomCss{
  padding: 8px 8px; 
  display: flex;
  border-bottom: 1px solid #F7F7F7;
}
.recovery-btn{
  padding: 8px 8px; 
  width: 100%;
}
.approverBtnClass{
  display: flex;
   padding: 16px 0px;
    border-bottom: 1px solid #EDEDED;
     justify-content: space-between;
}
.btnClassCss{
  border-radius: 3px;
  background: #BDE3F6;
  color: #006586;
  width: 93px;
  height: 40px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
   pointer-events: none;
}
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .border-none-imp{
    border: none !important;
  }

  .color-red{
    color: red;
  }

  .padding{
    padding: 0px 16px;
  }

  .margin{
    margin: 0px 2px;
  }

  .width-margin{
    width: 100%; margin: 0px 2px;
  }

  .padding-btn{
    padding: 16px 15px 0px;
  }

  .padding-right{
    padding-right: 30px;
  }

  .display-flex-direction{
    display: flex;
    flex-direction: column;
  }

  .display-flex-padding{
    display: flex; 
    padding: 16px 0px; 
    border-bottom: 1px solid #EDEDED;
  }

  .justify-content{
    justify-content: space-between;
  }

  .position-absolute{
    position:absolute
  }

  .border-radius-background-font{
    border-radius: 3px;
    background: #BDE3F6;
    color: #006586;
    width: 93px;
    height: 40px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700; 
    pointer-events: none;
  }

  .font-family{
    font-family: Montserrat;
  }

  .display-flex-width{
    display: flex;width: 100%;
  }

  .display-flex{
    display: flex;
  }

  .color-red{
    color: red;
    margin: 0 !important;
  }
  
  .example-full-width {
    width: 100%;
  }
  .input{
    padding: 16px 34px 0px;
  }
.formContainer{
  padding: 0px 16px;
}
  .input-field{
    border: none !important;
    height: 48px;
    padding: 0px !important;
    margin: 0px !important;
  }

  .selectStyle{
    width: 200px;
  }

  .form-fields{
    
    padding: 24px 34px 0px
  }

  .btn{
    background-color: #BDE3F6;
    font-size: 14px;
    font-weight: 700;
    width: auto !important;
    pointer-events: none;
  }

  .input-label{
    font-size: 14px;
    font-weight: 500;
  }

  .create-grp-btn{
    color: #00597C;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.34px;
    text-transform: uppercase;
    background: transparent;
    border: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: auto;
  }

  .example-full-width{
    font-size: 16px;
    font-weight: 500;
  }

  .add-btn{
    margin-top: 14px;
  }

  .bottom-btn{
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    flex: wrap;
  }

  #save-btn{
    width: auto !important;
    background-color: #00BCE7;
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding: 0px 64px
  }

  mat-hint{
    padding: 8px 4px;
  }

  #back-btn{
    width: auto !important;
    margin-right: 60px;
    font-size: 13px;
    font-weight: 700;
    border-color: #346FE2;
    padding: 0px 28px;
  }

  .select-options2{
    display: flex;
    flex-direction: row;
    gap: 30px; 
    margin-left: 20px;
    margin-top: 50px;
    width: 500px;
    height: 20px;
    flex: wrap;
  }

.side-select{
  margin-left: 70px;
  display: flex;
  flex: wrap;
}
.invalid-input{
  border: 1px solid red !important;
  }
  .invalid-text{
  color: red;
  font-size: 14px;
  }
  .select-mat-field{
    border: none !important;
    margin: 8px 0px 4px 0px !important;
    }
    .mat-form-field-outline-type .mat-form-field-label {
      transform: translateY(0);
    }
    .custom-input {
      display: flex;
      align-items: center;
      position: sticky;
      top: 0;
      background-color: white;
      z-index: 1; 
    }
    
    .custom-input input {
      flex-grow: 1;
      padding-left: 8px; 
      border: none;
      border-bottom: 1px solid #000;
      outline: none; 
    }
    
    .custom-input button {
      margin-left: -25px; 
    }
    
    .custom-dropdown-panel .scroll-container {
      max-height: 200px; 
      overflow-y: auto;
    }
    
    .custom-dropdown-panel .mat-option {
      max-height: 40px;
    }
    .spinner-view{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      }    
      .form-label-text{
        font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
      }  
      
.on-disabled{
  opacity: 0.3;
  pointer-events: none;
}

.on-enabled{
  opacity: 1;
  pointer-events: auto;
}  
.max-input-message {
  opacity: 0.5;
  font-size: 10px;
  margin-top: 5px;
  font-weight: bold;
}
    