body {
  background-color: white;
  background: white;
  font-family: 'Oswald', sans-serif !important;
}

.main-container {
  font-family: 'Oswald', sans-serif !important;
}

.top-selector-container {
  display: -webkit-box;
  display: flex;
  font-family: 'Oswald', sans-serif;
}

.document-container {
  width: 100%;
  margin-left: 0 !important;
  font-family: 'Oswald', sans-serif;
}

.middle-container {
  display: -webkit-box;
  display: flex;
  width: 85%;
  font-family: 'Oswald', sans-serif;
  margin-left: 10px;
}

.insured-lives-container {
  width: 80%;
  margin-left: 0px;
  font-family: 'Oswald', sans-serif;
  box-shadow: none;
}

.estimateDiv{
  margin-top: 9px !important;
}


.mat-expansion-panel-body {
  padding: 0 24px !important;
  overflow: hidden !important;
}

p {
  height: 21px !important;
  font-family: 'Oswald', sans-serif;
}


.mat-expansion-panel-header {
  background-color: rgb(247, 147, 30);
  /* height: 29px; */
  font-family: 'Oswald', sans-serif;
}

.mat-expansion-panel-header:hover {
  background-color: rgb(247, 117, 30) !important;
}

.mat-card.scrollable-content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.blue-header {
  background: #0071BC;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  font-family: 'Oswald', sans-serif;
}

.bottom-container {
  width: 98.5%;
  display: flex;
  display: inline-flex;
  margin-left: 0px;
}

h1 {
  font-weight: 100;
  font-family: 'Oswald', sans-serif;
}

.mat-card {
  box-shadow: none;
  font-family: 'Oswald', sans-serif;
  /* padding: 14px !important; */
}

.mat-header-row {
  background-color: #0071BC;
}
