<div>
  <mat-card class="main-container">
    <mat-card class="top-selector-container">
      <mat-card class="document-container">
        <mat-card-header>
          <mat-card-title>
            <h1 class="wizard-font">Claims Overview</h1>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <claim-overview></claim-overview>
        </mat-card-content>
      </mat-card>

      <mat-card class="document-container">
        <mat-card-header>
          <mat-card-title>
            <h1 class="wizard-font">SLA Turnaround</h1>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <claim-turnover></claim-turnover>
        </mat-card-content>
      </mat-card>
    </mat-card>

    <mat-card class="top-selector-container">
      <mat-card class="document-container">
        <mat-card-header>
          <mat-card-title>
            <h1 class="wizard-font">Team Productivity</h1>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <claim-team-productivity></claim-team-productivity>
        </mat-card-content>
      </mat-card>

      <mat-card class="document-container">
        <mat-card-header>
          <mat-card-title>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
      </mat-card>

    </mat-card>
  </mat-card>
</div>
