  .mat-expansion-panel {
      margin-bottom: 10px;
  }

  .mat-expansion-panel .mat-expansion-panel-header .mat-panel-title {
    font-size: 16px;
  }

  .mat-flat-button {
    margin-bottom: 20px;
  }