.icn {
  cursor: pointer;
  -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
  /* Safari */
  transition: width 1s, height 1s, transform 1s;
}

.icn:hover {
  -webkit-transform: rotate(180deg);
  /* Safari */
  transform: rotate(180deg);
}

.material-icons:hover {
  color: rgb(131, 131, 131);
}

#table,
th,
td {
  background-color: #F7F7F7;
  ;
  color: #000;
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
}
.labelParagraph {
  background-color: #F7F7F7;
  ;
  color: #000;
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
}
.mat-datepicker-toggle {
  position: absolute;
  margin-top: 13px;
  right: 0;
}
.footerBold{
  font-weight: bold;
}