.example-month-picker .mat-calendar-period-button {
    pointer-events: none;
  }
  
  .example-month-picker .mat-calendar-arrow {
    display: none;
  }

    .flex-parent-element {
  display: flex;
  width: 100%;
}

.flex-child-element {
  flex: 1;
  margin: 0px;
  width: 100%;
  max-width: 100%;
}

.margin-top {
  margin-top: -4px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.altRowTable td {
  text-align: left !important;
  padding-left: 0px !important;
  height: 15px;
}

.mat-table {
    width: 100%;
}

.debit {
background-color: red;
color: white;
}

.credit {
background-color: green;
color: white;
}