.pad {
    padding: 20px !important;
}

mat-card {
    margin: 10px;
}

.show-pointer
{
    cursor: pointer;
}

.table {
    width: 100%;
    font-size: small !important;
}

tr:hover {
    cursor: pointer;
    background-color: #ffffe0 !important;
}

.sub-card {
    background-color: #DEE3EB !important;
}



.altRowTable tr:nth-child(even) {
    background: #DEE3EB;
    text-align: center;
}

.altRowTable tr {
    text-align: center;
    padding: 2px !important;
}

.altRowTable th {
    background-color: #7DC0DA !important;
    color: #0a0a0a;
    padding: 4px !important;
}

.left {
    padding-left: 20px !important;
}

.center {
    text-align: center !important;
}

.pointer {
    cursor: pointer;
}

.mat-card {
    margin: 10px !important;
    padding: 20px !important;
}

.flex-parent-element {
    display: flex;
    width: 100%;
}

.flex-child-element {
    flex: 1;
    margin: 10px;
    width: 80%;
    max-width: 80%;
}

.flex-child-element:first-child {
    margin-right: 20px;
}

.link-edit {
    font-size: 12px;
    text-align: center;
    font-weight: 250;
    position: relative;
    display: inline-block;
    left: 4%;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    border: 0;
    text-decoration: none;
}

.icn {
    cursor: pointer;
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
    /* Safari */
    transition: width 1s, height 1s, transform 1s;
}

.icn:hover {
    -webkit-transform: rotate(180deg);
    /* Safari */
    transform: rotate(180deg);
}

.material-icons:hover {
    color: rgb(131, 131, 131);
}.table {
    width: 100%;
    font-size: small !important;
}

tr:hover {
    cursor: pointer;
    background-color: #ffffe0 !important;
}

.sub-card {
    background-color: #DEE3EB !important;
}



.altRowTable tr:nth-child(even) {
    background: #DEE3EB;
    text-align: center;
}

.altRowTable tr {
    text-align: center;
    padding: 2px !important;
}

.altRowTable th {
    background-color: #7DC0DA !important;
    color: #0a0a0a;
    padding: 4px !important;
}

.left {
    padding-left: 20px !important;
}

.center {
    text-align: center !important;
}

.pointer {
    cursor: pointer;
}

.mat-card {
    margin: 10px !important;
    padding: 20px !important;
}

.right {
    float: right !important;
}


.link-edit {
    font-size: 12px;
    text-align: center;
    font-weight: 250;
    position: relative;
    display: inline-block;
    left: 4%;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    border: 0;
    text-decoration: none;
}

.icn {
    cursor: pointer;
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
    /* Safari */
    transition: width 1s, height 1s, transform 1s;
}

.icn:hover {
    -webkit-transform: rotate(180deg);
    /* Safari */
    transform: rotate(180deg);
}

.material-icons:hover {
    color: rgb(131, 131, 131);
}

.icn {
    cursor: pointer;
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
    /* Safari */
    transition: width 1s, height 1s, transform 1s;
}

.icn:hover {
    -webkit-transform: rotate(180deg);
    /* Safari */
    transform: rotate(180deg);
}

.material-icons:hover {
    color: rgb(131, 131, 131);
}

.scrollTable {
    overflow-y: auto;
    max-height: 300px;
    font-size: small;
}

