.grid {
    display: flex;
  }
  
  .grid > div {
    display: flex;
    flex-basis: 100%;
    flex: 1;
    min-width: 10px;
    margin-bottom: 5px;
  }
  
  .grid > div > .title {
    min-width: 10px;
    width: 220px;
  }
  
  .grid > div > .value {
    margin-left: 10px;
  }
  
  .mat-form-field {
      margin: 0 ;
      padding: 0;
      margin-right: 10px;
  }

  fieldset {
    margin-bottom: 20px;
  }

  .check-container {
    display: flex;
  }

  .parent {
    width: 300px; 
  }

  .children ul {
    list-style-type: none;
    margin-left: 10px;
    padding: 0;
  }

  .mat-table {
    width: 100%;
  }

  .mat-table .mat-form-field {
    width: 100px;
    background-color: transparent;
  }

  th, td {
    overflow: hidden;
    width: 200px !important;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .full-width {
    width: 100%;
  }
  textarea {
    height: 100px
  }

  .treatingProtocols {
    width: 70%
  }

  .treatingProtocols tr td .mat-form-field {
    width: 250px;
    background-color: transparent;
  }
  .treatingProtocols thead {
    background-color: rgb(35, 72, 121);
  }

  .treatingProtocols thead th {
    text-align: start;
    color: white;
    width: 250px !important;
    padding: 10px 0;
  }

  .treating-plan {
    margin-bottom: 15px;
  }

  .treating-plan-option {
    margin-right: 10px
  }
  .orSpan {
    display: block;
    max-width: 800px;
    text-align: center;
  }
  .datePicker{
    position: absolute !important;
    right: 0 !important;
    top: 16px  !important;
  }
  .errorMessage {
    color: red
  }
  .button {
    background-color: #51627c;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    width: 168px;
    height: 35px;
    color: white;
    margin-right: 10px;
  }
