.members-table {
    margin-bottom: 25px;
}
mat-header-cell, mat-cell {
    font-size: small !important;    
}
.mat-column-idNumber {
    max-width: 120px;
}
.mat-column-dateOfBirth {
    max-width: 100px;
}
.mat-column-age {
    max-width: 80px;
}
.mat-column-memberType {
    max-width: 140px;
}
.mat-column-benefitAmount {
    max-width: 120px;
}
