.green {
    color: rgb(17, 148, 24);
    font-size: medium;
    text-align: center;
    background-color: transparent;
}

.orange {
    color: rgb(8, 8, 8);
    font-size: medium;
    text-align: center;
    background-color: transparent;
}

.red {
    color: rgb(231, 57, 4);
    font-size: medium;
    text-align: center;
    background-color: transparent;
}

.userActivationDialog {
    background-color: transparent !important;
}