<div>
  <mat-card style="margin: 15px 30px">
    <mat-card-content>
        <mat-card-content class="wizard-mat-card-content">
          <section>
            <div [hidden]="!showReport" style="width: 100vh; height: auto;">
              <ssrs-reportviewer [reportserver]="reportServerAudit" [reporturl]="reportUrlAudit"
                [showparameters]="showParametersAudit" [parameters]="parametersAudit" [language]="languageAudit"
                [width]="widthAudit" [height]="heightAudit" [toolbar]="toolbarAudit">
              </ssrs-reportviewer>
            </div>
          </section>
        </mat-card-content>
    </mat-card-content>
  </mat-card>
</div>
