<div class="menu-bar">
  <span class="material-icons">flag_circle</span>
  System Message
  <span (click)="close()" class="material-icons pointer right" matTooltip="close">
    close
  </span>
  <span (click)="submit()" class="material-icons pointer right pulse greenFont" matTooltip="submit">
    save
  </span>
</div>

<mat-card>
  <span>An earnings per employee variance was calculated to be greater then the allowable threshold.
    These submissions will be subject to review. Would you like to proceed?
  </span>
</mat-card>