.mat-column-actions {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 15% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.green {
  background-color: #98FB98;
}

.amber {
  background-color: #FFA500;
}

.pointer {
  cursor: pointer;
}

.warning {
  padding: 15px 0;
  color: orange;
  font-family: 'Oswald', sans-serif;
}

.message {
  font-weight: bold;
  color: blue;
}

.search {
  background-color: #f2f2f2;
}

.search-failed {
  color: orange;
  margin-top: 10px;
}

.search-result {
  width: 100%;
  padding: 15px;
}

.error-message {
  color: red;
  font-style: italic;
}

.labelParagraph {
  background-color: #F7F7F7;
  color: #000;
  padding: 5px;
  font-size: medium;
  border-radius: 5px;
  width: auto;
  margin-bottom: 10px;
}

.edit-icon {
  vertical-align: super !important;
  margin-left: 15px;
}

.btn-margin-left {
  margin-left: 15px;
}

mat-panel-description.left-aligned {
  text-align: start;
  display: flex;
}

.mat-header-label {
  margin-right: 20px;
}

.partial {
background-color: lightgreen;
}

.refund-account-container{
  width:50% ;
}

.refund-amount {
  margin-right: 10px;
}