.highlight {
  background: greenyellow !important;
}

.left {
  padding-left: 20px !important;
}

.center {
  text-align: center !important;
}

.info {
  color: blue;
  font-size: small;
}

.excluded {
  text-decoration: line-through !important;
  color: gray !important;
}

.altRowTable tr:hover {
  background-color: whitesmoke !important;
}