tr:hover {
    cursor: pointer;
    background-color: #ffffe0 !important;
}

.sub-card {
    background-color: #DEE3EB !important;
}

.pointer {
    cursor: pointer;
}

.mat-card {
    margin: 10px !important;
    padding: 20px !important;
}

.link-edit {
    font-size: 12px;
    text-align: center;
    font-weight: 250;
    position: relative;
    display: inline-block;
    left: 4%;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    border: 0;
    text-decoration: none;
}

.icn {
    cursor: pointer;
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
    /* Safari */
    transition: width 1s, height 1s, transform 1s;
}

.icn:hover {
    -webkit-transform: rotate(180deg);
    /* Safari */
    transform: rotate(180deg);
}

.material-icons:hover {
    color: rgb(131, 131, 131);
}

.redDelete{
    color: rgb(156, 51, 51);
}