.mat-table {
    width: 100%
}

tr:hover {
    cursor: pointer;
    background-color: #ffffe0 !important;
}

.altRowTable tr:nth-child(even) {
    background: #DEE3EB
}

.altRowTable th {
    background-color: #7DC0DA !important;
    color: #0a0a0a;
}

.right {
    float: right !important;
}

.sub-card {
    background-color: #DEE3EB !important;
}

.left {
    padding-left: 20px !important;
}

.pad {
    padding: 10px 10px 0px 10px !important;
}

.padTab {
    padding: 10px 10px 1px 10px !important;
}

.center {
    text-align: center !important;
}

.pointer {
    cursor: pointer;
}

.flex-parent-element {
    display: flex;
    width: 100%;
}

.flex-child-element {
    flex: 1;
    width: 25%;
    margin: 10px;
}

.flex-child-element:first-child {
    margin-right: 20px;
}


.highlightDeath {
    background: lightcoral !important;
}

.highlight {
    background-color: #7DC0DA !important;
}

.pevColor {
    color: brown;
    font-size: small;
}

.gridIcon {
    font-size: 20px !important;
}