.right {
  float: right;
}

.pointer {
  cursor: pointer;
}

mat-form-field {
  width: 100%;
}

.removePaddingBottom {
  padding-bottom: 0px !important;
}

input.mat-input-element {
  height: 50px;
  border-radius: 22px !important;
}

mat-error {
  text-align: center;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  height: 42px;
}

.mat-focused .placeholder {
  visibility: hidden
}

.search-icon {
  position: absolute;
  right: 16px;
  top: 7px;
  color: #33BFE6;
}

.altRowTable tr:nth-child(even) {
  background: #DEE3EB
}

.border {
  width: 100%;
  border-style: dashed;
  border-color: lightgray;
  border-width: 2px;
  text-align: center;
  height: 50px;
  padding-top: 20px;
}

.placeholder {
  position: relative;
  right: -26px;
  top: 14px;
  height: 42px;
}