.main-content {
  margin-bottom:12px;
}
.checkbox-container {
  padding-bottom: 10px;
}
.edit-capture {
  padding-top:30px;
  cursor: pointer;
}
.cooling-off {
  margin-left: 8px;
  margin-bottom: 10px
}