.expansionTitle {
  font-size: medium;
  font-weight: bolder;
  margin-bottom: 20px;
  padding-top: 5px;
  color: Black;
  vertical-align: middle;
  width: auto;
}

.right {
  float: right;
}

.pointer {
  cursor: pointer;
}

mat-icon {
  position: absolute;
  right: 21px;
  top: 13px;
  color: black;
  cursor: pointer;
  -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
  /* Safari */
  transition: width 1s, height 1s, transform 1s;
}

mat-icon:hover {
  -webkit-transform: rotate(180deg);
  /* Safari */
  transform: rotate(180deg);
}


.material-icons:hover {
  color: rgb(131, 131, 131);
}

.material-icons {
  padding-right: 10px !important;
}

.sub-label {
  font-size: x-small;
  color: blue;
}

.panel {
  background-color: lightgrey;
  margin-bottom: 10px;
}

.mat-datepicker-toggle {
  position: absolute;
  margin-top: 13px;
  right: 0;
}

.material-icons.inValid {
  color: pink;
}

.material-icons.valid {
  color: green;
}

.radio-field {
  width: 200px;
  height: 50px;
}

.vopd-field {
  width: 200px;
  height: 100px;
}


.lbl-confirm {
  font-style: italic;
  color: goldenrod;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  opacity: 0;
}

.icon {
  position: absolute !important;
  left: 92%;
  top: 25px;
  font-size: 18px !important;
  color: black;
  cursor: pointer;
  -webkit-transform: none !important;
  transform: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}

/* Remove spacing in dropdown */
::ng-deep .cdk-overlay-pane {
  margin-top: -0.5% !important;
  margin-bottom: -0.85% !important;
  padding: 0% !important;
  position: absolute !important;
}