a {
    text-decoration: none;
    color: white;
}

a:hover, a:active{
    color: lightgray;
}

.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

mat-toolbar{
    border-radius: 3px;
}

@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: auto;
}

.cursorStyle{
    cursor: pointer !important;
}

// CSS FOR THE LOGIN AND REGISTER NAVBAR
@media(max-width: 994px){
    .mobileNav{
       text-align: right !important;
    }

    .nav-link{
        text-align: right !important;
        margin: 0px !important
     }
}

// CSS FOR THE LOGIN AND REGISTER NAVBAR
@media(max-width: 319px){
    .mobileNav{
       text-align: left !important;
       margin: 0px !important
    }

    .nav-link{
        text-align: left !important;
        margin: 0px !important
     }
}