.excluded {
    text-decoration: line-through !important;
    opacity: 50% !important;
    background-color: lightgrey !important;
    color: grey !important;
}

.col-checkbox {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .col-category {
    width: 20%;
  }

  .col-date {
    width: 80px;
  }

  .col-instruction {
    width: 25%;
  }

  .col-bool {
    width: 80px;
  }

  .col-actions {
    width: 80px;
  }