.pointer { cursor: pointer; }

.mat-header-cell {
  flex-direction: column;
  justify-content: center;
  background-color: #19577E !important;
  padding: 5px,10px,5px,10px !important;
  }

  .mat-footer-row, .mat-row {
  min-height: 26px !important;
  }

  .right {
    float:right !important;
  }

  .mat-cell {
  text-align: left;
  justify-content:left;
  overflow: auto !important;
  line-height: 13px !important;
  padding: 5px !important;
  max-height: -webkit-fill-available !important;
  }

  mat-icon {
  position: absolute;
  right: 21px;
  top: 13px;
  color: black;
  cursor: pointer;
  -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
  /* Safari */
  transition: width 1s, height 1s, transform 1s;
  }

  mat-icon:hover {
  -webkit-transform: rotate(180deg);
  /* Safari */
  transform: rotate(180deg);
  }

  .altRowTable tr:nth-child(even){
    background: #DEE3EB
  }

  .notedisplay{
    width: 100%;
    background-color: lightsteelblue;
    color: gray;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: -5px;
  }

  th {
    padding: 5px;
    background-color: #19577E;
    color: #fff;
  }

  td {
    max-width: 150px;
    min-width: 50px;
    max-height: 25px;
    padding: 10px;
    text-align: center;
  }

  .icn {
    cursor: pointer;
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
    /* Safari */
    transition: width 1s, height 1s, transform 1s;
    }

    .icn:hover {
    -webkit-transform: rotate(180deg);
    /* Safari */
    transform: rotate(180deg);
    }

    .material-icons:hover {
      color: rgb(131, 131, 131);
      }

      .scrollTable {
        overflow-y: auto;
        max-height: 300px;
        font-size: small;
      }

