.mat-form-field {
    width: 49.1%;
}

.type-field {
    margin-bottom: 10px;
}

.mat-card-header {
    background-color: #2DAAE1;
    width: 100%;
    padding: 8px 0px 0px 5px;
}

.mat-card {
    background-color: #fff;
    padding: 0 !important;
}

h1 {
    padding: 0;
    color: #fff !important;
}

.button {
    position: relative;
    left: 30.7%;
    margin: 1px;
}

.externalUser{
    margin-top: 20px;
}

.mat-card-content{
    margin-left: 10px;
}