table {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    min-width: 500px;
}
 
th.mat-header-cell {
    text-align: left;
    max-width: 300px;
    padding-left: 2em;
}

mat-form-field {
    padding-top: 2em;
    width: 100%;
}

mat-form-field:not(.mat-form-field-should-float) .mat-input-placeholder {
    padding: 10px;
    box-sizing: border-box;
  }

  input {
    padding: 10px; 
  }

  .mat-card-header .mat-card-title {
      margin: -20px;
  }
