.gazette-details {
  margin: 20px;
}

mat-form-field {
  width: 50%;
}

table {
  width: 100%;
}

.mat-card {
  min-height: auto !important;
  height: auto !important;
  margin-left: 5px;
  margin-right: 5px;
}


