.pointer {
    cursor: pointer;
}

.right {
    float: right !important;
}

.addIcon {
    margin-right: 10px !important;
}

.pad {
    background-color: #DEE3EB !important;
}

.filterControl{
    width: 100%;
}

.material-icons.blue {
    color: #00BCE7 !important;
}
