table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  .green {
    background-color: #98FB98;
  }
  
  .amber {
    background-color: #FFA500;
  }

  .mat-card-header{
    justify-content: flex-start;

}
  
  .pointer {cursor: pointer;}

  .mainDiv{
      padding-left: 20px;
      padding-right: 20px;
  }

  .grey{
      left: -10;
      color: gray !important;
  }

  .wizardHeader{
    left: -10;
}

  .mat-card {
    box-shadow: none;
    font-family: 'Oswald', sans-serif;
  }

  .addTracerBtn{
    margin-left: 15px !important;
  }

  .loadingBar{
      padding-left: 20px !important;
      padding-right: 20px !important;
  }