.pad-bottom {
    padding-bottom: 24px;
}
.error-message {
    padding-top: 12px;
    padding-left: 20px;
    font-size: small;
}
.hidden-column {
    display: none;
}
.cover-member-type-column {
    max-width: 120px !important;
}