.elementBox {
    height: 40px !important;
    border-radius: 5px !important;
}

.placeholder {
    padding: 5px;
}

.messageBox{
    float:right;
    color:red;
}

.margin-bottom {
    margin-bottom: 10px;
}

.info {
    color: blue;
}