.list-content {
  padding-top: 10px;
}

.searchFilter {
  
  border-radius: 22px !important;
  width: 100%;
}

mat-form-field {
  width: 100%;
}

input.mat-input-element {
  height: 50px;
  border-radius: 22px !important;
}

.placeholder {
  position: relative;
  right: -26px;
  top: 14px;
  height: 42px;
}

mat-icon {
  position: absolute;
  right: 21px;
  top: 9px;
  color: black;
  cursor: pointer;
  -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
  /* Safari */
  transition: width 1s, height 1s, transform 1s;
}

mat-icon:hover {
  -webkit-transform: rotate(180deg);
  /* Safari */
  transform: scale(130%) rotate(90deg);
  
}


.up {
  vertical-align: middle !important;
  margin-left:100px;
}