h1 {margin-top: 10px;margin-bottom: 10px}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 24
}
.arrow-colour-green{
    background-color: greenyellow;
}

.arrow-colour-orange{
  background-color: orange;
}

