.legal-info-div .legal-info-div-inside {
    display: flex;
    justify-content: center;
}

.information {
    width: 45%;
}

.legal-collection-inside {
    padding-bottom: 14px;
}

.download-action-log-doc{
    display: flex;
    justify-content: flex-end;
    padding: 0px 14px;
}

.download-action-log-icon{
    width: 15%;
    cursor: pointer;
}

.on-enabled {
    opacity: 1;
    pointer-events: auto;
}

.on-disabled {
    opacity: 0.5;
    pointer-events: none;
}

.on-enabled-permission {
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
}

.on-disabled-permission {
    opacity: 0.5;
    pointer-events: none;
    cursor: auto;
}

.recovery-btn {
    font-size: 14px;
    padding: 8px 12px;
    border: 0;
    border-radius: 3px;
    font-weight: 700;
    background: #BDE3F6;
    color: #006586;
}

.flex-view {
    display: flex;
}

.heading-text {
    color: #003343
}

.item-key {
    width: 40%;
    text-align: right;
    font-weight: bold;
}

.action-log-height {
    max-height: 68vh !important;
    overflow-y: auto !important;
}

.border-none {
    border-bottom: none !important;
}

.no-data-text {
    text-align: center;
    color: #006586
}

.item-val {
    width: 60%;
    text-align: left;
    padding-left: 24px
}

.notifi-icon {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.legal-collection-1 {
    padding: 8px 8px;
    width: 80%;
}

.legal-collection-div {
    padding: 0px 16px;
    width: 95%;
    border-bottom: 1px solid #D6D6D6;
}

.action {
    width: 45%;
}

.option {
    width: 7%;
    background-color: #E6F4FB;
    border-radius: 7px;
    padding: 0px 4px;
    text-align: center;
}

.option-item {
    margin: 24px 0px;
    cursor: pointer;
    margin: 24px 0px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.legal-info-div {
    padding-top: 16px;
}

.demo-section {
    margin: 0px 8px;
}

.demo-section .top-icons {
    border: 1px solid #D6D6D6;
    padding: 1px;
    border-radius: 3px;
}

.option-item span {
    font-size: 12px;
    cursor: pointer;
}


.value-div {
    border-bottom: 1px solid #ddd;
    padding: 12px 0px;
    display: flex;
}

.value-div span {
    font-size: 14px;
}

.action-value-div {
    border-bottom: 1px solid #ddd;
    padding: 16px 0px;
}

.action-value-div .action-item-name {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
}

.inside-content-div {
    width: 96%;
    border: 1px solid #ddd;
    border-radius: 8px;
}

span,
p,
h2,
input {
    font-family: Montserrat;
}

.heading-tab {
    padding: 18px 8px;
    border-bottom: 1px solid #ddd;
}

.heading-tab span {
    border-bottom: 3px solid #006586;
    padding-bottom: 16px;
}

.action-value-div .user-icon {
    display: flex;
    width: 10%;
    justify-content: center;
}

.legal-collection-section {
    position: relative;
}

.spinner-view {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.notes-div span {
    padding-left: 46px;
}

.add-by-user {
    font-size: 14px;
    display: inline-flex;
    width: 100%;
    justify-content: flex-end;
    padding: 10px 0px;
}

.add-by-user span {
    padding-right: 10px;
}

.notes-div {
    padding: 0 24px;
    display: inline-flex;
    margin-bottom: 15px;
}

.show-less {
    height: 1.8rem;
    overflow: hidden;
}

.heading-text {
    color: #006586;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 10px;
}

.custom-dilog .mat-dialog-container {
    border-radius: 10px;
    border: 2px dashed #EDEDED;
    background: #F0F9FF;
}

.progress-bar-container {
    height: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action ::-webkit-scrollbar {
    width: 0.2em !important;
    background-color: white !important;
}

.action ::-webkit-scrollbar-thumb {
    outline: 1px solid #006586 !important;
    background: #006586 !important;
}

.note-field:not(.show)::after {
    content: '...';
    padding-left: .5rem;
    background-color: white;
    position: absolute;
    right: 0;
    bottom: 0;
}

.show {
    overflow: visible;
    text-overflow: none;
    height: auto;
}

.note-text {
    height: 2.45rem;
    padding: 0 24px;
    overflow: hidden;
    display: inline-flex;

}


.recovery-back-btn {
    align-items: center;
    background: #BDE3F6;
    padding: 14px 12px;
    width: auto;
    display: none;
}

.show-button {
    display: inline-flex;
    width: 100%;
    justify-content: flex-end;
    background: none;
    border: none;
    padding-right: 18px;
    margin-bottom: 10px;
    color: cornflowerblue;
    cursor: pointer;
    margin-top: 10px;
}

.search-container-css {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    margin-right: 15px !important;
}

.header-with-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.download-btn-css {
    display: inline-flex;
    align-items: center;
}

.search-filter {
    width: 100%;
}

.search-input-action-log{
    width: 90%;
}

.download-icon-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-icon-div mat-icon{
    color: rgb(14, 69, 106);
    cursor: pointer;
}
.search-popup{
    border: 1px;
    background: #ffffff;
    border-radius: 3px;
    width: 480px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 25px;
    margin-top: 10px;
    position: absolute;
    right: 0;
    top: 43px;
}
.date-picker-container-css{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
}
.date-picker-toggle-css{
    position: relative !important;
}
.border-none{
    border: none !important;
}
.detaildropdownInnerDiv{
    padding-left: 10px;
    padding-right: 18px;
}
.search-icon {
    position: absolute;
    left: 8px;
    top: calc(50% - 12px);
  }
  
  .search-select {
    position: relative;
  }
  
  .search-input {
    margin-left: 13px !important;
    margin-top: 12px !important;
    width: 90%;
  }
  .search-container-data span{
    display: flex;
  }
  .search-container-data{
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    padding: 0px 8px;
  }
  .action-submit {
    border-radius: 5px;
    background: linear-gradient(90deg, #008EB3 0%, #00BCE7 100%);
    color: #FFF;
    border: 0;
    width: 280px;
    height: 46px;
    display: flex;
    justify-content: center;
    letter-spacing: 2.52px;
}

.select-action {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}
.action-div {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0px 24px 0px;
}

.action-tab-search-field{
    display: flex;
}

.information-list {
    text-align: right;
    font-weight: bold;
    cursor: pointer;
}

.detailHeadInnerDiv {
    padding: 8px 8px;
    display: inline-flex;
}
.border-none{
    border: none !important;
}
.padding-bottom{
    padding-bottom: 0 !important;
}
.padding-bottom-15{
    padding-bottom: 15px;
}
.select-all-checkbox{
    padding: 8px 16px;
}
.margin-none{
    margin: 0 !important;
}