<div class="menu-bar">
  <span class="material-icons">assured_workload</span>
  Earnings Limits per Employee
  <span *ngIf="hideForm" (click)="cancelDialog()" class="material-icons pointer right" matTooltip="close">
    close
  </span>

  <span *ngIf="!hideForm" (click)="cancelForm()" class="material-icons pointer right" matTooltip="cancel">
    cancel
  </span>

  <span *ngIf="!hideForm && form.valid && !form.pristine" (click)="add()" class="material-icons pointer right"
    matTooltip="confirm">
    save
  </span>

  <span (click)="showForm()" *ngIf="(!isReadOnly && isWizard) && hideForm" class="material-icons pointer right"
    matTooltip="add">add_circle</span>
</div>

<mat-card *ngIf="isLoading$ | async">
  <mat-progress-bar style="width: 300px;" mode="indeterminate"></mat-progress-bar>
  <label class="mat-label other-label"><i>loading...please wait</i></label>
</mat-card>

<mat-card *ngIf="!(isLoading$ | async)">
  <div
    *ngIf="((industryClassDeclarationConfig && industryClassDeclarationConfig.maxAverageEarnings && industryClassDeclarationConfig.maxAverageEarnings.length <= 0 && hideForm) || (!industryClassDeclarationConfig.maxAverageEarnings && hideForm))">
    <i>No earnings limits per employee configured...</i>
  </div>

  <div class="scrollTable"
    *ngIf="industryClassDeclarationConfig && industryClassDeclarationConfig.maxAverageEarnings && industryClassDeclarationConfig.maxAverageEarnings.length > 0 && hideForm">
    <table class="altRowTable table">
      <tr>
        <th>Minimum Earnings per Employee</th>
        <th>Maximum Earnings per Employee</th>
        <th>Effective From</th>
        <th>Effective To</th>
        <th *ngIf="(!isReadOnly && isWizard)">Action</th>
      </tr>
      <tr *ngFor="let maxAverageEarning of industryClassDeclarationConfig.maxAverageEarnings">
        <td>{{maxAverageEarning.minAverageEarnings ? formatMoney(maxAverageEarning.minAverageEarnings.toFixed(2)) :
          'N/A'}}</td>
        <td>{{maxAverageEarning.maxAverageEarnings ? formatMoney(maxAverageEarning.maxAverageEarnings.toFixed(2)) :
          'N/A'}}</td>
        <td>{{maxAverageEarning.effectiveFrom | date:'yyyy/MM/dd'}}</td>
        <td *ngIf="maxAverageEarning.effectiveTo">{{maxAverageEarning.effectiveTo | date:'yyyy/MM/dd'}}</td>
        <td *ngIf="!maxAverageEarning.effectiveTo"><span class="green">Current</span></td>
        <td *ngIf="(!isReadOnly && isWizard)">
          <span><a role="button" class="link-edit" (click)="edit(maxAverageEarning)"><span class="material-icons pointer"
                matTooltip="Edit">settings</span></a></span>
          <span *ngIf="!maxAverageEarning.maxAverageEarningsId || maxAverageEarning.maxAverageEarningsId <= 0"><a
              role="button" class="link-edit" (click)="delete(maxAverageEarning)"><span class="material-icons pointer"
                matTooltip="Delete">delete</span></a></span>
        </td>
      </tr>
    </table>
  </div>

  <div *ngIf="!hideForm">
    <form [formGroup]="form" class="mat-container details-form" novalidate>
      <section>
        <mat-form-field class="mat-form-field">
          <label class="mat-label other-label mandatory">Minimum Earning per Employee</label>
          <input matInput NumberOnly formControlName="minAverageEarning" name="minAverageEarning"
            id="minAverageEarning" />
          <mat-error *ngIf="form.get('minAverageEarning').hasError('required')">
            minimum earning <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="mat-form-field-right">
          <label class="mat-label other-label mandatory">Maximum Earnings per Employee</label>
          <input matInput NumberOnly formControlName="maxAverageEarning" name="maxAverageEarning"
            id="maxAverageEarning" />
          <mat-error *ngIf="form.get('maxAverageEarning').hasError('required')">
            maximum earning <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </section>
      <section>
        <mat-form-field class="mat-form-field">
          <label class="mat-label other-label">Effective From</label>
          <input matInput formControlName="effectiveFrom" [matDatepicker]="effectiveFrom" [min]="minDate">
          <mat-datepicker-toggle matSuffix [for]="effectiveFrom">
          </mat-datepicker-toggle>
          <mat-datepicker touchUi="true" #effectiveFrom></mat-datepicker>
          <mat-error *ngIf="form.get('effectiveFrom').hasError('required')">
            effective from is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </section>
    </form>
  </div>
</mat-card>