.mat-row:nth-child(even) {
    background-color: #F7F7F7;
}

.mat-row:nth-child(odd) {
    background-color: #E2EBF2;
}

.mat-expansion-panel-spacing {
    margin: 0 !important;
}

.mat-tab-label {
    height: 41px !important;
}

.mat-right-field {
    margin-left: 18px !important;
}

.mat-tab-header-error {
    color: red;
}

.mat-tab-header {
    display: flex;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 1;
    position: sticky !important;
    background-color: #F2F2F2;
    margin-bottom: 10px !important;
}

.mat-expansion-panel-body {
    margin: 0 !important;
}

.mat-select {
    width: 350px;
    display: inline-block;
}

.mat-select-value {
    padding-top: 0px;
}

.mat-input-element {
    width: 360px;
}

.mat-select-arrow-wrapper {
    padding-top: 4px;
}

.mat-form-field-ripple,
.mat-input-underline,
.mat-form-field-underline {
    display: none;
}

.mat-input-element,
.mat-select {
    box-sizing: border-box !important;
    border: 1px solid #D6D6D6 !important;
    border-radius: 1px !important;
    padding: 5px 9px 5px 9px !important;
    -webkit-transition: width 0.4s ease-in-out !important;
    margin: 4px 20px 8px 0px !important;
    height: 35px;
    border-radius: 5px !important;
}

.mat-input-element:disabled,
.mat-select-disabled,
.float-button:disabled,
.submit-button:disabled {
    background-color: #D6D6D6 !important;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: black !important;
}

.mat-tab-body-content {
    overflow: hidden !important;
}

.mat-pseudo-checkbox-checked {
    background: #005A7C !important;
}

.mat-form-field-infix {
    padding: 0 !important;
    border-top: 0 !important;
}

.mat-form-field-wrapper {
    padding-bottom: 10px !important;
}

.mat-label {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color: #58595B;
    font-weight: 400;
    overflow: auto;
    max-height: 500px;
    margin-left: 0px;
}

.mat-icon svg {
    height: 30px;
    width: 30px;
}

.mat-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    clear: both;
    border: none;
    padding: 10px 5px 0px 10px;
}

.mat-header {
    min-height: 64px;
    align-items: center;
    font-size: 20px;
    min-width: 300px;
    padding: 8px 0 0 0;
}

.mat-search {
    font-size: 14px !important;
}

.mat-header-cell .mat-sort-header-sorted {
    font-weight: 800;
}

.mat-button {
    width: auto !important;
    align-self: flex-end;
}


.mat-dialog-container {
    width: 100% !important;
    height: auto !important;
    max-height: 95% !important;
    padding-bottom: 5px;
    padding-top: 20px;
    display: table-footer-group !important;
    scrollbar-width: thin;
}

.mat-dialog-footer {
    padding: 20px;
    width: 80%;
}

.mat-cell {
    overflow: hidden;
    word-wrap: break-word;
}

.mat-header-cell,
.mat-footer-cell {
    overflow: hidden;
    word-wrap: break-word;
    height: 35px;
}

mat-cell:last-of-type,
mat-header-cell:last-of-type,
mat-footer-cell:last-of-type {
    padding-right: 4px !important;
}

.custom-multiselect-mat-error-wrapper {
    margin-top: -60px !important;
    margin-left: 30px;
    font-size: 60%;
    font-family: 'Oswald', sans-serif;
}

.mat-pseudo-checkbox-disabled {
    display: inline-block !important;
}

.mat-input-small {
    width: 100px !important;
}

.mat-cell {
    font-size: 12px !important;
    line-height: 18px;
}

.mat-card {
    background: white !important;
}

.mat-select-trigger {
    display: inline-table;
    cursor: pointer;
    position: relative;
    top: 3px;
    box-sizing: border-box;
}

.mat-select-value-text,
.mat-form-field-appearance-legacy .mat-form-field-label {
    height: 42px;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: #f44336;
    height: 42px;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker,
.mat-form-field.mat-form-field-invalid .mat-form-field-label.mat-accent {
    color: #f44336;
    height: 42px;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-ripple,
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
    background-color: #f44336;
    height: 42px;
}

.mat-cell,
.mat-header-cell,
.mat-footer-cell {
    padding-right: 5px;
    padding-left: 5px;
    justify-content: center;
    text-align: center;
}

textarea.mat-input-element {
    background-color: #fff !important;
    font-size: 14px !important;
}

.mat-header-cell .mat-sort-header-sorted {
    color: #0E456A !important;
}

.mat-horizontal-stepper-header-container {
    background-color: white !important;
    position: fixed;
    height: 48px;
    width: 86%;
    z-index: 999 !important;
    margin-top: -48px !important;
}

.mat-horizontal-stepper-content {
    position: relative;
    top: 35px;
    background-color: white !important;
    padding: 10px 0px 10px 0px;
    margin-top: -38px !important;
    margin-bottom: 20px !important;
}

input.mat-input-element {
    font-size: 14px !important;
    border-radius: 5px;
}

.mat-horizontal-stepper-header .mat-step-icon {
    background: #3D5561;
    margin-right: 5px !important;
}

.mat-horizontal-stepper-header {
    height: 48px !important;
    padding: 0 10px !important;
}

.mat-horizontal-stepper-header {
    height: 48px !important;
}

.mat-step-header:visited {
    background-color: #04A6D2 !important;
}

.mat-expansion-panel-header {
    font-family: Arial !important;
    font-size: 13px !important;
}

.mat-step-header .mat-step-label.mat-step-label-active {
    font-size: 12px !important;
}

.mat-option {
    background: #fff !important;
    font-size: 14px !important;
}

.mat-option:hover {
    background: rgba(0, 0, 0, .04) !important;
}

.mat-step-header .mat-step-label.mat-step-label-active {
    font-size: 12px !important;
}

.mat-base-rule-align-the-middle {
    /* this is usd on base-rules.component to align the text */
    display: flex;
    align-items: center;
}

.mat-base-rule-the-labels-width {
    /* this is usd on base-rules.component to align the labels */
    vertical-align: top;
    width: 20%
}

.mat-base-rule-the-inputs-width {
    /* this is usd on base-rules.component to align the inputs */
    width: 20%
}

@media screen and (max-width: 1215px) {
    .mat-form-field-right {
        margin-left: 0px !important
    }

    .field-container-right {
        margin-left: 0px !important
    }

    .mat-right-field {
        margin-left: 0px !important
    }
}

@media screen and (max-width: 1105px) {
    .mat-horizontal-stepper-header-container {
        width: 80%;
    }
}

@media screen and (max-width: 1730px) {
    .mat-horizontal-stepper-header-container {
        width: 82%;
    }
}

@media screen and (max-width: 1400px) {
    .mat-horizontal-stepper-header-container {
        width: 81%;
    }
}

@media screen and (max-width: 1044px) {
    .mat-horizontal-stepper-header-container {
        width: 75%;
    }
}

@media screen and (max-width: 1224px) {
    .mat-horizontal-stepper-header-container {
        width: 77%;
    }
}