@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500');

td,
th {
    margin: 9px 0 0 0;
}

* {
    font-family: Arial !important;
}

a {
    color: rgb(0, 101, 134) !important;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #7DC0DA !important;
    cursor: pointer;
}

a:active {
    text-decoration: none;
}

footer {
    position: relative;
    /*top: 229px;*/
    font-size: 12px;
    font-family: Arial;
    padding-left: 30px;
    color: #fff;
}

.field-container {
    float: left;
    width: 48%;
}

label {
    font-size: 14px;
}

hr {
    margin: 0 0 20px 0;
    font-size: 14px;
}

div.field-container mat-form-field {
    width: 100%;
}

div.field-container-right mat-form-field {
    width: 100%;
}

.field-container-right {
    float: left;
    width: 48%;
    margin-left: 2%;
}

.left-field-label {
    margin-left: 30px;
}

.right-form-input {
    margin-left: -8px;
}

.list-document-search {
    float: right;
    left: 79.7%;
    width: 19%;
    margin-top: -16px;
    position: absolute;
}

.nameDiv {
    font-size: 18px;
    color: #fff !important;
    font-family: Arial;
    font-weight: bold;
}

.designationDiv {
    font-size: 18px;
    color: #fff !important;
    font-family: Arial;
    font-weight: 300;
    position: relative;
    top: -16px;
}

h1 {
    font-size: 14pt;
}

.editDiv {
    width: 50%;
    float: left;
    font-size: 14px;
    color: #fff !important;
    font-family: Arial;
    position: relative;
    bottom: 15px;
}

.logoutDiv {
    width: 50%;
    float: right;
    font-size: 14px;
    color: #fff !important;
    font-family: Arial;
    position: relative;
    bottom: 15px;
}

.submenuFont {
    padding: 8px 8px 8px 84px;
    font-size: 14px;
    color: #fff !important;
    display: block;
    transition: 0.3s;
    font-family: Arial;
    font-weight: 100;
}

.notificationDiv {
    float: right;
    width: 60%;
    /* position: fixed; */
    right: 0%;
}

.messagesIcon {
    float: right;
    overflow: visible;
}

.messagesIcon img {
    width: 100%;
    height: auto;
}

.notificationIcon {
    float: right;
    overflow: visible;
}

.notificationIcon img {
    width: 18px;
    height: auto;
}

.chatIcon {
    float: right;
}

.chatIcon img {
    width: 75%;
    height: auto;
}

.menuFont {
    padding: 8px 8px 8px 32px;
    font-size: 16px;
    color: #fff !important;
    display: block;
    transition: 0.3s;
    font-family: Arial;
    font-weight: 100;
}

.verticalDiv {
    content: url("images/open-icon.png");
}

.verticalDiv onclick {
    background-color: yellow;
}

.horizontalDiv {
    content: url("images/close-icon.png");
}

.home-icon {
    transition: margin-left .5s;
    padding: 12px;
    overflow: hidden;
    width: 50%;
    float: left;
}

.home-icon a {
    font-family: 'Barlow Condensed' sans-serif;
    font-size: 14px;
    color: darkgray
}

.home-icon img {
    width: 15px;
    height: auto;
    padding-right: 10px;
    margin-left: 10px;
}

.search-container {
    widows: 50%;
    float: right;
    left: 81%;
    width: 19%;
    position: absolute;
}

.search-container input[type=text] {
    width: 160px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 0;
    font-family: Arial;
    font-weight: 200;
    padding-left: 10px;
    background-color: white;
    background-image: url(../images/search.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 5px 20px 5px 20px;
    margin: 8px 20px 8px -5px;
}

.search-container-top {
    widows: 50%;
    float: right;
    left: 81%;
    width: 19%;
    position: fixed;
}

.search-container-top input[type=text] {
    width: 160px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 0;
    font-family: Arial;
    font-weight: 200;
    padding-left: 10px;
    background-color: white;
    background-image: url(../images/search.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 5px 20px 5px 20px;
    margin: 8px 20px 8px -5px;
}

.search-container-right input[type=text] {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    float: right;
}

.search-container-left input[type=text] {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    float: left;
}

.search-container input[type=text]:focus {
    width: 100%;
}

.logoImage {
    background: #fff;
}

.logoImage img {
    width: 75%;
}

.profileDiv {
    display: flex;
    padding-bottom: 12px;
}

.leftProfDiv {
    width: 45%;
    float: left;
    padding-left: 13px;
    margin-top: 15px;
}

.rightProfDiv {
    width: 45%;
    float: right;
    margin-right: 12px;
    color: #fff;
    font-family: arial;
    font-size: 18px;
}

.rightProfDiv span {
    font-size: 16px;
    font-weight: lighter;
}

.rightProfDiv a {
    font-size: 16px;
    font-weight: lighter;
    color: #fff;
}

.sidenav {
    height: auto;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #005A7C;
    overflow-x: hidden;
    padding-top: 44px;
    transition: 0.5s;
}

.sidenav .rightProfDiv a {
    padding: 0;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    display: inline;
    transition: 0.3s;
}

.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 7px;
    right: 3px;
    font-size: 25px;
    margin-left: 50px;
}

.top-search {
    width: 100%;
    margin-top: -4px;
    float: left;
    background-color: #F1F2F2;
    border: 1px solid #E6E7E8;
    padding-bottom: 5px;
}

.top-search a {
    color: #389cae;
    font-family: Arial;
}

.menuDivs img {
    padding: 0 20px 0 0px;
    width: 16px;
    height: 16px;
}

.submenu a {
    font-size: 14px;
}

.submenu a:hover {
    background-color: lightgray;
}

.main {
    transition: margin-left .5s;
}

.main-menu {
    transition: margin-left .5s;
}

.content {
    margin-top: -43px;
    margin-left: 25px;
    margin-bottom: 25px;
    margin-right: 25px;
}

body {
    overflow-x: hidden;
    background-color: white;
    font-family: "Barlow";
}

.topnav {
    background-color: white;
    overflow: hidden;
    width: 100%;
    float: left;
}

.topbar-menu {
    width: 100%;
    height: 20px;
    background-color: #E6F4FB;
    opacity: 1;
    min-width: 16;
    align-items: center;
    border-radius: 5px 0px 0px 5px !important;
    font-size: large;
    color: black;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    margin-left: 10px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.subDiv {
    float: left;
    width: 60%;
    padding: 13px 0px 0px 55px;
}

.fistHeading {
    width: 33.3%;
    float: left;
    font-family: Arial;
    font-size: 20px;
    font-weight: 100;
}

.secondHeading {
    width: 33.3%;
    float: left;
    font-family: Arial;
    font-size: 20px;
    font-weight: 100;
}

.thirdHeading {
    width: 33.3%;
    float: right;
    font-family: Arial;
    font-size: 20px;
    font-weight: 100;
}

.firstBodyDiv {
    padding-top: 80px;
}

.firstBodyDiv p {
    font-family: Arial;
    font-size: 16px;
    color: #58595B;
}

.formBody {
    padding: 55px;
}

.formBody p {
    font-family: Arial;
    font-size: 16px;
    color: #58595B;
}

.secondBodyDiv {
    width: 60%;
}

.secondBodySubDivLeft {
    float: left;
    width: 50%;
}

.secondBodySubDivRight {
    float: right;
    width: 50%;
}

.secondBodySubDivLeft input {
    width: 360px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 0px;
    font-size: 14px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 5px 20px 5px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    float: left;
    margin: 8px 20px 8px 0px;
}

.secondBodySubDivRight input {
    width: 360px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 0px;
    font-size: 14px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 5px 20px 5px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    float: left;
    margin: 8px 20px 8px 0px;
}

.SubDivForm-left {
    float: left;
    width: 50%;
}

.mat-elevation-z8 {
    box-shadow: none !important;
}

.SubDivForm-left input {
    width: 360px;
    box-sizing: border-box;
    border: 0px !important;
    border-radius: 0px;
    font-size: 14px;
    background-color: #acb9cd;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 5px 20px 5px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    float: left;
    margin: 8px 20px 8px 0px;
}

.SubDivForm-right {
    float: left;
    width: 50%;
}

.SubDivForm-right input {
    width: 360px;
    box-sizing: border-box;
    border: 0px !important;
    border-radius: 0px;
    font-size: 14px;
    background-color: #acb9cd;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 5px 20px 5px 20px;
    /* -bkit-transition: width 0.4s ease-in-out; */
    float: left;
    margin: 8px 20px 8px 0px;
}

.SubDivForm-box input {
    width: 765px;
    height: 200px;
    box-sizing: border-box;
    border: 0px !important;
    border-radius: 0px;
    font-size: 14px;
    background-color: #acb9cd;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 5px 20px 5px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    float: left;
    margin: 8px 20px 8px 0px;
}

select {
    width: 355px;
    height: 40px;
    border-radius: 5px;
}

.page-header[_ngcontent-qnu-c16] h1[_ngcontent-qnu-c16] {
    color: #fff;
    font-weight: 300;
    margin-top: -240px;
    margin-left: 27px;
    font-family: gotham;
    font-size: 20px;
}

.button-row[_ngcontent-qnu-c11] a[_ngcontent-qnu-c11] {
    margin-right: 8px;
    background-color: #51627c;
    border-radius: 4px;
    color: #fff;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

#ico {
    display: none;
}

.menu {
    background: #000;
    display: none;
    padding: 5px;
    width: 320px;
    @include border-radius(5px);
}


/* &:nth-child(5) {
    margin-bottom: 0;
    @include border-radius(0 0 3px 3px);
} 

&:hover {
    background: #555;
}
*/

.Accordion2 {
    border: 1px solid #ccc;
    border-right-color: transparent;
    border-left-color: transparent;
}

.menuDivs {
    border: 1px solid #ccc;
    border-right-color: transparent;
    border-left-color: transparent;
    background-size: 29px;
    background-repeat: no-repeat;
    background-position: initial;
    background-position-x: 29px;
}

.menuDivs .layer10 {
    background-image: url('../Images/Layer10.png') !important;
    background-size: 20px 20px !important;
    background-position-y: 15px;
}

.menuDivs .layer5 {
    background-image: url('../Images/Layer5.png') !important;
    background-size: 20px 20px !important;
    background-position-y: 15px;
}

.divBoarder {
    border: 0px solid #ccc;
    border-right-color: transparent;
    border-left-color: transparent;
}

.divBoarder .menuDivs {
    /*padding: 8px 8px 8px 84px;*/
    font-size: 14px;
    color: #fff !important;
    display: block;
    transition: 0.3s;
    font-family: Arial;
    font-weight: 300;
}

.sub-accordion {
    height: 40px;
    background-color: #00BCE7;
    padding-left: 78px !important;
    font-family: Arial;
    font-weight: 300;
    cursor: pointer;
}

.sub-accordion a {
    padding-top: 20px;
}

.panel-heading {
    font-size: 16px;
    font-family: Arial;
    font-weight: 300;
    padding: 16px 0px 16px 59px;
}

.panel-body {
    /*padding: 0px 0px 0px 72px;*/
    background-color: #00BCE7;
    /*display: flex;*/
}

.panel-collapse:hover {
    background-color: #ddd;
}

.panel-body:hover {
    background-color: #ddd;
}

.sub-accordion:hover {
    background-color: #ddd;
}

body {
    margin: 0 !important;
}

.invalid {
    color: #f44336;
    font-family: 'Oswald', sans-serif;
}

.valid {
    color: #66cc66;
    font-family: 'Oswald', sans-serif;
}

.pending {
    color: #ffa500;
    font-family: 'Oswald', sans-serif;
}

h1,
h2,
h3,
h4,
p {
    font-family: 'Oswald', sans-serif;
}

.orange {
    color: orange;
}

.red {
    color: red;
}

.grey {
    color: rgba(0, 0, 0, .54);
}

.site-font {
    font-family: 'Oswald', sans-serif;
}

.no-search-results {
    margin-top: -70px;
    margin-left: 20px
}

.no-search-results-add-button {
    margin-left: 20px
}

.details-tab-card-margins {
    margin: 15px 30px 15px 30px;
}

.no-padding {
    padding: 0;
}

.small-left-margin {
    margin-left: 10px;
}

.cdk-overlay-connected-position-bounding-box {
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    min-width: 1px;
    min-height: 1px;
}

.innertop-nav {
    width: 100%;
    background-color: white;
    min-height: 39px;
    border-bottom: 1px solid #E6F4FB;
    color: rgb(0, 101, 134);
    top: 45px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: fixed !important;
    margin-top: -5px;
    z-index: 800;
}

.form-label {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color: #58595B;
    font-weight: 400;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.first-label {
    padding-top: 20px;
}

ul {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color: #58595B;
    font-weight: 400;
}

.search-button {
    position: absolute;
    top: 3px;
}

.other-label {
    margin-left: 0px;
}

.float-button {
    float: left;
    height: 27px;
    margin-top: 5px;
    margin-right: 5px;
}

.list-buttons {
    margin-bottom: 25px !important;
}

.button {
    width: 150px;
    height: 35px;
    background: transparent linear-gradient(258deg, #00BCE7 0%, var(---008eb3) 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(258deg, #00BCE7 0%, #008EB3 100%) 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    width: 150px;
    height: 35px;
    background: transparent linear-gradient(258deg, #008EB3 0%, var(---008eb3) 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(258deg, #008EB3 0%, #00BCE7 100%) 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    width: 150px;
    height: 35px;
    background: #e0e2e2;
    color: gray;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled:hover {
    width: 150px;
    height: 35px;
    background: #e0e2e2;
    color: gray;
    border-radius: 5px;
    cursor: pointer;
}

.button-row {
    margin-left: 10px;
}

.login-button {
    width: 92%;
    padding: 8%;
    margin-left: 4%;
    margin-top: 7%;
    font-size: 135%;
}

.login-button:hover {
    width: 92%;
}

.login-button:hover:disabled {
    width: 92%;
}

.login-button:disabled {
    width: 92%;
}

.new-button {
    cursor: pointer;
    padding-top: 10px;
}

.new-button-top {
    margin-right: -24px;
}

.new-button-left {
    margin-right: 5px;
    float: left;
}

.form-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.form-container>* {
    width: 100%;
}


/* Wrapping element */


/* Set some basic padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Set widths on the form inputs since otherwise they're 100% wide */

input,
select,
textarea {
    max-width: 183px;
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

.navbar {
    min-height: 100px !important;
}

.a-hover:hover {
    color: #061E2F;
    border-top: 2px solid #01B5E5;
}

.glyphicon-user {
    padding-right: 5px;
    color: #777;
}

.nav-username:hover {
    color: #777 !important;
}

.menu-item:hover {
    color: #01B5E5 !important;
}

.menu-item {
    padding-top: 25px;
}

header {
    padding-bottom: 20px;
}

.page-header {
    margin-bottom: 0;
    /* padding-top: 15px; */
    font-family: 'Oswald', sans-serif;
}

.no-menu {
    padding-top: 75px;
}

.tr-click {
    cursor: pointer;
}

h1 {
    font-size: 19pt;
    font-weight: 400;
    /* padding: 9px 0 10px 19px; */
    margin: 0;
    color: #00BCE7;
}

h3,
.saving-text {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.44;
    color: #00BCE7;
    padding: 20px 0 20px 0;
    margin: 0;
}

.saving-text {
    float: left;
}

.form-submitting {
    padding-top: 20px;
}

label {
    color: #666;
}

.submit-button {
    margin-right: 10px;
}

.form-buttons {
    float: left;
}

.new-button {
    /* float: left; */
    padding-bottom: 10px;
}

.form-group-button {
    padding-bottom: 16px;
}

.form-group-button-lookup {
    padding-bottom: 40px;
}

.wizard-font {
    font-family: 'Oswald', sans-serif;
}

.grey {
    color: rgba(0, 0, 0, .54);
}

.blue {
    color: #389cae;
}

.invalid {
    color: #f44336;
    font-family: 'Oswald', sans-serif;
}

.valid {
    color: #66cc66;
    font-family: 'Oswald', sans-serif;
}

.left-padding {
    padding-left: 20px;
}

.card-title {
    font-size: 18px;
}

.list-pointer {
    cursor: pointer;
}

.grey-icon {
    color: rgba(0, 0, 0, .54) !important;
}

.small-padding {
    padding-left: 10px;
}

/* .left-margin {
    margin-left: 20px;
} */

.small-margin {
    margin-left: 10px;
}

.form-container>* {
    width: 100%;
}

.container {
    /* padding-left: 1%;
    padding-right: 1%; */
    margin-right: auto;
    margin-left: 250px;
    margin-top: 80px;
}

.container-padding {
    padding-left: 1%;
    padding-right: 1%;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.button-row button span {
    color: #fff;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-brand:hover,
.navbar-brand:focus {
    text-decoration: none;
}

.navbar-brand>img {
    display: block;
}

@media (min-width: 768px) {

    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: -15px;
    }
}

@media (min-width: 768px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }

    .navbar-collapse.in {
        overflow-y: visible;
    }

    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
    max-height: 340px;
}

@media (max-device-width: 480px) and (orientation: landscape) {

    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        max-height: 200px;
    }
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.navbar-default .navbar-brand {
    color: #777;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}

.navbar-default .navbar-text {
    color: #777;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #333;
    background-color: transparent;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #555;
    background-color: #e7e7e7;
}

.navbar-default .navbar-nav>.disabled>a,
.navbar-default .navbar-nav>.disabled>a:hover,
.navbar-default .navbar-nav>.disabled>a:focus {
    color: #ccc;
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border-color: #ddd;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #e7e7e7;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #555;
    background-color: #e7e7e7;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #777;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #333;
        background-color: transparent;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
        color: #555;
        background-color: #e7e7e7;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a,
    .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus {
        color: #ccc;
        background-color: transparent;
    }
}

.navbar-default .navbar-link {
    color: #777;
}

.navbar-default .navbar-link:hover {
    color: #333;
}

.navbar-default .btn-link {
    color: #777;
}

.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
    color: #333;
}

.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
    color: #ccc;
}

.menu-row {
    padding-top: 25px;
}

@media (min-width: 768px) {
    .navbar-right .dropdown-menu {
        right: 0;
        left: auto;
    }

    .navbar-right .dropdown-menu-left {
        right: auto;
        left: 0;
    }
}

@media (min-width: 768px) {
    .navbar-left {
        float: left !important;
    }

    .navbar-right {
        float: right !important;
        margin-right: -15px;
    }

    .navbar-right~.navbar-right {
        margin-right: 0;
    }
}

.cdk-overlay-container {
    z-index: 1040 !important;
}

.frm-ctrl {
    padding-top: 10px;
    width: 80%;
}

.line_ctrl {
    float: left;
    width: 145px;
    text-align: right;
    margin: 2px;
    display: inline;
}


/* Structure */

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.example-header {
    min-height: 64px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    font-size: 20px;
}

.additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}

.header {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    padding-top: 5px;
}


/*to be removed /renamed*/


/* Structure */

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
}

.link-edit {
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 1em;
    background-color: white;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.details-form {
    padding-top: 8px;
}

input[type=text]::-ms-clear {
    display: none;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.row:before,
.row:after {
    display: table;
    content: " ";
}

.row:after {
    clear: both;
}


/*.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}*/

@media (min-width: 768px) {

    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        float: left;
    }
}

.col-sm-6 {
    width: 50%;
}

.col-sm-11 {
    width: 91.66666667%;
}

.col-sm-offset-6 {
    margin-left: 100%;
}

.timelinecontainer {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .timelinecontainer {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .timelinecontainer {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .timelinecontainer {
        width: 1170px;
    }
}

.timelinecontainer>.navbar-header,
.timelinecontainer-fluid>.navbar-header,
.timelinecontainer>.navbar-collapse,
.timelinecontainer-fluid>.navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 768px) {

    .timelinecontainer>.navbar-header,
    .timelinecontainer-fluid>.navbar-header,
    .timelinecontainer>.navbar-collapse,
    .timelinecontainer-fluid>.navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }
}

@media (min-width: 768px) {

    .navbar>.timelinecontainer .navbar-brand,
    .navbar>.timelinecontainer-fluid .navbar-brand {
        margin-left: -15px;
    }
}

.timelinecontainer .jumbotron,
.timelinecontainer-fluid .jumbotron {
    border-radius: 6px;
}

.jumbotron .timelinecontainer {
    max-width: 100%;
}

@media screen and (min-width: 768px) {
    .jumbotron {
        padding: 48px 0;
    }

    .timelinecontainer .jumbotron,
    .timelinecontainer-fluid .jumbotron {
        padding-right: 60px;
        padding-left: 60px;
    }

    .jumbotron h1,
    .jumbotron .h1 {
        font-size: 63px;
    }
}

.timelinecontainer:before,
.timelinecontainer:after {
    display: table;
    content: " ";
}

.timelinecontainer:after {
    clear: both;
}

.col-sm-offset-1 {
    margin-left: 8.33333333%;
}

#timeline {
    list-style: none;
    position: relative;
}

#timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 2px;
    background-color: #4997cd;
    left: 50%;
    margin-left: -1.5px;
}

#timeline .clearFix {
    clear: both;
    height: 0;
}

#timeline .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    font-size: 1.2em;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -25px;
    background-color: #4997cd;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

#timeline .timeline-badge span.timeline-balloon-date-day {
    font-size: 1.4em;
}

#timeline .timeline-badge span.timeline-balloon-date-month {
    font-size: .7em;
    position: relative;
    top: -10px;
}

#timeline .timeline-badge span.timeline-balloon-date-year {
    font-size: .7em;
    position: relative;
    top: -10px;
}

#timeline .timeline-badge.timeline-filter-movement {
    background-color: #ffffff;
    font-size: 1.7em;
    height: 35px;
    margin-left: -18px;
    width: 35px;
    top: 40px;
}

#timeline .timeline-badge.timeline-filter-movement a span {
    color: #4997cd;
    font-size: 1.3em;
    top: -1px;
}

#timeline .timeline-badge.timeline-future-movement {
    background-color: #ffffff;
    height: 35px;
    width: 35px;
    font-size: 1.7em;
    top: -16px;
    margin-left: -18px;
}

#timeline .timeline-badge.timeline-future-movement a span {
    color: #4997cd;
    font-size: .9em;
    top: 2px;
    left: 1px;
}

#timeline .timeline-movement {
    border-bottom: dashed 1px #4997cd;
    position: relative;
}

#timeline .timeline-movement.timeline-movement-top {
    height: 60px;
}

#timeline .timeline-movement .timeline-item {
    padding: 20px 0;
}

#timeline .timeline-movement .timeline-item .timeline-panel {
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    background-color: #FFFFFF;
    color: #666;
    padding: 10px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

#timeline .timeline-movement .timeline-item .timeline-panel .timeline-panel-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul {
    text-align: right;
}

#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li {
    color: #666;
}

#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li span.importo {
    color: #00bce7;
    font-size: 1.3em;
}

#timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul {
    text-align: left;
}

#timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul span.importo {
    color: #00bce7;
    font-size: 1.3em;
}

@media (min-width: 768px) {
    .audit-col-sm-6 {
        float: left;
    }
}

.audit-col-sm-6 {
    width: 90%;
}

.audit-col-sm-offset-1 {
    margin-left: 8%;
}

.audit-col-sm-11 {
    width: 100%;
}

#audittimeline {
    list-style: none;
    position: relative;
}

#audittimeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 2px;
    background-color: #4997cd;
    left: 2%;
    margin-left: -1.5px;
}

#audittimeline .clearFix {
    clear: both;
    height: 0;
}

#audittimeline .audittimeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    font-size: 1.2em;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 3%;
    margin-left: -25px;
    background-color: #4997cd;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

#audittimeline .audittimeline-badge span.audittimeline-balloon-date-day {
    font-size: 1.4em;
}

#audittimeline .audittimeline-badge span.audittimeline-balloon-date-month {
    font-size: .7em;
    position: relative;
    top: -10px;
}

#audittimeline .audittimeline-badge span.audittimeline-balloon-date-year {
    font-size: .7em;
    position: relative;
    top: -10px;
}

#audittimeline .audittimeline-badge.audittimeline-filter-movement {
    background-color: #ffffff;
    font-size: 1.7em;
    height: 35px;
    margin-left: -18px;
    width: 35px;
    top: 40px;
}

#audittimeline .audittimeline-badge.audittimeline-filter-movement a span {
    color: #4997cd;
    font-size: 1.3em;
    top: -1px;
}

#audittimeline .audittimeline-badge.audittimeline-future-movement {
    background-color: #ffffff;
    height: 35px;
    width: 35px;
    font-size: 1.7em;
    top: -16px;
    margin-left: -18px;
}

#audittimeline .audittimeline-badge.audittimeline-future-movement a span {
    color: #4997cd;
    font-size: .9em;
    top: 2px;
    left: 1px;
}

#audittimeline .audittimeline-movement {
    border-bottom: dashed 1px #4997cd;
    position: relative;
}

#audittimeline .audittimeline-movement.audittimeline-movement-top {
    height: 60px;
}

#audittimeline .audittimeline-movement .audittimeline-item {
    padding: 20px 0;
}

#audittimeline .audittimeline-movement .audittimeline-item .audittimeline-panel {
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    background-color: #FFFFFF;
    color: #666;
    padding: 10px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

#audittimeline .audittimeline-movement .audittimeline-item .audittimeline-panel .audittimeline-panel-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#audittimeline .audittimeline-movement .audittimeline-item .audittimeline-panel.credits .audittimeline-panel-ul {
    text-align: right;
}

#audittimeline .audittimeline-movement .audittimeline-item .audittimeline-panel.credits .audittimeline-panel-ul li {
    color: #666;
}

#audittimeline .audittimeline-movement .audittimeline-item .audittimeline-panel.credits .audittimeline-panel-ul li span.importo {
    color: #00bce7;
    font-size: 1.3em;
}

#audittimeline .audittimeline-movement .audittimeline-item .audittimeline-panel.debits .audittimeline-panel-ul {
    text-align: left;
}

#audittimeline .audittimeline-movement .audittimeline-item .audittimeline-panel.debits .audittimeline-panel-ul span.importo {
    color: #00bce7;
    font-size: 1.3em;
}

.audittable {
    border-collapse: collapse;
}

.audittable td,
.audittable th {
    border-bottom: 1px solid #51627c;
    padding: 5px;
    text-align: left;
}

@font-face {
    font-family: SourceSansPro;
    src: url(SourceSansPro-Regular.ttf);
}

.templateclearfix:after {
    content: "";
    display: table;
    clear: both;
}

templateheader {
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #AAAAAA;
}

#templatelogo {
    float: left;
    margin-top: 8px;
}

#templatelogo img {
    height: 70px;
}

#templatecompany {
    float: right;
    text-align: right;
}

#templatedetails {
    margin-bottom: 50px;
}

#templateclient {
    padding-left: 6px;
    border-left: 6px solid #0087C3;
    float: left;
}

#templateclient .to {
    color: #777777;
}

templateh2.name {
    font-size: 1.4em;
    font-weight: normal;
    margin: 0;
}

.templatebodyDiv {
    width: 860px;
}

.templatebodycontents {
    padding: 20px;
}

.templatetable {
    width: 860px;
    height: 202px;
    border: 0;
}

.templateminiFont {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    font-size: 10px;
}

.templatebodyText {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    font-size: 16px;
    white-space: pre-line;
    /* CSS3 */
    white-space: -moz-pre-wrap;
    /* Firefox */
    white-space: -pre-wrap;
    /* Opera <7 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* IE */
}

.templatebodyText span {
    color: aqua
}

.templateemptyspace {
    height: 20px;
}

.templateemptyspacetwo {
    height: 0px;
}

.templatetableHeading {
    background: #9B9B9B;
    padding: 16px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    font-size: 14px;
    font-weight: bold;
}

.templatetableHeading-Blue {
    background: #34B0EE;
    padding: 16px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    font-size: 14px;
    font-weight: bold;
}

.templatebodytable-Greyone {
    background: #D2D2D2;
    padding: 16px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    font-size: 13px;
}

.templatebodytable-Greytwo {
    background: #D2D2D2;
    padding: 16px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    font-size: 13px;
    text-align: center;
}

.templatebodytable-Blue {
    background: #AAE2FF;
    padding: 16px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    font-size: 13px;
    text-align: center;
}

.templatebreakFont {
    padding: 16px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    font-size: 14px;
    text-align: right;
    font-weight: bold;
}

.templateaddress {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    font-size: 16px;
    color: #555555 !important;
}

.templateaddress span {
    color: aqua;
}

.template {
    color: #555555 !important;
    padding-left: 30px;
}

.templatefooter {
    padding-left: 0px !important;
}

#ApprovalContent {
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
    width: 920px;
}

.rates-button {
    padding-left: 10px;
}

.pic-circle-corner {
    display: block;
    width: 20px;
    height: 20px;
    margin: .8em auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid #eee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#mandatory-field:after {
    content: " *";
    color: red;
}

.mandatory-field:after {
    content: " *";
    color: red;
}

.input-error-border {
    border: 1px solid red !important;
}

.rTable {
    display: table;
    width: 100%;
    border: 1px;
}

.rTableRow {
    display: table-row;
}

.rTableCell,
.rTableHead {
    display: table-cell;
    padding: 3px 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color: #58595B;
    font-weight: 400;
    width: -17px;
}

.rTableHeading {
    display: table-header-group;
    background-color: #ddd;
    font-weight: bold;
}

.rTableBody {
    display: table-row-group;
}

.inline-grid-icon {
    margin-bottom: 0 !important;
}

.delete-link {
    color: red;
}

.link-hover:hover {
    color: #01aac1;
}

.wizard-font-height {
    height: 50px;
}

.container-margin {
    /* margin: 15px 30px 15px 13px; */
}

.menu-container {
    margin-top: -14px;
}

.check-box-row {
    padding-right: 34px;
    flex: 0
}

.date-icon {
    position: absolute;
    top: 15px;
    right: 3px;
    cursor: pointer;
}

.right-aligned-amounts {
    display: flex !important;
    justify-content: flex-end !important;
}

.centred-aligned-text {
    display: flex !important;
    justify-content: center !important;
}

.action-buttons {
    margin-top: 20px;
}

.backIcon {
    color: darkgray;
    float: right;
}

.expansionTitleDocuments {
    font-size: medium;
    margin-left: 5px;
    padding-top: 5px;
    color: Black;
    vertical-align: middle;
}

.Activebutton:focus {
    color: white;
    background-color: #51627c;
}

.altRowTable {
    width: 100%;
    font-size: small !important;
    border-color: #F2F2F2;
}

.altRowTable tr:hover {
    cursor: pointer;
    background-color: #7DC0DA !important;
}

.altRowTable tr {
    height: 35px;
}

.altRowTable tr:nth-child(even) {
    background: #F2F2F2
}

.altRowTable tr:nth-child(odd) {
    background: #E6F4FB
}

.altRowTable th {
    background-color: #7DC0DA !important;
    color: #0a0a0a;
}

.altRowTable td {
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    text-align: center !important;
}

.pulse {
    animation: pulse 3s;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    0%,
    85% {
        transform: scale(1);
    }

    90% {
        transform: scale(1.25);
    }

    95% {
        transform: scale(1);
        color: black !important;
    }

    100% {
        transform: scale(1);
    }
}

.pulseGreen {
    animation: pulseGreen 3s;
    animation-iteration-count: infinite;
}

@keyframes pulseGreen {
    0%,
    85% {
        transform: scale(1);
    }

    90% {
        transform: scale(1.25);
    }

    95% {
        transform: scale(1);
        color: green !important;
    }

    100% {
        transform: scale(1);
    }
}

.pulseRed {
    animation: pulseRed 3s;
    animation-iteration-count: infinite;
}

@keyframes pulseRed {
    0%,
    85% {
        transform: scale(1);
    }

    90% {
        transform: scale(1.25);
    }

    95% {
        transform: scale(1);
        color: red !important;
    }

    100% {
        transform: scale(1);
    }
}

.pulseAmber {
    animation: pulseAmber 3s;
    animation-iteration-count: infinite;
}

@keyframes pulseAmber {
    0%,
    85% {
        transform: scale(1);
    }

    90% {
        transform: scale(1.25);
    }

    95% {
        transform: scale(1);
        color: orange !important;
    }

    100% {
        transform: scale(1);
    }
}

.pulseBlue {
    animation: pulseBlue 3s;
    animation-iteration-count: infinite;
}

@keyframes pulseBlue {
    0%,
    85% {
        transform: scale(1);
    }

    90% {
        transform: scale(1.25);
    }

    95% {
        transform: scale(1);
        color: blue !important;
    }

    100% {
        transform: scale(1);
    }
}

.shake {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.rotating {
    animation: rotating 2s linear infinite;
}

@keyframes rotating {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.rotateSlow {
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.icn-button {
    padding: 2px;

    height: 24px !important;
    width: 24px !important;
    max-height: 24px !important;
    min-width: 24px !important;

    color: gray !important;

    border-style: solid;
    border-radius: 5px;
    border-color: gray;
    border-width: 1px;

    margin-right: 2px;
}

.icn-button:hover {
    padding: 2px;

    animation: pop 3s;
    animation-iteration-count: infinite;
    color: black !important;

    border-style: solid;
    border-radius: 5px;
    border-color: gray;
    border-width: 1px;
    background-color: whitesmoke;
}

.material-icons {
    font-family: 'Material Icons' !important;
    vertical-align: middle !important;
}

.material-icons.pointer {
    margin-top: -2px;

    padding: 2px;

    height: 24px !important;
    width: 24px !important;
    max-height: 24px !important;
    min-width: 24px !important;

    color: gray !important;

    border-style: solid;
    border-radius: 5px;
    border-color: gray;
    border-width: 1px;

    margin-right: 2px;
}

.material-icons.pointer:hover {
    padding: 2px;

    animation: pop 3s;
    animation-iteration-count: infinite;
    color: black !important;

    border-style: solid;
    border-radius: 5px;
    border-color: gray;
    border-width: 1px;
    background-color: whitesmoke;
}

.bounce {
    animation: pop 3s;
    animation-iteration-count: infinite;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.hcp-selector {
    width: 100%;
    background-color: white;
    min-height: 39px;
    border-bottom: 1px solid #E6F4FB;
    color: rgb(0, 101, 134);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 13px;
    margin-top: -5px;
}

.action-link {
    color: #061E2F !important;
    text-decoration-color: #70707033;
    text-decoration-thickness: 2px;
}

.action-link-right {
    margin-left: 5px;
}

.action-icon {
    padding-right: 1px;
    height: 18px;
    vertical-align: bottom;
}

.action-icon-right {
    margin-left: 5px;
}

mat-card.wizard-mat-card.wizard-mat-table mat-cell {
    word-break: break-word;
}

mat-card.wizard-mat-card.wizard-mat-table mat-cell.mat-column-actions {
    padding-left: 1px !important;
    padding-right: 1px !important;
}

div.wizard-main-content>h4 {
    margin-left: 24px;
}

mat-card.wizard-mat-card>mat-card-header>h4 {
    margin-left: 26px;
}

mat-card.wizard-mat-card>mat-card-header>h4.card-header {    
    display: inline-block;
}

mat-card.wizard-mat-card>mat-card-header>mat-checkbox {
    margin: 1em 1.5em 0 0;
    float: right;
}

mat-card.wizard-mat-card>mat-card-header {
    display: block;
    margin: 0 -16px 10px -16px;
    padding-left: 10px;
    border-bottom: 2px solid rgba(47, 80, 102, .06);
}

mat-card.wizard-mat-card>mat-card-header .form-buttons {
    float: none !important;
    margin-top: 10px;
    margin-left: 15px;
}

mat-card.wizard-mat-card>mat-card-header .form-buttons .button {
    width: 209px;
}

mat-card.wizard-mat-card>mat-card-footer {
    padding-left: 10px;
    border-top: 2px solid rgba(47, 80, 102, .06);
}

mat-card.wizard-mat-card>mat-card-footer .form-buttons {
    float: none !important;
    margin-top: 10px;
    margin-left: 15px;
}

mat-card.wizard-mat-card>mat-card-footer .form-buttons .button {
    width: 209px;
}

mat-card.wizard-mat-card.wizard-mat-table {
    padding-left: 0.25px;
    padding-right: 0.25px;
}

mat-card.wizard-mat-card.wizard-mat-table div.mat-container {
    padding-left: 0.25px;
    padding-right: 0.25px;
}

@media (max-width: 1600px) {
    .action-icon-right {
        margin-left: 1px;
    }

    mat-card.wizard-mat-card.wizard-mat-table mat-cell {
        padding-left: 2px !important;
        padding-right: 2px !important;

        font-size: 10px !important;
        line-height: 15px;
    }
}