.items-heading-center {
    text-align: center;
}

.margine-space {
    margin-left: 15px;
}

.first-footer-row {
    font-weight: bold;
}

.mat-footer-cell {
    font-size: 12px !important;
}

.hidden {
    display: block;
    visibility: hidden;
    height: 0;
    width: 0;
}

/*status warning message*/
.red-text-status-message {
    color: red;
}

.validation-errors {
    color: red;
}

.validation-errors:hover {
    cursor: pointer
}

.validation-pass {
    color: green;
}

.material-icons {
    color: #00BCE7;
}

.practive-status {
    font-size: 15px;
}

.cursorPointer {
    cursor: pointer;
}

.matCard {
    margin: 15px 30px 15px 30px;
}

.matCardContent {
    margin-left: 10px;
}

.breakdown-table {
    float: left;
    height: 100%;
}

.clear {
    clear: both;
}

.element-row {
    cursor: pointer;
}

.element-row:hover {
    background-color: #e7b013;
}