<div>
    <app-medicare-search-menus></app-medicare-search-menus>
</div>

<mat-tab-group>
    <mat-tab label="Medical Invoices">

        <app-medical-invoice-list [personEventId]="personEventId" [switchBatchType]="switchBatchTypeEnum.MedEDI"
            [searchByHealthCareProvider]="true">
        </app-medical-invoice-list>

    </mat-tab>
    <mat-tab label="Teba Invoices">

        <app-teba-invoice-list [personEventId]="personEventId"
            [switchBatchType]="switchBatchTypeEnum.Teba"></app-teba-invoice-list>
    </mat-tab>
</mat-tab-group>