.checkbox{
  margin-left: -18px !important;
}

.mat-column-memberType, .mat-column-benefitBaseRateLatest, .mat-column-benefitRateLatest {
  max-width: 130px !important;
}

.mat-column-benefitBaseRateLatest, .mat-column-benefitRateLatest {
  justify-content: flex-end;
}