#account {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  max-height: 200px;
  overflow-y: scroll;
}

#account td, #account th {
  border: 1px solid #ddd;
  padding: 8px;
}

#account tr:nth-child(even){background-color: #f2f2f2;}

#account tr:hover {background-color: #ddd;}

.money {
  text-align: right;
}

#account th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: middle;
  background-color: #7DC0DA;
  color: white;
}

#account tfoot {background-color: #ddd;}

.total-green {
  background-color: lightgreen;
}

.total-red {
  background-color: lightcoral;
}

.number-align {
  justify-content: flex-end;
}

.total-bar {
  display: flex;
  justify-content: flex-end;
  font-size: 14px !important;
}

.total-table {
  width: 100%;
  border-collapse: collapse;
}

.total-blank {
  width: 60%;
}

.total-cell {
  width:20%;
  font-weight: bold;
  text-align: right;
  padding: 16px 20px;
}

.total-align {
  width: 16%;
  text-align: right;
  padding: 20px 24px 20px 50px;
}
