.margine-space {
  margin-left: 15px;
}

.clear {
  clear: both;
  height: 1px;
}

.mat-datepicker-toggle {
  position: absolute;
  margin-top: 13px;
  right: 0;
}

#mat-dialog-0>app-invoice-switch-batch-search-pev>div>form>mat-card>section:nth-child(2)>div.field-container {
  height: 10px;
}

input {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 27px;
}

#mat-dialog-0>app-invoice-switch-batch-search-pev>div>form>mat-card>section:nth-child(6)>div.field-container>mat-form-field>div {
  padding-bottom: 1px;
  height: 1px;
}