.redSLA {
    color: #fff;
    background: red;
}

.greenSLA {
    color: #fff;
    background: green;
}

.whiteSLA {
    color: #fff;
    background: green;
}

.amberSLA {
    background: #FF6B00;
    color: #fff;
}

/**/

mat-form-field {
    width: 100%;
}

mat-error {
    text-align: center;
}

.placeholder {
    position: relative;
    right: -26px;
    top: 14px;
    height: 42px;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
    height: 42px;
}

.mat-focused .placeholder {
    visibility: hidden
}

.clear {
    clear: both;
}

.mat-datepicker-toggle {
    position: absolute;
    margin-top: 13px;
    right: 0;
}
