.continue-content {
  padding-bottom: 40px;
}

.select-column {
  max-width: 26px !important;
}

.error-message {
  font-size: smaller;
  color: red;
}

.age-column {
  max-width: 30px !important;
}

.text-column {
  max-width: 120px !important;
}

.number-column {
  max-width: 100px !important;
  display: flex;
  justify-content: flex-end;
}

.pad-error {
  padding: 25px 0px;
}