<div *ngIf="isLoading$ | async">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  <label class="mat-label other-label"><i>loading periods...please wait</i></label>
</div>

<div *ngIf="(concurrentPeriodsDetected || showPeriodControl) && !(isLoading$ | async)" class="period-container">
  <label class="mat-label other-label mandatory-field">{{title}}</label><br />
  <label *ngIf="!showPeriodControl" class="mat-label other-label very-small">more than one open period has been detected. Please
    select the targeted period</label>
  <label *ngIf="showPeriodControl" class="mat-label other-label very-small">Please
    select the targeted period</label>    
  <mat-select [(value)]="default" (selectionChange)="periodChange($event)">
    <mat-option *ngFor="let period of concurrentPeriods" [value]="period.status">
      {{period.endDate | date:'MMMM yyyy' }} - ({{period.status}})
    </mat-option>
  </mat-select>
  <div *ngIf="messages && messages.length > 0">
    <div *ngFor="let message of messages"><span class="error">{{message}}</span></div>
  </div>
</div>
