.search-policies {
    width: 500px;
}

input.mat-input-element {
    height: 30px;
    border-radius: 22px !important;
}

.search-icon:hover {
    cursor: pointer
}

.clear-icon:hover {
    cursor: pointer
}

.search-icon {
    position: absolute;
    right: 8px;
    top: -2px;
    color: #33BFE6;
}

.clear-icon {
    color: #e63333;
    size: 12px;
}

.clear-button {
    position: relative;
    border: none;
    top: -16px;
    border-radius: 50%;
}

.placeholder {
    position: relative;
    right: -10px;
    top: 6px;
    height: 30px;
}