.margin-left1{ margin-left: 29px;}
.margin-left{margin-left: 12px;}

mat-card{margin: 15px 30px 15px 30px}
mat-card-content {margin-left: 10px;}
.section1{margin-bottom: 15px;}
.wordwrap{word-wrap: normal;}
mat-header-cell{word-wrap: normal; justify-content: center;}

table {
  width: 100%;
}

.ChildData {
  text-align: left;
  justify-content: left;
}
.expand {
  text-align: left !important;
  justify-content: left !important;
  overflow: auto !important;
  padding: 5px !important;
  max-height: -webkit-fill-available !important;
}
.disabled {
  pointer-events: none;
}

.material-icons:hover {
  -webkit-transform: rotate(180deg);
  /* Safari */
  transform: rotate(180deg);
  -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
  /* Safari */
  transition: width 1s, height 1s, transform 1s;
}

.material-icons.add {
  color: black;
  padding-top: -5px;
}
