<mat-card style="margin: 0 30px 15px 30px">
  <mat-card-content>
    <h2>Create a work item</h2>
    <form [formGroup]="form" class="mat-container details-form" novalidate>
    
      <div *ngIf="isLoading">
        <mat-progress-bar mode="indeterminate"
          [ngClass]="{ 'loading-main-double-menu-progress': doubleMenu, 'loading-main-single-menu-progress': !doubleMenu }">
        </mat-progress-bar>
        <p class="site-font grey">{{loadingMsg}}</p>
      </div>
      
      <label class="mat-label other-label mandatory-field">Select an option below to start a new form to capture</label>
      <mat-form-field appearance="standard">
      <mat-select placeholder="Form types" formControlName="workItemTypeId"(selectionChange)="onSelectedWorkItemType($event)" >
        <mat-option *ngFor="let x of workItemTypes" [value]="x">
          {{ x.workItemTypeName }}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('workItemTypeId').hasError('required')">
          Form Type is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>

    <div class="form-buttons submit-button">
      <button type="button" (click)="onStartClick()" class="button float-button" [disabled]="!selectedWorkItemType || isLoading===true">Start</button>
    </div>

  </mat-card-content>
</mat-card>
<!---
<mat-card style="margin: 0 30px 15px 30px">
    <mat-card-content>
      <h2>Start Pre-Authorisation Wizard</h2>
    
    <div class="form-buttons submit-button">
        <button type="button" (click)="startWizard()" class="button float-button" >Start</button>
    </div>
  </mat-card-content>
  </mat-card>
-->