<mat-card *ngIf="!model || (isLoading$ | async)">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  <label class="mat-label other-label"><i>loading...please wait</i></label>
</mat-card>

<div *ngIf="model && !(isLoading$ | async)">

  <member-view [rolePlayerId]="model.companyRolePlayerId" [isReadOnly]="true"></member-view>

  <person-event-view [personEventId]="model.personEventId"></person-event-view>

  <mat-tab-group animationDuration="500ms" [(selectedIndex)]="defaultTab">
    <mat-tab label="Claim">
      <mat-card *ngIf="!selectedClaim"
        label="{{model.claims && model.claims.length > 0 ? 'Claims(' + model.claims.length + ')' : 'Claims(0)'}}">
        <holistic-claim-details *ngIf="model.claims && model.claims.length > 0" [personEvent]="model"
          (claimSelectedEmit)="setSelectedClaim($event)" [triggerRefresh]="triggerRefresh"></holistic-claim-details>

        <div *ngIf="!model.claims || model.claims.length <= 0">
          <i>PEV has not been acknowledged...no claims have been created</i>
        </div>
      </mat-card>
    </mat-tab>

    <mat-tab *ngIf="model.rolePlayer" label="Employee">
      <person [rolePlayer]="model.rolePlayer" [title]="'Employee'" [isReadOnly]="true" [showDocuments]="false"></person>
    </mat-tab>

    <mat-tab label="Employment">
      <holistic-employment-details [personEvent]="model" [isReadOnly]="true"></holistic-employment-details>
    </mat-tab>

    <mat-tab *ngIf="model.event" label="{{eventTypeLabel}}">
      <holistic-injury-details [personEvent]="model" [isReadOnly]="true" [isWizard]="true"
        [eventType]="model.event.eventType"></holistic-injury-details>
    </mat-tab>

    <mat-tab label="Referrals">
      <referral-view [targetModuleType]="targetModuleType" [referralItemType]="referralItemType"
        [itemId]="model.personEventId" [referralItemTypeReference]="model.personEventReferenceNumber"></referral-view>
    </mat-tab>

    <mat-tab label="Notes">
      <common-notes [moduleType]="moduleType" [noteItemType]="noteItemType"
        [itemId]="model.personEventId"></common-notes>
    </mat-tab>

    <mat-tab label="Documents">
      <document-uploader [documentSet]="documentSet" [systemName]="documentSystemName" [keyName]="'PersonEventId'"
        [keyValue]="model.personEventId" (requiredDocumentsUploadedEmit)="setRequiredDocumentsUploaded($event)">
      </document-uploader>
    </mat-tab>

    <mat-tab label="Communication">
      <email-audit-search [itemType]="'PersonEvent'" [itemId]="model.personEventId"
        [rolePlayerContactOptions]="rolePlayerContactOptions"></email-audit-search>
    </mat-tab>
  </mat-tab-group>
</div>