<div class="wizard-main-content mat-elevation-z8">
  <form [formGroup]="form" class="mat-container details-form">
    <section>
      <mat-form-field class="mat-form-field">
        <label class="mat-label other-label mandatory-field">Claim Waiting Period</label>
        <mat-select formControlName="claimWaitingPeriodOptionId" required>
          <mat-option *ngFor="let option of waitingPeriodOptions" [value]="option.benefitOptionItemValueId">
            {{option.optionItemName}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('claimWaitingPeriodOptionId').hasError('required')">
          Claim Waiting Period is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="mat-form-field-right">
        <label class="mat-label other-label mandatory-field">Multiple of salary</label>
        <input matInput formControlName="salaryMultiple" DecimalNineFour>
        <mat-error *ngIf="form.get('salaryMultiple').hasError('required')">
          Multiple of salary is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </section>
    <section>
      <mat-form-field class="mat-form-field">
        <label class="mat-label other-label mandatory-field">Salary (Premium Purpose)</label>
        <mat-select formControlName="premiumSalaryTypeOptionItemId" required>
          <mat-option *ngFor="let option of premiumSalaryTypeOptions" [value]="option.benefitOptionItemValueId">
            {{option.optionItemName}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('premiumSalaryTypeOptionItemId').hasError('required')">
          Salary (Premium Purpose) is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="mat-form-field-right">
        <label class="mat-label other-label mandatory-field">Salary (Benfit Purpose)</label>
        <mat-select formControlName="benefitSalaryTypeOptionItemId" required>
          <mat-option *ngFor="let option of benefitSalaryTypeOptions" [value]="option.benefitOptionItemValueId">
            {{option.optionItemName}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('benefitSalaryTypeOptionItemId').hasError('required')">
          Salary (Benfit Purpose) is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </section>
    <section>
      <mat-form-field class="mat-form-field">
        <label class="mat-label other-label mandatory-field">Less Approved Benefit</label>
        <mat-select formControlName="lessApprovedBenefitOptionId" required>
          <mat-option *ngFor="let option of lessApprovedBenefitOptions" [value]="option.benefitOptionItemValueId">
            {{option.optionItemName}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('lessApprovedBenefitOptionId').hasError('required')">
          Less Approved Benefit is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="mat-form-field-right">
        <label class="mat-label other-label mandatory-field">Taper</label>
        <mat-select formControlName="taperOptionId" required>
          <mat-option *ngFor="let option of taperOptions" [value]="option.benefitOptionItemValueId">
            {{option.optionItemName}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('taperOptionId').hasError('required')">
          Taper is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </section>
  </form>
</div>
