.address-error {
  font-style: italic;
  font-size: 75%;
  color: red;
}

.policyAddressDiv{
  width: 98%;
  margin-left: 1.5% !important;
}

.Arabic {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  /* background: #fff; */
  font-size: 10px/12px !important;
  font-weight: normal;
  color:#00BCe7;
  text-shadow: 0 0 0  #4E8BB7;
}

.contactDetailsDiv{
  margin-left: 2%;
}