.tariffError {
    color: red
  }

.hidden{
    display: block;
    visibility: hidden;
    height: 0;
    width: 0;
  }

  .mat-form-field-prefix{
    top: 22px !important;
  }

  .mat-label-header{
    top: 22px !important;
    font-weight: bold;
  }

  .mat-label-value{
    top: 22px !important;
    font-style: italic;  
  }

  .mat-card-style {
    text-align: left;
 }


 .tariffcontainer {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 150px;
  padding-left: 130px;
  top: 0;
  left: 0;
   bottom: 0;
  right: 0;
  width: 100%; 
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.tariffcontent {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  overflow-y: scroll; 
  height: 465px;
}

