
.legal-table-content{
  display: flex;
  justify-content: center;
}

table, .table-insie{
  width: 100%;
}

.mat-table-data{
  padding: 0px 16px 16px;
}

.demo-section{
  margin: 0px 8px;
}

.user-profile-image{
  height: auto;
  max-width: 80%;
}

.top-icons{
  border: 1px solid #D6D6D6;
  padding: 1px;
  border-radius: 3px;
}

.top-action-tab{
  width: 95%;
  padding-bottom: 16px;
}

.top-action-tab button{
  border-radius: 3px;
  background: #BDE3F6;
  display: inline-flex;
  height: 34px;
  padding: 8px 20px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: #006586;
  font-family: Montserrat;
  font-size: 14px;
  border: none;
  margin: 0px 12px;
  cursor: pointer;
  font-weight: 700;
}

.spinner-view {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.legal-admin{
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.type-class{
  margin: 0px 18px;
  padding: 8px 0px 0px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.type-class .type-class-item{
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 20px;
}

.type-class .type-class-border{
  border-radius: 7px 7px 0px 0px;
}

th{
  color: #000 !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-bottom: 1px solid #ddd !important;
  font-weight: 600;
  font-family: Montserrat;
  font-size: 14px !important;
}

tr{
  cursor: pointer;
  font-family: Montserrat;
  font-size: 13px;
  height: 42px;
}

th, tr{
  background-color: #FFF !important;
}

td{
  background-color: #F7F7F7 !important;
  border-top: 8px solid #FFF !important;
  color: #000;
  font-family: Montserrat;
  font-size: 12px;    
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.39px;
  border-bottom: none !important;
  padding: 14px 0px !important;
  text-align: left !important;
}

td span{
  font-size: 13px;
  font-weight: 500;
}

.tableHeaderSapn{
  display: inline-block;
  text-align: left;
  padding-left: 8px;
  white-space: initial;
}
.checkbox-select{
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.search-input{
  outline: none !important;
  height: 36px;
  font-size: 14px !important;
  border: none!important;
  width: 95%;
  color: #58585B;
  font-weight: 500;
}

.search-input :focus-visible{
  outline: none !important;
}

.progress-bar-container{
  height: 50vh;
  display: flex;
  align-items: center;
  width: 95%;
}

.select-option{
  width: 100%;
  padding: 5px;
  background-color: #F2F2F2;
  border: none;
  cursor: pointer;
  outline: none !important;
}

.option-value{
  background-color: #FFF;
  padding: 12px;
}

.legal-manager-assign{
  height: 30px;
}

.ack-select{
  text-align: center;
  border: none;
  outline: none;
  background-color: #F7F7F7;
  cursor: pointer;
  width: 85%;
  padding: 8px 8px;
  border-radius: 4px;
  font-weight: 700;
}

.option-item span{
  color: rgba(14, 69, 106, 0.75);
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.select-td{
  display: flex;
  justify-content: left;
  align-items: center;
}

.select-text{
  padding-left: 8px;
  white-space: initial;
}

.debtors-details-value{
  display: inline-block;
  padding: 4px;
  color: #FFF;
  border-radius: 4px;
  color: #000;
  padding: 8px 14px 8px 12px;
  color: #FFF
}

.no-data-text{
  text-align: center;
  color: rgb(91, 181, 208);
  font-weight: 500;
}

.no-ptp-value{
  background-color: #33C601;
  color: #FFF;
  font-weight: 500;
  padding: 4px 8px 4px 4px;
}  

.over_due_by_text{
  border-radius: 5px;
  color: #FFF;
  display: flex;
  width: 80%;
  padding: 8px 0px;
  justify-content: center;
}
.top-header-tab{
  padding: 0px 16px;
  width: 95%;
}
.top-header-tab-inner-div{
  padding: 0px 8px;
   display: flex;
}
.search-container-css{
  padding: 16px 16px;
  border-bottom: 1px solid #D6D6D6;
  display: flex;
  align-items: center;
}

.filter-action{
  width: 50%;
  position: relative;
}

.filter-action-icon{
  display: flex;
  justify-content: flex-end;
}
.search-container-data{
  width: 50%;
        border-radius: 3px;
        border: 1px solid #ddd;
        display: flex;
        align-items: center;
        padding: 0px 8px;
}
.search-container-data span{
  display: flex;
}
.debtor-collection-table{
  border-radius: 7px;
  border: 1px solid #D6D6D6;
}
.debtor-collection-container{
  padding: 0px 24px 16px;
  width: 95%;
}
.table-data-head{
  padding-left: 0 !important;
}
.table-col-assign-on{
  width: 12%;
}
he{
  border-top: 0.2px solid #D6D6D6;
}

.filter-details-box{
  position: absolute;
  top: 90%;
  width: 70%;
  z-index: 999;
  right: 0;
}

.filter-icon{
  cursor: pointer;
  margin-right: 22px;
}

.filter-details{
  position: relative;
  border: 1px solid #ddd;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 25px;
}

.multi-agent-list-dropdown {
  width: 98%;
  height: 46px;
}

.create-message-temp-tabs-fields{
  margin-bottom: 12px;
}

.action-div-box {
  display: flex;
  justify-content: flex-end;
  padding: 18px 8px 4px 0px;
}

.select-action {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.action-submit {
  border-radius: 5px;
  background: linear-gradient(90deg, #008EB3 0%, #00BCE7 100%);
  color: #FFF;
  border: 0;
  font-size: 16px;
}

.btn-reset{
  margin-right: 16px;
}

.box-close-icon{
  position: absolute;
  cursor: pointer;
  top: 5px;
  right: 5px;
}

.date-picker-toggle-css {
  position: relative !important;
}

.detailHeadInnerDiv {
display: flex;
justify-content: space-between;
}

.date-picker-field{
width: 96%;
padding-left: 0px;
}

.date-picker-upadte-status{
  width: 50%;
}

.filter-date-label{
margin: 4px 0px;
color: #666;
}

.border-none{
border: none !important;
}

.enable-click-event{
  pointer-events: auto;
  opacity: 1;
  cursor: pointer;
}

.disable-click-event{
  pointer-events: none;
  opacity: 0.5;
  cursor: auto;
}