/* .expansionTitle {
  font-size: medium;
  font-weight: bolder;
  margin-bottom: 20px;
  padding-top: 5px;
  color: Black;
  vertical-align: middle;
  width: auto;
}

.contactPerson {
  margin-top: 10px !important;
}

.mat-error-incident {
  color: #f44336 !important;
  font-size: 13px !important;
}

.altRowTable tr:nth-child(even) {
  background: #DEE3EB
}

th {
  padding: 5px;
  background-color: #7DC0DA;
  color: #fff;
}

td {
  max-width: 150px;
  min-width: 50px;
  max-height: 25px;
  padding: 10px;
  text-align: center;
}

.scrollTable {
  overflow-y: auto;
  max-height: 300px;
  font-size: small;
}

.greenSLA {
  color: green;
}

.amberSLA {
  color: orange;
}

.goldSLA {
  color: rgb(238, 255, 0);
}

.sub-label {
  font-size: x-small;
  color: blue;
}

.redSLA {
  color: red;
}

.panel {
  background-color: lightgrey;
  margin-bottom: 10px;
}


.mat-datepicker-toggle {
  position: absolute;
  margin-top: 13px;
  right: 0;
}

.noteRequired {
  color: red;
  font-size: x-small;
}

.material-icons.inValid {
  color: pink;
}

.material-icons.valid {
  color: green;
}

.custom-margin {
  margin-top: 25px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  opacity: 0;
}

.disableInput {
  background-color: #ACB9CD;
  color: #858F9F;
} */