mat-card {
  margin: 15px 30px
}

.field-container {
  margin-right: 24px;
}

.search-icon {
  position: absolute;
  top: 15px;
  left: -34px;
  color:rgba(0,0,0,.38)
}

.mat-toggle-datepicker {
  left: -25px;
  top: 5px;
}

.mat-card-title h3 {
  color: #389cae;
  margin: 0px 0px 0px -7px;
  padding: 0px;
}

h4 {
  margin: 0px;
}

section {
  overflow-y: hidden;
}

.view-report-button {
  margin-top: 19px
}
