body {
margin: 0px;
padding: 0px;
}

mat-cell:last-child {
text-align: center !important;
text-justify: center !important;
font-size: 14px !important;
}

mat-icon {
position: absolute;
right: 21px;
top: 13px;
color: black;
cursor: pointer;
-webkit-transition: width 1s, height 1s, -webkit-transform 1s;
/* Safari */
transition: width 1s, height 1s, transform 1s;
}

mat-icon:hover {
-webkit-transform: rotate(180deg);
/* Safari */
transform: rotate(180deg);
}

.mat-card-header {
width: 100%;
padding-top: 10px;
}

.mat-table {
min-height: 100% !important;
}

.mat-card {
background-color: #F2F2F2;
padding: 0 !important;
width: 100% !important;
height: 100% !important;
}

h1 {
color: #389cae !important;
}

.button {
position: relative;
left: 40.7%;
margin: 7px;
}

table {
width: 100%;
}

.categories-container {
    width: 100%;
    min-height: 60vh;
    max-height: 65vh;
    overflow: auto;
}

.mat-header-row {
    min-height: 35px !important;
}

.mat-column-overflow {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 28% !important;
    width: 28% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

/* Absolute Center Spinner */
.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: -2em;
    left: -2em;
    bottom: -2em;
    right: -2em;
}

/* Transparent Overlay */
.loading-indicator:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #19577E !important;
}

.mat-header-cell {
    flex-direction: column;
    justify-content: center;
    background-color: #19577E !important;
    padding: 5px,10px,5px,10px !important;
}

.mat-footer-row, .mat-row {
    min-height: 26px !important;
}

.mat-cell {
    text-align: center;
    justify-content:center;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    line-height: 13px !important;
    padding: 5px !important;
    max-height: -webkit-fill-available !important;
}

.search{
    width: 95% !important;
}

.mobile-label {
    display: none;
  }

/* @media screen and (max-width: 1200px) {
    .mat-cell {
        text-align: center;
        justify-content:center;
        overflow-y: auto !important;
        overflow-x: hidden !important;
        line-height: 13px !important;
        padding: 5px !important;
        max-height: -webkit-fill-available !important;
        font-size: small !important;
        }

    .mat-header-cell {
        flex-direction: column;
        justify-content: center;
        background-color: #19577E !important;
        padding: 5px,10px,5px,10px !important;
        font-size: small !important;
    }
} */

@media screen and (max-width: 1200px) {
    .mat-cell {
        text-align: left;
        justify-content:left;
        overflow-y: auto !important;
        overflow-x: hidden !important;
        line-height: 13px !important;
        padding: 5px !important;
        max-height: -webkit-fill-available !important;
        font-size: x-small !important;
        }

    .mat-header-cell {
        flex-direction: column;
        justify-content: left;
        background-color: #19577E !important;
        padding: 5px,10px,5px,10px !important;
        font-size: x-small !important;
    }
}

@media screen and (max-width: 860px) {
    .mat-cell {
        text-align: left;
        justify-content:left;
        overflow-y: auto !important;
        overflow-x: hidden !important;
        line-height: 13px !important;
        padding: 5px !important;
        max-height: -webkit-fill-available !important;
        font-size: small !important;
        }

    .mat-header-cell {
        flex-direction: column;
        justify-content: left;
        background-color: #19577E !important;
        padding: 5px,10px,5px,10px !important;
        font-size: small !important;
    }

    .mobile-label {
        width: 90px;
        display: inline-block;
        font-weight: bold;
        font-size: small;
    } 
    
    .mat-header-row {
        display: none;
    } 

   .mat-row { 
        flex-direction: column;
        align-items: start;
        padding: 8px 24px;
    } 
}

@media screen and (max-width: 600px) {
    .mat-cell {
        text-align: left;
        justify-content:left;
        overflow-y: auto !important;
        overflow-x: hidden !important;
        line-height: 13px !important;
        padding: 5px !important;
        max-height: -webkit-fill-available !important;
        font-size: x-small !important;
        }

    .mat-header-cell {
        flex-direction: column;
        justify-content: left;
        background-color: #19577E !important;
        padding: 5px,10px,5px,10px !important;
        font-size: x-small !important;
    }

    .mobile-label {
        width: 90px;
        display: inline-block;
        font-weight: bold;
        font-size: x-small;
    }
    
    .mat-header-row {
    display: none;
    }

    .mat-row { 
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
    }
}
