
.legal-table-content{
    display: flex;
    justify-content: center;
}

.legal-admin{
    position: relative;
}

.status-data{
    display: inline-flex;
}

.legal-manager-2{
    display: flex;
}

.filter-icon{
    cursor: pointer;
}

.filter-action-icon{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.filter-action-icon mat-icon{
    cursor: pointer;
}

.select-status-td{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.legal-admin-content-div{
    padding: 0px 16px;
    width: 95%;
}

.tab-views{
    padding: 0px 8px; 
    display: flex;
}

.legal-manager-2{
    padding: 16px 16px;
    border-bottom: 1px solid #D6D6D6;
}


.flex-view{
    display: flex;
}

.legal-manager-3{
    width: 50%;
    border-radius: 3px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    padding: 0px 8px;
}

.legal-manager-table{
    padding: 0px 0px 16px;
    border-radius: 7px;
    border: 1px solid #D6D6D6;
}

.notifi-icon{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-table-div{
    padding: 0px 24px 16px;
    width: 95%;
}

.rvc-btn-heading{
    border-radius: 3px;
    background: #BDE3F6;color: #006586;
    font-family: Montserrat;
    font-size: 14px;font-weight: 700; pointer-events: none;
}          

.recovery-btn{
    padding: 8px 8px; 
    width: 80%;
}

.legal-admin-inside{
    padding: 8px 8px; 
    display: flex;
    border-bottom: 1px solid #F7F7F7;
}


.spinner-view{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

table, .table-insie{
    width: 100%;
}

.mat-table-data{
    padding: 0px 16px 16px;
}

.spinner-view{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.demo-section{
    margin: 0px 8px;
}

.user-profile-image{
    height: auto;
    max-width: 80%;
}

.top-icons{
    border: 1px solid #D6D6D6;
    padding: 1px;
    border-radius: 3px;
}

td{
    text-align: left !important;
}


.legal-admin{
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.type-class{
    margin: 0px 18px;
    padding: 8px 0px 0px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.type-class .type-class-item{
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 20px;
}

.type-class .type-class-border{
    border-radius: 7px 7px 0px 0px;
}

th{
    color: #000 !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 1px solid #ddd !important;
    font-weight: bold;
    font-family: Montserrat;
    font-size: 14px !important;
    white-space: normal;
}

tr{
    cursor: pointer;
    font-family: Montserrat;
    font-size: 13px;
    height: 60px !important;
}

th, tr{
    background-color: #FFF !important;
}

td{
    border-bottom-width: 0px !important;
    border-bottom-style: none !important;
}

td{
    background-color: #F7F7F7 !important;
    border-top: 8px solid #FFF !important;
    color: #000;
    font-family: Montserrat;
    font-size: 12px;    
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.39px;
    border-bottom: none;
    white-space: normal;
}

.checkbox-select{
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.assign-legal-advisor{
    padding-left: 0px !important;
}

.legalAdminList{
    border: none !important;
    vertical-align: bottom;
}

.date-div-content{
    width: 80% !important;
}

.search-input{
    outline: none !important;
    border: none !important;
    height: 30px;font-size: 16px !important;
    width: 95%;
    padding-left: 8px;
}

.search-input :focus-visible{
    outline: none !important;
}

.select-option{
    width: 100%;
    padding: 5px;
    background-color: #F2F2F2;
    border: none;
    cursor: pointer;
    outline: none !important;
}

.option-value{
    background-color: #FFF;
    padding: 12px;
}

.no-data-text{
    text-align: center;
    padding-top: 16px;
}

hr{
    border-top: 0.2px solid #D6D6D6;
}

.legal-manager-assign{
    height: 30px;
    width: 90%;
}

.ack-div{
    padding-left: 0px !important;
}

.ack-select{
    border: none;
    outline: none;
    background-color: #F7F7F7;
    cursor: pointer;
    width: 80%;
    border-radius: 4px;
    font-weight: 700;
    padding: 8px 0px;
}

.option-item span{
    color: rgba(14, 69, 106, 0.75);
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.select-td{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.select-text{
    padding-left: 8px;
    text-align: left;
}
.progress-bar{
 width: 95%;
}

.progress-bar-container{
    height: 50vh;
    display: flex;
    align-items: center;
}

.enabled-field{
    opacity: 1;
    color: #000;
    font-weight: 700;
}

.disabled-field{
    opacity: 0.5;
    color: gray;
    font-weight: 500;
}

.on-enabled{
    opacity: 1;
    pointer-events: auto;
}

.on-disabled{
    opacity: 0.5;
    pointer-events: none;
}

table {
    width: 100%;
  }

.pending-field{
    opacity: 1;
    color: #FFF;
    font-weight: 700;
    cursor:default;
}

.status-pending{
    padding: 8px 16px;
    background: red;
    color: #FFF;
    border-radius: 4px;
    font-size: 14px;
}
.legal-manager-assign.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent !important;
}
.legal-manager-assign.mat-form-field-appearance-fill .mat-select-arrow-wrapper {
    transform: translateY(-22%) !important;
}
.table-data-head{
    padding-left: 0 !important;
  }
  
.tableHeaderSapn{
    display: inline-block;
    text-align: left;
    white-space: initial;
}

td span{
    font-size: 13px;
    font-weight: 500;
}

