.icon {
  position: absolute !important;
  left: 92%;
  top: 25px;
  font-size: 18px !important;
  color: black;
  cursor: pointer;
  -webkit-transform: none !important;
  transform: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}

.mat-column-actions {
  flex: none !important;
  width: 18% !important;
  word-break: break-all !important;
}

.greenLabel {
  color: rgb(9, 122, 9);
}

.material-icons.red {
  color: rgb(153, 87, 87);
}

.material-icons.blue {
  color: #00BCE7 !important;
}

.redDelete{
  color: rgb(156, 51, 51);
}

.invoice-payment {
  position: absolute;
  margin-top: -55px !important;
}

.red-background {
  background-color: red !important;
  color: white !important;
}

.green {
  background-color: lightgreen !important;
  color: black !important;
}

.red {
  background-color: lightpink !important;
  color: black !important;
}

.excluded {
  text-decoration: line-through !important;
  color: gray !important;
  background-color: lightgrey !important;
}