.clear-both {margin-top:5px; clear:both;}
table {
    width: 100%;
  }
  .inner-table {
    width: 100%;
  }
  
.childData {
    text-align: left;
    justify-content: left;
  }
  .labelParagraph {
    background-color: #F7F7F7;
  color: #000;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
}

.greenbg {
  background-color: #fff;
  padding: 10px;
}
.display-inline{
  display: inline;
}
.searchBgColor {
  background-color: #f2f2f2;
}
.mat-success {
  background-color: green;
  width: 50px;
}

.small-button{
  width: 38px;
  height: 38px;
  min-width: 38px !important;
  padding: 0px !important;
  border-radius: 25px;
  background-color: green;
  color: #fff;
}
.site-blue-theme{
  background-color: #E6F4FB;
}
mat-panel-description.left-aligned {
  text-align: start;
  display: flex;
}
.mat-header-label{
  margin-right:20px;
}
