<mat-card *ngIf="(isLoading$ | async)">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <label class="mat-label other-label"><i>{{loadingMessage$ | async}}</i></label>
</mat-card>

<div *ngIf="!(isLoading$ | async) && policies">
    <div class="menu-bar">
        <span class="material-icons">
            balance
        </span>
        Declarations
        <span *ngIf="requiresSubmission && !(reviewInProgress$ | async)" (click)="submit()"
            class="material-icons pointer right pulse" matTooltip="submit">
            save
        </span>
        <span *ngIf="requiresSubmission && !(isAssistanceRequested$ | async) && !(reviewInProgress$ | async)"
            (click)="openAssistanceRequestDialog()" class="material-icons pointer right pulse"
            matTooltip="request assistance">
            support_agent
        </span>
    </div>
    <mat-card *ngIf="(reviewInProgress$ | async)">
        <span class="material-icons">
            warning
        </span>&nbsp;&nbsp;
        <label class="mat-label other-label"><i>Declarations with variance above the allowable threshold under
                review</i></label>
    </mat-card>
    <mat-card *ngIf="(isAssistanceRequested$ | async)">
        <span class="material-icons">
            support_agent
        </span>&nbsp;&nbsp;
        <label class="mat-label other-label"><i>Assistance has been requested. You will be contacted shorly</i></label>
    </mat-card>
    <div *ngIf="requiresSubmission && !(reviewInProgress$ | async)">
        <mat-card>
            <mat-checkbox [checked]="applyAll" (change)="applyAllChanged($event.checked)">Apply captured submission values across all products?</mat-checkbox>
        </mat-card>
        <div *ngFor="let policy of policies">
            <renewal-declaration [policy]="policy" [isReadOnly]="isReadOnly" [refresh]="refresh"
                (applyToAllEmit)="applyToAll($event)"></renewal-declaration>
        </div>
    </div>
    <mat-card *ngIf="!requiresSubmission && !(reviewInProgress$ | async)">
        <span class="material-icons green" matTooltip="compliant">
            local_police
        </span>&nbsp;&nbsp;
        <label class="mat-label other-label"><i>All required declarations have been submitted</i></label>
    </mat-card>
</div>

<div [hidden]="true">
    <lib-running-wizards [moduleName]="'clientcare'" [managerName]="'policy-manager'" [linkedItemId]="rolePlayerId"
        [wizardTypeCSVs]="'declaration-variance'" (hasWizardsEmit)="setUnderReview($event)">
    </lib-running-wizards>

    <lib-running-wizards [moduleName]="'clientcare'" [managerName]="'policy-manager'" [linkedItemId]="rolePlayerId"
        [wizardTypeCSVs]="'declaration-assistance'" (hasWizardsEmit)="setAssistanceRequested($event)">
    </lib-running-wizards>
</div>