<div class="menu-bar">
  <span class="material-icons">
    loyalty
  </span>
  {{getRolePlayerType(rolePlayerType)}}
  <span *ngIf="!(dataSource.loading$ | async)" (click)="reset()" class="material-icons pointer right"
    matTooltip="reset">
    restart_alt
  </span>
</div>

<mat-card *ngIf="(dataSource.loading$ | async) || (isLoading$ | async)">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  <label class="mat-label other-label"><i>loading...please wait</i></label>
</mat-card>

<div [hidden]="(dataSource.loading$ | async) || (isLoading$ | async)">
  <div [hidden]="!(dataSource.data && dataSource.data.data && dataSource.data.data.length > 0)">
    <mat-table #table [dataSource]="dataSource" matSort id="tblData">
      <ng-container matColumnDef="displayName">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let row"><b>{{row.displayName ? row.displayName : 'N/A'}}</b></mat-cell>
      </ng-container>
      <ng-container matColumnDef="rolePlayerType">
        <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row.toRolePlayers?.length > 0 ? row.toRolePlayers[0].rolePlayerTypeId ?
          getRolePlayerType(row.toRolePlayers[0].rolePlayerTypeId) : 'N/A' : 'N/A'}}
          <span *ngIf="rolePlayerId == row.rolePlayerId"><i>(Main Member(Self))</i></span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="idNumber">
        <mat-header-cell *matHeaderCellDef> Id/Passport </mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.person?.idNumber ? row.person.idNumber : 'N/A'}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="dateOfBirth">
        <mat-header-cell *matHeaderCellDef> DOB </mat-header-cell>
        <mat-cell *matCellDef="let row" [ngClass]="{ 'highlightDeath': row.person?.dateOfDeath }">
          <span *ngIf="!row.dateOfDeath && (row.dateOfBirth | date:'yyyy-MM-dd') == (today | date:'yyyy-MM-dd')" class="material-icons">
            cake
          </span>
          {{row.person?.dateOfBirth ? (row.person.dateOfBirth
          | date:'yyyy-MM-dd') : 'N/A'}}
          <span *ngIf="row.person?.dateOfDeath">&nbsp;- {{(row.person.dateOfDeath | date:'yyyy-MM-dd')}}</span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="age">
        <mat-header-cell *matHeaderCellDef> Age </mat-header-cell>
        <mat-cell *matCellDef="let row" [ngClass]="{ 'highlightDeath': row.person?.dateOfDeath }">
          <span *ngIf="row.person?.dateOfDeath" class="material-icons"
            matTooltip="Age at time of death">warning_amber</span>
          {{row.person?.dateOfBirth ? (getAge(row.person.dateOfBirth, row.person.dateOfDeath)) : 'N/A'}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.emailAddress ? row.emailAddress : 'N/A'}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="mobile">
        <mat-header-cell *matHeaderCellDef> Mobile </mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.cellNumber ? row.cellNumber : 'N/A'}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="allocation">
        <mat-header-cell *matHeaderCellDef> Allocation </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <table>
            <tr *ngIf="row.toRolePlayers?.length > 0 && row.toRolePlayers[0]?.allocationPercentage">
              <td>Funeral:</td>
              <td><b>{{row.toRolePlayers?.length > 0 && row.toRolePlayers[0]?.allocationPercentage ?
                  row.toRolePlayers[0].allocationPercentage + '%' : 'N/A'}}</b></td>
            </tr>
            <tr
              *ngIf="row.toRolePlayers?.length > 0 && row.toRolePlayers[0]?.rolePlayerRelationLife?.allocationPercentage">
              <td>Life:</td>
              <td><b>{{row.toRolePlayers?.length > 0 &&
                  row.toRolePlayers[0]?.rolePlayerRelationLife?.allocationPercentage ?
                  row.toRolePlayers[0].rolePlayerRelationLife.allocationPercentage + '%' : 'N/A'}}</b></td>
            </tr>
            <span
              *ngIf="!(row.toRolePlayers?.length > 0 && row.toRolePlayers[0]?.allocationPercentage) && !(row.toRolePlayers?.length > 0 && row.toRolePlayers[0]?.rolePlayerRelationLife?.allocationPercentage)">N/A</span>
          </table>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="getDisplayedColumns()"></mat-header-row>
      <mat-row *matRowDef="let row; columns: getDisplayedColumns();"></mat-row>
    </mat-table>
    <mat-paginator #paginator [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"
      [length]="this.dataSource.rowCount$ | async" (page)="getData()">
    </mat-paginator>
  </div>
  <mat-card
    *ngIf="!(dataSource.data && dataSource.data.data && dataSource.data.data.length > 0 || (dataSource.loading$ | async))">
    <label class="mat-label other-label"><i>No {{getRolePlayerType(rolePlayerType)}} found...</i></label>
  </mat-card>
</div>