mat-form-field {
  width: 100%;
}

mat-error {
  text-align: center;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  height: 42px;
}

.mat-focused .placeholder {
  visibility: hidden
}

.search-icon {
  color: #33BFE6;
}

.search-icon:hover {
  cursor: pointer
}



mat-icon:hover {
-webkit-transform: rotate(180deg);
/* Safari */
transform: rotate(180deg);
}

.search {
  border-radius: 22px !important;
  box-sizing: unset !important;
  vertical-align:middle;
  text-align:left
}

mat-icon {
  margin-left: -10px;
}

h1 {
  line-height: 1;padding: 0; margin-bottom: 30px;
}

mat-card{
  margin: 15px 30px 15px 30px
}