.recipient-Email {
  box-sizing: border-box !important;
  border: 1px solid #51627c !important;
  border-radius: 1px !important;
  padding: 5px 9px 5px 9px !important;
  -webkit-transition: width 0.4s ease-in-out !important;
  margin: 4px 20px 8px 0px !important;
  height: 35px;
}

.recipient-Email {
  font: inherit;
  background: 0 0;
  color: currentColor;
  border: none;
  outline: 0;
  padding: 0;
  margin: 0;

  vertical-align: bottom;
  text-align: inherit;
}

mat-icon {
  position: absolute;
  right: 21px;
  top: 13px;
  color: black;
  cursor: pointer;
  -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
  /* Safari */
  transition: width 1s, height 1s, transform 1s;
}

mat-icon:hover {
  -webkit-transform: rotate(180deg);
  /* Safari */
  transform: rotate(180deg);
}

.altRowTable tr:nth-child(even) {
  background: lightgray
}

.flex-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.clear-both{
  clear: both;
}