.search-icon {
  cursor: pointer;
  position: relative;
  top: 30px;
  left: 4px;
}

.errorMessage {
  color: red;
  font-size: 75%;
  font-family: Arial !important;
}

.rep-not-found {
  color: grey;
  font-style: italic;
  font-size: 90%;
  margin-top: 16px;
  margin-bottom: 10px;
}

.small-text {
  font-size: 75%;
}

.errortext {
  color: red;
  min-width: 400px !important;
  font-weight: bold;
}

mat-card {
  width: 350px !important;
  border: 1px solid gray;
  padding: 5px;
  font-weight: normal;
  border-radius: 3px;
}

mat-card-content {
  display: block !important;
}

mat-card-subtitle {
  padding: 3px;
  background: lightcoral;
  font-size: 14px;
  color: black !important;
  font-weight: bold;
}