.redSLA {
  color: #fff;
  background: rgb(255, 105, 105);
}

.greenSLA {
  color: black;
  background: lightgreen;
}

.whiteSLA {
  color: black;
  background: lightgreen;
}

.amberSLA {
  background: #ffaa6d;
  color: #fff;
}

body {
  margin: 0px;
  padding: 0px;
}

mat-cell:last-child {
  text-align: center !important;
  text-justify: center !important;
  font-size: 14px !important;
}

mat-icon {
  position: absolute;
  right: 21px;
  top: 13px;
  color: black;
  cursor: pointer;
  -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
  /* Safari */
  transition: width 1s, height 1s, transform 1s;
}

mat-icon:hover {
  -webkit-transform: rotate(180deg);
  /* Safari */
  transform: rotate(180deg);
}

.mat-card-header {
  width: 100%;
  padding-top: 10px;
}

.mat-table {
  min-height: 100% !important;
}

.mat-card {
  min-height: auto !important;
  height: auto !important;
  margin-left: 10px;
  margin-right: 10px;
}

h1 {
  color: #389cae !important;
}

.button {
  position: relative;
  left: 0%;
  bottom: -10px;
}

table {
  width: 100%;
}

.categories-container {
  width: 100%;
  min-height: 60vh;
  max-height: 65vh;
  overflow: auto;
}

.mat-header-row {
  min-height: 35px !important;
}

.mat-column-overflow {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 28% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/* Absolute Center Spinner */
.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: -2em;
  left: -2em;
  bottom: -2em;
  right: -2em;
}

/* Transparent Overlay */
.loading-indicator:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #7DC0DA !important;
}

.loadingDiv {
  padding-top: 10px;
}

mat-form-field {
  width: 100%;
}

input.mat-input-element {
  height: 50px;
  border-radius: 22px !important;
}

mat-error {
  text-align: center;
}

.placeholder {
  position: relative;
  right: -26px;
  top: 14px;
  height: 42px;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  height: 42px;
}

.mat-focused .placeholder {
  visibility: hidden
}

.search-icon {
  position: absolute;
  right: 16px;
  top: 7px;
  color: #33BFE6;
}

.search-icon:hover {
  cursor: pointer
}

.pad-left {
  margin-left: 7px;
  margin-top: 1px;
}

.field-left {
  float: left;
}

.field-right {
  float: left;
  margin-left: 18px;
  margin-bottom: -15px;
}

.applyButton {
  margin-left: -71px;
  margin-top: 25px;
}

.filter {
  position: relative;
  left: 1165px;
  margin: 13px;
  margin-top: -7px;
  bottom: 10px;
}

.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  margin-top: -10px;
}

.submit-button {
  margin-right: 10px;
  margin-bottom: 10px;
}