.addProductButton{
  width: 100%;
  max-width: 100%;
  border-style: dashed;
  border-width: thin;
  fill: lightgray;
  cursor: pointer;
  text-align: center;
  margin-bottom: 16px;
}

.addProductText {
  color: black;
}
