.workItemCreateSearch {
  width: 100%;
  float: left;
}

#overview-container {
  display: block;
}

app-work-item-selector {
  float: left;
  height: 100%;
}

.header {
  display: flex;
  flex-flow: row nowrap;

  width: 100%;

}

.header .workItemSearch {
  width: 100%
}

.header .workItemSelector {
  width: 100%

}

@media only screen and (max-width: 1000px)
{
  .header {
    flex-direction: column;
  }
}
