.mat-column-invoiceDate {
  max-width: 90px !important;
}

.mat-column-invoiceAmount, .mat-column-outstandingAmount {
  max-width: 110px !important;
  display: flex;
  justify-content: flex-end;
}

.mat-column-dateToPay{
  flex: 0 0 175px;
}
