<!-- <form [formGroup]="form" class="mat-container details-form" novalidate>
  <mat-form-field> -->
    <label class="mat-label other-label mandatory-field">Reason for declining the quote?</label>
    <textarea matTextareaAutosize matAutosizeMinRows="5" matAutosizeMaxRows="3" maxlength="255" matInput
      minlength="3" id="text" name="text" formControlName="text"></textarea>
    <!-- <mat-error *ngIf="form.get('text').hasError('required')">
      Reason is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="form.get('text').hasError('minlength')">
      Reason must be at least <strong>three characters</strong>
    </mat-error> -->
  <!-- </mat-form-field> -->

  <div class="form-group-button mat-form-button">
    <div class="form-buttons">
      <button [disabled]="form.pristine || !form.valid" (click)="submit()" class="button float-button submit-button">Submit</button>
      <button (click)="cancel()" class="button float-button submit-button">Cancel</button>
    </div>
  </div>
<!-- </form> -->


