.placeholder {
  position: relative;
  right: -26px;
  top: 14px;
  height: 42px;
}

.search-icon {
  position: absolute;
  right: 16px;
  top: 7px;
  color: #33BFE6;
}

.loadingDiv {
  padding-top: 10px;
  padding-bottom: 10px;
}

mat-form-field {
  width: 100%;
}

.elementBox {
  height: 50px;
  border-radius: 22px !important;
}

mat-error {
  text-align: center;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  height: 42px;
}

.mat-focused .placeholder {
  visibility: hidden
}

.search-icon:hover {
  cursor: pointer
}

.mat-footer-row,
.mat-row {
  min-height: 26px !important;
}



.mat-form-field {
  padding-right: 5px;
  padding-top: -20px !important;
}

.mat-label {
  color: #00BCE7 !important;
}

.mat-cell-label {
  color: black !important;
  font-size: small;
}

.redSLA {
  color: red;
}

.greenSLA {
  color: green;
}

.amberSLA {
  background: #FF6B00;
  color: #fff;
}

.material-icons:hover {
  -webkit-transform: rotate(180deg);
  /* Safari */
  transform: rotate(180deg);
  -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
  /* Safari */
  transition: width 1s, height 1s, transform 1s;
}

.material-icons.add {
  color: black;
  padding-top: -5px;
}

.mat-card {
  min-height: auto !important;
  height: auto !important;
  margin-left: 10px;
  margin-right: 10px;
}

.mat-cell {
  text-align: center;
  justify-content: center;
  overflow: auto !important;
  padding: 5px !important;
  max-height: -webkit-fill-available !important;
}

.expand {
  text-align: left !important;
  justify-content: left !important;
  overflow: auto !important;
  padding: 5px !important;
  max-height: -webkit-fill-available !important;
}

.addLeadText {
  color: black;
}

.main-div {
  overflow-x: scroll;
}

.ChildData {
  text-align: left;
  justify-content: left;
}

.mat-column-personEventNumber {
  flex: 0 0 12% !important;
  width: 12% !important;
}

.mat-column-actions,
.mat-column-expand {
  flex: 0 0 5% !important;
  text-align: center;
  justify-content: center;
}

.signs {
  font-weight: bold;
  font-size: large;
}

.elementBox {
  height: 50px;
  border-radius: 22px !important;
}

.inputDate {
  width: 20% !important;
}

.validations {
  font-size: medium !important;
}

.disabled {
  pointer-events: none;
}

.download-block {
  display: inline-block;
  margin-left: 15px;
}

.download-cls {
  background-color: whitesmoke !important;
}

.levelCheck {
  position: relative;
  top: 25px;
  left: 21px;
}

.form-group-buttons {
  padding-bottom: 10px;
}

.icon {
  position: absolute !important;
  left: 92%;
  top: 25px;
  font-size: 18px !important;
  color: black;
  cursor: pointer;
  -webkit-transform: none !important;
  transform: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}