/* PERMISSION CSS */
.permissionError{
  margin-left: 25px !important;
  padding-bottom: 80px !important;
}

/* MAIN HEADER CSS */
.wizardHeader{
  margin-left: 30px !important;
}

/* SHARED CSS */
.mainContainerDiv{
  left: -23px !important;
  padding-left: 0px !important;
}

.top-selector-container {
  display: -webkit-box;
  /* display: flex; */
  width: 70%;
  font-family: 'Oswald', sans-serif;
  margin-right: 40px !important;
}

.main-container {
  font-family: 'Oswald', sans-serif !important;
}

.top-selector-container {
  display: -webkit-box;
  display: flex;
  font-family: 'Oswald', sans-serif;
}

.document-container {
  width: 100%;
  margin-left: 0 !important;
  font-family: 'Oswald', sans-serif;
}

.mat-card.scrollable-content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 100;
  font-family: 'Oswald', sans-serif;

}

.content{
  margin-left: 15px !important;
}

.mat-card {
  box-shadow: none;
  font-family: 'Oswald', sans-serif;
  /* padding: 14px !important; */
}


/* REASONS CSS */
.recoverAmountControl{
  margin-left: 30px !important;
}

/* NOTES CSS */
.notesDiv{
  position: relative;
  left: -55px;
  width: 1100px !important;
  padding-bottom: 0px !important;
}
  