.legal-table-content {
    display: flex;
    justify-content: center;
}

table,
.table-insie {
    width: 100%;
}

.legal-manager-div-1{
    padding: 0px 24px 16px;
    width: 95%;
}

 .table-div-data{
    display: flex;
}

.filter-icon{
    cursor: pointer;
}

.filter-action-icon{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.filter-action-icon mat-icon{
    cursor: pointer;
}

span,
p,
h2,
input {
    font-family: Montserrat;
}

.table-div-data-inside{
    width: 50%;
        border-radius: 3px;
        border: 1px solid #ddd;
        display: flex;
        align-items: center;
        padding: 0px 4px;
}

.table-div-data{
    padding: 16px 16px;
    border-bottom: 1px solid #D6D6D6;
}

.legal-manager-table{
    padding: 0px 0px 0px;
    border-radius: 7px;
    border: 1px solid #D6D6D6;
}

.tribunal-secretary-div{
    padding: 8px 8px; 
    display: flex;
    border-bottom: 1px solid #F7F7F7;
}

.progress-bar{
    width: 95%;
}

.clickable-element{
    cursor: pointer;
}

.view-tabs{
    padding: 0px 8px; 
    display: flex;
}

.recovery-btn{
    border-radius: 3px;
    background: #BDE3F6;color: #006586;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700; 
    pointer-events: none;
}

.recovery-btn-div{
    padding: 8px 8px; 
    width: 80%;
}

.tribunal-secretary-inside{
    padding: 0px 16px;
    width: 95%;
}

.on-enabled{
    opacity: 1;
    pointer-events: auto;
}

.on-disabled{
    opacity: 0.5;
    pointer-events: none;
}

.mat-table-data {
    padding: 0px 16px 16px;
    border-radius: 0 !important;
}

.demo-section {
    margin: 0px 8px;
}

.user-profile-image {
    height: auto;
    max-width: 80%;
}

.top-icons {
    border: 1px solid #D6D6D6;
    padding: 1px;
    border-radius: 3px;
}

tr,
th,
td {
    text-align: left !important;
    border-bottom: none !important;
}

.legal-admin {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tribunal-secretary{
    position: relative;
}

.no-data h2{
    color: rgb(91, 181, 208);
    text-align: center;
}

.type-class {
    margin: 0px 18px;
    padding: 8px 0px 0px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.type-class .type-class-item {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 20px;
}

.type-class .type-class-border {
    border-radius: 7px 7px 0px 0px;
}

th {
    color: #000 !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 1px solid #ddd !important;
    font-weight: bold;
    font-family: Montserrat;
    font-size: 14px !important;
}

tr {
    font-family: Montserrat;
    font-size: 13px;
    height: 42px;
}

th,
tr {
    background-color: #FFF !important;
}

td {
    background-color: #F7F7F7 !important;
    border-top: 8px solid #FFF !important;
    color: #000;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.39px;
    border-bottom: none;
    font-size: 13px;
}

.checkbox-select {
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.date-Objection{
    height: 64px;
}

hr{
    border-top: 0.2px solid #D6D6D6;
}

.download-btn{
    border-bottom: 1px solid black;
    padding-bottom: 4px;
    cursor: pointer;
}

.search-input {
    outline: none !important;
    border: none !important;
    height: 36px;
    font-size: 16px !important;
    border: none;
    width: 95%;
    padding: 0px 8px;
}

.search-input :focus-visible {
    outline: none !important;
}

.select-option {
    width: 100%;
    padding: 5px;
    background-color: #F2F2F2;
    border: none;
    cursor: pointer;
    outline: none !important;
}

.option-value {
    background-color: #FFF;
    padding: 12px;
}

.legal-manager-assign {
    height: 30px;
}

.ack-select {
    text-align: center;
    border: none;
    outline: none;
    background-color: #F7F7F7;
    cursor: pointer;
    width: 65%;
    padding: 8px 8px;
    border-radius: 4px;
    font-weight: 700;
}

.option-item span {
    color: rgba(14, 69, 106, 0.75);
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.status-block {
    border-radius: 5px;
    background-color: rgb(255, 0, 0);
    width: 100%;
    display: inline-block;
    padding: 8px;
    color: #FFF;
}

.table-insie {
    overflow-x: auto;
}

.select-text {
    padding-left: 8px;
}

.acknowledge {
    background-color: blue;
}

.assign-legal-advisor{
    background: none;
    width: 75%;
    border:none !important
}
.acknowledge-button{
    border: none;
    background: #16bb16;
    height: 25px;
    color: white;
    border-radius: 5px;
}

.progress-bar-container{
    height: 50vh;
    display: flex;
    align-items: center;
}

.on-enabled{
    opacity: 1;
    pointer-events: auto;
}

.on-disabled{
    opacity: 0.5;
    pointer-events: none;
}

.ack-btn{
    border-radius: 4px;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    background-color: unset !important;
    text-align: left;
}

.acknowledged {
    background-color: #33C601;
    cursor: default;
    color: #FFF;
  }

 .unacknowledged{
    background-color: transparent;
    color: #000;
    cursor: pointer;
 } 

  .acknowledge-view{
    font-weight: 700;
    padding: 10px 0px;
    border-radius: 6px;
    width: 100%;
    display: inline-block;
    text-align: center;
    opacity: 1;
  }

  button:disabled:hover {
    background: transparent !important
}

  .ack-line-enabled{
    border-bottom: 1px solid #000;
    padding-bottom: 6px;
    opacity: 1;
    color: #000;
    pointer-events: auto;
    cursor: pointer;
  }

  .ack-line-disabled{
    border-bottom: none;
    padding-bottom: 6px;
    opacity: 0.5;
    pointer-events: none;
  }

  .not-ack{
    pointer-events: auto;
  }


  .not-acknowledged{
    background-color: transparent;
    font-weight: 600;
    color: #000;
  }

  .spinner-view{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .tableHeaderSapn{
    white-space: normal;
    text-align: left !important;
}

.select-text{
    padding-left: 8px;
    text-align: left;
}
td span{
    font-size: 13px;
    font-weight: 500;
}

.select-td{
    display: inline-flex;
}
.table-data-head{
    padding-left: 0 !important;
  }
