table {
  width: 100%;
}

h2 {
  color: #00bce7;
  font-size: 1.2em;
  font-weight: normal;
  margin: 0px;
}

.mat-column-description {
  margin: 0;
  padding-left: 10px;
}

.mat-column-workItemState {
  flex: 0 0 5% !important;
  padding-left: 10px;
  margin: 0;
  text-align: left;
}

.mat-column-workItemState> .mat-cell {
  padding-left: 10px;
  margin: 0;
  text-align: left;
}

.mat-column-createdBy {
  flex: 0 0 10% !important;
  padding-left: 10px;
  margin: 0;
  text-align: left;
}

.mat-column-additionalInformation {
  flex: 0 0 9.5% !important;
  padding-left: 10px;
  margin: 0;
  text-align: left;
}

.mat-column-modifiedDate {
  flex: 0 0 6% !important;
  padding-left: 10px;
  margin: 0;
  text-align: left;
}

.mat-column-workItemIForWizard {
  flex: 0 0 6% !important;
  padding-left: 10px;
  margin: 0;
  text-align: left;
}

.matCard {
  margin: 15px 30px 15px 30px;
}

.matCardContent {
  margin-left: 10px;
}

.cursorPointer {
  cursor: pointer;
}