table{
    width: 100%;
  }
  td.mat-cell, td.mat-footer-cell, th.mat-header-cell{
    padding-left: 24px;
  }
  .benefit-container {
    width: 100%;
    height: auto;
    overflow: auto;
  }
  .mat-header-cell{
    background-color: #19577E !important;
  }
  