.mainContainerDiv {
    width: 90% !important;
    margin-left: 30px !important;
    margin-top: 10px !important;
}

.redSLA {
    color: #fff;
    background: red;
}

.greenSLA {
    color: #fff;
    background: green;
}

.whiteSLA {
    color: #fff;
    background: green;
}

.backBtn {
    margin-left: 14px !important;
}

.amberSLA {
    background: #FF6B00;
    color: #fff;
}

.mat-card {
    box-shadow: none;
    font-family: 'Oswald', sans-serif;
}


.link-edit {
    font-size: 12px;
    text-align: center;
    font-weight: 250;
    position: relative;
    padding: 4px;
    display: inline-block;
    left: 4%;
    cursor: pointer;
    margin-top: 10px;
    width: 88%;
    font-family: 'Oswald', sans-serif;
    color: white !important;
    border: 0;
    background-color: #0071BC;
    text-decoration: none;
}

.font {
    color: lightgray !important;
    font-weight: 100 !important;
    height: 65px !important;
}