
mat-icon:hover {
  -webkit-transform: rotate(180deg);
  /* Safari */
  transform: rotate(180deg);
  }
  
  .altRowTable tr:nth-child(even){
    background: #DEE3EB;
    width: 100%;
  }
  
  th {
    padding: 10px;
    background-color: #7DC0DA;
    color: black ;
  }
  
  td {
    max-width: 150px;
    min-width: 50px;
    max-height: 25px;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
  }
  
  .icn {
    cursor: pointer;
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
    /* Safari */
    transition: width 1s, height 1s, transform 1s;
    }
  
    .icn:hover {
    -webkit-transform: rotate(180deg);
    /* Safari */
    transform: rotate(180deg);
    }
  
    .material-icons:hover {
      color: rgb(131, 131, 131);
      }
  
  .scrollTable {
  overflow-y: auto;
  max-height: 300px;
  font-size: small;
  }

  .table {
    width: 100%;
  }
  