.benefits-container {
  margin-top: -42px;
}

.mat-column-selected {
  max-width: 30px !important;
}

.mat-column-age {
  max-width: 80px !important;
}

.mat-column-benefitType,
.mat-column-coverMemberType,
.mat-column-code {
  max-width: 100px !important;
}

.mat-column-premium,
.mat-column-benefitAmount {
  max-width: 120px !important;
  justify-content: flex-end;
}

.search-benefits {
  width: 400px;
}

input.mat-input-element {
  height: 30px;
  border-radius: 22px !important;
}

.search-icon:hover {
  cursor: pointer
}

.clear-icon:hover {
  cursor: pointer
}

.search-icon {
  position: absolute;
  right: 8px;
  top: -2px;
  color: #33BFE6;
}

.clear-icon {
  color: #e63333;
  size: 12px;
}

.clear-button {
  border: none;
  border-radius: 50%;
  margin-top: -2px !important;
  margin-left: -20px !important;
}

.placeholder {
  position: relative;
  right: -10px;
  top: 6px;
  height: 30px;
}

.pad-right {
  padding-right: 18px !important;
}