.field {
  width: 350px;
  display: block;
  float: left;
  margin-bottom: 10px;
}

.field p {
  padding: 0px;
  height: 20px;
  margin: 0px;
}

ul {
  padding-left: 15px;
}

table {
  width: 100%;
  margin-bottom: 24px
}

td, th {
  width: 25%;
  font-weight: normal;
}

tbody tr:nth-child(odd){
  background: #fff
}

tbody tr:nth-child(even){
  background: #dee3eb
}

th{
  background-color:#7DC0DA;
  color: #fff;
}

td {
  color: #000;
}

th, td {
  padding: 10px 5px;
  box-sizing: border-box;
  width: 25%;
}
.addProductButton{
  width: 100%;
  max-width: 100%;
  border-style: dashed;
  border-width: thin;
  fill: lightgray;
  cursor: pointer;
  text-align: center;
  margin-bottom: 16px;
}

.addProductText {
  color: black;
}
