<body>
    <div class="content-container">
        <div class="header-container">
            <h1 style="font-weight: lighter;">RESET YOUR ACCOUNT PASSWORD</h1>
        </div>
        <form [formGroup]="resetPasswordForm" class="resetPassword-form"  novalidate>
            <div>
                <label class="form-label first-label mandatory-field">Email</label>
                <mat-form-field>
                    <input matInput id="email" name="email" formControlName="email" required>
                    <mat-error *ngIf="resetPasswordForm.get('email').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="resetPasswordForm.get('email').hasError('email')">
                        Please enter a <strong>valid</strong> email address.
                    </mat-error>
                </mat-form-field>
                
            </div>
            <div>
                <label class="form-label first-label mandatory-field">Password</label>
                <mat-form-field>
                    <input matInput id="newPassword" name="newPassword" formControlName="newPassword" required>
                    <mat-error *ngIf="resetPasswordForm.get('newPassword').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="resetPasswordForm.get('newPassword').hasError('newPassword')">
                        Please enter a <strong>valid</strong> new password.
                    </mat-error>
                </mat-form-field>
                
            </div>
            <div>
                <label class="form-label first-label mandatory-field">Password Confirmation</label>
                <mat-form-field>
                    <input matInput id="confirmNewPassword" name="confirmNewPassword" formControlName="confirmNewPassword" required>
                    <mat-error *ngIf="resetPasswordForm.get('email').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="resetPasswordForm.get('confirmNewPassword').hasError('confirmNewPassword')">
                        Please re-enter <strong>above</strong> password for confirmation.
                    </mat-error>
                </mat-form-field>
                
            </div>

        </form>
        <button [disabled]="resetPasswordForm.disabled" class="button float-button login-button"
                (click)="resetPassword()"  type="submit"><span style="position:relative;top:-13px;">RESET PASSWORD</span></button>
    </div>
    <div class="image-container">
        <img src="/assets/images/rmalogo.png" alt="" />
    </div>
</body>