CREATE PROCEDURE [billing].[GetMonthlyBrokerPaymentSchedule]
AS BEGIN 

	DECLARE @paymentMonth NVARCHAR(20);
	SET @paymentMonth = FORMAT(DATEADD(DAY, 1, EOMONTH(GETDATE())), 'MMMM yyyy');

	SELECT 	
		P.PolicyId,
		p.PolicyNumber as 'SchemePolicyNumber',
		p.PolicyOwnerId as SchemeRolePlayerId,
		p.InstallmentPremium,
		p.BrokerageId,
		upper(rp.DisPlayName) as 'SchemeName',
		case p.PolicyOwnerId
			when  711173 then 'hndlovu@randmutual.co.za' -- CINPF CORPORATE SCHEME
			when 1008891 then 'hndlovu@randmutual.co.za' -- NAMPAK FUNERAL COMPULSORY
			when 1012061 then 'hndlovu@randmutual.co.za' -- NAMPAK FUNERAL VOLUNTARY
			when 1437127 then 'hndlovu@randmutual.co.za' -- MINE WORKERS PROVIDENT FUND
			else rp.EmailAddress
		end [SchemeEmailAddress],
		--'mngongoma@randmutual.co.za' as 'SchemeEmailAddress',
		fp.FinPayeNumber as 'DebtorNumber',
		brgc.Firstname as 'BrokerContactName', 
		brgc.LastName as 'BrokerContactLastName', 
		brgc.Email as 'BrokerContactEmail',
		PaymentMonth = @paymentMonth	
	from policy.Policy p (nolock)
		inner join client.RolePlayer rp (nolock) on rp.RolePlayerId = p.PolicyOwnerId													
		inner join policy.Policy child (nolock) on child.ParentPolicyId = p.PolicyId
		inner join [client].FinPayee fp (nolock) on fp.RolePlayerId = rp.RolePlayerId
		inner join broker.Brokerage b (nolock) on b.Id = child.BrokerageId	
		inner join common.PolicyStatus ps (nolock) on ps.Id = child.PolicyStatusId		
		inner join policy.PolicyStatusActionsMatrix pam (nolock) on pam.PolicyStatus = child.PolicyStatusId
		--CROSS APPLY(SELECT SUM(InstallmentPremium) as CalculatedPremium from [policy].[policy] pp (nolock) where pp.PolicyId = child.PolicyId and child.paymentFrequencyId = 2 ) prem
		OUTER APPLY (
			SELECT TOP 1 Firstname, LastName, Email 
			from [broker].[BrokerageContact] BC (NOLOCK) where BC.Brokerageid = p.BrokerageId 
				and LEN(ISNULL(bc.Email,'')) > 5  
				and bc.IsDeleted = 0
			) brgc 
	where pam.DoRaiseInstallementPremiums = 1
		 and child.paymentFrequencyId = 2 		 
		 and rp.RolePlayerIdentificationTypeId = 2
		 -- Exclude inactive policies
		 and p.PolicyStatusId not in (2, 4, 5, 7, 10, 13)
		 and p.PolicyNumber IN (
			'01-231126-390327',
			'01-202008-23697',
			'01-202009-50951',
			'01-202010-51574',
			'01-202101-79205',
			'01-240304-586796',
			'01-231025-376524',
			'01-230619-323596',
			'01-230615-323419',
			'01-202008-08645',
			'01-202105-120829',
			'01-202105-117475',
			'01-202012-72128',
			'01-202103-115226',
			'01-202105-120841',
			'01-202105-117753',
			'01-202012-72266',
			'01-202107-129848',
			'01-202104-115882',
			'01-240607-635955',
			'01-202009-50950',
			'01-202010-51404',
			'01-202009-51253',
			'01-202005-03275',
			'01-202108-0142501',
			'01-240118-549812',
			'01-240605-634353',
			'01-202110-0169240',
			'01-202109-0147082',
			'01-202104-115891',
			'01-202202-0185013',
			'01-231025-376358',
			'01-240918-673452',
			'01-210816-136059',
			'01-240528-631675',
			'01-202206-0197836',
			'01-202203-0190718',
			'01-220719-235219',
			'01-202109-0143266',
			'01-221207-271382',
			'01-202206-0229975',
			'01-202107-124258',
			'01-202107-124257',
			'01-202010-52259',
			'01-202007-05997',
			'01-240410-617576',
			'01-240829-662617',
			'01-240829-662620',
			'01-240104-491519',
			'01-240312-591661',
			'01-240205-574480',
			'01-202108-134565',
			'01-240611-636375',
			'01-231026-377895',
			'01-230412-293029',
			'01-231017-372653',
			'01-231213-444510',
			'01-231222-462645',
			'01-202110-0148852',
			'01-230323-290399',
			'01-230622-329817',
			'01-240113-544106',
			'01-202007-05938',
			'01-202008-08382',
			'01-202008-22178',
			'01-230310-289325',
			'01-202008-22428',
			'01-202008-23305',
			'01-202005-03377',
			'01-202103-114482',
			'01-202008-07664',
			'01-202108-0142509',
			'01-202108-133462',
			'01-202101-79352',
			'01-202109-0146887',
			'01-220728-237454',
			'01-202203-0191611',
			'01-202102-106991',
			'01-202009-46893',
			'01-202111-0171075',
			'01-202201-0178789',
			'01-202008-22823',
			'01-202010-52258',
			'01-210818-136321',
			'01-202007-05935',
			'01-202101-78052',
			'01-202009-50977',
			'01-202202-0187205',
			'01-202105-121513',
			'01-202007-05973',
			'01-202012-71553',
			'01-202008-23726',
			'01-202107-129727',
			'01-202106-124198',
			'01-202106-124200',
			'01-202008-22445',
			'01-202103-112539',
			'01-202007-05972',
			'01-202012-71612',
			'01-202008-07655',
			'01-221201-271299',
			'01-202004-02895',
			'01-202103-112540',
			'01-202103-114483',
			'01-202008-08205',
			'01-202103-112541',
			'01-202008-08647',
			'01-202005-03235',
			'01-202104-115680',
			'01-202106-124202',
			'01-202104-115886',
			'01-202008-22190',
			'01-202007-06130',
			'01-202009-51360',
			'01-202010-53052',
			'01-202010-60899',
			'01-202011-63611',
			'01-202207-0230287',
			'01-230317-289810',
			'01-230324-290432',
			'01-202107-124482',
			'01-202105-117872',
			'01-202104-115621',
			'01-202109-0147070',
			'01-231025-376359',
			'01-230824-355073',
			'01-202107-124425',
			'01-202109-0143968',
			'01-202109-0143538',
			'01-202106-123881',
			'01-220805-237985',
			'01-202008-23393',
			'01-240430-625543',
			'01-230921-362304',
			'01-202008-08607',
			'01-240319-594410',
			'01-230504-300345',
			'01-202007-05986',
			'01-202007-06971',
			'01-202102-107690',
			'01-202111-0172426',
			'01-202008-07094',
			'01-202007-06893',
			'01-202103-115353',
			'01-202007-05988',
			'01-202008-07107',
			'01-202008-08703',
			'01-202005-03215',
			'01-202008-07151',
			'01-240110-527328',
			'01-230613-321551',
			'01-202009-46890',
			'01-202112-0174910',
			'01-202005-03272',
			'01-202008-07187',
			'01-202101-77563',
			'01-202007-06164',
			'01-202007-05991',
			'01-202008-23308',
			'01-202004-02825',
			'01-202007-05982',
			'01-202004-02829',
			'01-202012-67670',
			'01-202008-21429',
			'01-202103-113822',
			'01-240215-582064',
			'01-202108-0142137',
			'01-202205-0196995',
			'01-202102-106994',
			'01-202011-66658',
			'01-202110-0148340',
			'01-202008-07175',
			'01-202105-117983',
			'01-202104-117271',
			'01-202206-0224135',
			'01-202007-05648',
			'01-230526-315162',
			'01-202004-02894',
			'01-220830-245549',
			'01-202004-02783',
			'01-202008-36979',
			'01-202004-02744',
			'01-202008-35971',
			'01-202008-36076',
			'01-202008-36020',
			'01-202008-36762',
			'01-202008-36975',
			'01-202005-03219',
			'01-202008-36013',
			'01-202008-35965',
			'01-202008-29298',
			'01-202004-02882',
			'01-202010-53062',
			'01-202008-37123',
			'01-202102-105787',
			'01-202008-36025',
			'01-202009-50954',
			'01-202102-105792',
			'01-202008-36186',
			'01-202008-15178',
			'01-202008-35973',
			'01-202005-03264',
			'01-202007-05232',
			'01-202005-03282',
			'01-240202-560835',
			'01-202206-0226773',
			'01-202101-78573',
			'01-240523-631025',
			'01-202105-121433',
			'01-202009-38164',
			'01-202204-0195422',
			'01-202206-0229490',
			'01-240605-634392',
			'01-202101-78551',
			'01-202106-124152',
			'01-240718-648449',
			'01-202202-0184975',
			'01-202201-0183206',
			'01-240613-637035',
			'01-202105-120763',
			'01-202009-50933',
			'01-202107-124458',
			'01-210816-136036',
			'01-240725-655588',
			'01-220720-235363',
			'01-220919-247024',
			'01-202005-03268',
			'01-202101-77330',
			'01-202108-0141967',
			'01-240709-644805',
			'01-230822-354752',
			'01-202008-08207',
			'01-210819-136444',
			'01-230418-293765',
			'01-202201-0184475',
			'01-202206-0229324',
			'01-202205-0196144',
			'01-202205-0196967',
			'01-202205-0196149',
			'01-202110-0147162',
			'01-202011-63609',
			'01-230526-315163',
			'01-202201-0178343',
			'01-202202-0187689',
			'01-230426-295014',
			'01-202108-0142511',
			'01-202201-0178344',
			'01-202206-0230094',
			'01-202010-53027',
			'01-230202-277497',
			'01-202008-22347',
			'01-202008-22344',
			'01-221018-249723',
			'01-202106-123885',
			'01-202202-0187699',
			'01-202106-122291',
			'01-221027-250366',
			'01-202104-116779',
			'01-202202-0186666',
			'01-202008-08609',
			'01-202008-24111',
			'01-202004-02925',
			'01-240319-594355',
			'01-202008-23753',
			'01-202110-0169209',
			'01-202109-0147071',
			'01-202108-135130',
			'01-210813-135181',
			'01-202009-46894',
			'01-202202-0184999',
			'01-202101-76017',
			'01-202111-0172774',
			'01-231121-390050',
			'01-202107-124408',
			'01-202009-50892',
			'01-202105-117985',
			'01-202010-60881',
			'01-202011-66373',
			'01-202009-38155',
			'01-221201-268345',
			'01-202007-06003',
			'01-240117-549671',
			'01-202010-60509',
			'01-202010-51575',
			'01-202202-0187287',
			'01-202202-0184736',
			'01-202206-0224595',
			'01-202202-0185566',
			'01-230202-277486',
			'01-202108-134597',
			'01-202112-0175103',
			'01-202010-53065',
			'01-202009-46896',
			'01-202007-05668',
			'01-202008-07999',
			'01-202010-51405',
			'01-202004-02730',
			'01-202005-03218',
			'01-210819-136439',
			'01-202108-133481',
			'01-202007-05680',
			'01-202008-36190',
			'01-210819-136414',
			'01-202107-133269',
			'01-202101-76938',
			'01-202008-22968',
			'01-202005-03380',
			'01-202008-24139',
			'01-202007-05639',
			'01-202007-05995',
			'01-202008-22930',
			'01-202009-51331',
			'01-202004-02788',
			'01-202201-0183402'
		)
	and p.PolicyId not in (
		Select PolicyId from [policy].[policynote] (nolock) ps 
		where ps.PolicyId = p.PolicyId
		and REPLACE(REPLACE(ps.[Text], '[', ''), ']', '') LIKE 'Payment Schedule for month ' + @paymentMonth + ' sent to email address%'
	)
	Group by 
		P.PolicyId,
		p.BrokerageId,
		p.PolicyOwnerId,
		p.PolicyNumber,
		p.InstallmentPremium,
		fp.FinPayeNumber,
		rp.DisPlayName,
		rp.EmailAddress,
		brgc.Firstname, 
		brgc.LastName, 
		brgc.Email
	order by 4 DESc
 
END
