.legal-table-content {
  display: flex;
  justify-content: center;
}

table,
.table-insie {
  width: 100%;
}

.select-all-text{
  font-size: 14px;
}

.select-text-col{
  display: flex;
  align-items: center;
  white-space: initial;
}

.select-all{
  padding: 16px 8px;
}

.search-container-css {
  padding: 16px 16px;
  border-bottom: 1px solid #D6D6D6;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.reassign-dropdown {
  display: flex;
  justify-content: flex-end;
}

.flex-view{
  display: flex;
}

.half-view{
  width: 50%;
}

.full-view{
  width: 100%;
}

.reassign-agent-label{
  margin: 16px 12px;
}

.filter-icon{
  margin-right: 22px;
}

.reasign-option{
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.filter-details-box{
  position: absolute;
  top: 15%;
  width: 30%;
  z-index: 999;
}

.select-action {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
}

.action-submit {
  border-radius: 5px;
  background: linear-gradient(90deg, #008EB3 0%, #00BCE7 100%);
  color: #FFF;
  border: 0;
  font-size: 16px;
}

.box-close-icon{
  position: absolute;
  cursor: pointer;
  top: 5px;
  right: 5px;
}

.required-field{
  color: red;
}

.create-message-temp-tabs-fields{
  padding: 8px 0px;
}

.action-div-box {
  display: flex;
  justify-content: flex-end;
  padding: 18px 0px 4px 0px;
}

.filter-details{
  position: relative;
  border: 1px solid #ddd;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 25px;
}

.box-close{
  border: 2px solid rgba(47, 80, 102, .06);
  padding: 4px;
}

.dropdown-list {
  border: none !important;
}

.acknowledgement-div {
  padding: 0px 0px !important;
}

.ack-que {
  margin: 0;
  padding: 0px 0px 8px 0px;
  margin-top: 15px;
}

.action-div {
  display: flex;
  padding: 54px 0px 16px 0px;
  justify-content: flex-end;
}

.action-div-padding {
  padding: 50px 0px 24px 0px;
}

.select-action {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.option-yes {
  padding-right: 16px;
}

.option-no {
  padding-left: 16px;
}

.action-icon {
  opacity: 0.8;
  padding-right: 8px;
}

.option {
  border-bottom: 2.5px solid skyblue;
  color: #000;
  padding-bottom: 4px;
  padding: 5px;
  cursor: pointer;
}

.search-container-data {
  width: 50%;
  border-radius: 3px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  padding: 0px 8px;
  position: relative;
}

.search-container-data span {
  display: flex;
}

.mat-table-data {
  padding: 0px 16px 16px;
}

.demo-section {
  margin: 0px 8px;
}

.user-profile-image {
  height: auto;
  max-width: 80%;
}

.top-icons {
  border: 1px solid #D6D6D6;
  padding: 1px;
  border-radius: 3px;
}

tr,
th,
td {
  text-align: center !important;
}

.legal-admin {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  position: relative;
}

.type-class {
  margin: 0px 18px;
  padding: 8px 0px 0px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.type-class .type-class-item {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 20px;
}

.type-class .type-class-border {
  border-radius: 7px 7px 0px 0px;
}

th {
  color: #000 !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-bottom: 1px solid #ddd !important;
  font-weight: 600;
  font-family: Montserrat;
  font-size: 14px !important;
}

tr {
  cursor: pointer;
  font-family: Montserrat;
  font-size: 13px;
  height: 42px;
}

th,
tr {
  background-color: #FFF !important;
}

td {
  background-color: #F7F7F7 !important;
  border-top: 8px solid #FFF !important;
  color: #000;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.39px;
  border-bottom: none !important;
  padding: 8px 0px !important;
  text-align: left !important;
}

td span {
  font-size: 13px;
  font-weight: 500;
}


.tabHeaderSapn {
  display: inline-block;
  text-align: left;
  padding-left: 8px;
  white-space: initial;
}

.checkbox-select {
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.search-input {
  outline: none !important;
  height: 36px;
  font-size: 16px !important;
  border: none !important;
  width: 95%;
  color: #58585B;
  font-weight: 500;
  padding: 0px 8px;
}

.table-head {
  padding-left: 0 !important;
}

.search-input :focus-visible {
  outline: none !important;
}

.select-option {
  width: 100%;
  padding: 5px;
  background-color: #F2F2F2;
  border: none;
  cursor: pointer;
  outline: none !important;
}

.option-value {
  background-color: #FFF;
  padding: 12px;
}

.legal-manager-assign {
  height: 30px;
}

.ack-select {
  text-align: center;
  border: none;
  outline: none;
  background-color: #F7F7F7;
  cursor: pointer;
  width: 85%;
  padding: 8px 8px;
  border-radius: 4px;
  font-weight: 700;
}

.option-item span {
  color: rgba(14, 69, 106, 0.75);
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.select-td {
  display: flex;
  justify-content: left;
  align-items: center;
}

.select-text {
  padding-left: 8px;
  white-space: initial;
}

.debtors-details-value {
  display: inline-block;
  padding: 4px 8px;
  color: #FFF;
  border-radius: 4px;
  padding: 8px 14px 8px 12px;
}

.not-authorized-message{
  text-align: center;
}

.progress-bar-container {
  height: 25vh;
  width: 94%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-view {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.enabled-field {
  opacity: 1;
  pointer-events: auto;
}

.disabled-field {
  opacity: 0.5;
  pointer-events: none;
}

.no-data-text {
  text-align: center;
  color: rgb(91, 181, 208);
  font-weight: 500;
}

.no-ptp-value {
  background-color: #33C601;
  color: #FFF;
  font-weight: 500;
  padding: 4px 8px 4px 4px;
}

.over_due_by_text {
  border-radius: 5px;
  color: #FFF;
  display: flex;
  width: 80%;
  padding: 8px 0px;
  justify-content: center;
}

.th-cell {
  width: 5%;
  text-align: start !important;
}

.tab-container-div {
  padding: 0px 16px;
  width: 95%;
}

.tab-container-inner-div {
  padding: 0px 8px;
  display: flex;
}

.content-div-container {
  padding: 0px 16px 16px 36px;
  width: 95%;
}

.debtor-table {
  padding: 0px 0px 16px;
  border-radius: 7px;
  border: 1px solid #D6D6D6;
}

.search-container {
  padding: 16px 16px;
  border-bottom: 1px solid #D6D6D6;
}

.search-container-filter {
  width: 50%;
  border-radius: 3px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  padding: 0px 8px;
}

.align-center{
  display: flex;
  justify-content: center;
}

.serch-icon {
  display: flex;
}

.assignValues-css {
  width: 90%
}

hr {
  border-top: 0.2px solid #D6D6D6;
}

.table-data-head {
  padding-left: 0 !important;
}
.select-box-th{
  padding-left: 0;
  padding-right: 5px;
}
.agent-list-dropdown{
  width: 90%;
}
.search-input-agent{
  height: 22px;
  padding-top: 10px !important;
}
.multi-agent-list-dropdown {
  width: 100%;
}

.date-picker-toggle-css {
  position: relative !important;
}

.detailHeadInnerDiv {
  display: flex;
}

.date-picker-field{
  width: 98%;
}

.status-update-mff{
  width: 50%;
}

.filter-date-label{
margin: 4px 0px;
color: #666;
}

.border-none{
border: none !important;
}

.information-list{
  cursor: pointer;
}

.enable-click-event{
  pointer-events: auto;
  opacity: 1;
  cursor: pointer;
}

.disable-click-event{
  pointer-events: none;
  opacity: 0.5;
  cursor: auto;
}

.select-input-bptp{
  border: none !important;
  margin: 4px 0px !important;
}