.debtcare-report{
    position: relative;
}

.reportFormView{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.flex-align{
    display: flex;
    flex-direction: column;
}

.on-diable-field{
    opacity: 0.5;
    pointer-events: none;
}

.align-center{
    display: flex;
    justify-content: center;
}

.flex-column-view{
    flex-direction: column;
}

.search-input{
    width: 98%;
}

.placed-center{
    display: flex;
    align-items: center;
}

.form-field, .formViewInside{
    width: 95%;
}

.field-row-last{
    margin: 8px 0px;
}

.field-row{
    margin: 14px 0px;
}

.flex-view{
    display: flex;
}

mat-select, .date-picker-input, .search-input{
    border: none !important;
}

.input-field{
    height: 40px;
}

.button-action{
    background-color: #7DC0DA;
    color: #000;
    padding: 4px 28px;
    border: 1px solid #7DC0DA;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 5px;
}

.spinner-view {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }