
.mat-column-claimStatus {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 25% !important;
    width: 25% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-action {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 12% !important;
    width: 12% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-policyReference {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 22% !important;
    width: 22% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  
  h4,
  .saving-text {
      font-size: 20px;
      font-weight: 600;
      line-height: 1.44;
      color: #00BCE7;
      padding: 5px 0 5px 0;
      margin: 0;
  }
  
  .mat-header-cell{
      color: white !important;
      font-size: 12px !important;
  }
  
  .mat-cell{
    color:Black !important;
  }
  
  .Action{
    width: 20px;
  }
  
  .link-edit {
    font-size: 12px;
    text-align: center;
    font-weight: 250;
    position: relative;
    padding: 4px;
    display: inline-block;
    left: 4%;
    cursor: pointer;
    margin-top: 10px;
    width: 88%;
    font-family: 'Oswald', sans-serif;
    color: white !important;
    border: 0;
    background-color: #0071BC;
    text-decoration: none;
  }