.date-returned-to-work {
  min-width: 370px !important;
}

.date-stabilised {
  min-width: 370px !important;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow:none;
}

p{font-style: italic;
  line-height: 22px;}
