.flex-parent-element {
  display: flex;
  width: 100%;
}

.flex-child-element {
  flex: 1;
  margin: 10px;
  width: 25%;
  max-width: 25%;
}

.margin-top {
  margin-top: -4px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.altRowTable td {
  text-align: left !important;
  padding-left: 15px !important;
  height: 15px;
}
