/* PERMISSION CSS */
.permissionError{
  margin-left: 25px !important;
  padding-bottom: 80px !important;
}

/* MAIN HEADER CSS */
.wizardHeader{
  margin-left: 30px !important;
}

/* BENEFICIARY CSS */
.altRowTable tr:nth-child(even){
  background: lightgray
}

.material-icons.lightGreen { color: rgb(47, 145, 47); }
.material-icons.lightAmber { color: rgb(247, 167, 71); }
.material-icons.lightRed{ color: rgb(253, 100, 100) }
.material-icons.lightBlue { color: rgb(94, 105, 255); }

/* SHARED CSS */
.mainContainerDiv{
  left: -23px !important;
  padding-left: 0px !important;
  margin-top: 10px !important;
}

.top-selector-container {
  display: -webkit-box;
  /* display: flex; */
  width: 70%;
  font-family: 'Oswald', sans-serif;
  margin-right: 40px !important;
}

.main-container {
  font-family: 'Oswald', sans-serif !important;
}

.top-selector-container {
  display: -webkit-box;
  display: flex;
  font-family: 'Oswald', sans-serif;
}

.document-container {
  width: 100%;
  margin-left: 0 !important;
  font-family: 'Oswald', sans-serif;
}

.mat-card.scrollable-content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 100;
  font-family: 'Oswald', sans-serif;

}

.content{
  margin-left: 15px !important;
}

.mat-card {
  box-shadow: none;
  font-family: 'Oswald', sans-serif;
  /* padding: 14px !important; */
}
  