
.center-align{
    display: flex;
    justify-content: flex-start;
}

.action{
    position: relative;
}

.enabled-view{
    opacity: 1;
    pointer-events: auto;
}

.disabled-view{
    opacity: 0.5;
    pointer-events: none;
}

.action-name{
   color: #006586; 
   text-align: left;
}

h2, button{
    font-family: Montserrat;
}
.spinner-view {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.action-div {
    display: flex;
    justify-content: flex-start;
    padding: 54px 0px 16px 0px;
}

.select-action {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.option{
    border-bottom: 2.5px solid skyblue;
    color: skyblue;
    padding-bottom: 4px;
    padding: 5px;
    cursor: pointer;
  }
.action-btns {
    padding-right: 16px;

}

.action-icons{
    opacity: 0.8;
    padding-right: 8px;
}