

  <div *ngIf="isLoading && !isRefreshing">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <label class="mat-label other-label"><i>Loading Transactions for debtor...please wait</i></label>
  </div>
 
  <div class="div_scroll" *ngIf="!isLoading && datasource.data.length > 0">
    <mat-card>
      <p class="labelParagraph">Transactions Being Reversed</p>
      <mat-table #table [dataSource]="datasource" matSort>
        <ng-container matColumnDef="transactionType">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.transactionType}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="documentNumber">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Document Number</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.documentNumber}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="transactionDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Document Date</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.transactionDate | date:'yyyy/MM/dd'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="amount">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Amount</mat-header-cell>
          <mat-cell *matCellDef="let row" class="right-aligned-amounts"> {{row.amount | currency:'R'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="balance">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Balance</mat-header-cell>
          <mat-cell *matCellDef="let row" class="right-aligned-amounts"> {{row.balance | currency:'R'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="period">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Period</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.period}} </mat-cell>
        </ng-container>       
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>

      <form [formGroup]="form" class="mat-container details-form" novalidate>
        <mat-form-field>
          <label class="mat-label other-label mandatory-field">Reversal Reason</label>
          <textarea matTextareaAutosize matAutosizeMinRows="5" matAutosizeMaxRows="3" maxlength="255" matInput
            minlength="3" id="reason" name="reason" formControlName="reason" ></textarea>        
        </mat-form-field>
      </form> 
    </mat-card>
  </div>
