.mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}

.clear {
  float: right;
  width: 20%;
  height: 100%;
  padding-bottom: 5px;
}

.icon {
  color: #51627c;
  font-size: 32px;
  cursor: pointer;
}

div.autoResize {
  width: auto;
  height: auto;
}

.pointer {
  cursor: pointer;
}

ul.noStyle {
  list-style-type: none;
}

li.lineHeight {
  height: 32px;
}

div.icd10LineItem {
  float: left;
  width: 80%;
  height: 100%;
  padding-bottom: 5px;
}

span.emphasise {
  font-style: italic;
  font-weight: bold;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.icd10LineItemPadding {
  padding-bottom: 20px !important;
}
