<div class="mainDiv">
    <h1 class="Arabic divAlign">Forgot Password</h1>
    <br />
    <form [formGroup]="form" class="mat-container details-form" novalidate>
        <div *ngIf="isMessageVisible" style="display: inline-block;">
            <span class="textColorRed"> {{memberMessage}} </span>
        </div>
        <br>
        <div style="display: inline-block;">
            <section>
                <mat-form-field class="mat-form-field">
                    <label class="mat-label other-label">Email </label>
                    <input matInput type="text" id="emailAddress" name="emailAddress" formControlName="emailAddress">
                    <mat-error *ngIf="form.get('emailAddress').hasError('email')">
                        A valid email address is required
                    </mat-error>
                </mat-form-field>
            </section>
            <br />
            <div class="form-buttons">
                <button [disabled]="form.invalid" [disabled]="isResend"  class="button submit-button" (click)="Submit()">Submit</button>
            </div>
            <br>
            <div *ngIf="(isLoading$ | async)">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                <label class="mat-label other-label"><i>veryfying user...please wait</i></label>
            </div>
            <div *ngIf="(isLoadingSendEmail$ | async)">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                <label class="mat-label other-label"><i>sending password reset email...please wait</i></label>
            </div>
        </div>
    </form>
</div>