-- =============================================
-- Author:		A-Team
-- Create date: 06/12/2019
-- Description:	When Approved move the people into relevant tables
-- =============================================
CREATE PROCEDURE [policy].[ApprovePremiumListing]
		@CompanyName varchar(1000),
		@DateTime datetime
 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   
	 
END
