.mat-column-user {
  min-width: 150px !important;
}
.mat-column-date {
  min-width: 100px !important;
}
.mat-column-note {
  min-width: 600px !important;
}
.push-down {
  margin-top: 12px;
}
.add-button {
  cursor: pointer;
  font-size: small;
  color: #7DC0DA;
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}
.progress-bar {
  font-size: small;
  margin-bottom: 10px;
}
.add-text {
  padding-left: 7px;
}
.note-section {
  font-size: small;
  margin-bottom: 7px;
}
.note-text {
  min-width: 340px !important;
  min-height: 300px !important;
  max-height: 400px !important;
}
