.clear-button{
    border: none;
    position: absolute;
    float: left;
    top: 250px;
    z-index: 100;
    right: 20px;
    border-radius: 50%;
}

.clear-icon {
    color: #e63333;
    size: 12px;
}
