
.main-container {
    font-family: 'Oswald', sans-serif !important;
  }
  
  .top-selector-container {
    display: -webkit-box;
    display: flex;
    width: 98.5%;
    font-family: 'Oswald', sans-serif;
  }
  
  .document-container {
    width: 47%;
    margin-left: 0 !important;
    font-family: 'Oswald', sans-serif;
    padding-right: 10px;
  }

  .dateCss{
    width: 120px !important;
  }

  .material-icons.lightRed{ 
    color: rgb(253, 100, 100);
    font-size: 30px;
    vertical-align: middle !important;
  }

  .font {
    font-family: 'Oswald', sans-serif;
    height: 50px!important;
    color: rgb(240, 172, 172) !important;
}

.icon {
  color: rgb(84, 90, 84);
  vertical-align: middle !important;
}

.btn{
  width: 60px !important;
}

.altRowTable tr:nth-child(odd){
  background: lightgray
}

.align{
  text-align: right !important;
}

.resetBtn{
  text-align: right;
}

.inputDate {
  width: 20% !important;
}
.m-l {
    margin-left: 1%;
}

  
