.pad-left {
    margin-left: 7px;
    margin-top: 1px;
  }
  
  .field-left {
    float: left;
  }
  
  .field-right {
    float: left;
    margin-left: 18px;
  }

  table, th, td {
    background-color: whitesmoke !important;
  }

  img {
    height: 40;
    width: 40;
  }
  .ViewButton{
    margin-top:19px;
  }
  h1{
    color:#389cae
  }
  mat-card {
    margin: 15px 30px;
  }
  