table{
  width: 100%;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell{
  padding-left: 24px;
}

.benefit-container {
  width: 70%;
  height:58vh;
  overflow: auto;
}

.money-column {
  padding-right: 24px !important;
  text-align: right !important;
}