.premiumListingContainer{
    margin-left: 15px !important;
}

.title{
    margin-left: 25px !important;
}

@media screen and (max-width: 427px) {
    button{
        font-size: x-small !important;
        width: 45% !important;
    }
}