.notes-dialog-container {
    width: 1200px;
    padding: 20px;
}
.mat-column-username {
    max-width: 200px !important;
}
.mat-column-date {
    max-width: 180px !important;
}
.text-box {
    max-width: unset;
    width: 100% !important;
    min-height: 200px !important;
}
