.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

::ng-deep .mat-horizontal-stepper-header-container {
  position: relative !important;
}

.red-text-status-message {
  color: red;
}