.mat-column-beneficiary {
  max-width: 6% !important;
}

.mat-column-displayName {
  max-width: 12% !important;
}

.mat-column-idNumber {
  max-width: 10% !important;
}
.mat-column-verified {
  max-width: 4% !important;
}
.mat-column-age {
  max-width: 5% !important;
}
.mat-column-dateOfBirth {
  max-width: 9% !important;
}
.mat-column-relation {
  max-width: 8% !important;
}
.mat-column-cellNumber {
  max-width: 6% !important;
}
.mat-column-actions {
  max-width: 7% !important;
}
.check-box {
  margin-left: 10px;
}
.relation-button {
  width: 120px !important;
  margin-left: 5px;
}
.button-container {
  float:left;
  display: inline-flex;
  padding-top:5px;
  padding-left:9px;
}
.link-container {
 cursor: pointer;
 display: inline-flex;
 padding-top: 10px;
}
.verify-checkbox {
  margin-left: 40px;
  margin-top: 10px;
}
.person-link {
  vertical-align: middle;
}
.person-link-text {
  margin-left: 10px;
}
.error-box {
  margin-top:5px;
  margin-bottom:20px;
  color: #f44336;
  font-size: 75%;
  font-family: Arial !important;
}
