<div class="page-header"></div>

<div style="padding-top: 15px;">

    <div style="margin-top: 20px;">

        <!--Individual Type-->
        <div [hidden]="selected !== 1">
            <client-individual></client-individual>
        </div>

        <!--Affinity Type-->
        <div [hidden]="selected !== 2">
            <client-affinity></client-affinity>
        </div>

        <!--Company Type-->
        <div [hidden]="selected !== 3">
            <client-company></client-company>
        </div>
        
    </div>
</div>