.status-update-mff{
    width: 100%;
}

.top-nav-detail-tab{
    border-radius: 3px;
    background: #BDE3F6;
    color: #006586;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700; 
    pointer-events: none;
}

span, h4{
    font-family: Montserrat;
}

.back-btn{
    border: 1px solid #346FE2;
    background: transparent;
    padding: 10px 20px 10px 10px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.save-btn{
    padding: 14px 0px;
    cursor: pointer;
    border-radius: 4px;
    width: 30%;
    color: #FFF;
}

.enable-btn{
    pointer-events: auto;
    background: linear-gradient(90deg, rgb(0, 142, 179) 0%, rgb(0, 188, 231) 100%);
    border: 1px solid #346FE2;
}

.action-name{
    text-transform: capitalize;
    color: #006586;
}

.half-view{
    width: 50% !important;
}

.disable-btn{
    pointer-events: none;
    background: #D4D4D5;
    border: 1px solid #346FE2;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.width-16{
    width: 16%; 
    padding-right: 10px;
}

.width-33{
    width: 33%;
    padding-right: 10px;
}

.width-50{
    width: 50%;
}

.width-66{
    width: 66%;
}

.width-90{
    width: 90%;
}

.width-95{
    width: 95% 
}

.width-margin{
    width: 98%;
    margin: 0px 2px;
}

.width-margin2{
    width: 96%;
    margin: 0px 2px;
}

.display{
    display: flex;
}

.tempId-style{
    margin: 5px 8px;font-weight: 800; 
}

.display-flex-padding{
    padding: 0px 8px; 
    display: flex;
    width: 50%;
}

.padding-div{
    padding: 0px 0px 16px;
}

.padding-top{
    padding-top: 18px;  
}

.margin-top-bottom{
    margin-top: 0;
    margin-bottom: 8px; 
}

.h4-style{
    margin-top: 0;
    margin-bottom: 8px;  
}

.padding{
    padding: 16px;  
}

.padding-width{
    padding: 0px 16px;width: 95%; 
}

.padding-left{
    padding-left: 30px
}

.padding-width2{
    padding: 8px 8px; width: 80%;
}

.preview-msg-style{
    width: 33%;padding-top: 36px;
}

.preview-msg-border{
    border: 1px solid #D6D6D6;
    padding: 14px 32px;
    border-radius: 4px; 
}

.div-padding{
    padding: 16px 30px;
    padding-top: 12px;
}

.font-family{
    font-family: Montserrat;
}

.font-16{
    font-size: 16px 
}

.btn-style{
    font-family: Montserrat;
    margin: 4px 4px;
}

.border-none-imp{
    border: none !important;
}

.border-radius{
    border: 1px solid #D6D6D6;
    padding: 14px 32px;
    border-radius: 4px;
}

.margin-top-bottom{
    margin-top: 0;
    margin-bottom: 8px;
}

.color-red{
    color: red;  
}

.ck-editor ::-webkit-scrollbar {
    width: 0.2em !important;
    background-color: white !important;
}

.create-template-ckEditor{
    max-height: 400px !important;
    overflow-y: auto !important;
}

.display{
    display: flex; 
}

.display-flex{
    padding: 16px 30px;
    display: flex;
    justify-content: center;  
}

.display-flex-border{
    padding: 8px 8px;
    display: flex;
    border-bottom: 1px solid #F7F7F7;
}

.display-arrow{
    display: flex;
    padding: 0px 30px 30px; 
}

.save-btn-div{
    width: 50%;
    text-align: right;
    padding-right: 20px; 
}

.call-div-style{
    display: flex;
    height: 3rem;
    align-items: center;  
}

.type-of-action-style{
    width: 50%;
    display: flex;
    flex-direction: column; 
}

.type-class{
    margin: 0px 18px;
    padding: 8px 0px 0px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.type-class .type-class-item{
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 25px;
}
.message-box{
    border-radius: 7px;
    border: 1px solid #D6D6D6;
    background: #FFF;
    padding: 14px 24px 28px;
}

h3, span, textarea, input, span{
    color: #000;
    font-family: Montserrat
}

.message-type-area{
    display: flex;
    flex-direction: column;
}

.message-type-area textarea{
    resize: none;
    border: 1px solid #D6D6D6;
    padding: 8px;
    font-size: 16px;
    max-width: 95%;
    border-radius: 5px;
}
.note-text{
    color: rgba(0, 0, 0, 0.50);
    font-size: 13px;
    font-weight: 600;
}

.character-length{
    padding-top: 8px;
}

mat-error{
    padding: 10px 0px;
}

.create-template{
    position: relative;
    display: flex;
    align-items: center;
}

.create-template-text {
    border-bottom: 1px solid rgba(112, 112, 112, 0.20);
    padding-bottom: 4px;
}

.create-template-div{
    width: 92%;
    display: flex;
    justify-content: right;
}

.marketing-care-template{
    width: 100%;
}

.message-inside-box{
    display: flex;
    justify-content: center;
}

.message-preview-div{
width: 40%;
display: flex;
align-content: center;
align-items: center;
justify-content: center;
}

.preview-area{
    border-radius: 10px;
    background: lightgray 50% / cover no-repeat;
}

.spinner-view{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    }

    .on-disabled{
        opacity: 0.3;
        pointer-events: none;
    }

    .flex-column-view{
        display: flex;
        flex-direction: column;
    }
    
    .on-enabled{
        opacity: 1;
        pointer-events: auto;
    }  

    .disabled-input-field{
        opacity: 0.6;
        pointer-events: none;
    }
   
    .time-picker {
        position: relative;
        cursor: pointer;
    }

    .time-picker::-webkit-calendar-picker-indicator {
        background-repeat: no-repeat;
        display: inline-block;
        fill: currentColor;
        height: 24px;
        width: 24px;
        cursor: pointer;
    }    

    .time-picker{
        border: none !important;
        font-size: 16px !important;
        padding: 8px 0px 0px 0px !important;
        display: flex;
        justify-content: center;
      }
      .message-type-area-preview{
        border: 1px solid #ccc;
        padding: 10px;
        background: #222222;
        min-height: 215px;
        border-radius: 10px;
        max-height: 20vh;
        overflow-y: auto;
      }
      .preview-area-message{
        font-size: 16px;
        font-weight: 500;
        line-height: 1.3;
        color: #333;
        white-space: pre-wrap;
        background: #FFFFFF 50% / cover no-repeat;
        border-radius: 0px 15px 15px 15px;
        min-height: 30px;
        overflow-y: auto;
      }
     