<div *ngIf="isLoading && !isRefreshing">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  <label class="mat-label other-label"><i>Loading Transactions for debtor...please wait</i></label>
</div>
<form [formGroup]="form" class="mat-container details-form" novalidate>
  <section>
    <mat-form-field class="mat-form-field">
      <label class="mat-label other-label">Adjustment Direction</label>
      <input matInput formControlName="adjustmentDirection" type="adjustmentDirection" name="adjustmentDirection"
        id="adjustmentDirection" readonly />
    </mat-form-field>
  </section>
  <section>
    <mat-form-field class="mat-form-field">
      <label class="mat-label other-label">Original Transaction Amount</label>
      <input matInput formControlName="transactionAmount" type="number" name="transactionAmount"
        id="transactionAmount" readonly />
    </mat-form-field>
  </section>
  <section>
    <mat-form-field class="mat-form-field">
      <label class="mat-label other-label">Adjustment Amount</label>
      <input matInput formControlName="adjustmentAmount" type="number" name="adjustmentAmount"
        id="adjustmentAmount" readonly />
    </mat-form-field>
  </section>
  <section>
    <mat-form-field class="mat-form-field">
      <label class="mat-label other-label">Total After Adjustment</label>
      <input matInput formControlName="totalAfterAdjustment" type="number" min="0" name="totalAfterAdjustment"
        id="totalAfterAdjustment" readonly />
    </mat-form-field>
  </section>
</form>
<div class="searchMessage" *ngIf="searchFailedMessage.length > 0">{{searchFailedMessage}}</div>
<div class="div_scroll" *ngIf="!isLoading && datasource.data.length > 0">
  <mat-card>
    <mat-table #table [dataSource]="datasource" matSort>
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="documentNumber">
        <mat-header-cell *matHeaderCellDef>Document No.</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.documentNumber}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="transactionDate">
        <mat-header-cell *matHeaderCellDef>Document Date</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.transactionDate | date:'yyyy/MM/dd'}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
        <mat-cell *matCellDef="let row" class="right-aligned-amounts"> {{row.amount | currency:'':''}} </mat-cell>
      </ng-container>     
      <ng-container matColumnDef="period">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          matTooltip="Period on which transaction is posted to the GL">Period</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.period}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </mat-card>
</div>