<mat-card *ngIf="!model || (isLoading$ | async)">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  <label class="mat-label other-label"><i>loading...please wait</i></label>
</mat-card>
<person-event-view [personEventId]="model.personEventId"></person-event-view>

<mat-tab-group *ngIf="model && !(isLoading$ | async)" animationDuration="500ms" [(selectedIndex)]="defaultTab">
  <mat-tab label="Claim">
    <holistic-claim-details [personEvent]="model" [isReadOnly]="true"></holistic-claim-details>
  </mat-tab>

  <mat-tab label="Employee">
    <holistic-person-details *ngIf="model.rolePlayer" [personEvent]="model"
      [isReadOnly]="true"></holistic-person-details>
  </mat-tab>

  <mat-tab label="Documents & Medical Reports">
    <holistic-medical-report-container [event]="model.event" [personEvent]="model"
      [isReadOnly]="true"></holistic-medical-report-container>
  </mat-tab>

  <mat-tab *ngIf="model.event" label="{{eventTypeLabel}}">
    <holistic-injury-details [personEvent]="model" [isReadOnly]="true" [isWizard]="true"
      [eventType]="model.event.eventType"></holistic-injury-details>
  </mat-tab>

  <mat-tab label="Requirements">
    <claim-requirements-v2 [personEvent]="model"></claim-requirements-v2>
  </mat-tab>

  <mat-tab label="Notes">
    <common-notes [moduleType]="moduleType" [noteItemType]="noteItemType" [itemId]="model.personEventId"></common-notes>
  </mat-tab>
</mat-tab-group>