.loading-main-double-menu-progress,
.tax-rates-list-warning {
  margin-top: 24px;
}

.add-tax-rate-button-container {
  overflow-y: hidden;
  margin: 24px 0;
}

.right {
  float: right;
}

.pointer {
  cursor: pointer;
}

