.date-picker-button-margin {
    margin-top: 16px !important;
}
.datepicker{
    width: 22%; margin-top: 10px;
}
.placeholder {
    position: relative;
    right: -26px;
    top: 14px;
    height: 42px;
}
.mat-form-field-appearance-legacy .mat-form-field-label {
    height: 42px;
}

.mat-icon-button {
    margin-top: 16px !important;
}

.items-buttons-container {
    margin-left: 20px;
}

.button-left {
    margin-left: 20px;
}
