.wizard-font {
    font-family: 'Oswald', sans-serif;
}

.grey {
    color: rgba(0, 0, 0, .54);
}

.blue {
    color: #389cae;
}

.orange {
    position: relative;
    color: orange;
    padding-top: 20px;
    top: -20px;
}

.subOrange{

    position: fixed;
    color: orange;
    padding-top: 250px;
    top: -31px;
    padding-left: 64px;

}


.invalid {
    color: #f44336;
    font-family: 'Oswald', sans-serif;
}

.valid {
    color: #66cc66;
    font-family: 'Oswald', sans-serif;
}

.left-padding {
    padding-left: 20px;
}

.card-title {
    font-size: 18px;
}

.list-pointer {
    cursor: pointer;
}

.material-icons {
    margin-bottom: 0 !important;
}

.grey-icon {
    color: rgba(0, 0, 0, .54) !important;
}

.small-padding {
    padding-left: 10px;
}

.left-margin {
    margin-left: 20px;
}

.small-margin {
    margin-left: 10px;
}

p {
    font-family: 'Oswald', sans-serif;
    color: rgba(0, 0, 0, .54);
}

.wizard-radio-group {
    display: inline-flex;
    flex-direction: column;
}

.wizard-radio-button {
    margin: 5px;
}

.wizard-selected-value {
    margin: 15px 0;
}

.wizard-mat-card-content {margin-left: 10px;}
.wizard-mat-card {margin: 0px 30px 15px 30px}
.wizard-permissions-error{color: orange; font-family: 'Oswald', sans-serif;}
.wizard-main-content{padding-top: 15px}


@media screen and (max-width: 610px) {
    .btnResponsive{
        width: 30%;
        font-size: x-small;
      }
    }

@media screen and (max-width: 500px) {
.btnResponsive{
    width: 30%;
    font-size: xx-small;
  }
}

@media screen and (max-width: 372px) {
    .btnResponsive{
        width: 25%;
        font-size: xx-small;
      }
    }