h1 {
    padding: 14px;
}

.description {
    margin-left: 12px;
    margin-bottom: 10px;
}

.mat-form-button {
    margin-left: 20px;
}

.divAlign{
    padding-top: 30px;
}

.mainContainerDiv{
    padding-left: 28px !important;
    width: 80% !important;
  }

  .heading{
      color: lightgray !important;
      margin-left: 30px !important;
  }
