.main-container {
  font-family: 'Oswald', sans-serif !important;
}

.dateCss {
  width: 120px !important;
}

.material-icons.lightRed {
  color: rgb(253, 100, 100);
  font-size: 30px;
  vertical-align: middle !important;
}

.labelHeading {
  vertical-align: middle !important;
  margin-top: 5px !important;
}

.inputDate {
  width: 45% !important;
}

.material-icons-heading {
  font-size: 30px;
  vertical-align: middle !important;

}

.font {
  font-family: 'Oswald', sans-serif;
  height: 50px !important;
  color: rgb(240, 172, 172) !important;
}

.icon {
  color: rgb(84, 90, 84);
  vertical-align: middle !important;
}

.altRowTable tr:nth-child(odd) {
  background: lightgray
}

.align {
  text-align: right !important;
}

.resetBtn {
  text-align: right;
}

.loadingDiv {
  padding-top: 10px;
  padding-bottom: 10px;
}

.icon {
  position: absolute !important;
  left: 92%;
  top: 25px;
  font-size: 18px !important;
  color: black;
  cursor: pointer;
  -webkit-transform: none !important;
  transform: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}