
.top-nav-detail-tab{
    border-radius: 3px;
    background: #BDE3F6;
    color: #006586;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700; 
    pointer-events: none;
}

h4{
    color: #006586;
}

.NA-text{
    text-align: center;
    display: block;
    padding: 12px 0px;
    opacity: 0.7;
}

.search-input{
    border: none !important;
}

p{
    font-family: Montserrat;
}

.preview-template-tab{
    cursor: pointer;
}

.preview-template-tab :hover{
    opacity: 0.6;
    text-decoration: underline;
}

.status-update-mff{
    width: 100%;
}

.padding-width{
    padding: 0px 16px;
    width: 95%;
}

.padding-display-flex{
    padding: 8px 8px; 
    display: flex;
    border-bottom: 1px solid #F7F7F7; 
}

.padding-diasply{
    padding: 0px 16px; 
    display: flex; 
}

.padding{
    padding: 8px 8px;
}

.padding-20-34{
    padding: 20px 34px; 
}

.padding-div{
    padding: 16px 30px 0px;
}

.padding-bottom{
    padding-bottom: 16px;
}



.padding-border{
    padding: 16px 0px;
    border: 1px solid #F7F7F7;
}

.display-padding-1{
    padding: 30px 30px 30px;
}

.display-padding-2{
    padding: 0px 30px 30px;
}

.flex-view{
    display: flex; 
}

.padding-left{
    padding-left: 4px
}

.back-btn-style{
    padding-left: 30px
}

.width-80{
    width: 80%;
}

.width-20{
    width: 20%; 
}

.width-50{
    width: 50%;   
}

.width-95{
    width: 95%;
}

.width-text-align{
    width: 60%;
    text-align: right;
    padding-right: 20px;
}

.width-margin{
    width: 95%;
    margin: 0px 2px;
}

.width-padding-left{
    width: 50%;
    padding-left: 14px; 
}

.width-padding-right{
    width: 50%;
    padding-right: 14px;
}

.width-border-radius{
    width: 98%;
    border: 1px solid #D6D6D6;
    border-radius: 4px;  
}

.font-family{
    font-family: Montserrat;
}

.border-none-imp{
    border: none !important;
}

.color-red{
    color: red; 
}

.text-align{
    text-align: center; 
}

.btn-style{
    width: 33%;
    text-align: right;
    padding-right: 20px;  
}

.width-padding{
    padding: 8px 8px; 
    width: 80%;
}

.width98-margin{
    width: 98%;
    margin: 0px 2px;
}

.form-lable-text{
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 10px 0px 5px;
}

.create-template{
    color: #00597C;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.34px;
    background: transparent;
    border: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: auto;
}

.create-template-text {
    border-bottom: 1px solid rgba(112, 112, 112, 0.20);
    padding-bottom: 4px;
    text-transform: uppercase;
    font-family: Montserrat;
}

.select-approver-message{
    text-align: center;
}

.create-template-div{
    width: 20%;
    display: flex;
    justify-content: right;
    align-items: center;
}

table{
    width: 100%;
}

th{
    padding: 8px 8px;
    text-align: left;
    border-bottom: 1px solid rgba(112, 112, 112, 0.20);
}

.width-40{
    width: 40%;
}

.width-60{
    width: 60%;
}

th,td{
    font-family: Montserrat;
}

td{
    background-color: #F7F7F7; 
    padding-left: 8px;
    border-top: 4px solid #FFF;
    border-bottom: 4px solid #FFF;
}

tr{
    border-bottom: 1px solid #000
}

.table-data-list span{
    background: #F7F7F7;
    width: 100%;
}

.back-btn{
    border: 1px solid #346FE2;
    background: transparent;
    padding: 10px 20px 10px 10px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

mat-error{
    padding-top: 16px;
}

.save-btn{
    border: 1px solid #D4D4D5;
    background: transparent;
    padding: 14px 0px;
    cursor: pointer;
    border-radius: 4px;
    width: 30%;
    color: #FFF;
}

.create-campaign{
    position: relative;
}

.spinner-view{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    }

.on-disabled{
    opacity: 0.3;
    pointer-events: none;
}

.action-btn-div{
    display: flex;
    align-items: flex-end;
}

.warning-template{
    margin-bottom: 2px;
    display: block;
}

.on-enabled{
    opacity: 1;
    pointer-events: auto;
}  

.action-btns{
    width: 100%;
    border: 1px solid #D4D4D5;
    padding: 14px 0px;
    cursor: pointer;
    border-radius: 4px;
}

.selected-items{
    margin: 0px 8px;
    border-radius: 3px;
    background: #006586;
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 14px;
}

.selected-items mat-icon{
    color: #FFF;
    height: 18px;
    width: 18px;
    font-size: 16px;
    cursor: pointer;
}