.tableWidth {
    width: 95%;
    margin-bottom: 20px;
}

.qtyWidth {
    width: 50%;
}


.cpt-code-style {
    background: rgba(245, 191, 14, 0.897);
    color: rgb(80, 14, 167);
}

.cpt-code-empty {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

#los-style {
    color: rgb(255, 255, 255);
}

.input-width-fill-container {
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */  
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */   
}

.mat-header-text {
    float: left;
    margin-right: 20px;
}

.mat-header {
    min-height: 35px;
}

.mat-header-cell {
    min-height: 60px !important;
}

.check-container {
    display: flex;
}

.parent {
    width: 300px;
}

.children ul {
    list-style-type: none;
    margin-left: 10px;
    padding: 0;
}

.parent-title {
    font-weight: 600;
}

.treating-protocols {
    margin-left: 30px;
}

.limitreached {
    color: red;
    margin-left: 5px;
}

.hidden {
    display: block;
    visibility: hidden;
    height: 0;
    width: 0;
}

.mat-datepicker-toggle {
    position: absolute;
    margin-top: 13px;
    right: 0;
}