/*mat-form-field {
  width: 100%;
  height: 75px;
}

input.mat-input-element {
  height: 50px;
  border-radius: 22px !important;
}

mat-error {
  text-align: center;
}
.placeholder{
  position: relative;
  right: -26px;
  top: 14px;
  height: 42px;
}

.mat-form-field-appearance-legacy .mat-form-field-label{
height: 42px;
}
.mat-focused .placeholder {
visibility:hidden
}
.search-icon {
  position: absolute;
  right: 16px;
  top: -40px;
  color: #33BFE6;
}

.search-icon:hover {
  cursor: pointer
}




.button {
  position: relative;
  left: 0%;
  width: 265px;
}

.back-button {
  width: 265px;
}

.loading-main-double-menu-progress {
  margin-top: 24px;
}

.right {
  float: right;
}

mat-card {
  margin: 15px 30px 15px 30px
}

mat-card-content {
  margin-left: 10px;
}

.page-header h1 {
  margin-bottom: 15px;
}

.creating-wizard-subtile {
  font-size: 18px;
}
*/
