.pointer {
    cursor: pointer;
}

.right {
    float: right !important;
}

.addIcon {
    margin-right: 10px !important;
}

.material-icons.inValid {
    color: pink;
}

.material-icons.valid {
    color: green;
}

.labelHeading {
    color: #7DC0DA;
}

.saveMargin {
    margin-left: 5px !important;
}