.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.mat-table {
  width: 100%;
}

.mat-column-authorised {
  max-width: 100px;
}

.mat-column-rawPdPercentage, 
.mat-column-netAssessedPdPercentage {
  max-width: 80px;
}

.mat-column-createdBy,
.mat-column-assessedBy {
  max-width: 250px;
}

.mat-column-assessmentDate {
  max-width: 150px;
}

.mat-column-claimReferenceNumber {
  max-width: 250px;
}

.mat-column-status,
.mat-column-actions {
  max-width: 120px;
}

.mat-cell {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* hide footer row but keep paginator */
mat-footer-row {
  display: none !important;
}

mat-paginator {
  display: block;
}