.table-container {
  margin: 72px 0px 0px 131px;
  padding: 25px;
  border: 10px solid #fff;
  width: 74.33%;
}

.mat-container {
  background-color: #f1f1f3;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px 0px 37px 6px;
}

/*search start*/

.search-container {
  float: right;
  left: 0;
  width: 19%;
}

.search-icon {
  position: absolute;
  right: 11px;
  top: 14px;
}

.search-icon:hover {
  cursor: pointer;
}

/*search end*/

.mat-table {
  display: contents !important;
}

.mat-option {
  background: #fff !important;
}

.mat-header-row {
  background-color: #fff;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-form-field-placeholder-wrapper {
  position: absolute !important;
  left: 13px !important;
}

button {
  color: #fff !important;
  border-radius: 0;
  margin-left: 7px;
}

.inner-container {
  background-color: #fff;
  padding: 19px;
}

.picker-toggle {
  white-space: nowrap;
  flex: none;
  position: relative;
  top: 15px;
}

.search-icon {
  margin-top: 1px !important;
}

.mat-icon {
  margin-top: 45px;
}

.mat-menu-panel {
  margin-top: -45px !important;
}

.mat-menu-item {
  background: 0 0;
  color: rgba(0, 0, 0, 0.87) !important;
}

.mat-menu-item[disabled] {
  cursor: default !important;
}

.mat-menu-item[disabled],
.mat-menu-item[disabled]::after {
  color: rgba(0, 0, 0, 0.38) !important;
}

mat-form-field {
  width: 25%;
}

.form {
  display: flex;
}

form {
  width: 50%;
}

.exportButton {
  margin-left: 300px;
  margin-top: -50px;
}

.underline {
  border-bottom: 1px solid #e6e7e8;
  margin-top: -10px;
}
.main-card {
  margin: 15px 30px 15px 30px;
}
.blue-text {
  color: #00bce7;
}
.main-card-content {
  margin-left: 10px;
}
.progress-bar-margin {
  margin-top: 15px;
}
.search-input-margin {
  margin-top: 83px;
}
.paginator-margin {
  margin-left: 20px;
}
.report-download-container {
  display: inline-block;
  margin-left: 15px;
}
.whitesmoke-background {
  background-color: whitesmoke !important;
}
.form-text-align {
  text-align: end;
}

.submit-pending {
  background-color: #51627c;
  width: 10rem !important;
}
