.grid {
    display: flex;
  }
  
  .grid  div {
    display: flex;
    flex-basis: 100%;
    flex: 1;
    min-width: 10px;
    margin-bottom: 10px;
  }
  
  .grid  div  .title {
    font-weight: 700;
    min-width: 10px;
    width: 220px;
  }
  
  .grid  div  .value {
    margin-left: 10px;
    margin-right: 10px;
  }

  .warning {
    color: rgb(252, 171, 65);;
  }