input.mat-input-element {
    height: 50px;
    border-radius: 22px !important;
}

mat-error {
    text-align: center;
}

.placeholder {
    position: relative;
    right: -26px;
    top: 14px;
    height: 42px;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
    height: 42px;
}

.mat-focused .placeholder {
    visibility: hidden
}


.button {
    position: relative;
    left: 0%;
    bottom: -10px;
    width: 265px;
    margin-top: 10px;
}

.mat-card-margin {
    margin: 15px 30px 15px 30px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.padding-right-20 {
    padding-right: 20px;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.margin-top-3 {
    margin-top: 3px;
}