
.top-nav-detail-tab{
    border-radius: 3px;
    background: #BDE3F6;
    color: #006586;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700; 
    pointer-events: none;
}

.notifi-icon{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.demo-section {
    margin: 0px 8px;
}

.padding-width{
    padding: 0px 16px;
}

.padding-display-border{
    padding: 8px 8px; 
    display: flex;
    border-bottom: 1px solid #F7F7F7;
}

.padding-width{
    padding: 8px 8px; 
}

.padding-width-div{
    padding: 0px 24px 16px;
}

.padding-left{
    padding-left: 0px !important; 
}

.width-padding{
    width: 50%;
    padding: 16px 16px;  
}

.display-flex{
    display: flex; 
}

.align-items{
    align-items: center;
}

.text-align-left{
    text-align: left
}

.text-align-center{
    text-align: center;
    color: #006586;
    font-weight: 500;
}

.width-margin{
    width: 33.33%; 
    margin: 8px 0px; 
}

.display-border-bottom{
    display: flex;
    border-bottom: 1px solid #D6D6D6;
}

.font-size-weight{
    font-size: 14px !important;
    font-weight: 600 !important; 
}

.font-size-weight2{
    font-size: 13px !important;
    font-weight: 500 !important;
    white-space: normal;
}

.font-size-height{
    height:55px !important;
    font-size: 13px !important;
    font-weight: 500 !important;
}

.border-bottom{
    padding-bottom: 4px; 
}

.border-top{
    border-top: 0.2px solid #D6D6D6;  
}

.height{
    height:48px 
}

.legal-table-content{
    display: flex;
    justify-content: center;
}

table, .table-insie{
    width: 100%;
}

.mat-table-data{
    padding: 0px 16px 16px;
}

.demo-section{
    margin: 0px 8px;
}

.user-profile-image{
    height: auto;
    max-width: 80%;
}

.top-icons{
    border: 1px solid #D6D6D6;
    padding: 1px;
    border-radius: 3px;
}

td{
    text-align: left !important;
    padding-left: 24px !important;
}

tr, th{
     padding-left: 24px !important;
}

.legal-admin{
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.type-class{
    margin: 0px 18px;
    padding: 8px 0px 0px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.type-class .type-class-item{
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 25px;
}

.type-class .type-class-border{
    border-radius: 7px 7px 0px 0px;
}

th{
    color: #000 !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 1px solid #ddd !important;
    font-weight: bold;
    font-family: Montserrat;
    font-size: 14px !important;
}

tr{
    cursor: pointer;
    font-family: Montserrat;
    font-size: 13px;
    height: 42px;
}

th, tr{
    background-color: #FFF !important;
}

td{
    border-bottom-width: 0px !important;
    border-bottom-style: none !important;
}

td{
    background-color: #F7F7F7 !important;
    border-top: 8px solid #FFF !important;
    color: #000;
    font-family: Montserrat;
    font-size: 14px;    
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.39px;
    border-bottom: none;
}

.checkbox-select{
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.search-input{
    outline: none !important;
    border: none !important;
}

.search-input :focus-visible{
    outline: none !important;
}

.select-option{
    width: 100%;
    padding: 5px;
    background-color: #F2F2F2;
    border: none;
    cursor: pointer;
    outline: none !important;
}

.option-value{
    background-color: #FFF;
    padding: 12px;
}

.legal-manager-assign{
    height: 30px;
}

.ack-select{
    text-align: center;
    border: none;
    outline: none;
    background-color: #F7F7F7;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    font-weight: 700;
}

.option-item span{
    color: rgba(14, 69, 106, 0.75);
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.select-td{
    display: flex;
    justify-content: left;
    align-items: center;
}

.select-text{
    padding-left: 8px;
}

.progress-bar-container{
    display: flex;
    align-items: center;
    padding: 0px 18px;
}

.legal-manager-table{
    padding: 0px 0px 16px;
    border-radius: 7px;
    border: 1px solid #D6D6D6;
}

.search-field-box{
    border-radius: 3px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    padding: 0px 8px;
    }

.status-value{
    font-size: 14px;
    padding: 8px 8px;
    border-radius: 5px;
    width: 70%;
    display: block;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
}

.right-action-btn{
    width: 50%;
    display: flex;
    align-items: center;
    padding: 0px 18px;
    justify-content: flex-end;
}

.action-button-right{
    border-radius: 5px;
    background: linear-gradient(90deg, #008EB3 0%, #00BCE7 100%);
    padding: 2px 24px;
}

.action-button-right span{
    letter-spacing: 2.52px;
    color: #FFF;
}

.search-input{
    height: 30px;
    font-size: 16px !important;
    border: none;
    width: 95%;
    padding-left: 8px;
    font-weight: Montserrat;
}
.spinner-view{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    }

    .on-disabled{
        opacity: 0.3;
        pointer-events: none;
    }
    
    .on-enabled{
        opacity: 1;
        pointer-events: auto;
    }  


