<div *ngIf="showHideDetails == 1">
    <holiday-list (publicHolidayEmit)="holidayChangeHandler($event)"></holiday-list>

    <div>
        <div class="rates-button">
            <table class="form-group row">
                <div style="margin: 0px 0px 0px 32px;">
                    <button type="button" (click)="addNew()" class="button float-button">Add</button>
                    <button type="button" (click)="backToSearch()" class="button float-button">Back</button>
                </div>
            </table>
        </div>
    </div>
</div>

<div *ngIf="showHideDetails == 2">
    <mat-card style="margin: 15px 30px 15px 30px">
        <mat-card-content style="margin-left: 10px;">
            <h1>Public Holiday Details</h1><br />
            <form [formGroup]="form" (ngSubmit)="save()" class="mat-container details-form" novalidate>
                <section>
                    <mat-form-field>
                        <label>Holiday Name</label>
                        <input matInput id="holidayName" name="holidayName" formControlName="holidayName">
                        <mat-error [hidden]="form.get('holidayName').hasError('required')">
                            Holiday name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="mat-form-field-right">
                        <label>Holiday Date</label>
                        <input matInput [matDatepicker]="holidayDatePicker" date="true" time="false" (ngModelChange)="holidayDateChange($event)" formControlName="holidayDate" readonly>
                        <mat-datepicker-toggle style="position: absolute; top:0px;right:0px;" matSuffix class="picker-toggle" [for]="holidayDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #holidayDatePicker touchUi="true" ng-model-options="{ timezone: 'sast' }"></mat-datepicker>
                        <mat-error [hidden]="form.get('holidayDate').hasError('required')">
                            Holiday date is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </section>



                <div class="rates-button">
                    <table class="form-group row">
                        <div class="rates-button">
                            <div id="div1" *ngIf="showEditBtn==1"><button type="button" (click)="edit()" class="button float-button">Edit</button></div>
                            <div id="div2" *ngIf="showEditBtn==0"><button [disabled]="form.pristine" class="button float-button submit-button">Save</button></div>
                            <div id="div3"><button type="button" (click)="clear()" class="button float-button">Back</button></div>
                        </div>
                    </table>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>

<style>
    .mat-datepicker-content-touch .mat-calendar {
        max-width: 250px !important;
        max-height: 312px !important;
    }
    
    .mat-datepicker {
        width: 375px !important;
    }
    
    .picker-toggle {
        position: absolute;
        margin: 15px 0px 20px -5px;
    }
    
    #div1 {
        display: inline-block;
    }
    
    #div2 {
        display: inline-block;
    }
    
    #div3 {
        display: inline-block;
    }
    
    .mat-form-field-prefix,
    .mat-form-field-suffix {
        right: 22px !important;
        flex: none;
        position: absolute !important;
        top: 8px;
        font-size: large;
    }
</style>