*{
    font-family: Montserrat;
}
.legal-table-content{
    display: flex;
    justify-content: center;
}
.campaignHead{
    padding: 0px 16px;
    width: 95%;
}
.recovery-btn{
    padding: 8px 8px; 
}
.serachContainer{
    width: 50%;
    border-radius: 3px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    padding: 0px 4px;
}
.legal-manager-table{
    padding: 0px 0px 16px;
    border-radius: 7px;
    border: 1px solid #D6D6D6;
}
.legal-manager-table-inside{
    padding: 16px 16px;
    border-bottom: 1px solid #D6D6D6;display: flex;
    justify-content: space-between;
}
.tableContainerCss{
    padding: 0px 24px 16px;
    width: 95%;
}
.campaignHeadInnerDiv{
    padding: 8px 8px; 
    display: flex;
    border-bottom: 1px solid #F7F7F7;
}
.create-grp-btn{
    background: linear-gradient(0.25turn, #008EB3,#00BCE7);
    padding: 4px 48px;
}

.create-grp-btn span{
    letter-spacing: 2.52px;
    color: #FFF;
    font-weight: 600;
    font-size: 14px;
}

.text-align-left{
    text-align: left
}

.margin{
    margin: 0px 12px;
}

.width{
    width: 95%;
}

table, .table-insie{
    width: 100%;
}

td.mat-cell{
    border-bottom-style: none;
}


.mat-table-data{
    padding: 0px 16px 16px;
}

.demo-section{
    margin: 0px 8px;
}

.user-profile-image{
    height: auto;
    max-width: 80%;
}

.top-icons{
    border: 1px solid #D6D6D6;
    padding: 1px;
    border-radius: 3px;
}

tr, th, td{
    text-align: left !important;
}
.legal-admin{
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.type-class{
    margin: 0px 18px;
    padding: 8px 0px 0px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.type-class .type-class-item{
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 20px;
}

.type-class .type-class-border{
    border-radius: 7px 7px 0px 0px;
}

.action-button-right{
    border-radius: 5px;
    background: linear-gradient(90deg, #008EB3 0%, #00BCE7 100%);
    padding: 2px 24px;
    color: #FFF;
}

th{
    color: #000 !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 1px solid #ddd !important;
    font-weight: bold;
    font-family: Montserrat;
    font-size: 14px !important;
}

tr{
    cursor: pointer;
    font-family: Montserrat;
    font-size: 13px;
    height: 42px;
}

th, tr{
    background-color: #FFF !important;
}

td{
    background-color: #F7F7F7 !important;
    border-top: 8px solid #FFF !important;
    color: #000;
    font-family: Montserrat;
    font-size: 12px;    
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.39px;
    border-bottom: none;
}

td span{
    font-size: 14px;
    font-weight: 500;
    padding: 10px 0px;
    text-align: left;
    white-space: initial;
}
.checkbox-select{
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.search-input{
    outline: none !important;
    height: 36px;
    font-size: 16px !important;
    border: none !important;
    width: 95%;
    padding: 0px 8px;
}
.actionDiv{
    text-align: left;
}
.actionBtnClass{
    cursor: pointer; 
    padding-bottom: 4px;
}
.actionBtnBorderClass{
     padding-bottom: 4px;
}
hr{
    border-top: 0.2px solid #D6D6D6;
}
.search-input :focus-visible{
    outline: none !important;
}

.select-option{
    width: 100%;
    padding: 5px;
    background-color: #F2F2F2;
    border: none;
    cursor: pointer;
    outline: none !important;
}

.option-value{
    background-color: #FFF;
    padding: 12px;
}

.legal-manager-assign{
    height: 30px;
}

.ack-select{
    text-align: center;
    border: none;
    outline: none;
    background-color: #F7F7F7;
    cursor: pointer;
    width: 100%;
    padding: 8px 8px;
    border-radius: 4px;
    font-weight: 700;
}

.option-item span{
    color: rgba(14, 69, 106, 0.75);
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.select-td{
    display: flex;
    justify-content: left;
    align-items: center;
}

.progress-bar-container{
    height: 50vh;
    display: flex;
    align-items: center;
    padding: 0px 30px;
}


.spinner-view{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    }

    .on-disabled{
        opacity: 0.3;
        pointer-events: none;
    }
    
    .on-enabled{
        opacity: 1;
        pointer-events: auto;
    }  
    .btnCssClass{
        border-radius: 3px;
        background: #BDE3F6;color: #006586;
        width: 93px;
        height: 40px;
        font-family: Montserrat;
        font-size: 14px;font-weight: 700; pointer-events: none;
    }

    .no-data-text{
        text-align: center;
        color: #006586;
        font-weight: 500;
      }
      
.tableHeaderSapn{
    display: inline-block;
    text-align: left;
    padding-left: 8px;
    white-space: initial;
}