mat-card {
  width: 100% important !important;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.expansionTitle {
  font-size: medium;
  font-weight: bolder;
  margin-bottom: 20px;
  padding-top: 5px;
  color: Black;
  vertical-align: middle;
  width: auto;
}

mat-icon {
  position: absolute;
  right: 21px;
  top: 13px;
  color: black;
  cursor: pointer;
  -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
  /* Safari */
  transition: width 1s, height 1s, transform 1s;
}

mat-icon:hover {
  -webkit-transform: rotate(180deg);
  /* Safari */
  transform: rotate(180deg);
}

.altRowTable tr:nth-child(even) {
  background: #DEE3EB
}

th {
  padding: 5px;
  background-color: #7DC0DA;
  color: #fff;
}

td {
  max-width: 150px;
  min-width: 50px;
  max-height: 25px;
  padding: 10px;
  text-align: left;
}

.icn {
  cursor: pointer;
  -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
  /* Safari */
  transition: width 1s, height 1s, transform 1s;
}

.icn:hover {
  -webkit-transform: rotate(180deg);
  /* Safari */
  transform: rotate(180deg);
}

.material-icons:hover {
  color: rgb(131, 131, 131);
}

.scrollTable {
  overflow-y: auto;
  max-height: 300px;
  font-size: small;
}

.greenSLA {
  color: green;
}

.amberSLA {
  color: orange;
}

.goldSLA {
  color: rgb(238, 255, 0);
}

.sub-label {
  font-size: x-small;
  color: blue;
}

.redSLA {
  color: red;
}

.panel {
  background-color: lightgrey;
  margin-bottom: 10px;
}


.mat-datepicker-toggle {
  position: absolute;
  margin-top: 13px;
  right: 0;
}

.noteRequired {
  color: red;
  font-size: x-small;
}

.material-icons.inValid {
  color: pink;
}

.material-icons.valid {
  color: green;
}

.searchMemberAlignment {
  padding-left: 20px;
}

.placeholder {
  position: relative;
  right: -26px;
  top: 14px;
  height: 42px;
}

.searchInput {
  height: 50px;
  border-radius: 22px !important;
}

.searchMatField {
  display: block;
  width: 98%;
}

.searchIcon {
  position: absolute;
  right: 16px;
  top: 7px;
  color: #33BFE6;
}

.searchIconHoldingCompany {
  right: -40px;
  color: #33BFE6;
}

.mat-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  clear: both;
  border: none;
  padding: 0px 0px 0px 0px;
}

.altRowTable {
  width: 100%;
}

.buttonMargin {
  margin-top: 5px;
}
