
*{
    font-family: Montserrat;
}
.example-spacer {
    flex: 1 1 auto;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .color-red{
    color: red;
  }

  .display{
    display: flex; gap: 20px;
    padding: 10px;
  }

  .width{
    width: 45%;
  }

  .border-none-important{
    border: none !important;
  }
  
  .example-full-width {
    width: 100%;
  }
  .input{
    padding: 16px 34px 0px;
  }

  mat-form-field{
    width: 100%;
  }

  .input-field{
    border: none !important;
    height: 48px;
    padding: 0px !important;
    margin: 0px !important;
  }

  .selectStyle{
    width: 200px;
  }

  .form-fields{
    
    padding: 24px 34px 0px
  }

  .btn{
    background-color: #BDE3F6;
    font-size: 14px;
    font-weight: 700;
    width: auto !important;
    pointer-events: none;
  }

  .input-label{
    font-size: 14px;
    font-weight: 500;
  }

  .create-grp-btn{
    background-color: #BDE3F6;
    font-size: 14px;
    font-weight: 700;
  }

  .example-full-width{
    font-size: 16px;
    font-weight: 500;
  }

  .add-btn{
    margin-top: 14px;
  }

  .bottom-btn{
    margin-top: 30px;
    /* margin-left: 20px; */
    display: flex;
    justify-content: space-between;
    flex: wrap;
  }

  #save-btn{
    width: auto !important;
    background-color: #00BCE7;
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding: 0px 64px
  }

  mat-hint{
    padding: 8px 4px;
  }

  #back-btn{
    width: auto !important;
    margin-right: 60px;
    font-size: 13px;
    font-weight: 700;
    border-color: #346FE2;
    padding: 0px 28px;
  }
  
  .select-options2{
    display: flex;
    flex-direction: row;
    gap: 30px; 
    margin-left: 20px;
    margin-top: 50px;
    width: 500px;
    height: 20px;
    flex: wrap;
  }

.side-select{
  margin-left: 70px;
  display: flex;
  flex: wrap;
}
  