.card {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
}

/*.card:hover 
{
     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); 
}*/

.card-right{
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    width:430px;
    float:left;
    margin-top:-80px;
    text-align: center;

}

.card-left{
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    width:430px;
    float:left;
    margin-left:-250px;
    margin-top:-80px;
    text-align: center;
}
img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
}

.page-header {
    margin-left: 57px;
}

.form-group-button {
    margin-left: 42px;
}

.marginAlignment{
    margin-left: 40px;
    margin-right: -40px;
}
mat-card{
    margin: 15px 30px 15px 30px;
}
mat-card.payment-details{
    margin: 30px 30px 15px 30px;
}
