.table-container {
    display: block;
    max-height: calc(100vh - 180px);
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

.text-cell {
    justify-content: left !important;
    text-align: left !important;
}

.number-cell {
    justify-content: right !important;
    text-align: right !important;
    padding-right: 20px !important;
}

.red-row {
    background-color: red !important;
}

.orange-row {
    background-color: orange !important;
}

.col-policy-number {
    max-width: 120px !important;
}

.col-date {
    max-width: 110px !important;
}

.col-status {
    max-width: 150px !important;
}

.col-amount {
    max-width: 120px !important;
}

.col-mobile {
    max-width: 90px !important;
}

.col-member {
    max-width: 250px !important;
}

.col-action {
    max-width: 50px !important;
}
