body {
}
.supporting-documents {
    margin-left: 20px;
}

.back-button {
    margin-left: 24px;
    margin-top: 26px;
}
.upload-button {
    margin-left: 6%;
}
.page-header {
    margin-left: 24px;
    margin-bottom: 20px;
}
form {
    width: 77%;
    position: relative;
    left: 9%;
}
.upload-main-container {
    width: 100%;
    padding: 25px; 
}
.mat-list .mat-list-item, .mat-nav-list .mat-list-item, .mat-selection-list .mat-list-item {
    display: inline-block !important;
}
.uploaded-document {
    display: inline-block;
    width: 100%;
    height: auto;
}
.upload-main-container-row {
    clear: both;
    position: relative;
}

.upload-main-container-column {
    float: left;
    width: 10%;
}

.file-list {
    overflow-y: hidden;
    display: inline-block !important;
    background-color: aliceblue;
    width: 100%;
}
mat-list-item {
    width: 48%;
}
.progress {
    padding: 0px 10px 10px 0px;
}

.dropbox {
    font-size: 1rem;
    background-color: #F6F6F6;
    height: 98px;
    width: 100%;
    display: inline-block;
    position: relative;
    outline: 2px dashed #92b0b3;
    text-align: center;
}
mat-card {
    box-shadow: none !important;
}

.dropbox.is-dragover {
    outline-offset: -20px;
    outline-color: #c8dadf;
}
.upload-icon {
    color: #4E8BB7;
}
.close-icon {
    height: 1px;
    width: 11px;
    position: absolute;
    right: 0;
    top: 0;
}
.dropTitle {
    max-width: 350px;
    padding-top: 40px;
    height: 100%;
    margin: 0 auto;
    display: inline-block;
    text-align: center;

}

.dropTitle a
{
    font-weight:600;
}

a {
    cursor: pointer;
    text-decoration: underline;
    color: #000000;
}