mat-card {
  margin-bottom: 10px;
}

mat-card-content {
  margin-left: 30px !important;
}

.expansionTitle {
  font-size: medium;
  font-weight: bolder;
  margin-left: 10px;
  padding-top: 5px;
  color: gray;
  vertical-align: middle;
}

.info {
  font-size: small;
  color: blue;
}

.reason {
  color: blue;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  width: 20% !important;
}

.labelHeading {
  margin-top: 5px !important;
  cursor: pointer;
}

.material-icons {
  font-size: 22px !important;
  vertical-align: middle !important;
  cursor: pointer;
}