.mat-column-beneficiary {
  max-width: 90px !important;
}

.beneficiary-column {
  max-width: 90px !important;
}

.mat-column-verified {
  max-width: 40px !important;
}

.mat-column-age {
  max-width: 50px !important;
}

.mat-column-dateOfBirth {
  max-width: 85px !important;
}

.mat-column-relation {
  max-width: 90px !important;
}

.mat-column-cellNumber {
  max-width: 70px !important;
}

.mat-column-emailAddress {
  max-width: 200px !important;
}

.mat-column-idNumber {
  max-width: 110px !important;
}

.mat-column-policyStartDate, .mat-column-endDate {
  max-width: 110px !important;
}

.mat-column-split {
  max-width: 120px !important;
}

.mat-column-actions {
  max-width: 110px !important;
}

.check-box {
  margin-left: 10px;
}

.relation-button {
  width: 120px !important;
  margin-left: 5px;
}

.button-container {
  float: left;
  display: inline-flex;
  padding-top: 5px;
  padding-left: 9px;
}

.link-container {
  cursor: pointer;
  display: inline-flex;
  padding-top: 10px;
}

.verify-checkbox {
  margin-left: 40px;
  margin-top: 10px;
}

.person-link {
  vertical-align: middle;
}

.person-link-text {
  margin-left: 10px;
}

.error-box {
  margin-top: 5px;
  margin-bottom: 20px;
  color: #f44336;
  font-size: 75%;
  font-family: Arial !important;
}

.slider {
  width: 95% !important;
  margin-left: 7px !important;
}

.right-align {
  text-align: right;
}

.benefit-table{
  border-collapse: collapse;
}