.push-down {
  padding-bottom: 10px;
}
.push-up {
  padding-top: 10px;
}
.error-information {
  color: grey;
}
.mat-column-selected {
  max-width: 30px !important;
}
mat-error {
  font-size: small;
}
td {
  padding: 1px 10px;
}
.shift-up {
  margin-top: -4px;
}
.add-note-icon {
  cursor: pointer;
  padding-right: 10px;
  color: grey;
}
.link {
  color: #7DC0DA;
  cursor: pointer;
}
.assign-agent {
  border-collapse: collapse;
  margin-bottom: 7px;
}
.assign-agent-select {
  font-size: small;
  min-width: 300px;
}
.mat-column-balance,
.mat-column-interest,
.mat-column-current,
.mat-column-balance30Days,
.mat-column-balance60Days,
.mat-column-balance90Days,
.mat-column-balance120Days,
.mat-column-balance120PlusDays {
  display: flex;
  justify-content: flex-end;
  max-width: 90px !important;
}
