/* You can add global styles to this file, and also import other style files */

.question-div .mat-form-field-flex {
    display: inline-flex !important;
    align-items: center !important;
    box-sizing: border-box !important;
    width: 100%;
}

.legal-add-payment-field .mat-datepicker-toggle {
    top: 0px !important
}

.legal-table-content .mat-mdc-paginator-container {
    flex-direction: row-reverse !important;
}

.legal-table-content .mat-mdc-paginator-range-actions {
    width: 80%;
}

.marketing-care textarea {
    max-width: 95% !important;
}

.message-type-area textarea:focus-visible {
    outline: 0px auto slategrey !important;
}

.create-message-temp-tabs-fields .mat-form-field-wrapper {
    padding-bottom: 0px !important;
}

.hide-calendar-date .mat-calendar-period-button {
    display: none !important;
}

.common-form-dialog .mat-form-field-appearance-outline .mat-form-field-flex {
    border: 1px solid #BEBEBE;
}

.mat-form-data-fields .mat-select-disabled {
    background-color: transparent !important;
}

.debtcare-send-email .mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0.4em 0.75em 0.2em 0.75em !important;
}

.debtcare-send-email .mat-form-field-appearance-outline .mat-form-field-prefix,
.mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 0 !important;
}

.legal-manager-assign .mat-select-arrow-wrapper {
    height: auto !important;
}

.legal-manager-assign .mat-form-field-flex {
    background: transparent;
    padding: 0 !important;
}

.borderCss .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color: #E4E4E4;
}

.borderCss .mat-form-field .mat-select.mat-select-invalid .mat-select-arrow {
    color: #E4E4E4;
}

.borderCss .has-error .mat-form-field-outline-thick {
    color: red !important;
}

.create-template-ckEditor .ck.ck-editor__editable_inline>:last-child {
    height: 40vh !important;
    overflow-y: auto !important;
}

.below.mat-select-panel {
    position: relative;
    top: 25%;
}

.custom-datepicker .mat-calendar-container {
    margin-top: 32px;
}

.mat-dialog-container::-webkit-scrollbar {
    width: 0.2em !important;
    background-color: white !important;
}

.send-sms-message::-webkit-scrollbar-thumb {
    outline: 1px solid #006586 !important;
    background: #006586 !important;
}

.send-sms-submit-container .mat-form-field-flex {
    align-items: center;
}

.send-sms-submit-container .mat-form-field-appearance-outline .mat-form-field-prefix {
    top: 0.25em;
}

.campaign-placeholder-value .mat-select-placeholder {
    color: #000 !important;
}

.custom-datepicker-date {
    z-index: 1000;
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-datepicker-date .mat-calendar {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.status-update-mff .mat-form-field-wrapper {
    padding-bottom: 0px !important;
}

.legal-table-recovery .mat-header-cell,
.mat-cell {
    white-space: normal;
}

.legal-table-recovery td.mat-cell:first-of-type {
    padding-left: 0px !important;
}

.sendSMSContent.mat-form-field-appearance-outline .mat-form-field-suffix {
    top: -7px !important;
}

.message-type-area-preview .preview-area-message .align-right-class {
    display: block;
    text-align: right;
    color: #b5b1b1;
    font-size: 12px;
    font-weight: 500;
}

.agent-list-dropdown .mat-select-disabled {
    background: transparent !important;
}

.select-days-dropdown .mat-select-placeholder {
    color: #000000 !important;
}

.custom-dropdown {
    margin-top: 45px;
}

.mat-multi-select .mat-select-placeholder {
    color: #000 !important;
    -webkit-text-fill-color: #000 !important;
}

.assign-dropdown .mat-select-panel {
    position: relative;
}

.assign-dropdown {
    margin-top: 45px !important;
    top: 35% !important;
    position: relative !important;
    display: grid !important;

}

.update-status-dropdown {
    margin-top: 45px !important;
}

.date-picker-container-css .mat-form-field-wrapper {
    width: 77% !important;
}

.update-status-field.mat-autocomplete-panel {
    visibility: hidden !important;
}

.update-status-field.mat-autocomplete-panel.visible {
    visibility: visible !important;
}
.visible::-webkit-scrollbar {
    width: 0.2em !important;
    background-color: white !important;
}
.visible::-webkit-scrollbar-thumb {
    outline: 1px solid #006586 !important;
    background: #006586 !important;
}
.agent-list-dropdown-scroll::-webkit-scrollbar {
    width: 0.2em !important;
    background-color: white !important;
}
.agent-list-dropdown-scroll::-webkit-scrollbar-thumb {
    outline: 1px solid #006586 !important;
    background: #006586 !important;
}
.mat-multi-select.mat-checkbox-checked .mat-checkbox-background{
    background: #005A7C !important;
}
.custom-dropdown::-webkit-scrollbar {
    width: 0.2em !important;
    background-color: white !important;
}
.custom-dropdown::-webkit-scrollbar-thumb {
    outline: 1px solid #006586 !important;
    background: #006586 !important;
}
.agent-list-dropdown .mat-form-field-suffix{
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    display: flex !important;
    margin: 4px !important;
}
.document-management-icon {
	color: #7DC0DA !important;
	padding-right: 10px !important;
}
.document-management-disabled {
    opacity: 0.5 !important;
    color: lightgray !important;
}