.img-card {
    max-width: 14%;
    display: inline-block;
    cursor:pointer;
}

    .mat-card {
        overflow: hidden;
        box-shadow: none !important;
        border-radius: 0%;

    }

.mat-dialog-container {
    display: contents !important;
    overflow: initial;
    padding: 0px !important;
}

.material-icons {
    position: absolute;
    right: 0%;
    color: black;
    cursor: pointer;
}
.heading {
    position: relative;
    top: 48%;
    z-index: 5;
    margin-left: -52px;
    text-align: center;
    font-size: 24px;
    color: white;
    font-weight: 100;
}
span {
    font-weight: 400 !important;
}
    .image-container  {
        max-width: 100%;
        cursor:pointer;
    }

        .image-container:hover {
            opacity: 0.5;
            filter: alpha(opacity=50);
        }
.mat-card-image:first-child {
    margin-top: 0px;
    width: 100%;
    height: auto;
}