.chart-row {
    display: flex;
    margin: 0 25px;
  }
  
  .chart-container {
    flex: 1;
    margin: 0 40px;
  }
  
  #doughnutChartContainer {
    width: 300px; 
    height: 300px; 
    margin: 0 auto; 
  }
  
  #doughnutChart {
    max-width: 100%;
    max-height: 100%; 
  }
  .doughnut-chart-container {
    position: relative;
  }
  
  .custom-legend {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  
  .custom-legend p {
    background-color: white;
    padding: 5px;
    border: 1px solid #ccc; 
    border-radius: 5px;
  }
.inside-chart{
  width: 50%; 
  float: left;
  border:1px solid #DDDDDD;
  margin: 20px;
}
.chart-heading{
  font-size: 18px;
  padding: 0px 25px;
  color: #121212;
}
hr{
  border: 1px solid #DDDDDD
}
.display-style{
  display: flex;
  margin: 10px;
  overflow-y: auto;
  align-items: center;
  width: 30%;
  justify-content: center;
}
.dashboard-input-label{
  width: auto;
}
.dashboard-input-field{
  width: 80%;
}
.display-style-dropdown{
  margin-left: 15px;
  padding: 10px;
}
.cardHeadStyle{
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid #C4C4C4;
  padding: 20px;
}
.titleStyle{
  font-size: 36px;
  color: #0E456A;
  font-weight: 700;
}
.dataStyle{
  font-size: 16px;
  color: #909090;
  font-weight: 700;
}

.displayData {
  display: flex;
  flex-wrap: wrap;
  margin: 0 44px;
  overflow-y: auto;
}

.customMatCard {
  padding: 0;
  margin-right: 15px;
  margin-bottom: 15px;
  width: 240px;
  transition: transform 0.3s ease;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.titleStyle {
  font-size: 36px;
  font-weight: bold;
  color: rgba(14, 69, 106, 1);
}

.dataStyle {
  font-size: 16px;
  color: rgba(144, 144, 144, 1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.campaignHeadInnerDiv{
  padding: 8px 8px; 
  display: flex;
  border-bottom: 1px solid #F7F7F7;
}
.campaignHead{
  width: 100%;
  margin: 0 28px;
}
.recovery-btn{
  padding: 8px 8px; 
}
.btnCssClass{
  border-radius: 3px;
  background: #BDE3F6;color: #006586;
  width: 93px;
  height: 40px;
  font-family: Montserrat;
  font-size: 14px;font-weight: 700; pointer-events: none;
}  
.on-enabled{
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
  }
  
  .on-disabled{
  opacity: 0.5;
  pointer-events: none;
  cursor: auto;
  }
  .spinner-view{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    }
    .display-style-content{
      width: 20%;
    }
    .margin-left{
      margin-left: 15px !important 
    }
    .border-none{
      border: none !important;
    }
    .padding-left-css{
      padding-left: 12px;
      width: 90% !important;
  }
  .label-css{
    font-size: 14px;
    font-weight: 800;
  }
  .dropdown-icon:disabled {
    background-color: transparent !important;
  }
  .agent-list:disabled{
    background-color: transparent !important;
    color:#000000
}
.hide-autocomplete-panel {
  display: none;
}

    