body {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: hidden;
  background-position: center;
}

.header-container {
  text-align: center;
  margin-bottom: 37px;
}

h1 {
  font-size: 15pt !important;
}

.visibility-icon {
  cursor: pointer;
  position: absolute;
  right: 9px;
  font-size: 17px;
  top: -29px;
}

.mat-form-field {
  width: 100%;
  font-size: 17px;
}

.image-container img {
  position: fixed;
  bottom: 75px;
  right: 75px;
  height: 88px;
  width: 184px;
}

.content-container {
  width: 16.2%;
  border: 10px solid #F2F6F8;
  margin: 7%;
  height: auto;
  padding: 1%;
  top: 17%;
  background-color: #FFFFFF;
  position: relative;
}

.content-container p {
  padding-left: 20px;
  font-size: 14px;
}

.logo-container {
  width: 50%;
  padding-top: 50px;
  padding-left: 50px;
}

.form-container {
  padding-left: 20px;
  font-size: 18px;
}

.form-container p {
  font-size: 18px;
  color: darkgrey;
}

.image-container-mobile {
  display: none;
}

.forgetPassword {
  cursor: pointer;
  font-size: 10px;
  text-decoration-line: underline;
  color: #919091;
}

@media only screen and (max-width: 1024px) {
  .content-container {
    width: 53%;
    border: 12px solid #F2F6F8;
    margin: 159px;
    height: 422px;
    padding: 31px;
    background-color: #FFFFFF;
  }
  .image-container-mobile {
    display: inline-table;
  }
  .mat-form-field {
    width: 100%;
    font-size: 23px;
  }
  label {
    font-size: 28px;
  }
  .forgetPassword {
    font-size: 22px;
  }
}

@media only screen and (max-width:375px) {
  .content-container {
    width: 65%;
    border: 12px solid #F2F6F8;
    margin: 95px;
    height: 500px;
    margin-top: 405px;
    padding: 38px;
    background-color: #FFFFFF;
  }
}

@media only screen and (max-width:640px) {
  .content-container {
    width: 65%;
    border: 12px solid #F2F6F8;
    margin: 95px;
    height: 500px;
    margin-top: 15px;
    padding: 38px;
    background-color: #FFFFFF;
  }
}

.loginOptions {
  display: flex;
  justify-content: space-between;
}

.image-browser-not-supported {
  width: 100%;
  height: 100%;
  padding: 1%;
  margin-top: 10%;
  position: relative;
}
