.width {
    min-width: 15%;
    max-width: 15%;
    margin-left: 10px;
}

.menu-bar {
    min-height: 20px;
    background-color: #F7F7F7;
    opacity: 1;
    min-width: 16;
    align-items: center;
    padding: 10px 5px 10px 5px;
    border-radius: 5px 5px 5px 5px !important;
    font-size: large;
    color: black;
    margin-bottom: 10px;
}

.pointer {
    cursor: pointer;
}

.right {
    float: right !important;
}

.green {
    background: green;
    opacity: 1;
    border: 1px solid var(---00597c);
    border: 1px solid green;
    border-radius: 5px;
    color: rgb(125, 255, 125);
    padding: 3px 3px 3px 3px;
}

.red {
    background: red;
    opacity: 1;
    border: 1px solid var(---00597c);
    border: 1px solid red;
    border-radius: 5px;
    color: rgb(255, 195, 195);
    padding: 3px 3px 3px 3px;
}

mat-card {
    background: white !important;
}

.icn-button {
    padding: 2px;

    height: 24px !important;
    width: 24px !important;
    max-height: 24px !important;
    min-width: 24px !important;

    color: gray !important;

    border-style: solid;
    border-radius: 5px;
    border-color: gray;
    border-width: 1px;

    margin-right: 2px;
}

.icn-button:hover {
    padding: 2px;

    animation: pop 3s;
    animation-iteration-count: infinite;
    color: black !important;

    border-style: solid;
    border-radius: 5px;
    border-color: gray;
    border-width: 1px;
    background-color: whitesmoke;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.material-icons {
    font-family: 'Material Icons' !important;
    vertical-align: middle !important;
}

.material-icons.pointer {
    margin-top: -2px;

    padding: 2px;

    height: 24px !important;
    width: 24px !important;
    max-height: 24px !important;
    min-width: 24px !important;

    color: gray !important;

    border-style: solid;
    border-radius: 5px;
    border-color: gray;
    border-width: 1px;

    margin-right: 2px;
}

.material-icons.pointer:hover {
    padding: 2px;

    animation: pop 3s;
    animation-iteration-count: infinite;
    color: black !important;

    border-style: solid;
    border-radius: 5px;
    border-color: gray;
    border-width: 1px;
    background-color: whitesmoke;
}