mat-form-field {
    width: 100%;
  }
  
input.mat-input-element {
    height: 50px;
    border-radius: 22px !important;
  }
  
mat-error {
    text-align: center;
  }

.placeholder{
    position: relative;
    right: -26px;
    top: 14px;
    height: 42px;
  }

.mat-form-field-appearance-legacy .mat-form-field-label{
  height: 42px;
  }

.mat-focused .placeholder {
  visibility:hidden
  }
  
mat-header-row {
    position: sticky;
    top: -.5px;
    background: white;
    z-index: 100;
  }

.table-container{
    margin-left: 15px !important;
  }

.search-icon:hover {
    cursor: pointer
  }

.clear-icon:hover {
    cursor: pointer
} 

.search-icon {
    position: absolute;
    right: 16px;
    top: 7px;
    color: #33BFE6;
}

.clear-icon {
    color: #e63333;
    size: 12px;
}

.clear-button{
    position: relative;
    border: none;
    top: -25px;
    border-radius: 50%;
 }

mat-form-field {
    width: 97%;
 }

input.mat-input-element {
    height: 50px;
    border-radius: 22px !important;
 }

mat-error {
    text-align: center;
 }
 
.placeholder{
    position: relative;
    right: -26px;
    top: 14px;
    height: 42px;
 }

.mat-form-field-appearance-legacy .mat-form-field-label{
    height: 42px;
 }

.mat-focused .placeholder {
    visibility:hidden
}
  