.placeholder {
    position: relative;
    right: -26px;
    top: 10px;
    height: 42px;
}

.mat-table {
    width: 100%
}

.pad {
    background-color: #DEE3EB !important;
}

.inputColor {
    background-color: white !important;
}

.inputSize {
    margin-left: 10px !important;
}



.pointer {
    cursor: pointer;
}

.right {
    float: right !important;
}

.search-icon {
    position: absolute;
    right: 16px;
    color: #33BFE6;
}

.loadingDiv {
    padding: 10px;
    width: 98% !important;
}

.csvDownload {
    width: 250px !important;
    margin-left: 85% !important;
    font-size: small;
}

mat-form-field {
    width: 100%;
}

mat-error {
    text-align: center;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
    height: 42px;
}

.mat-focused .placeholder {
    visibility: hidden
}

.search-icon:hover {
    cursor: pointer
}

.mat-form-field {
    padding-right: 5px;
    padding-top: -20px !important;
}

.mat-cell-label {
    color: black !important;
    font-size: small;
}

.material-icons:hover {
    -webkit-transform: rotate(180deg);
    /* Safari */
    transform: rotate(180deg);
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
    /* Safari */
    transition: width 1s, height 1s, transform 1s;
}

.noHover {
    -webkit-transform: none !important;
    /* Safari */
    transform: none !important;

}

.material-icons.add {
    color: black;
    padding-top: -5px;
}

.mat-card {
    min-height: auto !important;
    height: auto !important;
    margin-left: 10px;
    margin-right: 10px;
}

.ChildData {
    text-align: left;
    justify-content: left;
}

.mat-column-personEventNumber {
    flex: 0 0 12% !important;
    width: 12% !important;
}

.mat-column-actions,
.mat-column-expand {
    flex: 0 0 5% !important;
    text-align: center;
    justify-content: center;
}

.elementBox {
    height: 40px;
    border-radius: 22px !important;
}

.inputDate {
    width: 20% !important;
}

.validations {
    font-size: medium !important;
}

.disabled {
    pointer-events: none;
}

.download-block {
    display: inline-block;
    margin-left: 5px;
}

.levelCheck {
    position: relative;
    top: 25px;
    left: 14px;
}

.form-group-buttons {
    padding-bottom: 10px;
}

.icon {
    position: absolute !important;
    left: 92%;
    top: 25px;
    font-size: 18px !important;
    color: black;
    cursor: pointer;
    -webkit-transform: none !important;
    transform: none !important;
    -webkit-transition: none !important;
    transition: none !important;
}

.material-icons.green {
    color: rgb(96, 148, 96);
}

.material-icons.red {
    color: rgb(153, 87, 87);
}

.material-icons.blue {
    color: #00BCE7 !important;
}

.hidden-item {
    display: none;
}

.controlSize {
    width: 20% !important;
}

.black {
    color: rgb(19, 18, 18);
}
