.update-person {
  width: 352px;
  float: right;
  padding-bottom: 12px;
}

.person-dialog {
  width: 780px !important;
}

.search-icon {
  cursor: pointer;
  position: relative;
  top: 30px;
  left: 4px;
}