.legal-info-div .legal-info-div-inside {
    display: flex;
    justify-content: center;
}

.information {
    width: 45%;
}

.on-enabled {
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
}

.on-disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: auto;
}

.action {
    width: 45%;
}

.option {
    width: 6%;
    background-color: #E6F4FB;
    border-radius: 7px;
    padding: 0px 4px;
    text-align: center;
}

.option-item {
    margin: 36px 0px;
    cursor: pointer;
}

.legal-info-div {
    padding-top: 16px;
}

.demo-section {
    margin: 0px 8px;
}

.demo-section .top-icons {
    border: 1px solid #D6D6D6;
    padding: 1px;
    border-radius: 3px;
}

.option-item span {
    font-size: 11px;
    cursor: pointer;
}

.content-height {
    max-height: 68vh;
    overflow-y: auto;
}

.span-tab-css {
    text-align: left;
    padding-left: 24px
}

.left-column-view{
    width: 40%;
}

.col-rt{
    font-weight: bold
}

.information-list {
    text-align: right;
    font-weight: bold;
}

.value-div {
    border-bottom: 1px solid #ddd;
    padding: 12px 0px;
    display: flex;
}

.value-div-flex {
    flex-direction: column
}

.font-style-text {
    font-weight: bold;
    padding-left: 20px;
}

.padding-left-20 {
    padding-left: 20px;
}

.value-div span {
    font-size: 13px;
}

.action-value-div {
    border-bottom: 1px solid #ddd;
    padding: 16px 0px;
}

.action-value-div .action-item-name {
    width: 90%;
    display: block;
}

.show-less {
    max-height: 2.0rem;
    overflow: hidden;
    white-space: pre-wrap;
    display: flex;
}

.show-text {
    height: auto;
    overflow: auto;
    white-space: pre-wrap;
    display: flex;
}

.inside-content-div {
    width: 96%;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.inside-content-div-margin {
    margin-top: 16px;
}

span,
p,
h2,
input,
button {
    font-family: Montserrat;
}

.heading-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.heading-tab {
    padding: 18px 8px;
    border-bottom: 1px solid #ddd;
}

.heading-tab-display-prop {
    display: flex;
    padding: 16px 8px 0px;
}


.type-class-border {
    border: 2px solid rgb(0, 101, 134);
    visibility: visible;
    border-radius: 7px 7px 0px 0px;
    width: 80%;
}

.action-value-div .user-icon {
    display: flex;
    width: 10%;
    justify-content: center;
}

.notes-div span {
    padding-left: 82px;
}

.show-button {
    display: inline-flex;
    width: 100%;
    justify-content: flex-end;
    background: none;
    border: none;
    padding-right: 18px;
    margin-bottom: 10px;
    color: cornflowerblue;
    cursor: pointer;
    margin-top: 10px;

}

.heading-text {
    color: #006586;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px 14px;
}

.custom-dilog .mat-dialog-container {
    border-radius: 10px;
    border: 2px dashed #EDEDED;
    background: #F0F9FF;
}

.details-feature-tab {
    font-size: 14px;
    padding: 8px 12px;
    border: 0;
    border-radius: 3px;
    font-weight: 700;
    background: #BDE3F6;
    color: #006586;
}

.option-item-tabs {
    color: rgba(14, 69, 106, 0.75);
    text-align: center;
    font-family: Montserrat;
    font-weight: 700;
    line-height: normal;
}

.all-address-details-tabs {
    display: flex;
    justify-content: center;
    padding: 16px 8px;
    border-bottom: 1px solid #ddd;
}

.all-address-details-tabs-left {
    justify-content: left;
    padding: 16px 16px 16px 16px;
}

.details-tab {
    width: 25%;
    text-align: center;
}

.auto-width-css {
    width: auto;
    margin: 0px 6px;
}

.width-margin-css {
    width: auto;
    margin: 0px 1px;
}

.stle-text-css {
    text-align: right;
    font-weight: bold;
}

.text-left-css {
    text-align: left;
    padding-left: 24px
}

.border-none-css {
    border-bottom: none;
}

.color-style-css {
    color: #003343;
    margin: 0px;
}

.color-style-css-font {
    color: #333;
    font-weight: 600;
}

.text-right-css {
    text-align: right;
    padding-right: 16px;
    font-size: 14px;
    padding-top: 0px;
}

.details-tab button {
    background: transparent;
    border: 0;
    background: rgb(255, 255, 255);
    color: #69696A;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.rightcol {
    width: 45%
}

.rightcol-2 {
    width: 60%
}

.backround-colored-div {
    height: 16px;
    background: #7DC0DA;
    width: 80%;
    margin: 8px 0px 8px 20px;
}

.no-data-text {
    text-align: center;
    color: rgb(91, 181, 208);
    font-weight: 500;
}

.action ::-webkit-scrollbar {
    width: 0.2em !important;
    background-color: white !important;
}

.action ::-webkit-scrollbar-thumb {
    outline: 1px solid #006586 !important;
    background: #006586 !important;
}

.container-css {
    padding: 0px 16px;
    width: 95%;
    border-bottom: 1px solid #D6D6D6;
}

.container-inside {
    padding: 8px 8px;
    display: flex;
}

.recovery-btn {
    padding: 8px 8px;
    width: 80%;
}

.display-flex-css {
    display: flex;
    overflow-x: hidden;
    white-space: pre-wrap;
}
.content-text-overflow{
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.action-item-content-style {
    color: #003343 !important;
    margin: 0px;
    font-size: 16px;
    font-weight: 700;
    display: block;
}
.search-input {
    outline: none !important;
    height: 36px;
    font-size: 16px !important;
    width: 95%;
    color: #58585B;
    font-weight: 500;
    padding: 0px 8px;
}

.search-input :focus-visible {
    outline: none !important;
}

.search-container-data {
    border-radius: 3px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    padding: 0px 8px;
}

.search-container-data span {
    display: flex;
}
.custom-dropdown {
    margin-top: 95px;
  }
  
.search-container-css {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.header-with-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.download-btn-css{
    display: inline-flex;
    align-items: center;
}

.search-container-css {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    margin-right: 15px !important;

}
.search-container-data-display{
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    right: 0;
}
.header-with-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.download-btn-css {
    display: inline-flex;
    align-items: center;
    position: absolute;
}

.search-input-action-log{
    width: 90%;
}

.download-icon-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-icon-div mat-icon{
    cursor: pointer;
}
.search-popup{
    border: 1px solid #ddd;
    background: #ffffff;
    border-radius: 3px;
    width: 480px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 25px;
    margin-top: 10px;
}
.date-picker-container-css{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
}
.date-picker-toggle-css{
    position: relative !important;
}
.border-none{
    border: none !important;
}
.detaildropdownInnerDiv{
    padding-left: 10px;
    padding-right: 18px;
}
.search-icon {
    position: absolute;
    left: 8px;
    top: calc(50% - 12px);
  }
  
  .search-select {
    position: relative;
  }
  
  .search-input {
    padding-left: 24px; 
  }
  .search-container-data span{
    display: flex;
  }
  .search-container-data{
    width: 100%;
          border-radius: 3px;
          border: 1px solid #ddd;
          display: flex;
          align-items: center;
          padding: 0px 8px;
  }
  .action-submit {
    border-radius: 5px;
    background: linear-gradient(90deg, #008EB3 0%, #00BCE7 100%);
    color: #FFF;
    border: 0;
    width: 280px;
    height: 46px;
    display: flex;
    justify-content: center;
    letter-spacing: 2.52px;
}

.select-action {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}
.action-div {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0px 24px 0px;
}

.action-tab-search-field{
    display: flex;
}

.information-list {
    text-align: right;
    font-weight: bold;
}

.detailHeadInnerDiv {
    padding: 8px 8px;
    display: inline-flex;
}
.margin-none{
    margin: 0 !important;
}
.select-all-checkbox{
    padding: 8px 16px;
}
