<div *ngIf="isLoading$ | async">
  <mat-card>
    <h1>Rates</h1><br/>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <label class="mat-label other-label"><i>loading...please wait</i></label>
</mat-card>
</div>

<mat-card *ngIf="!(isLoading$ | async)">
  <h1>Rates</h1>
  <form [formGroup]="form" class="mat-container details-form" novalidate>
    <section>
      <div class="field-container">
        <mat-form-field class="mat-form-field">
          <label class="mat-label other-label">Base Rate %</label>
          <input DecimalNumber (blur)="baseRateChanged()" matInput min="0" max="100" maxlength="4" formControlName="baseRate"
            name="baseRate" id="baseRate" />
          <mat-error *ngIf="form.get('baseRate').hasError('required')">
            Rate is <strong>required</strong> 
          </mat-error>
          <mat-error *ngIf="form.get('baseRate').hasError('min')">
            Rate must be <strong>more than 0% </strong>
          </mat-error>
          <mat-error *ngIf="form.get('baseRate').hasError('max')">
            Rate must be <strong>less than 100% </strong>
          </mat-error>
        </mat-form-field>
      </div>
    </section>

    <section>
      <mat-form-field class="mat-form-field">
        <input matInput [hidden]="true" formControlName="industryRate" />
        <mat-checkbox (change)="industryRateChanged($event)" formControlName="industryRate">
          <label class="mat-label other-label">Use Industy Rates?</label>
        </mat-checkbox>
      </mat-form-field>
    </section>
  </form>
</mat-card>
    