<div class="pad-form">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="wizard-font card-title grey">Rule Validation</mat-card-title>
      <mat-card-subtitle *ngIf="ruleRequestResult">
        <span *ngIf="ruleRequestResult.overallSuccess && ruleRequestResult.ruleResults.length > 0"
          class="wizard-font valid">Validation Passed</span>
        <span *ngIf="ruleRequestResult.overallSuccess && ruleRequestResult.ruleResults.length === 0"
          class="wizard-font">There were no rules found to execute.</span>
        <span *ngIf="!ruleRequestResult.overallSuccess" class="wizard-font invalid">Validation Failed</span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="!ruleRequestResult">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        <div class="left-padding wizard-font grey">Executing rules... This shouldn't take long...</div>
        <div class="left-padding wizard-font grey">{{this.pollingMessage}}</div>
      </div>
      <div *ngIf="ruleRequestResult && ruleRequestResult.ruleResults">
        <div *ngIf="ruleRequestResult.ruleResults.length > 0">
          <ng-container *ngFor="let ruleResult of ruleRequestResult.ruleResults">
            <table style="border-collapse:collapse;border:0;">
              <tr>
                <td style="padding-left:20px;padding-right:20px;margin-bottom:-10px">
                  <mat-icon style="color: rgba(0, 0, 0, .54) !important;" mat-list-icon>folder</mat-icon>
                </td>
                <td>
                  <h4 [ngClass]="{ 'valid': ruleResult.passed, 'invalid': !ruleResult.passed}" mat-line>
                    {{ruleResult.ruleName}}
                  </h4>
                </td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td *ngIf="ruleResult.passed" class="valid">Rule passed</td>
                <td *ngIf="!ruleResult.passed" class="invalid">
                  <ng-container *ngFor="let message of ruleResult.messageList">
                    <div>Rule Failed - {{message}}</div>
                  </ng-container>
                </td>
              </tr>
            </table>
          </ng-container>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div [hidden]="alreadyUploaded">
        <div *ngIf="uploadingMembers" class="progress-bar">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          <div>This may take a while... Please be patient...</div>
          <div>{{this.pollingMessage}}</div>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
<div class="spacer"></div>
