.mat-column-select {
  flex: none !important;
  width: 50px !important;
}

.mat-column-isTopEmployer {
  flex: none !important;
  width: 50px !important;
}

.mat-column-actions {
  flex: none !important;
  width: 50px !important;
}

.area {
  width: 130px;
  height: 20px;
  color: #006586;
  margin-right: 80px !important;
}

.highlight {
  pointer-events: none;
  opacity: 0.7;
  background-color: lightgray !important;
}

.deleted {
  opacity: 0.7;
  background-color: lightgray !important;
}

.unassigned {
  opacity: 0.5 !important;
}