/*override*/
.form-label {
    padding-left: 0px;
    font-weight: 400;
}

.file-list {
    overflow-y: scroll;
}

.progress {
    padding: 0px 10px 10px 0px;
}

.dropbox {
    font-size: 1.25rem;
    /* 20 */
    background-color: #c8dadf;
    height: 100px;
    position: relative;
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
}

.grey {
    color: rgba(0, 0, 0, .54) !important;
}

.dropbox.is-dragover {
    outline-offset: -20px;
    outline-color: #c8dadf;
    background-color: #fff;
}


.dropTitle {
    display: block;
    max-width: 350px;
    padding-top: 40px;
    height: 100%;
    margin: 0 auto;
}

.dropTitle a {
    font-weight: 600;
}

a {
    cursor: pointer;
    text-decoration: underline;
}

.icon-action {
    cursor: pointer;
}

.other-label {
    margin-left: 0px !important;
}

.site-font {
    font-family: 'Oswald', sans-serif !important;
}

.grid-item {
    background-color: #DEE3EB;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    min-width: 150px;
    max-width: 150px;
}

.grid-item:hover {
    background-color: #7DC0DA !important;
    ;
}