<mat-card>
  <div class="menu-bar">
    <span class="material-icons">
      vaccines
    </span>&nbsp;{{title}}
</div> 
    <mat-card-content>
      <br><br>
      <mat-card>
        <mat-card-content>
      <preauth-claim-view *ngIf="preAuthClaimDetails" #ClaimDetailsMainPreAuth [preAuthClaimDetail]="preAuthClaimDetails"></preauth-claim-view>
      <div>
        <div class="grid">
          <div *ngIf="preAuthClaimDetails">
            <span class="title">Claim Event</span>
            <span class="value">{{ preAuthClaimDetails.eventDate | date: 'dd-MMM-yyyy h:mm a'}} </span>
          </div>
        </div>
  
        <div *ngIf="eventDateInjuryDateNotEqual" class="warning">
          Event date and Injury dates should be the same
        </div>
      </div>
        </mat-card-content>
      </mat-card>
      <br><br>
      <div [hidden]="!isLoading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        Loading...
      </div>
      <mat-expansion-panel expanded="true" *ngIf="ProstheticAuthDetails">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ preAuthTypeText }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <hr>
        <preauth-hcp-view  #HealthcareProviderMainPreAuth [authDetails]="mainPreAuthorisation" [healthCareProvider]="hcpMainAuth$ | async" 
        [preAuthClaimDetails]="preAuthClaimDetails$">
        </preauth-hcp-view>
        <br/><br/>
        <div><b>Quotation linked with PreAuthorisation</b></div>
          <app-prosthetist-quote-list [isCaptureMode]="true" (isProstheticQuoteLinkedEvent)="getIsProstheticQuoteLinkedValue($event)"
            [PreAuthIdLinkedToQuote]="preAuthId"></app-prosthetist-quote-list>
        <br /><br />
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              PreAuth ICD10 Codes
            </mat-panel-title>
          </mat-expansion-panel-header>
          <preauth-icd10-edit #MainPreAuthICD10Codes [preAuthId]="preAuthId" [isHospitalAuth]="false"></preauth-icd10-edit>
        </mat-expansion-panel>
        <br/><br/>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              PreAuthorisation Breakdown
            </mat-panel-title>
          </mat-expansion-panel-header>
          <preauth-breakdown #mainPreAuthBreakdown [preAuthId]="preAuthId" authControlMode="true"
          authType="Prosthetic" [personEventId]="personEventId"></preauth-breakdown>
        </mat-expansion-panel>
        <preauth-review #preauthReviewComponentHospital [authDetails]="ProstheticAuthDetails"></preauth-review>
        <br><br>
      </mat-expansion-panel>
      
       
    <div *ngIf="preAuth$ | async as auth">

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Prosthetic Document Details</mat-panel-title>
        </mat-expansion-panel-header>
        <hr>
        <div *ngIf="auth.preAuthId > 0;else documents_not_uploaded">
            <app-prosthetic-quotation-type 
            [hideQuotationTypeDropdown]="true" 
            [disableQuotationTypeForProstheticView]="true"
            [claimId]="auth.claimId"
            [preAuthId]="auth.preAuthId"
            [quotationTypeDocsType]="auth?.prostheticQuotationType"></app-prosthetic-quotation-type>
        </div>
        <ng-template #documents_not_uploaded><span class="authorised">Prosthetic Documents not uploaded, please liaise with
            Healthcare Provider...</span></ng-template>
      </mat-expansion-panel>


    </div>

    <div *ngIf="preAuth$ | async as auth">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>PreAuth Activity</mat-panel-title>
        </mat-expansion-panel-header>
        <hr>
        <preauth-activity [auth]="auth?.preAuthActivities"></preauth-activity>
      </mat-expansion-panel>
    </div>      
    </mat-card-content>
  </mat-card>
