<div *ngIf="type === 'normal'">
  <div *ngFor="let x of icd10Codes">
    <span class="listitem-hover">{{ x.icd10Code }}</span>
    <span class="listitem-hover">{{ getBodySideDescription(x.bodySideId) }}</span>
    <span class="listitem-hover">{{ getInjuryTypeDescription(x.injuryType) }}</span>
  </div>
</div>

<div *ngIf="type === 'preAuthView'">
  <mat-table #table [dataSource]="icd10Codes" class="mat-elevation-z8">
    <ng-container matColumnDef="icd10Code">
      <th mat-header-cell *matHeaderCellDef> Icd10Code </th>
      <td mat-cell *matCellDef="let element"> {{element.icd10Code}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="bodySideId">
      <th mat-header-cell *matHeaderCellDef> Body Side </th>
      <td mat-cell *matCellDef="let element"> {{ getBodySideDescription(element.bodySideId) }} </td>
    </ng-container>

    <ng-container matColumnDef="injuryType">
      <th mat-header-cell *matHeaderCellDef> Injury Type </th>
      <td mat-cell *matCellDef="let element"> {{ getInjuryTypeDescription(element.injuryType) }} </td>
    </ng-container>

    <ng-container matColumnDef="isClinicalUpdate">
      <th mat-header-cell *matHeaderCellDef> Clinical Update </th>      
      <td mat-cell *matCellDef="let element"> {{element.isClinicalUpdate ? 'Yes' : 'No' }} </td>
    </ng-container>

    <ng-container matColumnDef="updateSequenceNo">
      <th mat-header-cell *matHeaderCellDef> Update Sequence No </th>
      <td mat-cell *matCellDef="let element"> {{element.updateSequenceNo}} </td>
    </ng-container>    

    <ng-container matColumnDef="isAuthorised">
      <th mat-header-cell *matHeaderCellDef> Is Authorised </th>
      <td mat-cell *matCellDef="let element"[ngClass]="{'authorised' : !element.isAuthorised}"> {{element.isAuthorised ? 'Authorised': 'Not Authorised' }}  </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
    <tr mat-row *matRowDef="let element; columns: getDisplayedColumns()"></tr>
  
  </mat-table>
  </div>
