.elementBox {
    height: 40px;
    border-radius: 5px !important;
    border-color: #33BFE6 !important;
}

.placeholder {
    position: relative;
    right: -10px;
    top: 25px;
    height: 42px;
}

mat-form-field {
    width: 48%;
}

.tableHeight{
    height: 200px !important;
}
