<mat-card>
    <div class="menu-bar">
      Claim Close
    </div>
    <div mat-dialog-content>
      <form [formGroup]="form" (ngSubmit)="submit()" class="mat-container" novalidate>
            <div>
                <mat-form-field class="mat-form-field-right controlSize">
                    <label class="mat-label other-label">Letter Options</label>
                    <mat-select id="letterOption" name="letterOption" matInput formControlName="letterOption"
                        (selectionChange)="letterOptionChange($event)">
                        <mat-option *ngFor="let letterType of filteredLetterTypes" [value]="letterType">
                            {{(formatText(letterType)).toUpperCase()}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.get('letterOption').hasError('required')">
                      Letter option <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <br />
            </div>

            <div class="form-group-button mat-form-button">
              <button (click)='submit()' type="button" class="button float-button">Submit</button>
              <button (click)='onNoClick()' type="button" class="button float-button">Close</button>
            </div>

      </form>
    </div>
</mat-card>

