.main-container {
    font-family: 'Oswald', sans-serif !important;
   
  }
  .setFormHeight{
    height: 95px !important;
  }

  .dateCss{
    width: 120px !important;
  }
  
  .material-icons.lightRed{ 
    color: rgb(253, 100, 100);
    font-size: 30px;
    vertical-align: middle !important;
  }
  
  .material-icons.lightGreen{ 
    color: rgb(112, 190, 88);
    font-size: 30px;
    vertical-align: middle !important;
  }
  .font {
    font-family: 'Oswald', sans-serif;
    height: 50px!important;
    color: rgb(240, 172, 172) !important;
}

.fontGreen {
  font-family: 'Oswald', sans-serif;
  height: 50px!important;
  color: rgb(118, 201, 131) !important;
}

.icon {
  color: rgb(84, 90, 84);
  vertical-align: middle !important;
}

.altRowTable tr:nth-child(odd){
  background: lightgray
}

.align{
  text-align: right !important;
}


.resetBtn{
  text-align: right;
}
  
