.time-box {
	width: 60px;
    height: 49px;
}
.time-colon {
    font-size: xx-large;
	font-weight: bold;
	color: grey;
}
.colon-container {
	padding: 1px 5px 0 5px;
}
.error-container {
    height: 45px !important;
}
.time-error {
    font-family: 'Oswald', sans-serif;
	font-size: 75%;
}
.check-box {
	padding: 8px 0px 0px 20px;
}
.button-box {
	margin-top: 20px;
}
