.margine-space {
    margin-left: 15px;
}

.clear{
    clear:both;
  }

  .first-footer-row {
    font-weight: bold;
  }

  .mat-footer-cell {
    font-size: 12px !important;
}

/* for gid */

.grid {
    display: flex;
  }
  
  .grid > div {
    display: flex;
    flex-basis: 100%;
    flex: 1;
    min-width: 10px;
    margin-bottom: 5px;
  }
  
  .grid > div > .title {
    font-weight: 700;
    min-width: 10px;
    width: 220px;
  }
  
  .grid > div > .value {
    margin-left: 10px;
  }

  .cancel-btn {
    background: red;
    color: white;
}

/*include exclude controls*/
mat-cell.mat-cell.cdk-column-authorisedAmountInclusive.mat-column-authorisedAmountInclusive{
  padding-left: 0px;
}


mat-cell.mat-cell.cdk-column-underAssessReason.mat-column-underAssessReason > mat-form-field,
mat-cell.mat-cell.cdk-column-authorisedAmountInclusive.mat-column-authorisedAmountInclusive > mat-form-field,
mat-cell.mat-cell.cdk-column-authorisedQuantity.mat-column-authorisedQuantity > mat-form-field{
  width: 100px;
}

.red-text-status-message{
  color:red;
}