.divHeight {
    height: 40px !important;
    vertical-align: middle !important;
}

.submit-button{
    margin-left: 10px !important;
}

.tracer{
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.grey{
    margin-left: 20px !important;
}

.beneficiaryTab{
    margin-left: 15px !important;
}

.taskList{
    margin-left: 20px !important;
}
