.table {
  width: 100%;
  font-size: smaller !important;
}



.lightgrey {
  background-color: #f8f8f8 !important;
}

.altRowTable tr:nth-child(even) {
  background: #DEE3EB
}

.altRowTable th {
  background-color: #7DC0DA !important;
  color: #0a0a0a;
  padding-top: 10px;
  padding-bottom: 10px;
}

.highlight {
  background-color: #7DC0DA !important;;
}

.left {
  padding-left: 20px !important;
}

.dark-panel {
  background-color: #DEE3EB !important;
}


.center {
  text-align: center !important;
}

.pointer {
  cursor: pointer;
}

.right {
  float: right;
}

.info {
  color: blue;
  font-size: small;
}