<div class="benefit-container">
  <table mat-table *ngIf="dataSource && dataSource.data" [dataSource]="dataSource">

    <ng-container matColumnDef="selected">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let productOption">
        <mat-checkbox [checked]="productOption.selected" (change)="addProductOption($event, productOption)"
          [disabled]='!isWizard || isDisabled'></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef>Code</th>
      <td mat-cell *matCellDef="let productOption"> {{productOption.code}} </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let productOption"> {{productOption.description}} </td>
    </ng-container>
    <ng-container matColumnDef="statusText">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let productOption"> {{productOption.statusText}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>
