<div *ngIf="isLoading$ | async">
  <mat-card class="margins">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <label class="mat-label other-label"><i>{{loadingMessage$ | async}}</i></label>
  </mat-card>
</div>

<div *ngIf="!(isLoading$ | async) && model">
  <div *ngFor="let policy of model">
    <policy-inception *ngIf="showInceptionDate(policy.productOptionId)" [policy]="policy" [isReadOnly]="inApprovalMode"
      (policyInceptionChangedEmit)="policyInceptionChanged($event)"></policy-inception>

    <roleplayer-policy-declaration [policy]="policy" [startDate]="targetedInceptionDate"
      [endDate]="policy.policyInceptionDate" [isReadOnly]="inApprovalMode"
      (requiredDeclarationsValidEmit)="requiredDeclarationsSubmitted($event)"></roleplayer-policy-declaration>
  </div>
</div>