.acknowledgement-div {
    padding: 24px 24px;
}

.select-action {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.flex-view{
    display: flex;
}

.table-content{
    max-height: 30vh;
    overflow-y: auto;
}

.width-display-flex{
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.justify-right{
    justify-content: right;
}

.cursor-display{
    cursor: pointer;
    display: flex;
     align-items: center;
}

.margin-border{
    margin-right: 8px;
    color: #006586;border-bottom: 1px solid #006586;
    padding-bottom: 2px; 
}

.color{
    color: #006586  
}

.padding{
    padding: 8px 18px 24px
}

.upload-doc-div{
    display: flex;
    justify-content: center;
    padding: 24px 0px 0px 0px;  
}

.drag-file-div{
    display: flex;
    justify-content: center;
    padding: 0px 0px 16px;
    flex-direction: column;
    align-items: center; 
}

.btn-background{
    background: transparent;
    padding: 0px;
    border: none;
    flex-direction: column;
    align-items: center;  
}

.margin-tp{
    margin-top: 20px; 
}

.margint-top{
    margin-top: 10px;
}

.margin-tp-5{
    margin-top: 5px;
}
.proceed-btn{
    padding-top: 14px;
    display: flex;
    justify-content: center;
}


.padding-btm{
    padding-bottom: 8px;  
}

.display-flex-padding{
    display: flex;
    justify-content: center;
    padding: 24px 0px 0px 0px;
}

.width-80{
    width: 80%;  
}

.doc-name-div{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.attachment-error-msg{
    width: 50%;
    padding: 14px;
    display: flex;
    flex-direction: column;
}

.padding-right{
    padding-right: 8px  
}

.border-none-imp{
    border: none !important; 
}

.font-size-imp{
    font-size: 16px !important; 
}

.display-flex-padgn{
    display: flex;
    justify-content: center;
    padding: 48px 0px 0px 0px;  
}

.progress-div{
    display: flex;
    justify-content: center;
    padding: 10px 0px 24px 0px;  
}

.margin-left{
    margin-left: 5px;  
}

.display-pdf{
    display: flex;
    justify-content: flex-end;
    align-items: center;  
}

.width-position{
    width: 70%;
    position: relative;  
}

.padding-tp{
    padding-top: 8px  
}

.font-size{
    font-size: 16px 
}


h2 {
    margin: 8px 0px;
}
.action-btn-right-padding-4{
    padding: 4px 0px 0px 0px
}
.action-div {
    display: flex;
    justify-content: flex-end;
    padding: 50px 0px 24px 0px;
}

.action-btn-right {
    justify-content: right;
}
.update-status-btn{
    padding: 50px 0px 24px 0px;
    display: flex;
    justify-content: flex-end;
}
.subject-field-css{
    display: flex;
    flex-direction: column;
}
.option-no {
    padding-left: 16px;
}
.email-header-padding{
    padding-left: 12px;
}


.option {
    border-bottom: 2.5px solid skyblue;
    color: skyblue;
    padding-bottom: 4px;
}

.message-box {
    display: flex;
    flex-direction: column;
}

.message-textarea {
    resize: none;
    border-radius: 5px;
    border: 1px solid #E4E4E4;
    outline: #E4E4E4;
    color: #000;
    font-family: Montserrat;
    padding: 8px;
    font-size: 16px;
    max-width: 100%;
}
.icon-css{
        margin-top: 0px !important;
}
.invoices-table {
    max-height: 55vh;
    overflow-y: auto;
    padding: 0px 0px 16px;
    border-radius: 7px;
    border: 1px solid #D6D6D6;
}
.debtor-invoice-table{
    padding: 0px 0px 16px;
    border-radius: 7px;
    border: 1px solid #D6D6D6;
}
.padding-0{
    padding: 0px !important;
}
.loading-css{
    width: 95%;
}
.heading-text-div {
    padding: 24px 24px 8px;
    border-radius: 7px 7px 0px 0px;
    border-bottom: 2px solid #f5f1f1;
    margin-bottom: 16px;
}
.send-sms-text-heading{
    margin: 0;
    padding-left: 8px;
}
.heading-text {
    color: #006586;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.statusText {
    padding: 8px 0px;
    border-radius: 4px;
    color: #FFF;
    display: block;
    text-align: center;
    text-transform: uppercase;
    align-items: center;
    width: 50%;
}

.action-btns {
    color: #061E2F;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.34px;
    margin: 0px 24px 0px;
}
.icon-css-class{
    opacity: 0.8;
    padding-right: 8px;
}
.action-submit {
    border-radius: 5px;
    background: linear-gradient(90deg, #008EB3 0%, #00BCE7 100%);
    color: #FFF;
    border: 0;
    width: 280px;
    height: 46px;
    display: flex;
    justify-content: center;
    letter-spacing: 2.52px;
}

.new-message-1{
    cursor: pointer;
}

.new-msg {
    font-size: 13px;
    border-bottom: 2px solid #e4dddd;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-weight: 700;
    color: #00597C;
    font-style: normal;
    letter-spacing: 1px;
    line-height: 20px;
}

.action-btns span {
    border-bottom: 2px solid #EDEDED;
    padding-bottom: 4px;
}

.close-box-icon{
    text-align: right;
    padding-right: 8px;
}

.send-message{
    position: relative;
}

.question-div {
    padding: 0px 8px;
}
.padding-0{
    padding: 0px !important;
}
.question-div p {
    margin: 5px;
}

.radio-btn input,
label {
    cursor: pointer;
}

span,
p,
h2,
input,
th,
td {
    font-family: Montserrat;
}

.radio-btn-input {
    width: 18px;
    height: 18px;
}

.status-update-mff {
    width: 100%;
}

.existing-docs {
    border: 1px solid #BEBEBE;
    background: #FFF;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 8px;
}

.pack-docuemnts-tab-btn {
    width: 48%;
    margin: 0px 5px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #346FE2;
    background: #FFF;
}

.pack-docuemnts-tab-btn span {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    color: #061E2F;
    ;
}

.table-documents {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    text-align: left;
}

.back-icon {
    color: #0c202e;
    font-size: 17px;
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(47, 80, 102, .06);
    padding: 4px;
    cursor: pointer;
    border-radius: 5px;
}

.documents-folder {
    cursor: pointer;
}

.table-documents,
.table-inside {
    width: 100%;
}

.table-inside {
    border-collapse: collapse;
}

.table-inside .td-inside {
    border: none;
    padding: 14px 0px;
    text-align: left;
    font-size: 14px;
    padding-left: 20px;
}

.th-inside {
    padding: 0px;
}


.heading-row,
.th-inside {
    border-bottom: 1px solid #dddddd;
    border-left: none;
    border-right: none;
    padding: 8px 0px;
    text-align: left;
    font-size: 14px;
    padding-left: 25px;
}

.no-data-text {
    text-align: center;
    color: #006586;
    font-weight: 500;
}

.head-data-value {
    position: sticky;
    top: 0;
    z-index: 1999;
    background: #FFF;
}

.head-data-value-fixed{
    position: sticky;
}

.content-row {
    background: #F7F7F7;
    border-top: 8px solid #FFF
}

.invoice-status {
    border-radius: 5px;
    padding: 4px 0px;
    color: #FFFF;
    font-size: 12px;
    text-transform: uppercase;
    width: 80%;
    display: inline-block;
}

.upload-inv-btn {
    background: #FFF;
    border: none;
    display: flex;
    align-items: center;
    outline: none;
    cursor: pointer;
}

.upload-inv-btn span {
    color: #00597C;
    font-size: 13px;
    font-weight: 600;
    margin-left: 5px;
}

.upload-icon {
    color: #00597C;
    border-bottom: 1px solid #00597C;
}

input,
button {
    outline: none;
    cursor: pointer;
}

.doc-name-tab {
    border-radius: 5px;
    border: 1px solid #346FE2;
    background: #346FE2;
    color: #FFF !important;
    pointer-events: none;
}
.search-container-data{
    width: 50%;
          border-radius: 3px;
          border: 1px solid #ddd;
          display: flex;
          align-items: center;
          padding: 0px 8px;
  }
  .search-container-css{
    padding: 16px 16px;
    border-bottom: 1px solid #D6D6D6;
  }
  
.search-input{
    outline: none !important;
    height: 36px;
    font-size: 14px !important;
    border: none!important;
    width: 95%;
    color: #58585B;
    font-weight: 500;
}

.search-input :focus-visible{
    outline: none !important;
}

.doc-name-option-tab {
    font-size: 14px;
    border-bottom: 1px solid #ABABAC;
    padding-bottom: 4px;
    margin: 0px 8px;
    font-weight: 600;
    cursor: pointer;
}

.checkbox-and-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-and-text .text-span {
    padding-left: 8px;
}

.date-picker-field {
    width: 100%;
}

.meeting-schedule-div {
    display: flex;
    margin: 16px 0px;
}

.meeting-schedule-div .scheduled-box {
    width: 33.33%;
    text-align: center;
    padding: 8px 0px;
    border: 1px solid #dddddd;
}

.td-inside-action span {
    margin: 0px 6px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 3px;
    cursor: pointer;
}

.align-center-td {
    display: flex;
}

.align-center{
    display: flex;
    justify-content: center;
}

.upload-from-local-div {
    text-align: center;
    border-radius: 10px;
    border: 2px dashed #EDEDED;
    background: #F0F9FF;
    width: 50%;
    padding-top: 24px;
}

.file-name-text mat-icon{
    background: #006586;
    color: #FFF;
    font-size: 18px;
    border-radius: 16px;
    cursor: pointer;
}

.uploaded-doc-list{
    flex-wrap: wrap;
}

.upload-data-div{
    align-items: center;
}

.uploaded-doc-list .file-name-text{
    background-color: #006586;
    display: flex;
    width: auto;
    color: #FFF;
    padding: 4px 6px;
    border-radius: 15px;
    margin: 4px 4px 4px 4px;
}

.file-details-content{
    display: flex;
    align-items: center;
}

.flex-view{
    display: flex;
}

.hide-element{
    visibility: hidden;
}

.upload-mssage {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.browser-file-tab {
    color: rgba(0, 0, 0, 0.70);
    font-size: 16px;
    font-weight: 700;
    padding-top: 12px;
    cursor: pointer;
}

h2,
span {
    font-family: Montserrat;
}

.email-text {
    color: #58585B;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.14px;
    padding-left: 8px;
}

/* SEND SMS CSS */

.userDetail,
.userDetail:focus,
.userDetail {
    border: none !important;
    border: none !important;
    outline: none;
}

.header_css {
    color: #006586;
    font-weight: 700;
    font-size: 16px;
    font-family: Montserrat;
}

.upload-doc-btn {
    display: flex;
    align-content: center;
    align-items: center;
}

.upload-btn {
    display: flex;
    align-items: center;
    border: 1px solid #346FE2;
    padding: 5px 28px;
    border-radius: 5px;
    cursor: pointer;
}

textarea {
    resize: none;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #D6D6D6 !important;
    border-radius: 5px;
    height: auto;
}

.attachment-btn {
    padding: 6px 22px;
    font-size: 16px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #346FE2;
    background: #FFF;
}

.space-right {
    padding-right: 10px;
}

.div_space {
    text-align: center;
    margin-bottom: 20px;
}

.sender {
    display: flex;
    justify-content: flex-end;
}

.reciever {
    display: flex;
    justify-content: flex-start;
}

.mdc-card {
    margin: 15px;
}

.mat-mdc-card {
    border: 1px solid #E4E4E4;
    box-shadow: none;
}

hr {
    color: #E4E4E4;
    border-top: 0.2px solid #D6D6D6;
}

.mat-mdc-card-title {
    display: inline-flex;
    align-items: center;
}

.msg_cotainer {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: rgba(0, 89, 124, 1);
    color: #ffffff;
    padding: 20px;
    position: relative;
    border-radius: 20px 20px 0px 20px;
    border-radius: 20px 20px 0px 20px;
    white-space: pre-wrap;
    text-align: left;
}

.mat-mdc-card-content input {
    border: none;
    text-align: left !important;
    width: 100%;
    outline: none;
}

.submitButton {
    border: none;
    background: none;
}

.msg_cotainer_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #BDE3F6;
    padding: 20px;
    position: relative;
    border-radius: 20px 20px 20px 0px;
}

.msg_time {
    font-size: 12px;
    color: #BEBEBE;
    font-weight: 700;
    text-align: center;
}



.container {
    align-content: center;
    padding-bottom: 25px;
}

.inputArea {
    display: flex;
    align-items: center;
}

.type_msg {
    border: 0;
    color: #000000 !important;
    height: auto !important;
    overflow-y: auto;
    width: 100%;
    margin-right: 20px;
}

.type_msg:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.message-content-padding::-webkit-scrollbar {
    width: 0em !important;
    background-color: white !important;
}
.message-content-padding::-webkit-scrollbar-thumb {
    outline: 1px solid transparent !important;
    background: transparent !important;
}
::-webkit-scrollbar {
    width: 0.2em !important;
    background-color: white !important;
}

::-webkit-scrollbar-thumb {
    outline: 1px solid #006586 !important;
    background: #006586 !important;
}

.email-input {
    cursor: pointer;
    font-size: 18px !important;
}
 .email-input-send-to{
    cursor: pointer;
    margin: 4px 20px 0px 0px !important;
    border: none !important;
    background-color: transparent !important;
    text-align: left;
} 
.message-content-padding[_ngcontent-awl-c496] {
    cursor: pointer;
    height: 48px;
    margin: 4px 20px 0px 0px !important;
    border: none !important;
    background-color: transparent !important;
    overflow: hidden;
    text-align: left;
}

.message-content-padding textarea {
    overflow: auto; 
}

.send-message-btn{
    cursor: pointer;
}
.class-pedding-left-5{
    padding-left: 5px;
}
.spinner-view {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.enabled-view {
    opacity: 1;
    pointer-events: auto;
}

.disabled-view {
    opacity: 0.5;
    pointer-events: none;
}

.invoiceTblData {
    width: 100%;
    border: none;
    border-spacing: 0 10px;
}
.style-cursor{
    cursor: pointer;
}
.text-style{
    position: relative;
    bottom: 12px;
}
.invoiceTblData .mat-row:nth-child(odd) {
    background-color: #F7F7F7 !important;
}

.invoiceTblData td.mat-cell {
    border-bottom: none !important;
    padding-right: 0 !important;
}

.mat-header-cell {
    background: #ffffff !important;
    position: sticky;
    top: 0;
}

.file-upload-button {
    background: #FFF;
    overflow: hidden;
    position: relative;
    padding: 8px 16px;
    border-radius: 2px;
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 15%;
}
.file-upload-button  span{
    cursor: pointer;
}
.file-upload-button ::after {
    color: #000;
    font-size: 1.5rem;
    text-align: center;
}

.file-upload-button input[type="file"] {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
}

.file-info {
    color: #999;
    font-family: Lato;
    margin-left: 0.5rem;
}

.container-sign-doc {
    display: flex;
}

.left_container {
    width: 50%;
}

.btnContainer {
    width: 50%;
}

.example-button-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    margin: 20px 15px 20px 15px;
    border-radius: 5px;
    border: none;
    width: auto !important;
}

.btnSignature {
    background: linear-gradient(0deg, #D1E4F2, #D1E4F2);
    color: #003343;

}

.btnSaveExit {
    background-color: #003343;
    color: #ffffff;
    padding: 5px;
}

.file-upload-button {
    background: #FFF;
    overflow: hidden;
    position: relative;
    padding: 8px 16px;
    border-radius: 2px;
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: auto;
}

.file-upload-button ::after {
    color: #000;
    font-size: 1.5rem;
    text-align: center;
}

.file-upload-button input[type="file"] {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
}

.upload-button {
    padding-bottom: 16px;
}

.upload-button button {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background: #006586;
    color: #FFF;
}

.insert-signature-btn input[type="file"] {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
}

.insert-signature-btn,
.sign-doc-save-exit,
.sign-doc-save-send-email {
    padding: 16px 0px;
    margin: 24px 0px;
    border-radius: 5px;
    font-size: 14px;
    letter-spacing: 2.52px;
    text-transform: uppercase;
    width: 100%;
}

.sign-doc-save-send-email {
    background: linear-gradient(90deg, #008EB3 0%, #00BCE7 100%);
    color: #FFF;
    border: 1px solid #008EB3;
}

.sign-doc-save-exit {
    background-color: #003343;
    background: #003343;
                color: #FFF;
                border: 1px solid #003343;
}

.file-info {
    color: #999;
    font-family: Lato;
    margin-left: 0.5rem;
}

.container-sign-doc {
    display: flex;
    padding: 24px 0px;
}

.file-select-btn{
    margin-top: 4px;
}

.left_container {
    width: 50%;
}

.btnContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.example-button-row {
    width: 50%;
}

.button {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    margin: 20px 15px 20px 15px;
    border-radius: 5px;
    border: none;
    width: auto !important;
}

.btnSignature {
    background: linear-gradient(0deg, #D1E4F2, #D1E4F2);
    color: #003343;

}

.btnSaveExit {
    background-color: #003343;
    color: #ffffff;
}

.btnSaveSend {
    background: linear-gradient(90deg, #008EB3 0%, #00BCE7 100%);
    color: #ffffff;
}

.time-picker {
    position: relative;
    cursor: pointer;
}

.time-picker::-webkit-calendar-picker-indicator {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.icon-close {
    position: absolute;
    top: 2px;
    right: 16px;
}

.icon-close, .close-box-icon mat-icon {
    color: #006586;
    cursor: pointer;
}

.box-close{
    border: 2px solid rgba(47, 80, 102, .06);
    padding: 4px;
}
.mat-dialog-container::-webkit-scrollbar {
    width: 0.2em !important;
    background-color: white !important;
}

.mat-dialog-container::-webkit-scrollbar-thumb {
    outline: 1px solid #006586 !important;
    background: #006586 !important;
}
.left_container ::-webkit-scrollbar {
    width: 0.2em !important;
    background-color: white !important;
}

.left_container ::-webkit-scrollbar-thumb {
    outline: 1px solid #006586 !important;
    background: #006586 !important;
}

.doc-file-input{
    visibility: hidden;
}

.myFileInput {
    display: none;
}

/* Mat chip css  */

.mat-chip-list-input {
    font-size: 14px;
}

.legal-mat-chips {
    padding-bottom: 8px;
}

.mat-chip-email-error {
    color: red;
    padding-top: 6px;
    font-size: 14px;
}

.labelTextCss {
    padding-right: 14px;
}

.invalid-input {
    border: 2px solid #f44336 !important;
}

.has-error {
    border-color: #f44336;
}
.borderCss{
    width: 100%;
     margin: 0px 2px;
}
.borderCss .has-error .mat-form-field-outline-thick {
    border: 1px solid red;
}

.file-valid{
    border: 1px solid blue;
}

.file-invalid{
    border: 1px solid red;
}

.total-attachment-error{
    color: red;
    padding-top: 6px;
    font-size: 16px;
}
.popup-heading-css{
    display: flex;
    justify-content: space-between;
}
.form-container{
    position: relative
}
.dropdown-list{
    border: none !important;
}
.subject-field{
    cursor: pointer;
          height: 48px
}
.upload-padding-left{
    padding-left: 48px;
}
.style-padding-bottom{
    padding-bottom: 8px;
}
.upload-file-display{
    display: flex;
    align-items: center; 
    margin-top: 10px;
}
.close-btn-css-class{
    opacity: 0.8;
    padding-right: 8px;
}
.acknowledgement-div-padding{
    padding: 18px 0px 8px 0px
}
.class-padding-8{
    padding: 8px 0px 8px
}
.class-pos-rel{
    position: relative;
}
.action-btn-right-close{
    padding: 4px 0px 0px 0px
}
.send-sms-heading-css{
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgba(47, 80, 102, .06);
}
.mat-card-sms-body{
    height: 55vh;
     overflow-y: auto;
     margin-top: 0;
}
.error-text-color{
    color: red;
    padding-top: 8px;
}
.mat-field-width{
    width: 100%;
}
.department-field-class{
    display: flex;
}
.time-field-css{
    border: none !important;
    font-size: 16px !important;
}
.display-row-content{
    display: flex;
    width: 100%;
}

.date-form-input{
    width: 80%;
}

.time-text{
    display: block;
    width: 20%;
    text-align: center;
}

.time-input{
    width: 50%;
    display: flex;
    align-items: center;
}

.time-field-data{
    display: flex;
}

.date-picker-upadte-status{
    width: 50%;
}

.heading-text-css{
    display: flex;
    padding:18px 4px 8px;
    margin-bottom: 18px;    
    border-bottom: none;
    justify-content: space-between;
}
.message-div{
    border-top: 3px solid #e4dddd;
    max-height: 45vh;
    overflow-y: auto;
    padding: 0px 12px;
}
.message-div-content{
    display: flex;
    border-bottom: 3px solid #e4dddd ;
}
.message-div-inner-content{
    width: 10%;
    display: flex;
    padding-top: 18px;
    cursor: pointer;
}
.message-div-text-number-content{
    width: 90%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.message-div-text-number-content-span{
    margin: 18px 0px 7px;
     font-weight: 600;
     color: #003343;
     font-size: 16px;
}
.message-div-text-content-span{
    color: #333333;
     font-size: 14px;
     font-weight: 400;
}
.message-div-date-content-span{
    text-align: right;
    margin: 12px 0px;
    color: #BEBEBE; 
    font-size: 14px;
    font-weight: 600;
}
.message-text-span{
    color: #333333;
     font-size: 14px;
     font-weight: 400;
}
.message-date-span{
    text-align: right;
    margin: 12px 0px;
    color: #BEBEBE; 
    font-size: 14px;
    font-weight: 600;
}
.message-text-span{
    margin: 18px 0px 7px; 
    font-weight: 600;color: #003343;
          font-size: 16px;
}
.mat-add-icon-css{
    padding: 0 4px 7px; 
    color: #a4b9c0;
}
.time-field-full-width{
    width: 100%;
}
.send-email-container{
    position: relative;
}
.disabled-field{
    display: none;
}

.action-data ::-webkit-scrollbar {
    width: 0.2em !important;
    background-color: white !important;
}
.padding-10{
    padding: 10px 10px !important;
}
.send-message-content-css{
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    align-items: center;
}
.span-text-css{
    font-size: 10px;
    font-weight: 600;
    color: #b5b1b1;
    padding-left: 5px;
}
.visible {
    visibility: visible !important;
  }

  .update-status-box{
    position: relative;
  }

  .update-status-box .close-icon-update-status{
    position: absolute;
    cursor: pointer;
    right: 12px;
    top: 0;
  }
  