.mat-column-status {
	max-width: 140px;
}
.mat-column-paused {
	max-width: 80px;
}
.mat-column-campaignTypeId {
  max-width: 100px;
}
.mat-column-startDate {
  max-width: 130px;
}
.mat-column-actions {
  min-width: 190px;
  max-width: 190px;
}
