.search-policies {
  width: 500px;
  border-radius: 5px !important;
}

.placeholder {
  position: relative;
  right: -10px;
  top: 6px;
  height: 30px;
}

.search-icon {
  position: absolute;
  right: 24px;
  top: -2px;
  color: #33BFE6;
}

.search-icon:hover {
  cursor: pointer
}

.clear-icon {
  margin-top: -4px !important;
  right: 2px;
  color: #e63333;
  size: 12px;
}

.clear-icon:hover {
  cursor: pointer
}

.pad {
  padding: 20px !important;
}

mat-card {
  margin: 10px;
}

.expansionTitle {
  font-size: medium;
  font-weight: bolder;
  margin-bottom: 20px;
  padding-top: 5px;
  color: Black;
  vertical-align: middle;
  width: auto;
}

mat-icon {
  position: absolute;
  right: 21px;
  top: 13px;
  color: black;
  cursor: pointer;
  -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
  /* Safari */
  transition: width 1s, height 1s, transform 1s;
}

mat-icon:hover {
  -webkit-transform: rotate(180deg);
  /* Safari */
  transform: rotate(180deg);
}

.altRowTable tr:nth-child(even) {
  background: #DEE3EB
}

.icn {
  cursor: pointer;
  -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
  /* Safari */
  transition: width 1s, height 1s, transform 1s;
}

.icn:hover {
  -webkit-transform: rotate(180deg);
  /* Safari */
  transform: rotate(180deg);
}

.material-icons:hover {
  color: rgb(131, 131, 131);
}

.scrollTable {
  overflow-y: auto;
  max-height: 300px;
  font-size: small;
}

.panel {
  background-color: lightgrey;
  margin-bottom: 10px;
}

.mat-datepicker-toggle {
  position: absolute;
  margin-top: 13px;
  right: 0;
}

.mat-column-actions.mat-cell {
  text-align: center !important;
  justify-content: center !important;
}

.highlightDeath {
  background: lightcoral !important;
}

.shift-icn-down {
  position: absolute !important;
  margin-top: 10px !important;
}