<div class="mainDiv">
    <h1 class="Arabic divAlign">Member Password Reset</h1>
    <br />
    <form [formGroup]="form" class="mat-container details-form" novalidate>
        <div *ngIf="isMessageVisible" style="display: inline-block;">
            {{memberMessage}}
        </div>

        <div *ngIf="isActivationVisible" style="display: inline-block;">
            <section>
                <div>
                    {{memberMessage}}
                </div>
                <br /><br />
                <div *ngIf="isLoading$ | async">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    <label class="mat-label other-label"><i>loading...please wait</i></label>
                </div>
            </section>
            <section>
                <mat-form-field class="mat-form-field">
                    <label class="mat-label other-label">Name </label>
                    <input matInput type="text" id="name" name="name" formControlName="name" disabled readonly>
                </mat-form-field>
            </section>
            <section>
                <mat-form-field class="mat-form-field">
                    <label class="mat-label other-label">Surname </label>
                    <input matInput type="text" id="surname" name="surname" formControlName="surname" disabled readonly>
                </mat-form-field>
            </section>
            <section>
                <mat-form-field class="mat-form-field">
                    <label class="mat-label other-label">Password </label>
                    <input matInput minlength="6" type="password"  formControlName="password" required [pattern]="passwordPattern" [errorStateMatcher]="matcher" autocomplete="off">
                    <mat-error *ngIf="form.get('password').hasError('required')">
                        Password is required
                    </mat-error>
                    <mat-error *ngIf="form.get('password').hasError('minlength')">
                        Password must be at least <strong>six characters</strong>
                    </mat-error>
                    <mat-error *ngIf="form.get('password').errors&&form.get('password').errors.pattern">{{errorMgs}}</mat-error>
                    <app-password-strength [passwordToCheck]="form.value.password"></app-password-strength>
                </mat-form-field>
            </section>
            <br>
            <section>
                <mat-form-field class="mat-form-field">
                    <label class="mat-label other-label">Confirm Password </label>
                    <input matInput minlength="6" type="password"  formControlName="confirmPassword" required [errorStateMatcher]="matcher">
                    <mat-error *ngIf="form.get('confirmPassword').hasError('required')">
                        Confirm password is required
                    </mat-error>
                    <mat-error *ngIf="form.get('confirmPassword').hasError('minlength')">
                        Confirm Password must be at least <strong>six characters</strong>
                    </mat-error>
                </mat-form-field>
            </section>
            <mat-error *ngIf="form.errors && form.get('confirmPassword').touched">
                Password and Confirmed Password do not match
            </mat-error>
            <br />
            <div class="form-buttons">
                <button [disabled]="form.invalid" class="button submit-button" (click)="Submit()">Submit</button>
            </div>
        </div>
    </form>
</div>