.pad-form {
  margin-top:10px;
  margin-bottom: 12px;
}
.mat-card {
  padding-bottom: 40px;
}
.progress-bar {
  padding-bottom: 7px;
}
.uploading-members {
  color: grey;
  font-style: italic;
}
.spacer {
  height: 12px !important;
}
.import-button {
  padding-top: 12px;
  padding-left: 8px;
  padding-bottom: 24px;
}
.import-message {
  padding-top: 12px;
  padding-left: 20px;
}
.button-container {
  padding-top: 7px !important;
  padding-left: 10px !important;
}