.menu-container {
    margin-left: 15px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #006586;
    background-color: #E6F4FB;
    font-size: 16px;
    margin-bottom: 20px;
}

.error-container {
    color: red;
}

.mat-expansion-panel-body {
    margin: 0 !important;
    background-color: #E6F4FB !important;
}

footer {
    margin: 31px !important;
    color: black !important;
}

.mat-expansion-panel-spacing {
    margin: 0px !important;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: none !important;
}

::-webkit-scrollbar-thumb {
    background-color: transparent !important;
    outline: 0px transparent !important;
    box-shadow: none !important;
}

::-webkit-scrollbar {
    width: 1em;
    background-color: transparent;
    box-shadow: none !important;
}

.sub-accordion {
    background-color: #E6F4FB !important;
    padding-left: 0px !important;
    border-bottom: 1px solid #c8e9fa;
    width: 154px;
    margin-left: 60px;
}

.menu-title:hover .menu-text-label {
    visibility: visible;
}

.mat-expansion-panel {
    box-shadow: 0 0px 0px 0 rgba(0, 101, 134, 0.1), 0 1.5px 5px 0 rgba(0, 101, 134, 0.07);
}

.menu-icon {
    width: 24px;
    height: 25px;
    background-image: url('/assets/images/Layer5.png') !important;
}

.menu-title {
    color: rgb(0, 101, 134);
    padding: 9px;
    font-size: 15px;
}

.title-description {
    float: left;
    margin-left: 5px;
    margin-top: 7px;
    height: 39px;
}

.menu-header-container {
    margin: 0 !important;
}

.nav-open {
    width: 250px !important;
}

.top-nav,
.close-btn {
    cursor: pointer;
}

.breadcrumb-container a {
    font-family: 'Oswald', sans-serif !important;
}

.logo-img {
    background-color: #E6F4FB;
}

.logo-img img {
    width: 75%;
}

.profile-container {
    display: inline-block;
}

.left-profile-container {
    width: 100%;
    color: black;
    padding-left: 4px;
    margin-top: 20px;
    margin-left: 50px;
}

.right-profile-container {
    color: rgb(0, 101, 134);
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    margin-left: 70px;
    justify-content: center;
    display: inline-block;
}

.right-profile-container span {
    font-size: 16px;
    font-weight: lighter;
}

.right-profile-container a {
    font-size: 16px;
    font-weight: lighter;
}

.main-menu {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 63px;
    width: 100%;
    z-index: 2;
}

.nav-open-main {
    margin-left: 250px !important;
}

.sideMenuActivator {
    float: left;
}

.side-nav {
    height: 100%;
    position: fixed;
    left: 0;
    z-index: 990;
    background-color: #E6F4FB;
    border-right: 1px solid #E6F4FB;
    overflow: scroll;
    transition: 0.5s;
    -ms-overflow-style: none;
}

.side-nav a {
    padding: 0px;
    font-size: 18px;
    color: #006586;
    display: flex;
    transition: 0.3s;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 14px;
    padding-top: 4px;
}

.side-nav .right-profile-container a {
    padding: 0;
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: inline;
    transition: 0.3s;
}

.side-nav .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.menu-containers img {
    padding: 0 20px 0 0px;
    width: 16px;
    height: 16px;
}

.sub-menu a {
    font-size: 16px;
}

a {
    color: #389cae;
}

a:hover {
    background-color: #7DC0DA;
    color: #E6F4FB !important;
}

.menu-not-available {
    cursor: default;
}

.menu-not-available a {
    color: red !important;
}

.profile {
    font-size: small !important;
    font-weight: bold !important;
    color: rgb(0, 101, 134);
    font-family: 'Oswald', sans-serif;
}

.manage {
    font-size: medium !important;
    font-weight: bold !important;
    color: rgb(0, 101, 134);
    font-family: 'Oswald', sans-serif;
}

.userrole {
    color: rgb(0, 101, 134);
    font-family: 'Oswald', sans-serif;
}

@media screen and (max-height: 450px) {
    .side-nav {}
    .side-nav a {
        font-size: 18px;
    }
}

.circle-image {
    max-width: 120px;
    width: 120px;
    height: 120px;
    object-fit: contain; /* Ensures the entire image fits without distortion */
    border-radius: 50%; /* Makes the image a circle */
    background-color: #fff; /* Optional: adds a background color if the image doesn't fill the circle */
    border: 2px solid #ccc; /* Optional: adds a border for better visibility */
}

  