.child-card {
    box-shadow: none !important;
    padding: 0 !important;
    margin: 0 !important;
}
.member-note-control {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 200px
}
