<section class="legal-admin">
  <div *ngIf="!isLoading" class="padding">

    <div class="display-flex">
      <div class="recovery-btn padding-width">
        <button mat-button class="btnClassCss">Groups</button>
      </div>
    </div>
  </div>
  <div *ngIf="!isLoading" class="tableContainerCss">
    <div class="legal-manager-table">
      <div class="legal-manager-table-inside" [ngStyle]="isSpinner ? { 'opacity': '0.5' } : { 'opacity': '1' }">
        <div class="serachContainer">
          <span matPrefix class="display">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none">
              <path
                d="M19 11C19 12.5823 18.5308 14.129 17.6518 15.4446C16.7727 16.7602 15.5233 17.7856 14.0615 18.3911C12.5997 18.9966 10.9911 19.155 9.43928 18.8463C7.88743 18.5376 6.46197 17.7757 5.34315 16.6569C4.22433 15.5381 3.4624 14.1126 3.15372 12.5608C2.84504 11.0089 3.00347 9.40038 3.60897 7.93857C4.21447 6.47676 5.23985 5.22733 6.55544 4.34828C7.87103 3.46923 9.41775 3.00004 11 3.00004C12.0515 2.99674 13.0933 3.20141 14.0654 3.60228C15.0375 4.00315 15.9207 4.5923 16.6642 5.33582C17.4077 6.07935 17.9969 6.96257 18.3978 7.93467C18.7986 8.90677 19.0033 9.94854 19 11Z"
                stroke="#292929" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M20.9993 21L16.6562 16.657" stroke="#292929" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </span>
          <input matInput (keyup)="applyFilter($event)" placeholder="Search here..." #input class="search-input">
        </div>
        <button class="create-grp-btn" mat-button (click)="createGroup()"> <span>CREATE GROUP</span> </button>
      </div>
      <div class="legal-table-content" *ngIf="dataSource.data.length > 0">
        <div class="table-insie">
          <table mat-table [dataSource]="dataSource" class="mat-table-data">
            <ng-container matColumnDef="groupName">
              <th mat-header-cell *matHeaderCellDef  class="group-heading">
                <span class="tableHeaderSapn"> Group Name </span>
              </th>
              <td mat-cell *matCellDef="let row" class="padding-left">
                <span class="select-td">
                  <span class="select-text">{{row.groupName}}</span>
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="date&time">
              <th mat-header-cell *matHeaderCellDef>
                <span class="tableHeaderSapn">Created Date & Time</span>
              </th>
              <td mat-cell *matCellDef="let row" class="padding-right">
                <span class="select-td">
                  <span class="select-text">{{row.createdDate | date:'yyyy-MM-dd'}}</span>
                  <span class="select-text">| {{row.createdDate | date:'HH:mm'}}</span>
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>
                <span class="tableHeaderSapn">Status</span>
              </th>
              <td mat-cell *matCellDef="let row">
                <span class="select-td">
                  <span class="select-text">{{(row.isActive==true ? 'Active':'Inactive')}}</span>
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> <span class="tableHeaderSapn">Actions</span> </th>
              <td mat-cell *matCellDef="let row">
                <div class="text-align-left">
                  <span *ngIf="canEdit">

                    <span class="border-bottom" (click)="editGroup(row)">
                      <mat-icon>edit</mat-icon>
                    </span>
                    <span class="margin">|</span>
                    <span class="border-bottom"
                      (click)="openDialog('delete_action', row.id,'Group')">
                      <mat-icon>delete</mat-icon>
                    </span>
                  </span>
                  <span *ngIf="!canEdit">--</span>

                </div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <hr class="border-top">
          <mat-paginator #paginator (page)="handlePageinatorGetGroupList($event)" [hidePageSize]="false"
            [length]="totalItems" [pageIndex]="page - 1" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
            showFirstLastButtons="false">
          </mat-paginator>
        </div>

      </div>
      <div *ngIf="dataSource.data.length == 0" class="no-data">
        <h2 class="no-data-text">No data available</h2>
      </div>
    </div>

  </div>

  <div [hidden]="!isLoading" [ngClass]="isLoading ? 'progress-bar-container' : '' " class="width">
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  </div>

  <div [hidden]="!isSpinner" class="spinner-view">
    <mat-spinner *ngIf="isSpinner"></mat-spinner>
  </div>

</section>