.search-icon {
    margin-top: 16px;
    margin-right: 5px;
    cursor: pointer;
}

.error-message {
    margin-top: -10px;
    padding-bottom: 10px;
    font-size: small;
}

.disabled-input {
    background-color: #ACB9CD;
}