.mat-column-code, .mat-column-fspNumber {
  width: 100px !important;
}
.mat-column-startDate, .mat-column-endDate {
  width: 180px !important;
}
.link-date {
  margin: 0 !important;
  width: 170px
}
.link-data-icon {
  margin-left: -38px;
}
.link-error {
  padding-bottom: 20px;
  font-size: small;
}
.appointment-date-icon {
  padding-top: 100px;
}
