<mat-card *ngIf="!model || (isLoading$ | async)">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <label class="mat-label other-label"><i>loading assessment details...please wait</i></label>
</mat-card>

<div *ngIf="model && !(isLoading$ | async)">
    <mat-tab-group *ngIf="model" animationDuration="500ms">
        <mat-tab
            label="{{model.claims && model.claims.length > 0 ? 'Claims (' + model.claims.length + ')' : 'Claims(0)'}}">
            <holistic-claim-details [personEvent]="selectedPersonEvent" [isReadOnly]="isReadOnly"
                (claimSelectedEmit)="setSelectedClaim($event)"></holistic-claim-details>

            <mat-card *ngIf="selectedClaim">
                <div class="menu-bar">
                    <span class="material-icons">
                        monitor_heart
                    </span>&nbsp;Claim: ({{selectedClaim.claimReferenceNumber}})

                    <span class="material-icons pointer right pulse" matTooltip="back" (click)="resetClaim()">
                        arrow_back
                    </span>
                </div>

                <mat-tab-group *ngIf="selectedClaim" animationDuration="500ms">
                    <mat-tab label="Disability">
                        <claim-paged-disability [user]="currentUser" [query]="defaultDisabilityType" [personEvent]="selectedPersonEvent"
                            [selectedClaim]="selectedClaim"></claim-paged-disability>
                    </mat-tab>
                </mat-tab-group>
            </mat-card>
        </mat-tab>
        <mat-tab label="Documents & Medical Reports">
            <holistic-medical-report-container [event]="event" [personEvent]="selectedPersonEvent"
                [isReadOnly]="isReadOnly"></holistic-medical-report-container>
        </mat-tab>
        <mat-tab label="Notes">
            <common-notes *ngIf="model" [moduleType]="moduleType" [noteItemType]="noteItemType"
                [itemId]="model.personEventId"></common-notes>
        </mat-tab>
    </mat-tab-group>
</div>