<h1 class="page-header">Funeral Claim Details</h1>
<mat-card style="margin: 15px 30px 15px 30px">
    <mat-horizontal-stepper>
        <mat-step [stepControl]="deceasedDetailsFormGroup" label="Deceased Details">
            <form [formGroup]="deceasedDetailsFormGroup">
                <section>

                    <mat-form-field>
                        <label class="mat-label other-label">First Name</label>
                        <input readonly matInput formControlName="firstName">
                    </mat-form-field>

                    <mat-form-field class="mat-form-field-right">
                        <label class="mat-label other-label">Last Name</label>
                        <input readonly matInput formControlName="lastName">
                    </mat-form-field>
                </section>

                <section>

                    <mat-form-field>
                        <label class="mat-label other-label">ID/PassPort</label>
                        <input readonly matInput formControlName="idPassPort">
                    </mat-form-field>

                    <mat-form-field class="mat-form-field-right">
                        <label class="mat-label other-label">Date of Birth </label>
                        <input readonly matInput formControlName="dateOfBirth">
                    </mat-form-field>
                </section>

                <section>
                    <mat-form-field>
                        <label class="mat-label other-label">Type of death</label>
                        <input readonly matInput formControlName="typeOfDeath">
                    </mat-form-field>

                    <mat-form-field class="mat-form-field-right">
                        <label>Cause of Death</label>
                        <input readonly matInput formControlName="causeOfDeath">
                    </mat-form-field>
                </section>

                <section>

                    <mat-form-field>
                        <label class="form-label other-label">Gender</label>
                        <input readonly matInput formControlName="gender">
                    </mat-form-field>

                    <mat-form-field class="mat-form-field-right">
                        <label class="mat-label other-label">Nationality of Deceased</label>
                        <input readonly matInput formControlName="nationalityOfDeceased">
                    </mat-form-field>
                </section>

                <section>

                    <mat-form-field>
                        <label class="mat-label other-label">DHA Reference No.</label>
                        <input readonly matInput formControlName="dhaRefNo">
                    </mat-form-field>

                    <mat-form-field class="mat-form-field-right">
                        <label>Death Certificate Reference No.</label>
                        <input readonly matInput formControlName="deathCertificateRefNo">
                    </mat-form-field>

                </section>

                <section>
                    <mat-form-field>
                        <label class="mat-label other-label">Date of Death</label>
                        <input readonly matInput formControlName="dateOfDeath">
                    </mat-form-field>

                    <mat-form-field class="mat-form-field-right">
                        <label>Date Notified</label>
                        <input readonly matInput formControlName="dateNotified">
                    </mat-form-field>
                </section>
            </form>

        </mat-step>
        <mat-step [stepControl]="informantDetailsFormGroup" label="Informant">
            <form [formGroup]="informantDetailsFormGroup">
                <section>

                    <mat-form-field>
                        <label class="mat-label other-label">First Name</label>
                        <input readonly matInput formControlName="inFirstName">
                    </mat-form-field>

                    <mat-form-field class="mat-form-field-right">
                        <label class="mat-label other-label">Last Name</label>
                        <input readonly matInput formControlName="inLastName">
                    </mat-form-field>
                </section>

                <section>

                    <mat-form-field>
                        <label class="mat-label other-label">Identity Number</label>
                        <input readonly matInput formControlName="inIdNo">
                    </mat-form-field>

                    <mat-form-field class="mat-form-field-right">
                        <label class="mat-label other-label">Passport Number </label>
                        <input readonly matInput formControlName="inPassPortNo">
                    </mat-form-field>
                </section>

                <section>
                    <mat-form-field>
                        <label class="mat-label other-label">Contact Number</label>
                        <input readonly matInput formControlName="inContatNo">
                    </mat-form-field>

                    <mat-form-field class="mat-form-field-right">
                        <label>Relation to the Deceased</label>
                        <input readonly matInput formControlName="relationtoDeceased">
                    </mat-form-field>
                </section>

                <section>

                    <mat-form-field>
                        <label class="form-label other-label">Date of Birth</label>
                        <input readonly matInput formControlName="inDateOfBirth">
                    </mat-form-field>

                </section>
            </form>

        </mat-step>
        <mat-step [stepControl]="medicalPractitionerDetailsFormGroup" label="Medical Practitioner">
            <form [formGroup]="medicalPractitionerDetailsFormGroup">
                <section>

                    <mat-form-field>
                        <label class="mat-label other-label">Type of Medical Practitioner</label>
                        <input readonly matInput formControlName="typeofMedPract" name="typeofMedPract">
                    </mat-form-field>
                </section>

                <section>

                    <mat-form-field>
                        <label class="mat-label other-label">First Name</label>
                        <input readonly matInput formControlName="mpFirstName">
                    </mat-form-field>

                    <mat-form-field class="mat-form-field-right">
                        <label class="mat-label other-label">Last Name</label>
                        <input readonly matInput formControlName="mpLastName">
                    </mat-form-field>
                </section>

                <section>

                    <mat-form-field>
                        <label class="mat-label other-label">Contact Number</label>
                        <input readonly matInput formControlName="mpContactNo">
                    </mat-form-field>

                    <mat-form-field class="mat-form-field-right">
                        <label class="mat-label other-label">Registration Number </label>
                        <input readonly matInput formControlName="mpRegNo">
                    </mat-form-field>
                </section>
            </form>
        </mat-step>
        <mat-step [stepControl]="forensicPathologistFormGroup" label="Forensic Pathologist">
            <form [formGroup]="forensicPathologistFormGroup">
                <section>

                    <mat-form-field>
                        <label class="mat-label other-label">First Name</label>
                        <input readonly matInput formControlName="firstName">
                    </mat-form-field>

                    <mat-form-field class="mat-form-field-right">
                        <label class="mat-label other-label">Last Name</label>
                        <input readonly matInput formControlName="lastName">
                    </mat-form-field>
                </section>

                <section>

                    <mat-form-field>
                        <label class="mat-label other-label">Hospital/Mortuary Name</label>
                        <input readonly matInput formControlName="hspmortName">
                    </mat-form-field>

                    <mat-form-field class="mat-form-field-right">
                        <label class="mat-label other-label">Contact Number </label>
                        <input readonly matInput formControlName="contactNo">
                    </mat-form-field>
                </section>

                <section>
                    <mat-form-field>
                        <label class="mat-label other-label">ID of Body Number</label>
                        <input readonly matInput formControlName="idOfBodyNo">
                    </mat-form-field>

                    <mat-form-field class="mat-form-field-right">
                        <label>Post Mortem Number</label>
                        <input readonly matInput formControlName="postMortNo">
                    </mat-form-field>
                </section>

                <section>
                    <mat-form-field>
                        <label class="form-label other-label">SAPS Case Number</label>
                        <input readonly matInput formControlName="sapsCaseNo">
                    </mat-form-field>

                    <mat-form-field class="mat-form-field-right">
                        <label class="mat-label other-label">Registration Number</label>
                        <input readonly matInput formControlName="forensicRegNo">
                    </mat-form-field>
                </section>

                <section>
                    <mat-form-field class="form-label other-label">
                        <label class="mat-label other-label">Date of Post Mortem</label>
                        <input readonly matInput formControlName="dateOfPostMort">
                    </mat-form-field>
                </section>
            </form>
        </mat-step>
        <mat-step [stepControl]="funeralParlorFormGroup" label="Funeral Parlor">
             <form  [formGroup]="funeralParlorFormGroup">
            <section>
                <mat-form-field>
                    <label class="mat-label other-label">Name of Funeral Parlor</label>
                    <input readonly matInput formControlName="fpName">
                </mat-form-field>

                <mat-form-field class="mat-form-field-right">
                    <label class="mat-label other-label">Registration Number</label>
                    <input readonly matInput formControlName="fpRegNo">
                </mat-form-field>
            </section>

            <section>

                <mat-form-field>
                    <label class="mat-label other-label">Address Line 1</label>
                    <input readonly matInput formControlName="fpAddr1">
                </mat-form-field>

                <mat-form-field class="mat-form-field-right">
                    <label class="mat-label other-label">Address Line 2 </label>
                    <input readonly matInput formControlName="fpAddr2">
                </mat-form-field>
            </section>

            <section>
                <mat-form-field>
                    <label class="mat-label other-label">Address Line 3</label>
                    <input readonly matInput formControlName="fpAddr3">
                </mat-form-field>

                <mat-form-field class="mat-form-field-right">
                    <label>Contact Number</label>
                    <input readonly matInput formControlName="fpContactNo">
                </mat-form-field>
            </section>
            </form>
        </mat-step>
        <mat-step [stepControl]="underTakerFormGroup" label="Undertaker">
            <form [formGroup]="underTakerFormGroup">
                <section>

                    <mat-form-field>
                        <label class="mat-label other-label">First Name</label>
                        <input readonly matInput formControlName="utFirstName">
                    </mat-form-field>

                    <mat-form-field class="mat-form-field-right">
                        <label class="mat-label other-label">Last Name</label>
                        <input readonly matInput formControlName="utLastName">
                    </mat-form-field>
                </section>

                <section>

                    <mat-form-field>
                        <label class="mat-label other-label">Identity Number</label>
                        <input readonly matInput formControlName="utIdNo">
                    </mat-form-field>

                    <mat-form-field class="mat-form-field-right">
                        <label class="mat-label other-label">Passport Number (if foreigner) </label>
                        <input readonly matInput formControlName="utPassNo">
                    </mat-form-field>
                </section>

                <section>
                    <mat-form-field>
                        <label class="mat-label other-label">Date of Birth</label>
                        <input readonly matInput formControlName="utDateOfBirth">
                    </mat-form-field>

                    <mat-form-field class="mat-form-field-right">
                        <label>Contact Number</label>
                        <input readonly matInput formControlName="utContactNo">
                    </mat-form-field>
                </section>

                <section>

                    <mat-form-field>
                        <label class="form-label other-label">Place of Burial</label>
                        <input readonly matInput formControlName="placeOfBurial">
                    </mat-form-field>

                    <mat-form-field class="mat-form-field-right">
                        <label class="mat-label other-label">Date of Burial</label>
                        <input readonly matInput formControlName="dateOfBurial">
                    </mat-form-field>
                </section>
            </form>
        </mat-step>
        <mat-step [stepControl]="bodyCollectorFormGroup" label="Body Collector">
            <form [formGroup]="bodyCollectorFormGroup">
                <section>

                    <mat-form-field>
                        <label class="mat-label other-label">First Name</label>
                        <input readonly matInput formControlName="bcFirstName">
                    </mat-form-field>

                    <mat-form-field class="mat-form-field-right">
                        <label class="mat-label other-label">Last Name</label>
                        <input readonly matInput formControlName="bcLastName">
                    </mat-form-field>
                </section>

                <section>

                    <mat-form-field>
                        <label class="mat-label other-label">Identity Number</label>
                        <input readonly matInput formControlName="bcIdNo">
                    </mat-form-field>

                    <mat-form-field class="mat-form-field-right">
                        <label class="mat-label other-label">Passport Number (if foreigner) </label>
                        <input readonly matInput formControlName="bcPassNo">
                    </mat-form-field>
                </section>

                <section>
                    <mat-form-field>
                        <label class="mat-label other-label">Date of Birth</label>
                        <input readonly matInput formControlName="bcDateOfBirth">
                    </mat-form-field>

                    <mat-form-field class="mat-form-field-right">
                        <label>Contact Number</label>
                        <input readonly matInput formControlName="bcContactNo">
                    </mat-form-field>
                </section>

                <section>

                    <mat-form-field>
                        <label class="form-label other-label">Date when the body was collected</label>
                        <input readonly matInput formControlName="bodyCollectionDate">
                    </mat-form-field>
                </section>
            </form>
        </mat-step>
        <mat-step [stepControl]="documentsFormGroup" label="Documents">
            <form [formGroup]="documentsFormGroup">
            </form>

        </mat-step>
        <mat-step [stepControl]="notesFormGroup" label="Notes">
            <form [formGroup]=" notesFormGroup">
                <mat-form-field>
                    <label class="form-label other-label">Notes</label>
                    <textarea readonly matInput formControlName="claimNotes" cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
                </mat-form-field>
            </form>
        </mat-step>
    </mat-horizontal-stepper>

     <!--<div class="form-group-button mat-form-button">
        <div (click)="edit()" *ngIf="canEdit" class="form-buttons submit-button">
          <button type="button" class="button float-button">Edit</button>
      </div>
        <div (click)="back()" class="form-buttons submit-button">
            <button type="button" class="button float-button">Back</button>
        </div>
    </div>-->