.menu-container {
    margin-left: 15px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
}

.error-container {
    color: red;
}

.mat-expansion-panel-body {
    margin: 0 !important;
}

footer {
    margin: 31px !important;
    color: black !important;
}

.mat-expansion-panel-spacing {
    margin: 0px !important;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: none !important;
}

::-webkit-scrollbar-thumb {
    background-color: transparent !important;
    outline: 0px transparent !important;
    box-shadow: none !important;
}

::-webkit-scrollbar {
    width: 1em;
    background-color: transparent;
    box-shadow: none !important;
}

.sub-accordion {
    background-color: #005A7C !important;
    padding-left: 0px !important;
    border: 1px solid #fff;
    width: 154px;
    margin-left: 60px;
}

.sub-accordion:hover {
    color: #B2B2B2 !important;
}

.menu-title:hover .menu-text-label {
    visibility: visible;
}

.mat-expansion-panel {
    background-color: #F2F2F2 !important;
    box-shadow: none !important;
}

.menu-image {
    width: 44px;
    background-size: cover;
    background-color: #005A7C !important;
    margin-top: -2px;
    padding: 7px;
    height: 42px !important;
    border-radius: 50%;
}

.menu-icon {
    width: 24px;
    height: 25px;
    background-image: url('/assets/images/Layer5.png') !important;
}

.menu-title {
    margin-left: 5px;
    color: #fff;
    padding: 9px;
}

.title-description {
    float: left;
    margin-left: 16px;
    margin-top: 5px;
    height: 39px;
}

.mat-expansion-panel-header {
    height: 42px !important;
    margin-left: 40px !important;
    margin-top: 8%;
    width: 100%;
}

.mat-expansion-panel-header:active {
    height: 41px !important;
    margin-left: 36%;
    margin-top: 6px;
}

.menu-header-container {
    margin: 0 !important;
}

.mat-expansion-panel-header-description,
.mat-expansion-panel-header-title {
    background-color: #005A7C !important;
    margin-right: 0px !important;
}

.nav-open {
    width: 250px !important;
}

.top-nav,
.close-btn {
    cursor: pointer;
}

.breadcrumb-container a {
    font-family: 'Oswald', sans-serif !important;
}

.logo-img {
    background: #fff;
}

.logo-img img {
    width: 75%;
}

.profile-container {
    display: inline-block;
}

.left-profile-container {
    width: 100%;
    color: black;
    padding-left: 4px;
    margin-top: 105px;
    margin-left: 37px;
}

.right-profile-container {
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    margin-left: 71px;
    display: inline-block;
}

.right-profile-container span {
    font-size: 16px;
    font-weight: lighter;
}

.right-profile-container a {
    font-size: 16px;
    font-weight: lighter;
}

.main-menu {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 63px;
    width: 100%;
    z-index: 2;
}

.nav-open-main {
    margin-left: 250px !important;
}

.sideMenuActivator {
    float: left;
}

.side-nav {
    height: 100%;
    position: fixed;
    left: 0;
    z-index: 1;
    background-color: #F2F2F2;
    border-right: 1px solid #E6E7E8;
    overflow: scroll;
    transition: 0.5s;
    -ms-overflow-style: none;
}

.side-nav a {
    padding: 0px;
    font-size: 18px;
    color: #fff;
    display: flex;
    transition: 0.3s;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 14px;
    padding-top: 4px;
}

.side-nav .right-profile-container a {
    padding: 0;
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: inline;
    transition: 0.3s;
}

.side-nav a:hover,
.off-canvas a:focus {
    color: #f1f1f1;
}

.side-nav .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.menu-containers img {
    padding: 0 20px 0 0px;
    width: 16px;
    height: 16px;
}

.sub-menu a {
    font-size: 16px;
}

a {
    color: #389cae;
}

a:hover {
    background-color: #B2B2B2;
}

.menu-not-available {
    cursor: default;
}

.menu-not-available a {
    color: red !important;
}

@media screen and (max-height: 450px) {
    .side-nav {
    
    }
    .side-nav a {
        font-size: 18px;
    }
}


/* a svg {
    transition: all .5s ease;
    &:hover

{
    #transform:rotate(180deg);
}

}

#ico {
    display: none;
}

.menu {
    background: #000;
    display: none;
    padding: 5px;
    width: 320px;
    @include border-radius(5px);
    #transition: all 0.5s ease;
{
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 2px;
    margin: 3px 0;
    text-decoration: none;
    background: #444;
    &:nth-child(1)
{
    margin-top: 0;
    @include border-radius(3px 3px 0 0 );
}

&:nth-child(5) {
    margin-bottom: 0;
    @include border-radius(0 0 3px 3px);
}

&:hover {
    background: #555;
}

}
} */