.mat-form-field{padding-left: 5px 5px 5px;}

.hidden{
  display: block;
  visibility: hidden;
  height: 0;
  width: 0;
}

.claimNumberError {
  color: red
}

.mat-datepicker-toggle {
  position: absolute;
  margin-top: 13px;
  right: 0;
}