.error-container {
    position: absolute;
    margin-top: 90px;
    margin-left: 20px;
}

.router-container {
    margin-top: -21px;
}

.container {
    margin-top: 148px;
}

.loading-container {
    margin-top: -45px;
}