
.button {
    background-color: #51627c;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    width: 168px;
    height: 35px;
    color: white;
  }

  .matDialog{
    width:650px;
    background-color:#2DAAE1;
    padding-left:10px;
    padding-top:10px;
    padding-bottom:10px;
    color:white
  }

  .matDialogContent{
    width:650px;
    text-align:center;
    padding:0px;
  }

  @media screen and (max-width: 850px) {
    .matDialog{
      width: 98% !important;
      background-color:#2DAAE1;
      padding-left:10px;
      padding-top:10px;
      padding-bottom:10px;
      color:white;
      text-align:center;
    }

    .matDialogContent{
      width: 98% !important;
      text-align:center;
      padding:0px;
    }
  }

  @media screen and (max-width: 512px) {
    .button {
      background-color: #51627c;
      border: none;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      cursor: pointer;
      width: 45%;
      height: 35px;
      color: white;
    }
  }