mat-form-field {
    width: 80%;
  }
  
mat-error {
  text-align: center;
}

.placeholder{
  position: relative;
  right: -26px;
  top: 14px;
  height: 42px;
}

.mat-form-field-appearance-legacy .mat-form-field-label{
  height: 42px;
}

.mat-focused .placeholder {
  visibility:hidden
}

.datepicker{width: 22%; margin-top: 10px;}

mat-cell > span.truncate-text {
  text-overflow: ellipsis; 
  overflow: hidden; 
  white-space: nowrap;
}

.mat-column-claimReferenceNumber {
  flex: 0 0 10%;
}

.cursorPointer {
  cursor: pointer;
}

.matCard {
  margin: 15px 30px 15px 30px;
}

.matCardContent {
  margin-left: 10px;
}
.breakdown-table {
  float: left;
  height: 100%;
}

.clear{
  clear:both;
}

.element-row {
  cursor: pointer;
}

.element-row:hover {
  background-color: #e7b013;
}

.mat-footer-cell {
    font-size: 12px !important;
}

.container-tables{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.items-list-table{
  flex: 1;
}

.items-breakdown-table{
  flex: 1;
}

.items-heading-center {
  text-align: center;
}

.items-buttons-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

a.disabled {
  color: gray;
  cursor: not-allowed;
  text-decoration: underline;
}

.chips-align {
  flex: 1;
  display: flex;
  justify-content: center;
  text-align: center;
}

.material-icons{
  color: #00BCE7;
}

.validation-errors {
  color: red;
}