div.container4 {
    position: relative;
    height: 86vh;
    margin: 0;
    background-image: url(/assets/images/errormsg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.error-text {
    position: absolute;
    top: 25%;
    left: 27%;
    width: 45%;
    height: 39%;
    text-align: center;
}

.form-buttons {
    position: absolute;
    top: 62%;
    left: 38%;
    cursor: pointer;
}

span {
    font-weight: 700;
    color: #154D6D;
    text-decoration: underline;
}

p {
    font-size: 24px;
    color: #BB2D39;
}