.closeBtn{
    margin-left: 29px !important;
}


.margin{
    margin-left: 15px !important;
}

.report{
    width: 95% !important;
    height: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.title{
    color:#389cae !important;
}

.formGroup{
    padding-left: 25px;
}